
<TABLE cellpadding="3" WIDTH="100%">
	<TR class="light">
		<TD width="1%" class="fleftu">
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD width="1%" class="fbt" NOWRAP>
			<B>{trans("Additional information:")}</B>
		</TD>
		<TD width="98%" class="frightu" NOWRAP>
			<input type="radio" name="document[gilotyna]" value="0" id="id_gil1" checked><label for="id_gil1">&nbsp;&nbsp;- proste sortowanie</label>
			<input type="radio" name="document[gilotyna]" value="1" id="id_gil2"><label for="id_gil2">&nbsp;&nbsp;- sortowanie pod gilotynę</label>
		</TD>
	</TR>
</TABLE>
