{include file="header.html"}
{box title="Książka adresowa - grupy"}
<table width="100%">
<tr><th>Nazwa</th><th>Ilość wpisów</th><th>Blokuj przychodzące<br>z tej grupy</th><th>Akcja</th></tr>
{section name=a loop=$groups}
<tr>
<td class="text-center"><a href="?m=voip&f=addressbookd&gr={$groups[a].id}">{$groups[a].name}</a></td>
<td class="text-center">{$groups[a].ccount|default:0}</td>
<td class="text-center">{if $groups[a].dropcall eq 't'}TAK{else}NIE{/if}</td>
<td class="text-center"><a href="?m=voip&f=addressbook&edit={$groups[a].id}">Edytuj</a> 
<a href="?m=voip&f=addressbook&del={$groups[a].id}" onclick="return confirm('Na pewno? Wszystkie kontakty z tej grupy zostaną usunięte!');">Usuń</a></td>

{/section}
</table>
{/box}
{if $groupaction}
{assign var='title' value="Książka adresowa - Edytuj"}
{else}
{assign var='title' value="Książka adresowa - Dodaj"}
{/if}
{box title=$title}
{if $error}<span style="color:#FF0000; font-weight:bold;">{$error}</span>{/if}
<form action="?m=voip&f=addressbook" method="post">
<input type="text" name="group[name]" value="{$group.name}">
&nbsp;
<label><input type="checkbox" name="group[block]" value="1"{if $group.dropcall eq 't'} checked="checked"{/if}>Blokuj połączenia przychodzące z tej grupy</label>
&nbsp;
<input type="hidden" name="group[id]" value="{$group.id}">
<input type="submit" value="Zapisz">
</form>
{/box}
{include file="footer.html"}

