<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 //EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--// $Id: header.html,v 1.1 2008/06/13 09:15:26 alec Exp $ //-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$_language}"> 
<head>
  <meta content="text/html; charset={$LANGDEFS.$_language.charset}" http-equiv="content-type" />
  <meta http-equiv="refresh" content="{math equation="x+5" x=$_config.phpui.timeout}">
  <title>{t}Virtual Customer Service{/t}</title>
<link type="text/css" rel="stylesheet" href="{stylefile}" />
<script type="text/javascript" language="JavaScript" src="style/default/common.js"></script>
<script type="text/javascript">
function cl()
{literal}
{
{/literal}
window.opener.document.getElementById('file_{$smarty.get.id}').value='{$filename}';
window.opener.document.getElementById('filet_{$smarty.get.id}').innerHTML='{$filename_orig}';
window.close();
{literal}
}
{/literal}
</script>
</head>
<body {if $uplok}onload="cl();"{/if}>
{if $err}<span style="color:#FF0000; font-weight:bold;">{$err}</span><br>{/if}
<form enctype="multipart/form-data" action="?m=voip&f=ivr&ff=uploadfile&id={$smarty.get.id}" method="post">
<input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
<input type="file" name="f"><br>
<input type="submit" value="Zapisz">
</form>
</body>
</html>

