{box}
<table style="width: 100%;" cellpadding="3" class="table table-bordered">
	<tr class="info">
	    <td colspan="5"><strong>Konta SIP</strong></td>
	</tr>
	<tr class="warning">
		<td width="1%" class="nobr" align="center"><b>Numer</b></td>
		<td width="1%" class="nobr" align="center">Wartość brutto:</td>
		<td width="1%" class="nobr" align="center">Abonament</td>
		<td width="1%" class="nobr" align="center">{t}Accounting day:{/t}</td>
		<td width="1%" class="nobr" colspan="4" align="center">Ustawienia</td>
	</tr>
	{foreach from=$assignments item=assignment}
	<tr class="dark">
		<td class="nobr" align="right"><b>
		{$assignment.name}
		</b></td>
		
		<td class="nobr" align="right">{$assignment.value|money_format}</td>
		
		<td class="nobr" align="right">{$assignment.subscription}</td>
		
		<td class="nobr" align="right">{$assignment.period} ({$assignment.at})</td>
		
		<td class="nobr"><a href="?m=voip&f=settings&id={$assignment.id}">Edytuj</a></td>
		<td><a href="?m=voip&f=allowedrates&id={$assignment.id}">Dozwolone strefy</a></td>
		<td><a href="?m=voip&f=cost&id={$assignment.id}">Sprawdź koszt połączenia</a></td>
		<td><a href="?m=voip&f=tariff&id={$assignment.id}" target="_blank">Wydrukuj cennik</a><br>
		<a href="?m=voip&f=tariff&csv=1&id={$assignment.id}">Pobierz jako CSV</a></td>
	</tr>
	{foreachelse}
	<tr>
		<td align="center" width="100%" colspan="8">
			<p>&nbsp;</p>
			<p><b>{t}You haven't got any assigned subscriptions.{/t}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="dark">
		<td align="right"><b>{t}Total:{/t}</b></td>
		<td class="nobr" align="right">{sum array=$assignments column="value" string_format=$LANGDEFS.$_language.money_format}</td>
		<td class="nobr" align="right"></td>
		<td>&nbsp;</td>
<td colspan="4">&nbsp;</td>
	</tr>
	<tr class="dark">
<td align="center" colspan="8"><b><a href="?m=voip&f=fax">Skrzynka FAX</a></b>&nbsp;&nbsp;<b><a href="?m=voip&f=addressbook">Książka telefoniczna</a></b>&nbsp;&nbsp;<b><a href="?m=voip&f=ivr">IVR</a></b></td>
</tr>
</table>
{/box}
