<!--//
/*********************************************\
*                                             *
*    LMS Hiperus C5 v.1.0.0                   *
*    (c)2012 by Sylwester Kondracki           *
*    Gadu-Gadu : 6164816                      *
*    E-mail : sylwek@sylwester-kondracki.eu   *
*                                             *
\*********************************************/
//-->
{box}
<table width="100%" cellpadding="3" cellspacing="0" class="table table-bordered">

    <tr class="info">
	<td colspan="5"><strong>Konta VoIP:</strong></td>
    </tr>
    <tr class="warning">
	<td width="auto" class="fleftu" style="vertical-align:middle;" nowrap>Konto</td>
	
	<td width="1%" class="fbt" style="vertical-align:middle;text-align:center;">&nbsp;Numerów&nbsp;<br>&nbsp;Terminali&nbsp;</td>
	<td width="1%" class="fbt" style="vertical-align:middle;text-align:center;">Cennik</td>
	<td width="1%" class="fbt" style="vertical-align:middle;text-align:center;">&nbsp;Płatność&nbsp;</td>
	<td width="1%" class="fbt" align="right">&nbsp;</td>
    </tr>

    {section name=hiperusaccountcustomerlist loop=$hiperusaccountcustomerlist}
	<tr>
	    <td class="fleft" style="padding-right:10px;" nowrap ><b>{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].name}</b><br>{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].address} {$hiperusaccountcustomerlist[hiperusaccountcustomerlist].street_number}{if $hiperusaccountcustomerlist[hiperusaccountcustomerlist].apartment_number}/{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].apartment_number}{/if}&nbsp;&nbsp;{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].postcode} {$hiperusaccountcustomerlist[hiperusaccountcustomerlist].city}</td>
	    <td width="1%" nowrap style="vertical-align:middle;text-align:center;">{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].pstncount}&nbsp;/&nbsp;{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].terminalcount}</td>
	    <td width="1%" nowrap style="vertical-align:middle;text-align:center;">&nbsp;{$hiperusaccountcustomerlist[hiperusaccountcustomerlist].price_name}&nbsp;</td>
	    <td width="1%" nowrap style="vertical-align:middle;text-align:center;">{if $hiperusaccountcustomerlist[hiperusaccountcustomerlist].payment_type=='postpaid'}abonament{else}przedpłata{/if}</td>
	    <td width="1%" nowrap style="vertical-align:middle;text-align:center;"><a href="?m=voiphiperus&voipid={$hiperusaccountcustomerlist[hiperusaccountcustomerlist].id}">szczegóły</a></td>
	    
	</tr>
    {sectionelse}
	<tr><td colspan="6" align="center" class="fall">
	    
	    <p><h4>Niestety nie posiadają Państwo telefonu VoIP<br>zapraszamy do zapoznania sią z naszą ofertą Tanie telefonowanie<br>dostępnej na naszej stronie www</h4><br></p>
	    
	    </td></tr>
    {/section}

    <tr class="dark"><td colspan="6" class="fall">&nbsp;</td></tr>
</table>
{/box}
