<!--//
/*********************************************\
*                                             *
*    LMS Hiperus C5 v.1.0.0                   *
*    (c)2012 by Sylwester Kondracki           *
*    Gadu-Gadu : 6164816                      *
*    E-mail : sylwek@sylwester-kondracki.eu   *
*                                             *
\*********************************************/
//-->
<table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered">
    <tr class="info">
	<td colspan="2">
	<strong>Terminale</strong>
	</td>
    </tr>
    <tr class="light"  id="voippanelterminal">
	<td width="100%" colspan="2">
	    {assign var='infot' value=$info.terminal}
	    {section name=lt loop=$infot}
	    <table width="100%">
		<tr>
		    <td width="33%" style="text-align:left;vertical-align:top;border:0;">
			<table width="100%" cellpadding="0" cellspacing="0" class="table-bordered">
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;"><b>Nazwa</b></td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;"><b>{$infot[lt].username}</b></td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Hasło</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].password}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Widoczny numer</td>
				<td width="1%" style="border:0;text-align:left;" nowrap /><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{if $infot[lt].screen_numbers=='t'}TAK{else}NIE{/if}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>FAX T.38</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{if $infot[lt].t38_fax=='t'}TAK{else}NIE{/if}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Cennik</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].pricelist_name}</td>
			    </tr>
			</table>
		    </td>
		    <td width="33%" style="text-align:left;vertical-align:top;border:0;">
			<table width="100%" cellpadding="0" cellspacing="0" class="table-bordered">
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Środki (prepaid)</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].balance_value}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Abonament</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].subscriptions}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Abonament od</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].subscription_from}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Abonament do</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].subscription_to}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" nowrap style="text-align:left;">Środki (postpaid)</td>
				<td width="1%" nowrap style="border:0;text-align:left;"><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].value_left}</td>
			    </tr>
			</table>
		    </td>
		    <td width="auto" style="text-align:left;vertical-align:top;border:0;">
			<table width="100%" cellpadding="0" cellspacing="0" class="table-bordered">
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>SIP Proxy</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].sip_proxy}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Numery</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].extensions}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Gmina</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].borough}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Powiat</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].county}</td>
			    </tr>
			    <tr style="background-color:#EDEDED;">
				<td width="1%" style="text-align:left;" nowrap>Województwo</td>
				<td width="1%" style="border:0;text-align:left;" nowrap><b>:</b></td>
				<td width="98%" style="border:0;text-align:left;">{$infot[lt].province}</td>
			    </tr>
			</table>
		    </td>
		</tr>
		
	    </table>
	    {math assign='koniec' equation="y-x-1" x=$smarty.section.lt.index y=$infot|@count}
	    {if $koniec!=0}<hr>{/if}
	    {sectionelse}
		<center><p><h3>Brak przypisanych terminali VoIP</h3></p></center>
	    {/section}
	</td>
    </tr>
</table>
