{include file="header.html"}
<!--// $Id$ //-->
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function CountSelectedCustomers()
	{
		var j = 0;
		for (var i = 0; i < document.getElementById('customerselect').length; i++) {
			if (document.getElementById('customerselect').options[i].selected)
				j++;
			}
		document.forms['addbalance'].selectededit.value = j;
	}

	function del(id)
	{
		if(confirm('{trans("Are you sure, you want to delete last operation?")}'))
		{
			location.href = '?m=balancedel&id=' + id;
		}
	}
//-->
</script>
{title value=$layout.pagetitle}
<p><form name="addbalance" method="POST" action="?m=balanceadd">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr>
		<td width="1%" style="vertical-align: top;">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td class="fall">
						<img src="img/customer.gif" alt="">&nbsp;<b>{trans("Customers:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td class="fall">
						{trans("Select customers which has to concern new payment or covenant operation or leave it not selected if you want to add network income/expense operation.")}<br><br>
						<select size="20" id="customerselect" name="addbalance[mcustomerid][]" onchange="javascript:CountSelectedCustomers();" multiple>
							{foreach from=$customers item=customer}
							<option value="{$customer.id}">{$customer.customername|truncate:40:"...":true} ({$customer.id|string_format:"%04d"})</option>
							{/foreach}
						</select><br>
						{trans("Selected:")} <input type="edit" name="selectededit" value="0" size="5" style="border: 0" class="light" readonly></input>>
					</td>
				</tr>
			</table>
		</td>
		<td width="99%" valign="top" style="vertical-align: top;">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td class="fall" colspan="3">
						<img src="img/money.gif" alt="">&nbsp;<b>{trans("Value and description:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/value.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Value:")}</b>
					</td>
					<td width="98%" class="fright">
						<input type="text" name="addbalance[value]" value="{$value}" size="15" {tip text="Enter value of operation"}><br>
					</td>
				</tr>
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/tax.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Tax:")}</b>
					</td>
					<td width="98%" class="fright">
						<select size="1" name="addbalance[taxid]" {tip text="Select Tax rate"}>
						{foreach item=tax from=$taxeslist}
							<option value="{$tax.id}" {if ($taxid && $tax.id == $taxid) || (!$taxid && $tax.value == get_conf('phpui.default_taxrate'))}selected{/if}>{$tax.label}</option>
						{/foreach}
						</select>
					</td>
				</tr>
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/payment.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Type:")}</b>
					</td>
					<td width="98%" class="fright">
						<input type="radio" name="addbalance[type]" id="type0" value="0" {tip text="Select type of operation"}><label for="type0">{trans("liability")}</label>
						<input type="radio" name="addbalance[type]" id="type1" value="1" {tip text="Select type of operation"} checked><label for="type1">{trans("income/expense")}</label>
					</td>
				</tr>
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/calendar.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Date:")}</b>
					</td>
					<td width="98%" class="fright">
						<input type="text" name="addbalance[time]" value="{if $time}{$time|date_format:"%Y/%m/%d %H:%M"}{/if}" size="15" maxsize="15" onclick="javascript:cal1.popup();" {tip text="Enter date in 'yyyy/mm/dd hh:mm' format (empty field means current date) or click to choose date from calendar"}>
					</td>
				</tr>
				{if $sourcelist}
				<tr class="light">
					<td class="fleft" width="1%">
						<img src="img/isource.gif" alt="">
					</td>
					<td width="1%" nowrap>
						<b>{trans("Source:")} </b>
					</td>
					<td class="fright" width="98%" nowrap>
						<select name="addbalance[sourceid]" {tip text="Select import source (optional)" trigger="source"}>
						<option value="0">{trans("- none -")}</option> 
						{foreach from=$sourcelist item=item}
						<option value="{$item.id}"{if $item.id == $sourceid} selected{/if}>{$item.name}</option>
						{/foreach}
						</select>
					</td>
				</tr>
				{/if}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/info1.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Description:")}</b>
					</td>
					<td width="98%" class="fright">
						<textarea name="addbalance[comment]" rows="5" cols="50" {tip text="Enter comment"}>{$comment|replace:"\n":"<br>"}</textarea>
					</td>
				</tr>
				<tr class="light">
					<td class="fbottomu" align="right" colspan="3">
						<a href="javascript:document.addbalance.submit();" accesskey="s" >{trans("Submit")} <img src="img/save.gif" alt=""></a>
					</td>
				</tr>
			{if $last}
				<tr><td>&nbsp;</td></tr>
				<tr class="dark">
					<td class="fall" colspan="3">
						<img src="img/money.gif" alt="">&nbsp;<b>{trans("Last operation:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/value.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Value:")}</b>
					</td>
					<td width="98%" class="fright">
						{$last.value|money_format}
					</td>
				</tr>
				{if $last.tax}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/tax.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Tax:")}</b>
					</td>
					<td width="98%" class="fright">
						{$last.tax}
					</td>
				</tr>
				{/if}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/calendar.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Date:")}</b>
					</td>
					<td width="98%" class="fright">
						{$last.time|date_format:"%Y/%m/%d %H:%M"}
					</td>
				</tr>
				{if $last.customerid}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/customer.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Customer:")}</b>
					</td>
					<td width="98%" class="fright">
						<a href="?m=customerinfo&id={$last.customerid}">{$last.customername}</a>
					</td>
				</tr>
				{/if}
				{if $last.sourcename}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/isource.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Source:")}</b>
					</td>
					<td width="98%" class="fright">
						{$last.sourcename}
					</td>
				</tr>
				{/if}
				{if $last.comment}
				<tr class="light">
					<td width="1%" class="fleft">
						<img src="img/info1.gif" alt="">
					</td>
					<td width="1%">
						<b>{trans("Description:")}</b>
					</td>
					<td width="98%" class="fright">
						<table width="100%" cellpadding="5">
					                <tr>
							        <td class="fall superlight">
							    		{$last.comment|replace:"\n":"<br>"}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{/if}
				<tr class="light">
					<td class="fbottomu" align="right" colspan="3">
						<a href="javascript:del({$last.id});" accesskey="d" >{trans("Delete")} <img src="img/delete.gif" alt=""></a>
					</td>
				</tr>
			{/if}
			</table>
		</td>
	</tr>
</table>
</form>
</p>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.forms['addbalance'].elements['addbalance[time]']);
//-->
</script>
{include file="footer.html"}
