{include file="header.html"}

<script language="javascript" type="text/javascript">
/* Visit http://www.yaldex.com/ for full source code
and get more free JavaScript, CSS and DHTML scripts! */
<!-- Begin
//  DECLARE AND INITIALIZE VARIABLES
var zero = '0';
var one = '1';
var two = '2';
var three = '3';
var four = '4';
var five = '5';
var six = '6';
var seven = '7';
var eight = '8';
var nine = '9';
var add = '+';
var subtract = '-';
var multiply = '*';
var divide = '/';
var decimal = '.';
var power = '^';
//  FUNCTION: compute
function compute(f)
{
f.view.value = eval(f.view.value);
}
//  FUNCTION: getNum
function getNum(f, val)
{
f.view.value += val;
}
//  End -->
</script>

<table cellpadding=0 cellspacing=0 BORDER=1 BORDERCOLOR=DDDDDD width="100%">
<tr><td width="100%">
<table cellpadding=7 cellspacing=0 BGCOLOR=AABBCC width="100%">
<!----------------------BEGIN CALCULATOR------------------------->
<form name="calc">
<tr>
<td colspan=2>
<input type=text name="view" style="width:200px;" action="compute(this)"><br>
<hr>
</td>
</tr>
<tr>
<td colspan=2><div align=right><nobr>
<input type=button value="  7  " onclick="getNum(this.form, seven)">
<input type=button value="  8  " onclick="getNum(this.form, eight)">
<input type=button value="  9  " onclick="getNum(this.form, nine)">
<input type=button value="   .  " onclick="getNum(this.form, decimal)">
<input type=reset value="   C  ">
</nobr></div></td>
</tr>
<tr>
<td colspan=2><div align=right><nobr>
<input type=button value="  4  " onclick="getNum(this.form, four)">
<input type=button value="  5  " onclick="getNum(this.form, five)">
<input type=button value="  6  " onclick="getNum(this.form, six)">
<input type=button value="  *  " onclick="getNum(this.form, multiply)">
<input type=button value="   /    " onclick="getNum(this.form, divide)">
</nobr></div></td>
</tr>
<tr>
<td colspan=2><div align=right><nobr>
<input type=button value="  1  " onclick="getNum(this.form, one)">
<input type=button value="  2  " onclick="getNum(this.form, two)">
<input type=button value="  3  " onclick="getNum(this.form, three)">
<input type=button value="  -  " onclick="getNum(this.form, subtract)">
<input type=button value="   +   " onclick="getNum(this.form, add)">
</nobr></div></td>
</tr>
<tr>
<td><div align=center><nobr>
<input type=button value="  0  " onclick="getNum(this.form, zero)">
</nobr></div>
</td>
<td>
<div align=right><nobr>
<input type=button value="   =   " onclick="compute(this.form)">
</nobr></div>
</td>
</tr>
<tr>
<td colspan=2>
</td>
</tr>
</form>
<!------------------------END CALCULATOR---------------------------->
</table>
</td></tr></table>
