{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="1%" class="fleftu">
		<img src="img/queue.gif" alt="">
	    </td>
	    <td width="99%" colspan="2" class="frightu"><b>{$registry.name} ({$registry.id|string_format:"%04d"})</b></td>
	</tr>
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/id.gif" alt="">
	    </td>
	    <td width="1%" nowrap><b>{trans("Cash-in receipt numbering plan:")}</b></td>
	    <td width="98%" class="fright">{$registry.in_template|default:"%N/LMS/%Y"}</td>
	</tr>
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/id.gif" alt="">
	    </td>
	    <td width="1%" nowrap><b>{trans("Cash-out receipt numbering plan:")}</b></td>
	    <td width="98%" class="fright">{$registry.out_template|default:"%N/LMS/%Y"}</td>
	</tr>
	{if $registry.description}
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/info1.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("Description:")}</b></td>
	    <td width="98%" class="fright">
		<table width="100%" cellpadding="5">
		    <tr>
			<td class="fall superlight">
			    {$registry.description|replace:"\n":"<br>"}
			</td>
		    </tr>
		</table>
	    </td>
	</tr>
	{/if}
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/wait.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("Disabled summary:")}</b></td>
	    <td width="98%" class="fright">
		    {if $registry.disabled}{trans("yes")}{else}{trans("no")}{/if}
	    </td>
	</tr>
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/users.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("Privileges:")}</b></td>
	    <td width="98%" class="fright">
		    <table width="100%" cellpadding="3">
			<tr class="dark">
			    <td width="93%" class="ftl"><b>{trans("User")}</b></td>
			    <td width="1%" class="ftop" align="center" nowrap><b>{trans("Read")}</b></td>
			    <td width="5%" class="ftop" align="center" colspan="5" nowrap><b>{trans("Write (+R)")}</b></td>
			    <td width="1%" class="ftr" align="center" nowrap><b>{trans("Advanced (+R)")}</b></td>
			</tr>
			<tr class="dark">
			    <td width="93%" class="fbl"></td>
			    <td width="1%" class="fbottom" align="center" nowrap></td>
			    <td width="1%" class="fbottom" align="center">{trans("customer")}</td>
			    <td width="1%" class="fbottom" align="center" nowrap>{trans("ass. move")}</td>
			    <td width="1%" class="fbottom" align="center">{trans("advance")}</td>
			    <td width="1%" class="fbottom" align="center">{trans("other")}</td>
			    <td width="1%" class="fbottom" align="center">{trans("mod.")}</td>
			    <td width="1%" class="fbr" align="center" nowrap></td>
			</tr>
			{cycle values="light,lucid" print=false}
			{foreach from=$registry.rights item=right}
			{if $right.rights}
			<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
			    <td width="93%" class="fleft">
				<a href="?m=userinfo&id={$right.id}">{$right.name}</a>
				<input type="hidden" name="registry[usernames][{$right.id}]" value="{$right.name}">
			    </td>
			    <td width="1%" align="center">
				{if $right.rights > 0}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
				{if ($right.rights & 2)==2}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
			    	{if ($right.rights & 4)==4}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
                                {if ($right.rights & 8)==8}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
                                {if ($right.rights & 16)==16}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
                                {if ($right.rights & 32)==32}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center" class="fright">
				{if ($right.rights & 256)==256}<img src="img/pass.gif" alt="">{/if}
			    </td>
			</tr>
			{/if}
			{/foreach}
			<tr class=light">
			    <td width="93%" class="ftop"></td>
			    <td width="7%" class="ftop" colspan="7"></td>
			</tr>
		</table>
	    </td>
	</tr>
	<tr class="light">
	    <td width="100%" colspan="3" class="FBOTTOMU" align="right"> 
	        <a href="?m=receiptlist&regid={$registry.id}">{trans("Browse")} <img src="img/view.gif" alt=""></a>
	    	<a href="?m=cashregedit&id={$registry.id}">{trans("Edit")} <img src="img/save.gif" alt=""></a>
	    </td>
	</tr>
</table></p>
{include file="footer.html"}
