<!--// changelog.html //-->
{include file="header.html"}
<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="6">
    <tr class="dark">
	<td style="width:50px;" align="center" class="fleftu" nowrap><b>L.P.</b></td>
	<td width="1%" class="fbt pad" nowrap><b>Data</b></td>
	<td width="auto" align="center" class="frightu" nowrap><b>OPIS</b></td>
    </tr>
    {assign var='max' value=$changelog|count}
    {cycle values='light,lucid' print=false}
    {section name='changelist' loop=$changelog}
    {math assign='lp' equation="x-y" x=$max y=$smarty.section.changelist.index}
    <tr class="{cycle}"  onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	<td style="width:30px;" align="center" class="fleft" nowrap>{$lp|string_format:"%03d"}</td>
	<td width="1%" class="pad" nowrap>{$changelog[changelist].data}</td>
	<td width="auto" align="left" class="fright">{$changelog[changelist].opis}</td>
    </tr>
    {/section}
    <tr class="dark"><td class="fall" colspan="3" width="100%">&nbsp;</td></tr>
</table>
{include file="footer.html"}