{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<p><table cellpadding="3" style="width: 100%;">
	<tr class="dark">
		<td style="width: 1%; white-space: nowrap;" class="fleftu">
			<img src="img/settings.gif" alt=""><a href="?m=configlist&o=var{if $listdata.direction eq "asc" && $listdata.order eq "var"},desc{/if}"> <span class="bold">{trans("Name:")}</span></a> {if $listdata.order eq "var"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<img src="img/empty.gif" alt="" width="16" height="16"><a href="?m=configlist&o=section{if $listdata.direction eq "asc" && $listdata.order eq "section"},desc{/if}"> {trans("Section:")}</a> {if $listdata.order eq "section"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td style="width: 1%; text-align: center;" class="fbt">
			{trans("Value:")}
		</td>
		<td style="width: 97%; text-align: center;" class="fbt">
			{trans("Comment:")}
		</td>
		<td style="width: 1%; text-align: right; white-space: nowrap;" class="frightu">
			<a href="?m=configadd{if $listdata.section}&section={$listdata.section}{/if}">{trans("Add option")} <img src="img/save.gif" alt=""> </a>
		</td>
	</tr>
	<tr class="dark">
		<td class="fall" colspan="4">
			<form method="GET" action="?m=configlist" name="filter">
				<input type="submit" class="hiddenbtn">
				<input type="hidden" name="m" value="configlist">
				<input type="hidden" name="page" value="1">
				<span class="bold">{trans("Filter:")} </span> {trans("Section:")}
				<select size="1" name="s" OnChange="document.filter.submit();">
					<option value=""{if !$listdata.section} selected{/if}>{trans("- all -")}</option>
					<option value="phpui"{if $listdata.section eq "phpui"} selected{/if}>phpui</option>
					<option value="netdevices"{if $listdata.section eq "netdevices"} selected{/if}>osprzęt sieciowy / sieć</option>
					<option value="radius"{if $listdata.section eq "radius"} selected{/if}>radius</option>
					<option value="invoices"{if $listdata.section eq "invoices"} selected{/if}>invoices</option>
					<option value="receipts"{if $listdata.section eq "receipts"} selected{/if}>receipts</option>
					<option value="finances"{if $listdata.section eq "finances"} selected{/if}>finances</option>
					<option value="mail"{if $listdata.section eq "mail"} selected{/if}>mail</option>
					<option value="sms"{if $listdata.section eq "sms"} selected{/if}>sms</option>
					<option value="gadugadu"{if $listdata.section eq "gadugadu"} selected{/if}>gadu-gadu</option>
					<option value="monit"{if $listdata.section eq "monit"} selected{/if}>monitoring</option>
					<option value="zones"{if $listdata.section eq "zones"} selected{/if}>zones</option>
					<option value="hiperus_c5"{if $listdata.section eq "hiperus_c5"} selected{/if}>VoIP Hiperus C5</option>
					<option value="voip"{if $listdata.section eq "voip"} selected{/if}>VoIP Nettelekom</option>
					<option value="jambox"{if $listdata.section eq "jambox"} selected{/if}>SGT Jambox</option>
					<option value="autobackup" {if $listdata.section eq "autobackup"}selected{/if}>autobackup</option>
					<option value="homepage" {if $listdata.section eq "homepage"}selected{/if}>strona startowa</option>
				</select>
				{trans("Option")}:
				<input type="text" name="n" value="{$listdata.search}" size="15" {tip text="Enter option name"}>
				&nbsp;<a href="javascript: document.filter.submit();">&raquo;&raquo;&raquo;</a>
			</form>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="scroller">
		<td colspan="4" class="fall">
			{include file="scroller.html" loop=$configlist}
		</td>
	</tr>
	{/if}
	{cycle values="lucid,light" print=false}
	{section name=configlist loop=$configlist start=$start max=$pagelimit}
	<tr class="{cycle} lista{if $configlist[configlist].disabled} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" style="vertical-align: top; white-space: nowrap;" onclick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			<img src="img/settings.gif" alt=""><span class="bold"> {$configlist[configlist].var}</span><br>
			<img src="img/empty.gif" alt="" width="16" height="16"> [{$configlist[configlist].section}]
		</td>
		<td style="text-align: right; white-space: nowrap;" onclick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			{$configlist[configlist].value|escape}
		</td>
		<td onclick="return self.location.href='?m=configedit&id={$configlist[configlist].id}';">
			{$configlist[configlist].description|truncate:400:"..."}
			{if $configlist[configlist].usercomment != ''}<br><span class="bold">{trans("Comment:")}</span> {$configlist[configlist].usercomment|truncate:400:"..."}{/if}
		</td>
		<td class="fright" style="text-align: right; white-space: nowrap;">
			<a href="?m=configedit&id={$configlist[configlist].id}&statuschange=1"><img src="img/wait.gif" alt="[ {if $configlist[configlist].disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]" title="[ {if $configlist[configlist].disabled}{trans("Enable")}{else}{trans("Disable")}{/if} ]"></a>
			<a href="?m=configdel&id={$configlist[configlist].id}" onclick="return confirmLink(this, '{t a=$configlist[configlist].var}Are you sure, you want to delete option \'$a\' from database?{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=configedit&id={$configlist[configlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="4" style="text-align: center;" class="fall">
			<p>&nbsp;</p>
			<p><span class="bold">
			    {if $listdata.search}
			        {trans("No configuration options in database.")}
			    {else}
			        {trans("No configuration options in database.")} {t}Click <a href="?m=configload">here</a> to import them from lms.ini.{/t}
			    {/if}
			    </span></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="scroller">
		<td colspan="4" class="fall">
			{include file="scroller.html" loop=$configlist}
		</td>
	</tr>
	{/if}
	<tr class="dark">
		<td colspan="4" class="fall" style="text-align: right;">
			<a href="?m=configadd{if $listdata.section}&section={$listdata.section}{/if}">{trans("Add option")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>

</table></p>
{include file="footer.html"}
