{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<form method="POST" action="?m=configadd" name="config">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/settings.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<b>{trans("Name:")}</b>
		</td>
		<td width="98%" class="frightu">
			<input type="text" name="config[name]" value="{$config.name}" {tip text="Enter option name" trigger="name" bold=1}>&nbsp;
			<b>{trans("Section:")}</b>
			<select size="1" name="config[section]" {tip text="Select section" trigger="section"}>
			    <option value="phpui"{if $config.section eq "phpui"} selected{/if}>phpui</option>
			    <option value="netdevices"{if $config.section eq "netdevices"} selected{/if}>osprzęt sieciowy / sieć</option>
			    <option value="radius"{if $config.section eq "radius"} selected{/if}>radius</option>
			    <option value="finances"{if $config.section eq "finances"} selected{/if}>finances</option>
			    <option value="invoices"{if $config.section eq "invoices"} selected{/if}>invoices</option>
			    <option value="receipts"{if $config.section eq "receipts"} selected{/if}>receipts</option>
			    <option value="mail"{if $config.section eq "mail"} selected{/if}>mail</option>
			    <option value="sms"{if $config.section eq "sms"} selected{/if}>sms</option>
			    <option value="gadugadu" {if $config.section eq "gadugadu"}selected{/if}>gadu-gadu</option>
			    <option value="monit" {if $config.section eq "monit"}selected{/if}>monitoring</option>
			    <option value="zones" {if $config.section eq "zones"}selected{/if}>zones</option>
			    <option value="hiperus_c5" {if $config.section eq "hiperus_c5"}selected{/if}>VoIP Hiperus C5</option>
			    <option value="voip" {if $config.section eq "voip"}selected{/if}>VoIP Nettelekom</option>
			    <option value="jambox" {if $config.section eq "jambox"}selected{/if}>SGT Jamobox</option>
			    <option value="autobackup" {if $config.section eq "autobackup"}selected{/if}>autobackup</option>
			    <option value="homepage" {if $config.section eq "homepage"}selected{/if}>strona startowa</option>
			</select>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/producer.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Value:")}</b>
		</td>
		<td width="98%" class="fright">
			<textarea rows="5" cols="50" name="config[value]" {tip text="Enter option value" trigger="value"}>{$config.value}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/info1.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Comment:")}</b>
		</td>
		<td width="98%" class="fright">
			<textarea rows="5" cols="50" name="config[description]" {tip text="Enter description (optional)" trigger="description"}>{$config.description}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/wait.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Status:")}</b>
		</td>
		<td width="98%" class="fright">
			<input type="checkbox" value="1" name="config[disabled]" id="config_disabled"{if $config.disabled} checked{/if} {tip text="You can turn it off"}><label for="config_disabled">{trans("Off")}</label>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="javascript:document.config.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=configlist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a><br>
			<input type="checkbox" name="config[reuse]" value="ON" id="reuse"{if $config.reuse} checked{/if}><label for="reuse">{trans("Display this form again, when this option is saved")}</label>
		</td>
	</tr>
</table>
</p>
<script type="text/javascript">
<!--
document.forms['config'].elements['config[name]'].focus();
//-->
</script>
{include file="footer.html"}
