{include file="header.html"}
{include file="calendar_js.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
{include file="calendar_js.html"}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="contractorinfobox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="contractorgroupsbox.html"}
		</td>
	</tr>
	{if check_modules(160)}
	<tr>
		<td width="100%">
			{include file="contractorbalancebox.html" limit=-10}
		</td>
	</tr>
	{/if}
</table>
{include file="footer.html"}
