<!--// $Id$ //-->
<table width="100%" cellpadding="3">
	<tr{if $customerpanel} class="dark hand" onclick="showOrHide('customerpanel');"{else} class="dark"{/if}>
		<td width="1%" class="fall">
			<img src="img/customer.gif" alt="">
			{if $customerpanel}<b>{trans("Owner:")}</b>{/if}
			<b>{$customerinfo.customername|escape} ({$customerinfo.id|string_format:"%04d"}){if $customerinfo.deleted} <font COLOR="RED">({trans("deleted customer")})</font>{/if}</b>
		</td>
	</tr>
    <tr class="light"{if $customerpanel} id="customerpanel" style="display:none;"{/if}>
	    <td width="100%" {if $customerpanel} class="fall container" align="right"{else}class="flr container"{/if}>
			<table width="100%" cellpadding="0">
				<tr class="light">
					<td width="50%" style="vertical-align:top;">
						<table width="100%" cellpadding="3">

{if $customerinfo.division}
	<tr class="light">
		<td width="1%">
			<img src="img/division.gif" alt="">
		</td>
		<td width="99%">
			<a href="javascript:divisioninfo_popup('{$customerinfo.divisionid}');" {tip text="Pokaż szczegóły"}>{$customerinfo.division}</a>
		</td>
	</tr>
{/if}

	<tr class="light">
		<td width="1%" style="vertical-align: top">
			<img src="img/home.gif" alt="">
		</td>
		<td width="99%">
		    <fieldset style="width:50%">
		    <legend><b> Adres siedziby</b></legend>
			{$customerinfo.address}<br>
			{$customerinfo.zip} {$customerinfo.city}
			{if $customerinfo.cstate}<br>{$customerinfo.cstate}{/if}
			{if $customerinfo.country}<br>{t}{$customerinfo.country}{/t}{/if}
		    </lieldset>
		</td>
	</tr>

{if $customerinfo.post_name neq "" || $customerinfo.post_address neq ""}
	<tr class="light">
		<td width="1%" style="vertical-align:top;">
			<img src="img/post.gif" alt="">
		</td>
		<td width="99%" nowrap>
		    <fieldset style="width:50%">
		    <legend><b> Adres do wysyłki</b></legend>
			{if $customerinfo.post_name neq ""}{$customerinfo.post_name}{/if}
			{if $customerinfo.post_address neq ""}<br>{$customerinfo.post_address}{/if}
			<br>{$customerinfo.post_zip} {$customerinfo.post_city}
			{if $customerinfo.post_cstate}<br>{$customerinfo.post_cstate}{/if}
			{if $customerinfo.post_country}<br>{t}{$customerinfo.post_country}{/t}{/if}
		    </fieldset>
		</td>
	</tr>
{/if}
{foreach from=$customerinfo.contacts item=item}
	<tr class="light">
		<td width="1%" style="vertical-align: top">
			<img src="img/phone.gif" alt="">
		</td>
		<td width="99%">
			{$item.phone}
			{if $item.typestr}[{$item.typestr}]{/if}
			{if $item.name} ({$item.name|truncate:"40":"...":true}){/if}
		</td>
	</tr>
{/foreach}
{if $customerinfo.email neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/mail.gif" alt="">
		</td>
		<td width="99%">
			<a href="mailto:{$customerinfo.email}">{$customerinfo.email}</a>
		</td>
	</tr>
{/if}
{if $customerinfo.url neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/Earth.png" alt="">
		</td>
		<td width="99%">
			<a href="http://{$customerinfo.url}" target="_blank">{$customerinfo.url}</a>
		</td>
	</tr>
{/if}
{foreach from=$customerinfo.messengers item=item}
	<tr class="light">
		<td>
			{if $item.type == $smarty.const.IM_GG}
			<img src="http://status.gadu-gadu.pl/users/status.asp?id={$item.uid}&styl=1" alt="">
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<img src="http://opi.yahoo.com/online?u='{$item.uid}'&m=g&t=5" alt="">
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<img src="http://mystatus.skype.com/smallicon/{$item.uid}" alt="">
			{else}
			<img src="img/gg.gif" alt="">
			{/if}
		</td>
		<td>
			{if $item.type == $smarty.const.IM_GG}
			<a href="gg:{$item.uid}">{$item.uid}</a>
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<a href="ymsgr:sendIM?{$item.uid}">{$item.uid}</a>
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<a href="skype:{$item.uid}?call">{$item.uid}</a>
			{else}
			{$item.uid}
			{/if}
		</td>
	</tr>
{/foreach}
{if $customerinfo.pin neq 0}
	<tr class="light">
		<td width="1%">
			<img src="img/pin.gif" alt="">
		</td>
		<td width="99%">
			{$customerinfo.pin}
		</td>
	</tr>
{/if}
{if $customerinfo.icn neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="99%">
			{trans("ICN")}: {$customerinfo.icn}
		</td>
	</tr>
{/if}
{if $customerinfo.ssn neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="99%">
			{trans("SSN")}: {$customerinfo.ssn}
		</td>
	</tr>
{/if}
{if $customerinfo.ten neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="99%">
			{trans("TEN")}: {$customerinfo.ten}
		</td>
	</tr>
{/if}
{if $customerinfo.regon neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="99%">
			{trans("REGON")}: {$customerinfo.regon}
		</td>
	</tr>
{/if}
{if $customerinfo.rbe neq ""}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="99%" nowrap>
			{trans("RBE")}: {$customerinfo.rbe}
		</td>
	</tr>
{/if}
{if $customerinfo.account}
	<tr class="light">
		<td width="1%">
			<img src="img/card.gif" alt="">
		</td>
		<td width="99%" nowrap>BANK: 
			{format_bankaccount($customerinfo.account)}
		</td>
	</tr>
{/if}
	<tr class="light">
		<td width="1%" style="vertical-align: top">
			<img src="img/options.gif" alt="">
		</td>
		<td width="99%">
		    <table cellpadding="2">
		        <tr>
		            <td>
			            {trans("Deadline:")}
			        </td>
			        <td>
			            {if $customerinfo.paytime eq -1}{trans("default")}{else}{$customerinfo.paytime}&nbsp;{trans("days")}{/if}
		            </td>
	            </tr>
                <tr>
                    <td>
			            {trans("Payment type:")}
			        </td>
			        <td>
			            {assign var=paytype value=$customerinfo.paytype}{if $_PAYTYPES.$paytype}{$_PAYTYPES.$paytype}{else}{trans("default")}{/if}
		            </td>
	            </tr>
                {if $customerinfo.cutoffstop > $smarty.now}
			    <tr>
			        <td colspan="2">
			            <font class="alert">
			            {t a=$customerinfo.cutoffstop|date_format:"%Y/%m/%d"}Cutoff suspended to $a{/t}
			            </font>
			        </td>
			    </tr>
                {/if}
            </table>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" style="vertical-align: top">
			<img src="img/options.gif" alt="">
		</td>
		<td width="99%">
		    <table cellpadding="2">
		        <tr>
		            <td>
			            {trans("Consent to personal data processing:")}
		            </td>
		            <td>
		                {if $customerinfo.consentdate}{$customerinfo.consentdate}{else}{trans("no")}{/if}
	                </td>
	            </tr>
	            <tr>
	                <td>
			            {trans("Consent to electronic invoices:")}
            		</td>
            		<td>
            		    {if $customerinfo.einvoice}{trans("yes")}{else}{trans("no")}{/if}
	                </td>
	            </tr>
	            <tr>
	                <td>
            			{trans("Consent to invoices delivery via e-mail:")}
            		</td>
            		<td>
            		    {if $customerinfo.invoicenotice}{trans("yes")}{else}{trans("no")}{/if}
	                </td>
	            </tr>
                <tr>
                    <td>
			            {trans("Consent to messages delivery via e-mail or sms:")}
		            </td>
		            <td>
		                {if $customerinfo.mailingnotice}{trans("yes")}{else}{trans("no")}{/if}
	                </td>
	            </tr>
            </table>
        </td>
    </tr>

                                        </table>
				</td>
				<td width="50%" style="vertical-align:top;">
					<table width="100%" cellpadding="3">
	{if $customerinfo.info}
	<tr class="light">
		<td width="1%">
			<img src="img/info1.gif" alt="">
		</td>
		<td width="99%" colspan="2">
			<table width="100%" cellpadding="5">
				<tr>
					<td class="fall superlight">
						{$customerinfo.info|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{/if}

	{if $customerinfo.notes}
	<tr class="light">
		<td width="1%">
			<img src="img/note.gif" alt="">
		</td>
		<td width="99%" colspan="2">
			<table width="100%" cellpadding="5">
				<tr>
					<td class="fall superlight">
						{$customerinfo.notes|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{/if}
	{if !check_conf('privileges.hide_finances')}
	<tr class="light">
		<td width="1%"><img src="img/money.gif" alt=""></td>
		<td width="1%"><b>{trans("Balance:")}</b></td>
		<td width="98%">{if $customerinfo.balance < 0}<font class="alert" style="font-weight:bold;">{/if}{if $customerinfo.balance > 0}<font class="surplus" style="font-weight:bold;">+{/if}{$customerinfo.balance|default:"0"|money_format}{if $customerinfo.balance != 0}</font>{/if}</td>
	</tr>
	{/if}
	{if 2==1}
	<tr class="light">
                <td width="1%">
		        <img src="img/cms.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Last login:")}<br>
		        {trans("Last failed login:")}</b>
		</td>
		<td width="98%">
		        {if $customerinfo.up_logins.lastlogindate}{$customerinfo.up_logins.lastlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.lastloginip}){else}-{/if}<br>
			{if $customerinfo.up_logins.failedlogindate}{$customerinfo.up_logins.failedlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.failedloginip}){else}-{/if}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td width="1%">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Created:")}<br>
			{trans("Modified:")}</b>
		</td>
		<td width="98%">
			{$customerinfo.createdby}, {$customerinfo.creationdateh}<br>
			{if $customerinfo.moddate}{$customerinfo.modifiedby}, {$customerinfo.moddateh}{else}-{/if}
		</td>
	</tr>
                                        	</table>
					</td>
				</tr>
			</table>
{if !$customerpanel}
		</td>
        </tr>
	<tr class="light">
		<td width="100%" class="FBOTTOMU" align="right">
{/if}
			{if $customerinfo.deleted}
				<a href="?m=contractoredit&id={$customerinfo.id}&action=recover">{trans("Restore")} <img src="img/recover.gif" alt="[ {trans("Restore")} ]"></a>
			{else}
				<nobr>
				<a href="?m=contractoredit&id={$customerinfo.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt="[ {trans("Edit")} ]"></a>
				<a href="?m=contractordel&id={$customerinfo.id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to remove that customer from database?\n\nIf that customer have any computers, they will be automatically removed from database too, and information about them irreversible losed!")}')">{trans("Delete")} <img src="img/delete.gif" alt="[ {trans("Delete")} ]"></a>
				<nobr>
			{/if}
		</td>
	</tr>
</table>
{if $customerpanel}
<script type="text/javascript">
<!--
	if (getCookie('customerpanel') == '1')
	{
		document.getElementById('customerpanel').style.display = '';
	}
//-->
</script>
{/if}
