{include file="header.html"}
<!--// $Id$ //-->
<H1 align="center">{$layout.lmsv} version {$layout.lmsvr}</h1>
<p align="center"><b> &copy; 2012-{$smarty.now|date_format:"Y"} iNET LMS Developers</b></p>

<p class="txt">{trans("This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License Version 2 as published by the Free Software Foundation.")}</p>
<p class="txt">{trans("This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.")}</p>
<p class="txt">{trans("You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.")}</p>

<p align="center"><a href="http://www.opensource.org/docs/definition.php"><img src="img/opensource-110x95.gif" width="110" height="95"></a></p>
<p align="center"><b>{trans("iNET LMS include elements of other software:")}</b></p>
<p align="center"><a href="http://www.lms.org.pl/" target="_blank">LMS</a><br>
<a href="http://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a><br>
<a href="http://phpsysinfo.sourceforge.net/" target="_blank">phpsysinfo</a><br>
<a href="http://adodb.sourceforge.net/" target="_blank">ADOdb</a><br>
<a href="http://www.openlayers.org/" target="_blank">OpenLayers</a><br>
<a href="http://florian-amrhein.de/newsportal/index-english.php3" target="_blank">NewsPortal</a><br>
<a href="http://www.bosrup.com/web/overlib/" target="_blank">overLIB</a><br>
<a href="http://www.ros.co.nz/pdf/" target="_blank">ezpdf</a><br>
<a href="http://www.xajaxproject.org/" target="_blank">xajax</a><br>
<a href="http://jquery.com" target="_blank">jQuery</a><br>
<a href="http://www.softcomplex.com/products/tigra_calendar/" target="_blank">Tigra Calendar</a><br>
<a href="http://gosu.pl/dhtml/mygosumenu.html" target="_blank">Cezary Tomczak's mygosuMenu published under revised BSD license.</a><br>
{t}Piotr Kleban's number-to-words conversion procedures<br>and code examples from <a href="http://www.php.net/manual">PHP Manual</a>{/t}</p>
<p align="center"><b>{trans("iNET LMS developers (in alphabetical order):")}</b></p>
<table width="100%" cellpadding="5">
	{foreach from=$authors item=author name=authors key=nick}
	{if $smarty.foreach.authors.iteration is odd}<tr>{/if}
		<td width="50%" style="vertical-align: top;">
			<table width="100%" cellpadding="5">
				<tr class="superlight">
					<td class="fleftu" width="1%">
						<img src="img/{$nick|lower}.icon.gif" BORDER="1">
					</td>
					<td class="frightu" width="99%">
						<b>{$nick}</b><br>
						{$author.realname}<br>
						{if $author.www}<a href="http://{$author.www}" target="_blank">{$author.www}</a>{/if}&nbsp;<br>
						{$author.info}
					</td>
				</tr>
			</table>
		</td>
	{if $smarty.foreach.authors.iteration is even}</tr>{/if}
	{/foreach}
	{if $smarty.foreach.authors.iteration is odd}</tr>{/if}
</table>
<p align="center"><b>{trans("LMS Developers:")}</b></p>
<p align="center">
{foreach from=$others item=other name=others key=nick}
	{if $other.www}<a href="http://{$other.www}" target="_blank">{/if}
	{$other.realname} [{$nick}]
	{if $other.www}</a>{/if}
	- {$other.info}<br>
{/foreach}
</p>
<p align="center"><a href="http://www.smarty.net/"><b>{trans("LMS uses Smarty Template Engine - http://www.smarty.net/")}</b></a></p>
<p align="center"><a href="http://www.smarty.net/"><img src="img/smarty_icon.gif" alt="Smarty"></a></p>
{include file="footer.html"}
