{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle link="<a href='?m=customergroupadd'><b>Dodaj nową grupę</b> <img src='img/add.gif'></a>"}
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="97%" class="fleftu">
			<img src="img/group.gif" alt="">&nbsp;<b>{trans("Name:")}</b><br>
			<img src="img/info1.gif" alt="">&nbsp;{trans("Description:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("ID:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("Members:")}
		</td>
		<td width="1%" class="frightu" align="right" nowrap>
			<b>{t a=$listdata.total|default:"0"}Total: $a{/t}</b>
		</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{section name=customergroups loop=$customergrouplist}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="97%" class="fleft" onclick="return self.location.href='?m=customergroupinfo&id={$customergrouplist[customergroups].id}';" class="fleft">
			<img src="img/group.gif" alt="">&nbsp;<b>{$customergrouplist[customergroups].name}</b><br>
			{if $customergrouplist[customergroups].description}<img src="img/info1.gif" alt="">&nbsp;{$customergrouplist[customergroups].description}{/if}
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=customergroupinfo&id={$customergrouplist[customergroups].id}';">
			({$customergrouplist[customergroups].id|string_format:"%04d"})
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=customergroupinfo&id={$customergrouplist[customergroups].id}';">
			{$customergrouplist[customergroups].customerscount} 
		</td>
		<td width="1%" class="fright" align="right">
			<nobr>
			{if $customergrouplist[customergroups].customers}
				<a href="javascript:alert('{trans("Group with members cannot be deleted!")}');">
			{else}
				<a href="?m=customergroupdel&id={$customergrouplist[customergroups].id}" onclick="return confirmLink(this,'{trans("Are you sure, you want to remove this group?")}');">
			{/if}<img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
				<a href="?m=customergroupedit&id={$customergrouplist[customergroups].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
				<a href="?m=customergroupinfo&id={$customergrouplist[customergroups].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="4" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("There are no such groups in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="2" width="98%" align="right">
			<img src="img/info2.gif" alt="">&nbsp;<b>{trans("Total:")}</b>
		</td>
		<td class="fbt" width="1%" align="right" nowrap>
			<b>{$listdata.totalcount|default:"0"} </b>
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
