<!--// $Id$ //-->
<table width="100%" cellpadding="3"  class="table table-bordered">
	<tr class="dark info-hover">
		<td width="99%" class="fleftu hand" onclick="ShowOrHideBox('docpanelbox');">
			<img src="img/docum.gif" alt="">
			<b>{trans("Customer's Documents:")}</b> ({t a=$limit}last $a documents{/t})
		</td>
		<td width="1%" class="frightu" align="right" nowrap>
			<a href="?m=documentadd&cid={$customerinfo.id}">{trans("New Document")} &raquo;</a>
			<a href="?m=documentlist&c={$customerinfo.id}">{trans("All Documents")} &raquo;</a>&nbsp;
		</td>
	</tr>
	<tr id="docpanelbox" style="display:none;">
		<td width="100%" class="fall" colspan="2">
			<table cellpadding="5" cellspacing="0" width="100%">
				<tr class="dark">
					<td width="1%" nowrap class="fleftu"><b>{trans("Number:")}</b></td>
					<td width="1%" nowrap class="fbt">{trans("Created:")}</td>
					<td width="1%" nowrap class="fbt"><b>{trans("Type:")}</b></td>
					<td width="95%" nowrap class="fbt">{trans("Title:")}</td>
					<td width="1%" nowrap class="fbt">{trans("Period:")}</td>
					<td width="1%" nowrap class="frightu"></td>
				</tr>
				{cycle values="lucid,light" print=false name=doc}
				{foreach from=$documents item=doc}
				<tr class="{cycle name=doc}{if $doc.closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td nowrap onclick="window.open('?m=documentview&id={$doc.docid}');"{if $doc.description} {tip text=$doc.description}{/if}>
						<b>{number number=$doc.number template=$doc.template time=$doc.cdate}</b>
					</td>
					<td nowrap onclick="window.open('?m=documentview&id={$doc.docid}');">{$doc.cdate|date_format:"%Y/%m/%d"}</td>
					<td nowrap onclick="window.open('?m=documentview&id={$doc.docid}');"><b>{assign var=type value=$doc.type}{$_DOCTYPES.$type}</b></td>
					<td nowrap onclick="window.open('?m=documentview&id={$doc.docid}');">{$doc.title|truncate:40:"...":true}</td>
					<td nowrap onclick="window.open('?m=documentview&id={$doc.docid}');">
						{if $doc.fromdate}{trans("from")} {$doc.fromdate|date_format:"%Y/%m/%d"}{/if}
						{if $doc.todate}{trans("to")} {$doc.todate|date_format:"%Y/%m/%d"}{/if}
					</td>
					<td align="right" nowrap>
						{assign var=type value=$doc.type}
						<a href="?m=documentview&id={$doc.docid}&save=1"><img src="img/save.gif" alt="[ {trans("Save")} ]" title="[ {trans("Save")} ]"></a>
						{if ! $doc.closed && ($docrights.$type.rights & 4)}
						<a href="?m=documentedit&id={$doc.docid}&action=confirm"><img src="img/confirm.gif" alt="[ {trans("Confirm")} ]" title="[ {trans("Confirm")} ]"></a>
						{/if}
						{if ($docrights.$type.rights & 16)}
						<a onclick="return confirmLink(this, '{trans("Are you sure, you want to remove that document?")}')" href="?m=documentdel&id={$doc.docid}" {tip text="Remove document"}><img src="img/delete.gif" alt="[ {trans("Delete")} ]"></a>
						{/if}
						{if ($docrights.$type.rights & 8)}
						<a href="?m=documentedit&id={$doc.docid}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
						{/if}
						<a href="?m=documentview&id={$doc.docid}" target="_blank"><img src="img/{if preg_match('/pdf/',$doc.contenttype)}pdf{elseif preg_match('/csv|excel|spreadsheet/',$doc.contenttype)}xls{else}view{/if}.gif" alt="[ {trans("View")} ]" title="[ {trans("View")} ]"></a>
					</td>
				</tr>
				{foreachelse}
				<tr>
					<td align="center" width="100%" colspan="6">
						<p>&nbsp;</p>
						<p><b>{trans("That customer hasn't got any documents.")}</b></p>
						<p>&nbsp;</p>
					</td>
				</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</table>
{if get_profile('docpanelbox')}
<script type="text/javascript">
<!--
		document.getElementById('docpanelbox').style.display = '';
//-->
</script>
{/if}