<!--// $Id$ //-->
<table cellpadding="3" width="100%">
	<tr class="dark">
    	    <td width="99%" class="fleftu hand" onclick="ShowOrHideBox('eventspanelbox');">
                        <img src="img/calendar.gif" alt="">
                        <b>{trans("Customer Timetable:")}</b>
			{if $limit}
                                ({t a=$limit}last $a events{/t})
                        {/if}
                </td>
                <td width="1%" class="frightu" align="right" nowrap>
			<a href="?m=eventadd&customerid={$customerinfo.id}">{trans("New Event")} &raquo;</a>&nbsp;
                </td>
        </tr>
	<tr id="eventspanelbox"  style="display:none;">
		<td width="100%" colspan="2" class="fall">
			<table cellpadding="5" cellspacing="0" width="100%">
				<tr class="dark">
					<td width="1%" class="fleftu" nowrap>
						{trans("Date:")}
					</td>
					<td width="40%" class="fbt" nowrap>
						<B>{trans("Title:")}</B>
					</td>
					<td width="50%" class="fbt" nowrap>
						{trans("Description:")}
					</td>
					<td width="1%" class="frightu" nowrap></td>
				</tr>
				{cycle values="light,lucid" print=false name=events}
				{section name=eventlist loop=$eventlist max=$limit }
				<tr class="{cycle name=events}{if $eventlist[eventlist].closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td width="1%" nowrap onclick="return self.location.href='?m=eventinfo&id={$eventlist[eventlist].id}'">
						{$eventlist[eventlist].date|date_format:"%Y/%m/%d"}
					</td>
					<td width="40%" onclick="return self.location.href='?m=eventinfo&id={$eventlist[eventlist].id}'">
						<B>{$eventlist[eventlist].title}</B>
					</td>
					<td width="49%" onclick="return self.location.href='?m=eventinfo&id={$eventlist[eventlist].id}'">
						{$eventlist[eventlist].description}
					</td>
					<td width="1%" align="right" nowrap>
						{if $eventlist[eventlist].closed}
						<a href="?m=eventedit&id={$eventlist[eventlist].id}&action=open"><img src="img/resolved.gif" alt="[ {trans("Open")} ]" title="[ {trans("Open")} ]"></a> 
						{else}
						<a href="?m=eventedit&id={$eventlist[eventlist].id}&action=close"><img src="img/open.gif" alt="[ {trans("Close")} ]" title="[ {trans("Close")} ]"></a> 
						{/if}
						<a href="?m=eventdel&id={$eventlist[eventlist].id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to delete that event?")}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a> 
						<a href="?m=eventedit&id={$eventlist[eventlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a> 
					</td>
				</tr>
				{sectionelse}
				<tr>
					<td colspan="4" align="center">
						<p>&nbsp;</p>
						<p><b>{trans("There are no events in timetable.")}</b></p>
						<p>&nbsp;</p>
					</td>
				</tr>
				{/section}
			</table>
		</td>
	</tr>
</table>
{if get_profile('eventspanelbox')}
<script type="text/javascript">
<!--
		document.getElementById('eventspanelbox').style.display = '';
//-->
</script>
{/if}
