{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
{include file="calendar_js.html"}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="customerinfobox.html"}
		</td>
	</tr>
	{if !get_conf('privileges.hide_callcenter')}
	<tr>
		<td width="100%">
			{include file="customerinfocenterbox.html"}
		</td>
	</tr>
	{/if}
	{if check_modules(60)}
	<tr>
		<td width="100%">
			{include file="customernodesbox.html"}
		</td>
	</tr>
	{/if}
	{if check_conf('privileges.monitoring') && check_modules(110)}
	<tr>
		<td width="100%">
			{include file="customermonit.html"}
		</td>
	</tr>
	{/if}
	
	{if check_modules(80)}
	<tr>
		<td width="100%">
			{include file="customervoipaccountsbox.html"}
		</td>
	</tr>
	{/if}
	{if check_modules(81)}
	<tr>
		<td width="100%">
			{include file="hv_accountinfobox2.html"}
		</td>
	</tr>
	{/if}
	<!--// nettelekom //-->
	{if check_modules(82) && get_conf('voip.enabled','0')}
	<tr>
		<td width="100%">
			{include file="customersipbox.html"}
		</td>
	</tr>
	{/if}
	
	{if check_modules(82) && $isvoip}
        <tr>
                <td width="100%" colspan="2">
			{include file="v_customercdr.html"}
                </td>
        </tr>
	{/if}
	
	{if get_conf('jambox.enabled') && check_modules(360)}
	<tr>
	    <td width="100%">
		{include file="customertvjamboxaccountsbox.html"}
	    </td>
	</tr>
	<tr>
	    <td width="100%">
		{include file="customertvmessages.html"}
	    </td>
	</tr>
	{/if}
	
	{if check_modules(180)}
	<tr>
		<td width="100%">
			{include file="customerdocuments.html" limit=10}
		</td>
	</tr>
	{/if}
	{if check_conf('privileges.customerannex')}
	<tr>
		<td width="100%">
			{include file="customerannexbox.html"}
		</td>
	</tr>
	{/if}
	{if check_modules(220)}
	<tr>
		<td width="100%">
			{include file="customermessages.html" limit=10}
		</td>
	</tr>
	{/if}
	
	<tr>
		<td width="100%">
			{include file="customersyslog.html" limit=10}
		</td>
	</tr>
	
	{if check_modules(300)}
	<tr>
		<td width="100%">
			{include file="customerevents.html" limit=10}
		</td>
	</tr>
	{/if}
	<tr>
		<td width="100%">
			{include file="customergroups.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerassignments.html"}
		</td>
	</tr>
	
	{if check_modules(160)}
	{if !check_conf('privileges.hide_finances')}
	<tr>
		<td width="100%">
			{include file="customerbalancebox.html" limit=-10}
		</td>
	</tr>
	{/if}
	{/if}
	<tr>
		<td width="100%">
			{include file="customeractions.html"}
		</td>
	</tr>
	
	{if $_pluginc.customer}
	    {assign var='inclist' value=$_pluginc.customer}
	    {section name='inclist' loop=$inclist}
		{assign var='plik' value=$inclist[inclist].htmlfile}
		{if $plik}
		<tr>
		    <td width="100%">
			{if $plik}{include file=$plik}{/if}
		    </td>
		</tr>
		{/if}
	    {/section}
	{/if}
</table>
{include file="footer.html"}
