<!--// $Id$ //-->
<table cellpadding="3" width="100%">
	<tr class="dark">
		<td class="fleftu hand" onclick="ShowOrHideBox('messagespanelbox');">
                        <img src="img/mailsms.gif" alt="">
                        <b>{trans("Customer Messages:")}</b>
			{if $limit}
                                ({t a=$limit}last $a messages{/t})
                        {/if}
                </td>
                <td class="frightu" align="right" nowrap>
			<a href="?m=messageadd&customerid={$customerinfo.id}">{trans("New Message")} &raquo;</a>
			<a href="?m=messagelist&cid={$customerinfo.id}">{trans("All Messages")} &raquo;</a>&nbsp;
                </td>
        </tr>
	<tr id="messagespanelbox"  style="display:none;">
		<td width="100%" colspan="2" class="fall">
			<table cellpadding="5" cellspacing="0" width="100%">
				<tr CLASS="DARK">
					<td width="1%" class="fleftu" nowrap>
						{trans("Date:")}
					</td>
					<td width="97%" class="fbt" nowrap>
						<B>{trans("Subject:")}</B>
					</td>
					<td width="1%" class="fbt" nowrap>
						{trans("Destination:")}
					</td>
					<td width="1%" class="frightu" nowrap></td>
				</tr>
				{cycle values="light,lucid" print=false name=messages}
				{foreach from=$messagelist item=item}
				<tr class="{cycle name=messages}{if $item.status==$smarty.const.MSG_ERROR} alert{elseif $item.status==$smarty.const.MSG_SENT} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td width="1%" nowrap onclick="return self.location.href='?m=messageinfo&id={$item.id}'">
						{$item.cdate|date_format:"%Y/%m/%d"}
					</td>
					<td width="97%" onclick="return self.location.href='?m=messageinfo&id={$item.id}'">
						<img src="img/{if $item.type == $smarty.const.MSG_SMS}sms{else}mail{/if}.gif" alt="">
						<B>{$item.subject}</B>
					</td>
					<td width="1%" nowrap align="right" onclick="return self.location.href='?m=messageinfo&id={$item.id}'">
						{$item.destination}
					</td>
					<td width="1%" align="right" nowrap>
					</td>
				</tr>
				{foreachelse}
				<tr>
					<td colspan="4" align="center">
						<p>&nbsp;</p>
						<p><b>{trans("There are no messages in database.")}</b></p>
						<p>&nbsp;</p>
					</td>
				</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</table>
{if get_profile('messagespanelbox')}
<script type="text/javascript">
<!--
	document.getElementById('messagespanelbox').style.display = '';
//-->
</script>
{/if}