{include file="header.html"}
<!--// $Id$ //-->
{literal}
<script type="text/javascript" language="JavaScript">
<!--

    function setfirstletter(fletter)
    {
	if (fletter == 'all') document.choosefilter.fletter.value = "";
	else document.choosefilter.fletter.value = fletter;
	document.choosefilter.submit();
    }
    
    
    function rozliczklienta(idek,nazwa,kwota)
    {
	if(confirm('Klient : '+nazwa+'\nBilans : '+kwota+'\n\nJesteś pewnien że chcesz rozliczyć WSZYSTKIE należności klienta ?')) 
	{
	    document.getElementById('src_balance'+idek).src='img/empty.gif';
	    document.getElementById('src_balance'+idek).style.display='none';
	    document.getElementById('str_balance'+idek).innerHTML='{/literal}{0.00|money_format}{literal}';
	    document.getElementById('str_balance'+idek).style.color='#000000';
	    sendPOST('?m=ajax_request','action=balance_ok&idc='+idek);
	}
    }

    function setCustomerAccess(idek)
    {
	if (document.getElementById('staccess'+idek).value=='1') 
	{
	    document.getElementById('staccess'+idek).value='0';
	    addClass(document.getElementById('idtr'+idek),'blend');
	    addClass(document.getElementById('idtra'+idek),'blend');
	    document.getElementById('src_access'+idek).src='img/noaccess.gif';
	    sendPOST('?m=ajax_request','action=node_access&idc='+idek+'&access=0');
	} 
	else 
	{
	    document.getElementById('staccess'+idek).value='1';
	    removeClass(document.getElementById('idtr'+idek),'blend');
	    removeClass(document.getElementById('idtra'+idek),'blend');
	    document.getElementById('src_access'+idek).src='img/access.gif';
	    sendPOST('?m=ajax_request','action=node_access&idc='+idek+'&access=1');
	}
    }

    function setCustomerWarning(idek)
    {
	if(document.getElementById('stwarning'+idek).value=='1')
	{
	    document.getElementById('stwarning'+idek).value='0';
	    document.getElementById('src_warning'+idek).src='img/warningoff.gif';
	    sendPOST('?m=ajax_request','action=node_warning&idc='+idek+'&warning=0');
	}
	else
	{
	    document.getElementById('stwarning'+idek).value='1';
	    document.getElementById('src_warning'+idek).src='img/warningon.gif';
	    sendPOST('?m=ajax_request','action=node_warning&idc='+idek+'&warning=1');
	}
    } 
    
//-->
</script>
{/literal}

<h1>{$layout.pagetitle}</h1>
<p>
<table cellpadding="3" width="100%">
	
	<tr class="dark">
		<td class="fall" colspan="5">
			<form method="GET" action="?m={$layout.module}" name="choosefilter">
				<input type="submit" class="hiddenbtn">
				<input type="hidden" name="m" value="customerlist">
				<input type="hidden" name="page" value="1">
				<input type="hidden" name="fletter" value="{$listdata.fletter}">
				
				<table width="100%" cellpadding="2">
				    <tr>
					<td width="1%" class="pad5"><img src="img/Filter.png" alt="" width="16"></td>
					
					<td width="1%" class="pad5" nowrap align="right">{trans("Customers:")}</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="s" onchange="document.choosefilter.submit();" {if $listdata.state != 3} class="active"{/if} style="min-width:150px;">
					    <!--//
					    <option value="0"{if $listdata.state eq 0} selected{/if}>{trans("- all customers -")}</option>
					    //-->
					    <option value="3"{if $listdata.state eq 3} selected{/if}>{trans("connected<!plural>")}</option>
					    <option value="2"{if $listdata.state eq 2} selected{/if}>{trans("awaiting")}</option>
					    <option value="1"{if $listdata.state eq 1} selected{/if}>{trans("interested<!plural>")}</option>
					    <option value="4"{if $listdata.state eq 4} selected{/if}>{trans("deleted<!plural>")}</option>
					    <!--//
					    <option value="15"{if $listdata.state eq 15} selected{/if}>rozwiązana umowa</option>
					    //-->
					    <!--//
					    <option value="5"{if $listdata.state eq 5} selected{/if}>{trans("disconnected<!plural>")}</option>
					    //-->
					    </select>
					</td>
					
					<td width="1%" nowrap class="pad5" align="right">{trans("Division")}:</td>
					<td width="1%" nowrap class="pad5">
					    <select size="1" name="d" onchange="document.choosefilter.submit();" {if $listdata.division} class="active"{/if} style="min-width:150px;">
				    	    <option value="" {if !$listdata.division} selected {/if}>- {trans("all")} -</option>
				    	    {foreach from=$divisions item=division}
				    	    <option value="{$division.id}"{if $listdata.division eq $division.id} selected {/if}>{$division.shortname|truncate:30:"...":true}</option>
					    {/foreach}
					    </select>
					</td>
					
					
					<td width="1%" class="pad5" nowrap align="right">Komputery:</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="odl" onchange="document.choosefilter.submit();" {if $listdata.odlaczeni} class="active"{/if} style="min-width:150px;">
					    <option value="" {if !$listdata.odlaczeni} selected{/if}>- wszystkie -</option>
					    <option value="2" {if $listdata.odlaczeni == '2'} selected{/if}>podłączone</option>
					    <option value="1" {if $listdata.odlaczeni == '1'} selected{/if}>odłączone</option>
					    <option value="3" {if $listdata.odlaczeni == '3'} selected{/if}>częściowo odłączone</option>
					    <option value="4" {if $listdata.odlaczeni == '4'} selected{/if}>bez komputerów</option>
					    </select>
					</td>
					
					<td width="1%" nowrap class="pad5" align="right">{trans("Network:")}</td>
					<td width="1%" nowrap class="pad5">
					    <select size="1" name="n" onchange="document.choosefilter.submit();" {if $listdata.network} class="active"{/if} style="min-width:150px;">
					    <option value="0" {if !$listdata.network} selected {/if}>{trans("- all networks -")}</option>
					    {section name=networks loop=$networks}
					    <option value="{$networks[networks].id}" {if $listdata.network eq $networks[networks].id} selected {/if}>{$networks[networks].name|truncate:30:"...":true}</option>
					    {/section}
					    </select>
					</td>
					
					<td width="auto"></td>
				    </tr>
				    <tr>
					<td width="1%" class="pad5" nowrap align="right"><img src="img/empty.gif" alt="" width="16"></td>
					
					<td width="1%" class="pad5" nowrap align="right">{trans("Status:")}</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="st" onchange="document.choosefilter.submit();" {if $listdata.status} class="active"{/if} style="min-width:150px;">
					    <option value="0"{if $listdata.status eq 0} selected{/if}>{trans("- all customers -")}</option>
					    {if !check_conf('privileges.hide_finances')}
					    <option value="6"{if $listdata.status eq 6} selected{/if}>{trans("in debt")}</option>
					    <option value="11"{if $listdata.status eq 11} selected{/if}>{trans("in debt above 100%")}</option>
					    <option value="12"{if $listdata.status eq 12} selected{/if}>{trans("in debt above 200%")}</option>
					    {/if}
					    <option value="7"{if $listdata.status eq 7} selected{/if}>{trans("online")}</option>
					    <option value="8"{if $listdata.status eq 8} selected{/if}>{trans("without group")}</option>
					    <option value="9"{if $listdata.status eq 9} selected{/if}>{trans("without tariff")}</option>
					    <option value="10"{if $listdata.status eq 10} selected{/if}>{trans("suspended<!plural>")}</option>
					    </select>
					</td>
					
					<td width="1%" class="pad5" nowrap align="right">{trans("Group:")}</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="g" onchange="document.choosefilter.submit();" {if $listdata.customergroup} class="active"{/if} style="min-width:150px;">
					    <option value="" {if !$listdata.customergroup} selected {/if}>{trans("- all groups -")}</option>
					    {section name=customergroups loop=$customergroups}
					    <option value="{$customergroups[customergroups].id}" {if $listdata.customergroup eq $customergroups[customergroups].id} selected {/if}>{$customergroups[customergroups].name|truncate:30:"...":true}</option>
					    {/section}
					    </select>
					</td>
					
					<td width="1%" class="pad5" nowrap align="right">Powiadomienia:</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="warn" onchange="document.choosefilter.submit();" {if $listdata.warning} class="active"{/if} style="min-width:150px;">
					    <option value=""{if !$listdata.warning} selected {/if}>- wszystkie -</option>
					    <option value="2"{if $listdata.warning == '2'} selected {/if}>włączone</option>
					    <option value="1"{if $listdata.warning == '1'} selected {/if}>wyłączone</option>
					    <option value="3"{if $listdata.warning == '3'} selected {/if}>częściowo</option>
					    </select>
					</td>
					
					<td width="1%" class="pad5" nowrap align="right">Pochodzenie:</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="or" onchange="document.choosefilter.submit();" {if $listdata.customerorigin} class="active"{/if} style="min-width:150px;">
					    <option value=""{if !$listdata.customerorigin} selected{/if}>{trans("- all groups -")}</option>
					    {section name=originlist loop=$originlist}
					    <option value="{$originlist[originlist].id}"{if $listdata.customerorigin eq $originlist[originlist].id} selected{/if}>{$originlist[originlist].name|truncate:30:"...":true}</option>
					    {/section}
					    </select>
					</td>
					
					<td width="auto"></td>
				    </tr>
				    <tr>
					<td width="1%" class="pad5" nowrap align="right"><img src="img/empty.gif" alt="" width="16"></td>
					
					<td width="1%" class="pad5" nowrap align="right">Os.prawna:</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="osp" onchange="document.choosefilter.submit();" {if $listdata.osp} class="active"{/if} style="min-width:150px;">
					    <option value=""{if !$listdata.osp} selected {/if}>- wszyscy -</option>
					    <option value="1"{if $listdata.osp eq 1} selected {/if}>osoba fizyczna</option>
					    <option value="2"{if $listdata.osp eq 2} selected {/if}>osoba prawna / firma</option>
					    </select>
					</td>
					
					<td width="1%" class="pad5" nowrap align="right">{trans("Nodes Group:<!short>")}</td>
					<td width="1%" class="pad5" nowrap>
					    <select size="1" name="ng" onchange="document.choosefilter.submit();" {if $listdata.nodegroup} class="active"{/if} style="min-width:150px;">
					    <option value="" {if !$listdata.nodegroup} selected {/if}>{trans("- all groups -")}</option>
					    {foreach from=$nodegroups item=nodegroup}
					    <option value="{$nodegroup.id}" {if $listdata.nodegroup eq $nodegroup.id} selected {/if}>{$nodegroup.name|truncate:30:"...":true}</option>
					    {/foreach}
					    </select>
					</td>
					
					<td width="1%" nowrap class="pad5" align="right">Zobowiązania:</td>
					<td width="1%" nowrap class="pad5">
					    <select size="1" name="ce" onchange="document.choosefilter.submit();" {if $listdata.contractend}class="active"{/if} style="min-width:150px;">
					    <option value="" {if !$listdata.contractend} selected {/if}>- wszystkie -</option>
					    <option value="3" {if $listdata.contractend=='3'} selected {/if}>wygasną w ciągu 3 dni</option>
					    <option value="7" {if $listdata.contractend=='7'} selected {/if}>wygasną w ciągu 7 dni</option>
					    <option value="14" {if $listdata.contractend=='14'} selected {/if}>wygasną w ciągu 14 dni</option>
					    <option value="30" {if $listdata.contractend=='30'} selected {/if}>wygasną w ciągu 30 dni</option>
					    <option value="-1" {if $listdata.contractend=='-1'} selected {/if}>przeterminowane</option>
					    <option value="-2" {if $listdata.contractend=='-2'} selected {/if}>bezterminowe</option>
					    <option value="-3" {if $listdata.contractend=='-3'} selected {/if}>bez zobowiązań</option>
					    </select>
					</td>
					
					<td width="1%" class="pad5" nowrap>
					</td>
					
					<td width="auto"></td>
				    </tr>
				</table>


				<table width="100%" cellpadding="4">
				    <tr class="light">
					<td width="1%" class="dark">
					    <a href="?m=customerlist&page=1&fletter=&s=&st=&ce=&d=&n=&ng=&g=&or=&osp=&warn=&odl=" {tip text="Wyczyść filtr"}><img src="img/cancel.gif" alt=""></a>
					</td>
					<td align="center" style="cursor:pointer;" onclick="setfirstletter('all');" class="fall{if !$listdata.fletter} active{/if}"  onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')"><b>ALL</b></td>
					
					{foreach range('A','Z') as $key => $item}
					    <td align="center" style="cursor:pointer;" onclick="setfirstletter('{$item}');" class="frightu {if $listdata.fletter == $item}active{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')"><b>{$item}</b></td>
					{/foreach}
				    </tr>
				    
				</table>
				</p>
			</form>
		</td>
	</tr>		
	{if $listdata.total != 0}
	<tr class="scroller">
		<td colspan="5" class="fall">
			{include file="scroller.html" loop=$customerlist}
		</td>
	</tr>
	{/if}
	<tr class="dark" {tip text="Click on column name to change sorting order"}>
		<td width="auto" class="fleftu pad">
			<img src="img/customer.gif" alt="">&nbsp;<a href="?m={$layout.module}&s={$listdata.state}&o=customername{if $listdata.direction eq "asc" && $listdata.order eq "customername"},desc{/if}">{trans("First/last or Company name")}</a></b> {if $listdata.order eq "customername"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<img src="img/home.gif" alt="">&nbsp;<a href="?m={$layout.module}&s={$listdata.state}&o=address{if $listdata.direction eq "asc" && $listdata.order eq "address"},desc{/if}">{trans("Address:")}</a> {if $listdata.order eq "address"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt pad" nowrap align="right" style="vertical-align:top;">
		Ost.wpłata<br>Zawieszenie blok.
		</td>
		<td align="right" width="1%" class="fbt pad" valign="top" nowrap>
			<a href="?m={$layout.module}&s={$listdata.state}&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</a></b> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			{trans("Services:")}
		</td>
		<td width="1%" class="fbt pad" align="right" valign="top" nowrap>
		{if !check_conf('privileges.hide_finances')}
			<a href="?m={$layout.module}&s={$listdata.state}&o=balance{if $listdata.direction eq "asc" && $listdata.order eq "balance"},desc{/if}">{trans("Balance:")}</a>&nbsp;{if $listdata.order eq "balance"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m={$layout.module}&s={$listdata.state}&o=tariff{if $listdata.direction eq "asc" && $listdata.order eq "tariff"},desc{/if}">{trans("Subscription:")}</a>&nbsp;{if $listdata.order eq "tariff"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		{/if}
		</td>
		<td width="1%" align="right" class="frightu pad">
			<nobr><b>{t a=$listdata.total}Total: $a{/t}</b><nobr>
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{section name=customerlist loop=$customerlist start=$start max=$pagelimit}
	{assign var="idek" value=$customerlist[customerlist].id}
	<tr id="idtr{$idek}" class="{cycle} lista{if $customerlist[customerlist].account && !$customerlist[customerlist].nodeac} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td onclick="return self.location.href='?m=customerinfo&id={$customerlist[customerlist].id}';" class="fleft" valign="top">
			<img src="img/{if $customerlist[customerlist].customertype eq 1}Company.png{else}{if $customerlist[customerlist].status eq 1}unk.gif{/if}{if $customerlist[customerlist].status eq 2}wait.gif{/if}{if $customerlist[customerlist].status eq 3}customer.gif{/if}{if $customerlist[customerlist].status eq 4}Alien.png{/if}{/if}" alt="">{if $customerlist[customerlist].info}&nbsp;<img src="img/info1.gif" alt="" {tip text=$customerlist[customerlist].info}>{/if}<a name="{$customerlist[customerlist].id}" {tip a=$customerlist[customerlist].id dynpopup='?m=customerinfoshort&id=$a'} id="idtra{$idek}">&nbsp;<b>{if $customerlist[customerlist].customertype eq 1}<font class="surplus">{$customerlist[customerlist].customername|escape}</font>{else}{$customerlist[customerlist].customername|escape}{/if}</b></a><br>
			<img src="img/home.gif" alt="">&nbsp;{$customerlist[customerlist].address}{if $customerlist[customerlist].city neq ""},{/if} {$customerlist[customerlist].zip} {$customerlist[customerlist].city}{if $customerlist[customerlist].country neq ""}, {t}{$customerlist[customerlist].country}{/t}{/if}
		</td>
		<td class="pad" nowrap style="vertical-align:top;" align="center">
		    <img src="img/empty.gif" height="16">{if $customerlist[customerlist].lastcash}{$customerlist[customerlist].lastcash|date_format:"Y/m/d"}{else}-----{/if}<br>
		    {if $customerlist[customerlist].cutoffstop > $smarty.now}<img src="img/empty.gif" height="16"><font class="alert">{$customerlist[customerlist].cutoffstop|date_format:"Y/m/d"}</font>{/if}
		</td>
		<td valign="top" align="right">
                        
                        
			({$customerlist[customerlist].id|string_format:"%04d"})<br>
			{if $customerlist[customerlist].account}
				<img src="img/node{if !$customerlist[customerlist].online}_off{/if}.gif" alt="" {tip a=$customerlist[customerlist].id dynpopup='?m=nodelistshort&id=$a' sticky=1}></a>
			{/if}
		</td>
		<td align="right" valign="top" nowrap>
			{if !check_conf('pri11vileges.hide_finances')}
			<nobr>
			    <div id="str_balance{$idek}"><img src="img/empty.gif" width="1" height="16" alt="">{if $customerlist[customerlist].balance < 0}<font class="alert" style="font-weight:bold;">{/if}{if $customerlist[customerlist].balance > 0}<font class="surplus" style="font-weight:bold;">+{/if}{$customerlist[customerlist].balance|money_format}{if $customerlist[customerlist].balance != 0}</font>{/if}</div>
			    <font class="blend">{$customerlist[customerlist].tariffvalue|money_format}</font><nobr>
			{/if}
		</td>
		<td align="right" class="fright">
			<nobr>
			{if !check_conf('privileges.hide_finances')}
				{if $customerlist[customerlist].balance < 0}<img  src="img/pay.gif" id="src_balance{$idek}" border="0" style="cursor:pointer;" onclick="rozliczklienta({$idek},'{$customerlist[customerlist].customername}','{$customerlist[customerlist].balance}');">{/if}
			{/if}
			{if $customerlist[customerlist].account}
			    {if $customerlist[customerlist].status eq 3}
				{if $customerlist[customerlist].nodeac eq 1}
				    <input type="hidden" id="staccess{$idek}" value="1"><img src="img/access.gif" id="src_access{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerAccess({$idek});">
				{else}
				    {if $customerlist[customerlist].nodeac eq 2}
					<input type="hidden" id="staccess{$idek}" value="0"><img src="img/mixaccess.gif" id="src_access{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerAccess({$idek});">
				    {else}
					<input type="hidden" id="staccess{$idek}" value="0"><img src="img/noaccess.gif" id="src_access{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerAccess({$idek});">
				    {/if}
				{/if}
			    {else}
				<img src="img/empty.gif" width="16">
			    {/if} 
			{/if}
			{if $customerlist[customerlist].warncount}
			    {if $customerlist[customerlist].status eq 3}
				{if $customerlist[customerlist].nodewarn >= 1}
				    <input type="hidden" id="stwarning{$idek}" value="1">
				    {if $customerlist[customerlist].nodewarn eq 1}
					<img src="img/warningon.gif" id="src_warning{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerWarning('{$idek}');">
				    {else}
					<img src="img/warningmix.gif" id="src_warning{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerWarning('{$idek}');">
				    {/if}
				{else}
				    <input type="hidden" id="stwarning{$idek}" value="0">
				    <img src="img/warningoff.gif" id="src_warning{$idek}" border="0" style="cursor:pointer;" onclick="setCustomerWarning('{$idek}');">
				{/if}
			    {else}
				<img src="img/empty.gif" width="16">
			    {/if} 
			{/if}
			{if $listdata.state eq 4}
			<a href="?m=customeredit&id={$customerlist[customerlist].id}&action=recover"><img src="img/recover.gif" alt="[ {trans("Recover")} ]" title="[ {trans("Recover")} ]"></a> 
			{else}
			<a href="?m=customerdel&id={$customerlist[customerlist].id}" OnCLick="return confirmLink(this, '{t a=$customerlist[customerlist].customername|escape:"javascript"|escape:"html"}Are you sure, you want to remove customer \'$a\' from database?\n\nIf that customer have some nodes, they will be also removed and data definitely lost!{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a> 
			<a href="?m=customeredit&id={$customerlist[customerlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a> 
			{/if}
			<a href="?m=customerinfo&id={$customerlist[customerlist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="5" align="center" class="flr">
			<p>&nbsp;</p>
			<p><b>{trans("No such customers matching search criteria or list is empty.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="scroller">
		<td colspan="5" class="fall">
			{include file="scroller.html" loop=$customerlist}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td class="fleftu" align="right" colspan="2">
			&nbsp;
		</td>
		<td class="fbt" align="right">
			{if !check_conf('privileges.hide_finances') && !check_conf('privileges.hide_summaries')}
			<b>{trans("Outstandings")}:<br>
			{trans("Overcharges")}:</b>
			{/if}
		</td>
		<td class="fbt" align="right" nowrap>
			{if !check_conf('privileges.hide_finances') && !check_conf('privileges.hide_summaries')}
			<b>{$listdata.below|money_format}<br>
			{$listdata.over|money_format}</b>
			{/if}
		</td>
		<td class="frightu" align="right" valign="top">
			<b>{trans("Total:")} {$listdata.total}</b>
		</td>
	</tr>
</table>
</p>
{include file="footer.html"}
