<!--// $Id$ //-->
<p>
<table width="100%" cellpadding="10">
	<tr class="superlight">
		<td width="1%" class="fleftu">
			<img src="img/warning.png" alt="[ {trans("Error!")} ]">
		</td>
		<td width="99%" class="frightu">
			<font class="alert">{trans("Database errors occurred!")}</font><br>
			{foreach from=$layout.dberrors item=dberror}
                {if $layout.dbdebug}
				    <b>({math equation="x*1000" x=$dberror.time format="%.4f"} ms):</b> {$dberror.query}<br>
                {else}
				    <b>{trans("Query:")}</b> {$dberror.query}<br>
    				<b>{trans("Error:")}</b> {$dberror.error}<br>
				{/if}
			{/foreach}
		</td>
	</tr>
</table>
</p>
