{$xajax}



{include file="header.html"}
{title value=$layout.title link="<a href='javascript:void(0);' onclick='xajax_dictionary_cnote_add();'><b>Dodaj nową pozycję</b> <img src='img/add.gif' alt=''></a>"}

<div id="id_edit_dictionary_cnote"></div>
    
<table width="100%" cellpadding="3">
    <tr class="dark">
    
	<td width="1%" nowrap style="height:22px;min-width:100px;vertical-align:bottom;" class="pad10 fleftu" align="left"><b>Powody korekt</b></td>
	<td width="96%" style="height:22px;vertical-align:bottom;" class="pad10 fbt" align="left"><b>Opis</b></td>
	<td width="1%" nowrap style="height:22px;" class="pad10 frightu" align="right"></td>
    </tr>
    
    {cycle values="lucid,light" print=false}
    {section name='cnotelist' loop=$cnotelist}
	
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	    <td width="1%" nowrap style="min-width:100px;" align="left" class="fleft pad10">{$cnotelist[cnotelist].name} </td>
	    <td width="96%" align="left" class="pad10">{if $cnotelist[cnotelist].description}{$cnotelist[cnotelist].description|nl2br}{/if}</td>
	    
	    <td width="1%" align="right" class="pl10 fright" nowrap>
		<img src="img/delete.gif" onclick="confirm_delete({$cnotelist[cnotelist].id});">
		<img src="img/edit.gif" alt="[ Edycja ]" onclick="xajax_dictionary_cnote_edit({$cnotelist[cnotelist].id});">
	    </td>
	</tr>
    
    {sectionelse}
	<tr class="light">
	    <td colspan="3" width="100%" align="center" class="fall">
		<br><p><b>Brak pozycji w słowniku</b></p><br>
	    </td>
	</tr>
    {/section}
</table>

{literal}
<script type="text/javascript">
    <!--
	function confirm_delete(id)
	{
	    if (confirm('Potwierdź usunięcie pozycji'))
	    {
		xajax_dictionary_cnote_deleted(id);
	    }
	}
    //-->
</script>
{/literal}

{include file="footer.html"}

