{include file="header.html"}
<div class="light">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/division.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<b>{trans("Name:")}</b>
		</td>
		<td width="98%" class="frightu">
			{$division.shortname|escape}
		</td>
	</tr>
	<tr >
		<td width="1%" >
			<img src="img/division.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Long name:")}</b>
		</td>
		<td width="98%" >
			{$division.name}
		</td>
	</tr>
	<tr >
		<td width="1%" >
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Address:")}</b>
		</td>
		<td width="98%" >
		    {$division.address}, {$division.zip} {$division.city}{foreach from=$countries item=item key=key}{if $key==$division.countryid}, {t}{$item.name}{/t}{/if}{/foreach}
		
		</td>
	</tr>
	<tr >	
		<td width="%1" >
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("TEN")}</b>
		</td>
		<td width="99%" >
			{$division.ten}
		</td>
	</tr>
	<tr >
		<td width="%1" >
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("REGON")}</b>
		</td>
		<td width="99%" >
			{$division.regon}
		</td>
	</tr>
	<tr >
		<td width="1%" >
			<img src="img/card.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Bank account:")}</b>
		</td>
		<td width="98%" >
			{$division.account|format_bankaccount}
		</td>
	</tr>
	{if $division.description}
	<tr >
		<td width="1%" >
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Description:")}</b>
		</td>
		<td width="98%" >
			<textarea name="division[inv_footer]" cols="38" rows="4"  disabled style="color:#000000;">{$division.description}</textarea>
		</td>
	</tr>
	{/if}
	<tr >
		<td width="1%" >
			<img src="img/wait.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Locked:")}</b>
		</td>
		<td width="98%" >
			{if $division.status}{trans("yes")}{else}{trans("no")}{/if}
		</td>
	</tr>
	{if $division.inv_header}
	<tr >
		<td width="1%" >
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Invoice header:")}</b>
		</td>
		<td width="98%" >
			<textarea name="division[inv_footer]" cols="38" rows="4"  disabled style="color:#000000;">{$division.inv_header}</textarea>
		</td>
	</tr>
	{/if}
	{if $division.inv_footer}
	<tr >
		<td width="1%" >
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Invoice footer:")}</b>
		</td>
		<td width="98%" >
			<textarea name="division[inv_footer]" cols="38" rows="4" disabled style="color:#000000;">{$division.inv_footer}</textarea>
		</td>
	</tr>
	{/if}
	{if $division.inv_author}
	<tr >
		<td width="1%" >
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Invoice author:")}</b>
		</td>
		<td width="98%" >
			{$division.inv_author}
		</td>
	</tr>
	{/if}
	{if $division.inv_cplace}
	<tr >
		<td width="1%" >
			<img src="img/print.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Invoice creation place:")}</b>
		</td>
		<td width="98%" >
			{$division.inv_cplace}
		</td>
	</tr>
	{/if}
	<tr >
                <td width="1%" >
		        <img src="img/print.gif" alt="">
		</td>
		<td width="1%">
		        <b>{trans("Payment type:")}</b>
		</td>
		<td width="98%">
		
		{if !$division.inv_paytype}
		    {trans("default")}
		{else}
		    {foreach from=$_PAYTYPES item=item key=key}
			{if $division.inv_paytype==$key}{$item}{/if}
		    {/foreach}
		{/if}
	    </td>
	</tr>
	<tr >
                <td width="1%">
		        <img src="img/print.gif" alt="">
		</td>
		<td width="1%">
		        <b>{trans("Deadline:")}</b>
		</td>
		<td width="98%">
		    {if !strlen($division.inv_paytime)}
			{trans("default<!paytime>")}
		    {else}
			{$division.inv_paytime}
		    {/if}
	        </td>
	</tr>

</table>
</div>