{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<form method="POST" action="?m=documenttypeedit&id={$documenttype.id}" name="typeedit">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="100%" colspan="3" class="fall">
			<img src="img/docum.gif" alt="">
			<b>{trans("Name:")} {$documenttype.name}</b>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Permissions:")}</b>
		</td>
		<td width="98%" class="fright">
		    <table width="100%" cellpadding="3">
			<tr class="dark">
			    <td width="95%" class="ftl"><b>{trans("User")}</b></td>
			    <td width="1%" class="ftop" align="center" nowrap><b>{trans("Viewing")}</b></td>
			    <td width="1%" class="ftop" align="center" nowrap><b>{trans("Creating")}</b></td>
			    <td width="1%" class="ftop" align="center" nowrap><b>{trans("Confirming")}</b></td>
			    <td width="1%" class="ftop" align="center" nowrap><b>{trans("Editing")}</b></td>
			    <td width="1%" class="ftr" align="center" nowrap><b>{trans("Deleting")}</b></td>
			</tr>
			{cycle values="lucid,light" print=false}
			{foreach from=$documenttype.rights item=right key=key}
			<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
			    <td width="95%" class="fleft">
				<a href="?m=userinfo&id={$key}">{$right.name}</a>
			    </td>
			    <td width="1%" align="center">
				    <input type="checkbox" name="rights[{$key}][1]" value="1" {if ($right.rights & 1)==1}checked{/if}>
			    </td>
			    <td width="1%" align="center" nowrap="nowrap">
			    	    <input type="checkbox" name="rights[{$key}][2]" value="2" {if ($right.rights & 2)==2}checked{/if}>
			    </td>
			    <td width="1%" align="center" nowrap="nowrap">
			    	    <input type="checkbox" name="rights[{$key}][4]" value="4" {if ($right.rights & 4)==4}checked{/if}>
			    </td>
			    <td width="1%" align="center" nowrap="nowrap">
			    	    <input type="checkbox" name="rights[{$key}][8]" value="8" {if ($right.rights & 8)==8}checked{/if}>
			    </td>
			    <td width="1%" align="center" class="fright">
			    	    <input type="checkbox" name="rights[{$key}][16]" value="16" {if ($right.rights & 16)==16}checked{/if}>
			    </td>
			</tr>
			{/foreach}
			<tr class="light">
			    <td width="95%" class="ftop"></td>
			    <td width="5%" class="ftop" colspan="5"></td>
			</tr>
		</table>			
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="javascript:document.typeedit.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=documenttypes">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
{include file="footer.html"}
