{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%">
	<tr>
		<td width="50%" align="left" nowrap>
			<h1>{$layout.pagetitle}: {$date|date_format:"%x (%A)"}</h1>
		</td>
		<td width="50%" align="right">
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %e %B %Y"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="1%" class="HEAD">
			{trans("Time")}
		</td>
		<td width="97%" class="HEAD" align="left">
			{trans("Title")}<br>
			{trans("Description")}/{trans("Note")}
		</td>
		<td width="1%" class="HEAD" align="center">
			{trans("User")}
		</td>
		<td width="1%" class="HEAD" align="center">
			{trans("Customer")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{foreach item=event from=$eventlist}
	<tr class="{cycle} lista">
		<td width="1%" valign="top" align="left">
			<nobr>
			{math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
			{if $event.begintime != $event.endtime}
			- {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
			{/if}
			<nobr>
		</td>
		<td width="97%" align="left" valign="top">
			<b>{$event.title}</b><br>
			{$event.description}<br>
			{$event.note}
		</td>
		<td width="1%" align="right" valign="top">
			{foreach item=user from=$event.userlist}
				<nobr>{$user.name|truncate:"25":"...":true}<nobr><br>
			{/foreach}
		</td>
		<td width="1%" align="right" valign="top">
			<nobr>{$event.customername|truncate:"40":"...":true}<nobr><br>
			<nobr>{$event.customeraddr}<nobr><br>
			<nobr>{$event.customercity}<nobr><br>
			<nobr>{$event.customerphone}<nobr>
		</td>
	</tr>
	{/foreach}
</table>
{include file="clearfooter.html"}
