{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%" class="fbt">
			<b>{trans("Title:")}</b>
		</td>
		<td width="98%" class="frightu">
			<b>{$event.title}</b>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/time.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Creation time:")}</b>
		</td>
		<td width="98%" class="fright">
			{$event.date|date_format:"%x (%A)"}
			{math equation="floor(x/100)" x=$event.begintime format="%02d"}:{math equation="x % 100" x=$event.begintime format="%02d"}
			{if $event.begintime != $event.endtime}
			- {math equation="floor(x/100)" x=$event.endtime format="%02d"}:{math equation="x % 100" x=$event.endtime format="%02d"}
			{/if}
		</td>
	</tr>
{if $event.moddate != 0}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/time.gif" alt="">
		</td>
		<td width="1%">
			<b>{t}Last modification time:{/t}</b>
		</td>
		<td width="98%" class="fright">
			{$event.moddate|date_format:"%x (%X)"}
		</td>
	</tr>
{/if}
	     
{if $event.description}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Description:")}</b>
		</td>
		<td width="98%" class="fright">
			<table width="95%" cellpadding="5">
				<tr>
					<td class="fall superlight">
						{$event.description|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
{/if}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/access.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Status:")}</b>
		</td>
		<td width="98%" class="fright" nowrap>
			{if $event.private}{trans("private")}{else}{trans("public")}{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Created by:")}</b>
		</td>
		<td width="98%" class="fright" nowrap>
			<a href="?m=userinfo&id={$event.userid}">{$event.username}</a>
		</td>
	</tr>
{if $event.moduserid != 0}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<b>{t}Last modified by:{/t}</b>
		</td>
		<td width="98%" class="fright" nowrap>
			<a href="?m=userinfo&id={$event.moduserid}">{$event.modusername}</a>
		</td>
	</tr>
{/if}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/customer.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Customer:")}</b>
		</td>
		<td width="98%" class="fright" nowrap>
			<a href="?m=customerinfo&id={$event.customerid}">{$event.customername}</a>
		</td>
	</tr>
{if $event.note}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/info.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Note:")}</b>
		</td>
		<td width="98%" class="fright">
			<table width="95%" cellpadding="5">
				<tr>
					<td class="fall" BGCOLOR="#F4F0EC">
						{$event.note|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
{/if}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Users:")}</b>
		</td>
		<td width="98%" class="fright" nowrap>
			{foreach item=user from=$event.userlist}	
				<nobr><a href="?m=userinfo&id={$user.id}">{$user.name}</a><nobr><br>
			{/foreach}
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" align="right" colspan="3">
			<a href="?m=eventedit&id={$event.id}">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
			{if !$event.closed}
			<a href="?m=eventedit&id={$event.id}&action=close">{trans("Close")} <img src="img/dead.gif" alt=""></a>
			{else}
			<a href="?m=eventedit&id={$event.id}&action=open">{trans("Open")} <img src="img/open.gif" alt=""></a>
			{/if}
		</td>
	</tr>
</table>
{include file="footer.html"}
