{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table cellpadding="3" width="100%">
	<tr class="dark">
		<td width="100%" class="fall" colspan="2" nowrap>
			<img src="img/channel.gif" alt="">
			{if $channel.id}
			    <b>{$channel.name} ({$channel.id|string_format:"%04d"})</b>
			{else}
			    [{trans("default")}]
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/downrate.gif" alt=""> <b>{trans("Downceil:")}</b>
		</td>
		<td width="99%" class="fright">
			{$channel.downceil} kbit/s
			({trans("night:")} {if $channel.downceil_n}{$channel.downceil_n|default:0} kbit/s{else}{trans("not defined")}{/if})
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/uprate.gif" alt=""> <b>{trans("Upceil:")}</b>
		</td>
		<td width="99%" class="fright">
			{$channel.upceil} kbit/s
			({trans("night:")} {if $channel.upceil_n}{$channel.upceil_n|default:0} kbit/s{else}{trans("not defined")}{/if})
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/options.gif" alt=""> <b>{trans("Options:")}</b>
		</td>
		<td width="99%" class="fright">
		    {trans("Half duplex")}: {if $channel.halfduplex}{trans("yes")}{else}{trans("no")}{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/netdev.gif" alt=""> <b>{trans("Devices:")}</b>
		</td>
		<td width="99%" class="fright">
		    {$channel.devcnt|default:0}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/node.gif" alt=""> <b>{trans("Nodes:")}</b>
		</td>
		<td width="99%" class="fright">
		    {$channel.nodecnt|default:0}
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/channel.gif" alt=""> <b>STMID:</b>
		</td>
		<td width="99%" class="fright">
		    {if $channel.cid}[{$channel.cid|string_format:"%04d"}]{else}-{/if}
		</td>
	</tr>
	<tr class="light">
        <td width="100%" class="fbottomu" colspan="2" align="right">
            {if $channel.id}
            <a href="?m=ewxchedit&id={$channel.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
			<a href="?m=ewxchdel&id={$channel.id}" onclick="return confirmLink(this,'{trans("Are you sure, you want to delete this channel?")}');">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
            {/if}
        </td>
    </tr>
</table>
<br>
<table cellpadding="3" width="100%">
	<tr class="dark">
        	<td width="100%" class="fall">
			<img src="img/netdev.gif" alt=""> <b>{trans("Devices:")}</b>
                </td>
        </tr>
	<tr>
		<td width="100%" class="fall">
			<table width="100%" cellpadding="5" cellspacing="0">
				<tr class="dark">
					<td width="30%" class="fleftu"><b>{trans("Name:")}</b></td>
	                <td width="1%" class="fbt" align="right">{trans("ID:")}</td>
					<td width="1%" class="fbt" align="right">{trans("Nodes:")}</td>
					<td width="67%" class="fbt">{trans("Location:")}</td>
					<td width="1%" class="frightu">&nbsp;</td>
				</tr>
				{cycle values="light,lucid" print=false}
				{foreach from=$channel.devices item=item}
				<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td onclick="return self.location.href='?m=netdevinfo&id={$item.id}';">
						<img src="img/netdev.gif" align="left" alt=""><b>{$item.name}</b>
					</td>
					<td onclick="return self.location.href='?m=netdevinfo&id={$item.id}';">
						({$item.id|string_format:"%04d"})
					</td>
					<td onclick="return self.location.href='?m=netdevinfo&id={$item.id}';" align="right">
						{$item.nodes|default:0}
					</td>
					<td onclick="return self.location.href='?m=netdevinfo&id={$item.id}';">
						{$item.location}
					</td>
					<td align="right">
					    {if $channel.id}
						<a href="?m=ewxchedit&action=remove&id={$channel.id}&devid={$item.id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to remove this assignment?")}')"  {tip text="Remove this device from the channel"}><img src="img/delete.gif" alt="[ {trans("Delete")} ]"></a>
					    {/if}
					</td>
				</tr>
				{foreachelse}
				<tr>
                    <td width="100%" colspan="5" align="center">
			                <p>&nbsp;</p>
					        <p><b>{trans("No devices associated with this channel.")}</b></p>
					        <p>&nbsp;</p>
					</td>
				</tr>
				{/foreach}
				{if $channel.freedevices}
				<form method="POST" name="device" action="?m=ewxchedit&action=add&id={$channel.id}">
				<input type="submit" class="hiddenbtn">
				<tr class="light">
				    <td colspan="3" class="ftop">
						<b>{trans("Add:")}</b>
						<select size="1" name="devid" {tip text="Select device to associate with the channel"}>
						        <option value="">- {trans("select device")} -</option>
						        {foreach from=$channel.freedevices item=item}
							<option value="{$item.id}">{$item.name}{if $item.producer} / {$item.producer}{/if}{if $item.location} ({$item.location}){/if}</option>
			        			{/foreach}
						</select>
					<td align="right" class="ftop" colspan="2" nowrap>
				    		<a href="javascript:document.device.submit()" {tip text="Add device to the channel"}>{trans("Add")} <img src="img/save.gif" alt="[ {trans("Add")} ]"></a>
					</td>
				</tr>
				</form>
				{/if}
			</table>
		</td>
	</tr>
</table>
{include file="footer.html"}
