<!--// $Id$ //-->
{if $layout.dberrors}
	{include file="dberrors.html"}
{/if}
<p align="right"><img src="img/Top.png" alt="[ góra ]" title="[ do góry ]" style="border:0;cursor:pointer;" onclick="window.scroll(0,0);"></p>
{if (get_conf('voip.enabled','0') && $layout.v_errors) || $layout.v_errors_connect}
	{include file="v_errors.html"}
{/if}

<p align="center" class="blend">{trans("Page generation time:")} {gentime} {trans("sec.")} {memory}</p>
{if get_conf('phpui.installation_name')}<p style="font-weight:bold;color:blue;" align="center">{get_conf('phpui.installation_name')}</p>{/if}
</div>
</body>
</html>
