{include file="header.html"}

<form name="billingext" method="GET" action="?m={$layout.module}" >
    <input type="submit" class="hiddenbtn">
    <input type="hidden" name="m" value="{$layout.module}">
    <input type="hidden" name="cusid" value="{$cusid}">
    <input type="hidden" name="terminal" value="{$terminal}">
    <table width="100%" cellpadding="2" cellspacing="0">
	<tr class="dark">
	    <td width="auto" class="fleftu" align="left">
		&nbsp;Rok:&nbsp;
		<select name="rok" style="cursor:pointer;text-align:center;width:60px;" onchange="document.billingext.submit();" >
		    {section name=pbfr loop=$listyear}
			<option value="{$listyear[pbfr].rok}" {if $listyear[pbfr].rok==$rok} selected{/if}>{$listyear[pbfr].rok}</option>
		    {/section}
		</select>&nbsp;&nbsp;&nbsp;
		Miesiąc:&nbsp;
		<select name="msc" style="cursor:pointer;text-align:center;width:100px;" onchange="document.billingext.submit();" >
			<option value="1" {if $msc==1} selected{/if}>styczeń</option>
			<option value="2" {if $msc==2} selected{/if}>luty</option>
			<option value="3" {if $msc==3} selected{/if}>marzec</option>
			<option value="4" {if $msc==4} selected{/if}>kwiecień</option>
			<option value="5" {if $msc==5} selected{/if}>maj</option>
			<option value="6" {if $msc==6} selected{/if}>czerwiec</option>
			<option value="7" {if $msc==7} selected{/if}>lipiec</option>
			<option value="8" {if $msc==8} selected{/if}>sierpień</option>
			<option value="9" {if $msc==9} selected{/if}>wrzesień</option>
			<option value="10" {if $msc==10} selected{/if}>październik</option>
			<option value="11" {if $msc==11} selected{/if}>listopad</option>
			<option value="12" {if $msc==12} selected{/if}>grudzień</option>
		</select>&nbsp;&nbsp;&nbsp;
		Połączenie:&nbsp;
		<select name="ctype" style="cursor:pointer;text-align:center;width:110px;{if $ctype}background-color:#FFFE9F;{/if}" onchange="document.billingext.submit();" >
		    <option value="">-- wszystkie --</option>
			<option value="outgoing" {if $ctype=='outgoing'} selected{/if}>wychodzące</option>
			<option value="incoming" {if $ctype=='incoming'} selected{/if}>przychodzące</option>
			<option value="forwarded" {if $ctype=='forwarded'} selected{/if}>przekazane</option>
			<option value="internal" {if $ctype=='internal'} selected{/if}>wew. sieci</option>
			<option value="disa" {if $ctype=='disa'} selected{/if}>DISA</option>
			<option value="vpbx" {if $ctype=='vpbx'} selected{/if}>VPBX</option>
		</select>&nbsp;&nbsp;&nbsp;
		Zrealizowane:&nbsp;
		<select name="csuccess" style="cursor:pointer;text-align:center;width:100px;{if $csuccess}background-color:#FFFE9F;{/if}" onchange="document.billingext.submit();" >
		    <option value="">-- wszystkie --</option>
			<option value="t" {if $csuccess=='t'} selected{/if}>TAK</option>
			<option value="f" {if $csuccess=='f'} selected{/if}>NIE</option>
		</select>&nbsp;&nbsp;&nbsp;
	    </td>
	    <td width="1%" style="text-align:right;vertical-align:top;" nowrap class="frightu">
		<input type="checkbox" name="extends" value="1" id="vextends"  {if $extends} checked{/if} onclick="document.billingext.submit();">&nbsp;<a href="javascript:checkElement('vextends');document.billingext.submit();" ><b>Widok rozszerzony</b></a>&nbsp;|&nbsp;
		<a href="?m=hv_billinginfoext_print&cusid={$cusid}&rok={$rok}&msc={$msc}&ctype={$ctype}&csuccess={$csuccess}{if $extends}&extends{/if}&terminal={$terminal}" target="_blank"><img src="img/print.gif" border="0" {tip text="Drukuj wykaz połączeń"} style="cursor:pointer;"></a>&nbsp;|&nbsp;
		<a href="javascript:window.close();"><b>Zamknij okno</b></a>
	    </td>
	</tr>
    </table>
</form>

<h4>&nbsp;Konto VoIP: {$cusname} | Terminal : {$terminal} | Abonament : {$subscription|money_format}{if $lmscustomer} | Klient : {$lmscustomer.lastname} {$lmscustomer.name} {$lmscustomer.address} {$lmscustomer.zip} {$lmscustomer.city}{/if}</h4>

<table width="100%" cellpadding="3" cellspacing="0">
	<tr class="dark">
	    <td width="1%" nowrap align="center"</td>
	    <td width="1%" nowrap align="center"><b>czas</b></td>
	    <td width="1%" nowrap align="center"></td>
	    <td width="1%" nowrap align="center"><b>Numer</b></td>
	    <td width="1%" nowrap align="center"><b>Numer</b></td>
	    <td width="1%" nowrap align="center"></td>
	    <td width="1%" colspan="3" nowrap ></td>
	    <td width="1%" align="center" nowrap  style="cursor:pointer;" colspan="3" ><b>Koszty Klienta</b></td>
	    {if $extends}
		<td width="1%" align="center" nowrap  style="cursor:pointer;" colspan="4" class="flr"><b>Koszt Resellera</b></td>
		<td width="1%" nowrap  style="cursor:pointer;"></td>
		<td width="1%" nowrap  style="cursor:pointer;"></td>
	    {/if}
	    <td width="1%" nowrap  ><b>Zreali-</b></td>
	</tr>
	<tr class="dark">
	    <td width="1%" nowrap align="center"><b>data</b></td>
	    <td width="1%" nowrap align="center"><b>rozmowy</b></td>
	    <td width="1%" nowrap align="center"><b>kieru.</b></td>
	    <td width="1%" nowrap align="center"><b>Inicjujcy</b></td>
	    <td width="1%" nowrap align="center"><b>Odbiorcy</b></td>
	    <td width="1%" nowrap align="center"><b>kraj</b></td>
	    <td width="1%" colspan="3" nowrap ><b>kierunek - operator</b></td>
	    <td width="1%" align="right" nowrap>rozmowy</td>
	    <td width="1%" align="right" nowrap>połączenia</td>
	    <td width="1%" align="right" nowrap>cena/min&nbsp;</td>
	    {if $extends}
		<td width="1%" align="right" nowrap class="fleft">rozmowy</td>
		<td width="1%" align="right" nowrap>połączenie</td>
		<td width="1%" align="right" nowrap>cena/min</td>
		<td width="1%" align="right" nowrap class="fright">marża&nbsp;</td>
		<td width="1%" nowrap>Plat.</td>
		<td width="1%" nowrap>AB.</td>
	    {/if}
	    <td width="1%" nowrap  ><b>zowane</b></td>
	</tr>
    {cycle values="lucid,light" print=false}
    {assign var='sumduration' value=0}
    {assign var='sumcost' value=0}
    {assign var='suminit_charge' value=0}
    {assign var='sumreseller_cost' value=0}
    {assign var='sumreseller_init_charge' value=0}
    {assign var='summargin' value=0}
    {section name=l loop=$billing}
	{math assign='sumduration' equation="x+d" x=$sumduration d=$billing[l].duration}
	{math assign='sumcost' equation="x+y" x=$sumcost y=$billing[l].cost}
	{math assign='suminit_charge' equation="x+y" x=$suminit_charge y=$billing[l].init_charge}
	{math assign='sumreseller_cost' equation="x+y" x=$sumreseller_cost y=$billing[l].reseller_cost}
	{math assign='sumreseller_init_charge' equation="x+y" x=$sumreseller_init_charge y=$billing[l].reseller_init_charge}
	{math assign='summargin' equation="x+y" x=$summargin y=$billing[l].margin}
	{assign var='ctn' value=$billing[l].calltype}
	<tr class="{cycle} lista" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');">
	    <td width="1%" nowrap {tip text="Data i godzina rozpoczęcia rozmowy"}>{$billing[l].start_time}</td>
	    <td width="1%" nowrap  align="center"{tip text="Czas trwania rozmowy HH:MM:SS"} align="right">&nbsp;{$billing[l].duration|seconds_to_hours}&nbsp;</td>
	    <td width="1%" nowrap  align="center"{tip text="Typ połączenia"}>&nbsp;{$ctypename[$ctn]}&nbsp;</td>
	    <td width="1%" nowrap  {tip text="Numer z którego dzwoniono"}>{if $billing[l].caller=='unknown'}nieznany{else}{$billing[l].caller}{/if}</td>
	    <td width="1%" nowrap  {tip text="Numer na który dzwoniono"}>{$billing[l].bill_cpb}</td>
	    <td width="1%" nowrap  {tip text="Kierunek - kraj"}>{$billing[l].country}</td>
	    <td width="1%" nowrap  {tip text="Opis kierunku"}>{$billing[l].description}</td>
	    <td width="auto" nowrap  {tip text="Operator kierunku"}>{$billing[l].operator}</td>
	    <td width="1%" nowrap  {tip text="Typ kierunku"}>{$billing[l].type}</td>
	    <td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt rozmowy dla klienta"}>
		{math assign='tempek' equation="x*y" x=$stvat y=$billing[l].cost}
		&nbsp;{$tempek|string_format:"%.02f"}
	    </td>
	    <td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt inicjacji połączenia dla klienta"}>
		{math assign='tempek' equation="x*y" x=$stvat y=$billing[l].init_charge}
		&nbsp;{$tempek|string_format:"%.02f"}
	    </td>
	    <td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Cena połączenia dla klienta"}>
		{math assign='tempek' equation="x*y" x=$stvat y=$billing[l].price}
		&nbsp;{$tempek|string_format:"%.02f"}&nbsp;
	    </td>
	    {if $extends}
		<td width="1%" align="right" nowrap  class="fleft" style="cursor:pointer;"{tip text="Koszt rozmowy dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$billing[l].reseller_cost}
		    &nbsp;{$tempek|string_format:"%.02f"}
		</td>
		<td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt inicjacji połączenia dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$billing[l].reseller_init_charge}
		    &nbsp;{$tempek|string_format:"%.02f"}
		</td>
		<td width="1%" align="right" nowrap  style="cursor:pointer;{if $billing[l].reseller_price>$billing[l].price}color:red;{/if}"{tip text="Cena połączenia dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$billing[l].reseller_price}
		    &nbsp;{$tempek|string_format:"%.02f"}
		</td>
		<td width="1%" align="right" nowrap  class="fright" style="cursor:pointer;{if $billing[l].margin<0}color:red;{/if}"{tip text="Marża dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$billing[l].margin}
		    &nbsp;{$tempek|string_format:"%.02f"}&nbsp;
		</td>
		<td width="1%" nowrap  style="cursor:pointer;"{tip text="Typ usługi platformy Hiperus C5"}>&nbsp;{$billing[l].platform_type}</td>
		<td width="1%" nowrap  style="cursor:pointer;"{tip text="<b>A</b> - w abonamencie<br><b>P</b> - poza abonamentem"}>&nbsp;{if $billing[l].subscription_used=='t'}A{else}P{/if}</td>
	    {/if}
	    <td width="1%" nowrap  style="cursor:pointer;text-align:center;"{tip text="Czy połączenie zostało zrealizowane"}>&nbsp;{if $billing[l].success_call=='t'}Tak{else}Nie{/if}</td>
	</tr>
    {/section}
    {if $billing|@count ne 0}
	<tr class="dark" >
	    <td width="1%" nowrap ><b>ŁĄCZNIE:</b></td>
	    <td width="1%" nowrap  {tip text="Czas trwania rozmowy HH:MM:SS"} align="right">&nbsp;<b>{$sumduration|seconds_to_hours}</b>&nbsp;</td>
	    <td width="auto" colspan="7">&nbsp;</td>
	    <td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt rozmowy dla klienta"}>
		{math assign='tempek' equation="x*y" x=$stvat y=$sumcost}
		&nbsp;<b>{$tempek|string_format:"%.02f"}</b>
	    </td>
	    <td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt inicjacji połączenia dla klienta"}>
		{math assign='tempek' equation="x*y" x=$stvat y=$suminit_charge}
		&nbsp;<b>{$tempek|string_format:"%.02f"}</b>
	    </td>
	    <td width="1%" align="right" nowrap>&nbsp;</td>
	    {if $extends}
		<td width="1%" align="right" nowrap  class="fleft"style="cursor:pointer;"{tip text="Koszt rozmowy dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$sumreseller_cost}
		    &nbsp;<b>{$tempek|string_format:"%.02f"}</b>
		</td>
		<td width="1%" align="right" nowrap  style="cursor:pointer;"{tip text="Koszt inicjacji połączenia dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$sumreseller_init_charge}
		    &nbsp;<b>{$tempek|string_format:"%.02f"}</b>
		</td>
		<td width="1%" align="right" nowrap">&nbsp;</td>
		<td width="1%" align="right" nowrap  class="fright" style="cursor:pointer;{if $billing[l].margin<0}color:red;{/if}"{tip text="Marża dla resellera"}>
		    {math assign='tempek' equation="x*y" x=$stvat y=$summargin}
		    &nbsp;<b>{$tempek|string_format:"%.02f"}</b>
		</td>
		<td width="1%" align="right" nowrap">&nbsp;</td>
	    {/if}
	    <td width="1%" nowrap  colspan="2">&nbsp;</td>
	</tr>
    {/if}
</table>