
<form name="infocenteredit" method="POST" action="?{str_replace('&action=edittopic','',$smarty.server.QUERY_STRING)}" id="editinfocenter">
    <input type="hidden" name="infocenteredit[empty]" value="1">
    
    <table width="100%" cellpadding="3">
    
    <tr class="dark">
	<td width="1%" class="fleftu">
	    <b>{trans('Topic')}</b>
	</td>
	<td width="99%" class="frightu">
	    <input type="text" size="60" name="topic" value="{$topic.topic}" required="required">
	</td>
    </tr>
    <tr class="light">
	<td width="1%" class="fleft">
	    <b>{trans('Description')} </b>
	</td>
	<td width="99%" class="fright">
	    <input type="text" size="60" name="description" value="{$topic.description}">
	</td>
    </tr>
    <tr class="light">
	<td width="1%" class="fleft">
	    <b>Priorytet</b>
	</td>
	<td width="99%" class="fright">
	    <input type="radio" name="prio" value="1" id="normalne" {if $topic.prio=='1'}checked{/if}><label for="normalne">&nbsp;normalne</label>&nbsp;&nbsp;&nbsp;
	    <input type="radio" name="prio" value="2" id="wazne" {if $topic.prio=='2'}checked{/if}><label for="wazne">&nbsp;ważne</label>&nbsp;&nbsp;&nbsp;
	</td>
    </tr>
    
    <tr class="light">
	<td width="1%" class="fleft">
	    <b>Status </b>
	</td>
	<td width="99%" class="fright">
	    <input type="radio" name="closed" value="0" id="otwarty" {if !$topic.closed}checked{/if}><label for="otwarty">&nbsp;otwarty</label>&nbsp;&nbsp;&nbsp;
	    <input type="radio" name="closed" value="1" id="zamkniety" {if $topic.closed}checked{/if}><label for="zamkniety">&nbsp;zamknięty</label>&nbsp;&nbsp;&nbsp;
	</td>
    </tr>
    <tr class="light">
	<td width="1%" class="fleft" align="center">
	    <b>Opis<br>zamknięcia<br>tematu</b>
	</td>
	<td width="99%" class="fright">
	    <textarea name="closedinfo" cols="50" rows="5">{$topic.closedinfo}</textarea>
	</td>
    </tr>
    <tr class="dark">
	<td width="100%" class="fall" colspan="2" align="right">
	    <input type="submit" value="Zapisz">
	    
	    {if $callback==''}
		<a href="?{str_replace('&action=edittopic','',$smarty.server.QUERY_STRING)}">
	    {else}
		<a href="?m={$backto}{if $cid}&id={$cid}{/if}">
	    {/if}
	    Anuluj <img src="img/cancel.gif"></a>
	</td>
    </tr>
    </table>
</form>
<br><br>
{literal}
<script type="text/javascript">
<!--
    $(document).ready(function(input,value){$("#editinfocenter").validate({
	    rules: {topic:"required"}
	});
    });
    document.infocenteredit.topic.focus();
//-->
</script>
{/literal}