{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{if $invoice.invoice}
<script type="text/javascript">
window.open('?m=invoice&id={$invoice.invoice}&original={$invoice.original}&copy={$invoice.copy}&duplicate={$invoice.duplicate}');
</script>
{/if}
<script type="text/javascript">
<!--
	function pays()
	{
		if (!confirm('{trans("Are you sure, you want to check/uncheck selected invoices as accounted?")}'))
			return;
		document.page.action="?m=invoicepaid";
		document.page.target="";
		document.page.submit();
	}

	function prints()
	{
		var add = "";
		if (document.page.original.checked)
			add = "&original=1";
		if (document.page.copy.checked)
			add += "&copy=1";
		if (document.page.duplicate.checked)
			add += "&duplicate=1";

		document.page.action="?m=invoice&print=cached" + add;
		document.page.target="_blank";
		document.page.submit();
	}

	function filter()
	{
		document.page.action="?m=invoicelist";
		document.page.target="";
		document.page.submit();
	}
	
	function reset_filter()
	{
		document.page.action="?m=invoicelist";
		document.page.target="";
		document.page.search.value = '{$smarty.now|date_format:"Y/m"}';
		document.page.cat.value = "month";
		document.page.group.value = "0";
		document.page.groupexclude.checked = false;
		document.page.hideclosed.checked = false;
		document.page.submit();
	}

{if check_conf('phpui.short_pagescroller')}
	function pagechange1()
	{
		document.page.action="?m=invoicelist&page=" + document.forms['page'].elements['page1'].value;
		document.page.target="";
		document.page.submit();
	}
	function pagechange2()
	{
		document.page.action="?m=invoicelist&page=" + document.forms['page'].elements['page2'].value;
		document.page.target="";
		document.page.submit();
	}
{/if}
//-->
</script>
{$default_printpage = get_conf('invoices.default_printpage')}
<form method="POST" name="page">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	
	<tr class="dark">
		<td class="fall" colspan="7">
				<img src="img/Filter.png">&nbsp;<a href="javascript:void(0);" onclick="reset_filter();" {tip text="wyczyść filtr"}><img src="img/cancel.gif"></a>
				<select size="1" name="intype" onchange="filter();" class="active">
				    <option value="{$smarty.const.DOC_INVOICE}" {if $listdata.intype == $smarty.const.DOC_INVOICE} selected{/if}>{assign var='type' value=$smarty.const.DOC_INVOICE}{$_DOCTYPES.$type}</option>
				    <option value="{$smarty.const.DOC_INVOICE_PRO}" {if $listdata.intype == $smarty.const.DOC_INVOICE_PRO} selected{/if}>{assign var='type' value=$smarty.const.DOC_INVOICE_PRO}{$_DOCTYPES.$type}</option>
				</select>&nbsp;
				<input type="text" name="search" value="{$listdata.search}" size="15" {tip text="Enter value of searching data and select category"} {if $listdata.search!=""}style="background-color:#FFFF99;"{/if}>&nbsp;
				<select size="1" name="cat" {if $listdata.cat}class="active"{/if}>
					<option value=""{if $listdata.cat eq ""} selected{/if}>{trans("- select filter category -")}</option>
					<option value="cdate"{if $listdata.cat eq "cdate"} selected{/if}>{trans("day (YYYY/MM/DD)")}</option>
					<option value="month"{if $listdata.cat eq "month"} selected{/if}>{trans("month (YYYY/MM)")}</option>
					<option value="number"{if $listdata.cat eq "number"} selected{/if}>{trans("number")}</option>
					<option value="value"{if $listdata.cat eq "value"} selected{/if}>{trans("value")}</option>
					<option value="name"{if $listdata.cat eq "name"} selected{/if}>{trans("customer name")}</option>
					<option value="customerid"{if $listdata.cat eq "customerid"} selected{/if}>{trans("customer ID")}</option>
					<option value="ten"{if $listdata.cat eq "ten"} selected{/if}>{trans("TEN")}</option>
					<option value="address"{if $listdata.cat eq "address"} selected{/if}>{trans("address")}</option>
					<option value="cnotes"{if $listdata.cat eq "cnotes"} selected{/if}>{trans("show only credit notes")}</option>
				</select>&nbsp;
				{trans("Group:")}
				<select size="1" name="group" {if $listdata.group}class="active"{/if}>
					<option value="0"{if !$listdata.group} selected{/if}>{trans("- all groups -")}</option>
					{section name="grouplist" loop=$grouplist}
					<option value="{$grouplist[grouplist].id}"{if $listdata.group eq $grouplist[grouplist].id} selected{/if}>{$grouplist[grouplist].name|truncate:30:"...":true}</option>
					{/section}
				</select>
				<nobr>
				<input type="checkbox" name="groupexclude" id="groupexclude"{if $listdata.groupexclude} checked{/if}><label for="groupexclude" {if $listdata.groupexclude}style="font-weight:bold;"{/if}>{trans("exclude group")}</label>
				<nobr>
				<nobr>
				{if $listdata.intype != $smarty.const.DOC_INVOICE_PRO}
				<input type="checkbox" name="hideclosed" id="hideclosed"{if $listdata.hideclosed} checked{/if}><label for="hideclosed" {if $listdata.hideclosed}style="font-weight:bold;"{/if}>{trans("hide accounted<!plural>")}</label>
				{/if}
				&nbsp;<a href="javascript: filter();">&raquo;&raquo;&raquo;</a>
				<nobr>
		</td>
	</tr>		
	{if $listdata.total != 0}
	<tr class="scroller">
		<td width="100%" class="fall" colspan="7">
			{include file="scroller.html" loop=$invoicelist scrollerno=1}
		</td>
	</tr>
	{/if}
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap>
			<a href="?m=invoicelist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</a> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=invoicelist&o=cdate{if $listdata.direction eq "asc" && $listdata.order eq "cdate"},desc{/if}">{trans("Date:")}</a> {if $listdata.order eq "cdate"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=invoicelist&o=number{if $listdata.direction eq "asc" && $listdata.order eq "number"},desc{/if}">{trans("Number:")}</a> {if $listdata.order eq "number"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=invoicelist&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{trans("Value:")}</a> {if $listdata.order eq "value"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=invoicelist&o=count{if $listdata.direction eq "asc" && $listdata.order eq "count"},desc{/if}">{trans("Items:")}</a> {if $listdata.order eq "count"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="94%" class="fbt" nowrap>
			<a href="?m=invoicelist&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}">{trans("For:")}</a> {if $listdata.order eq "name"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="frightu">
			&nbsp;
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{section name=invoicelist loop=$invoicelist start=$start max=$pagelimit}
	{assign var=invoice value=$invoicelist[invoicelist]}
	{assign var=invoiceid value=$invoice.id}
	<tr class="{cycle} lista{if $invoice.closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" class="fleft">
			{$invoice.id|string_format:"%06d"}
		</td>
		<td width="1%" nowrap>
			{$invoice.cdate|date_format:"%Y/%m/%d %H:%M"}
		</td>
		<td width="1%" nowrap align="right">
			{number number=$invoice.number template=$invoice.template time=$invoice.cdate assign=number}{$number}
		</td>
		<td width="1%" nowrap align="right">
			{$invoice.value|money_format} 
		</td>
		<td width="1%" nowrap align="right">
			{$invoice.count}
		</td>
		<td width="94%">
			<a href="?m={if $invoice.customertype == $smarty.const.CTYPES_CONTRACTOR}contractor{else}customer{/if}info&id={$invoice.customerid}"{if $invoice.closed} class="blend"{/if}>{$invoice.name}, {$invoice.address}, {$invoice.zip} {$invoice.city}{if $invoice.country neq ""}, {t}{$invoice.country}{/t}{/if}</a>
		</td>
		<td width="1%" align="right" class="fright">
			<nobr>
			{if $invoice.type == $smarty.const.DOC_INVOICE_PRO}
			    <a href="?m=invoiceconvert&docid={$invoice.id}&parent=invoicelist" {tip text="Convert a proforma invoice to invoice"}><img src="img/convert.png"></a>
			{/if}
			
			{if $invoice.type == $smarty.const.DOC_INVOICE || $invoice.type == $smarty.const.DOC_INVOICE_PRO}
			    {if $invoice.type != $smarty.const.DOC_INVOICE_PRO}
				<a href="?m=invoicenote&id={$invoice.id}&action=init"><img src="img/eraser.gif" alt="[ {trans("Revise")} ]" title="[ {trans("Revise")} ]"></a>
			    {/if}
			    {if ! $invoice.closed}
			    <a onclick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove invoice \'$a\' from database?{/t}')" href="?m=invoicedel&id={$invoice.id}"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			    {/if}
		        <a href="?m=invoiceedit&id={$invoice.id}&action=edit"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			{/if}
			
			{if $invoice.type == $smarty.const.DOC_CNOTE && !$invoice.closed}
			    <a onclick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove credit note \'$a\' from database?{/t}')" href="?m=invoicedel&id={$invoice.id}"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			{/if}
			{if $invoice.type == $smarty.const.DOC_INVOICE || $invoice.type == $smarty.const.DOC_INVOICE_PRO}
			    <a href="?m=invoice&id={$invoice.id}" target="_blank"><img src="img/print.gif" alt="[ {trans("Print")} ]" title="[ {trans("Print")} ]"></a>
			{/if}
			{if $invoice.type == $smarty.const.DOC_CNOTE}
			    <a href="?m=invoice&id={$invoice.id}" target="_blank"><img src="img/printn.gif" alt="[ {trans("Print")} ]" title="[ {trans("Print")} ]"></a>
			{/if}
			<input type="checkbox" name="marks[{$invoice.id}]" value="{$invoice.id}"{if $marks.$invoiceid}checked{/if}>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td width="100%" class="fall" align="center"  colspan="7">
			<p>&nbsp;</p>
			<p><b>{trans("No such invoices in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>	
	{/section}
	
	<tr class="dark">
		<td class="fall" colspan="7">
			<table width="100%">
				<tr>
					<td align="left">
						{if $listdata.intype != $smarty.const.DOC_INVOICE_PRO}
						<nobr><a href="javascript:pays();">{trans("Check/Uncheck as accounted")} <img src="img/pay.gif" alt=""></a><nobr>&nbsp;
						{/if}
						<nobr><a href="javascript:prints();">{trans("Print")} <img src="img/print.gif" alt="" ></a><nobr>&nbsp;
						<input type="checkbox" name="original" id="original"{if preg_match('/original/i', $default_printpage)} checked{/if}><label for="original">{trans("original")}</label>
						<input type="checkbox" name="copy" id="copy"{if preg_match('/copy/i', $default_printpage)} checked{/if}><label for="copy">{trans("copy")}</label>
						<input type="checkbox" name="duplicate" id="duplicate"{if preg_match('/duplicate/i', $default_printpage)} checked{/if}><label for="duplicate">{trans("duplicate")}</label>
					</td>
					<td align="right">
						<nobr><label for="allbox">{trans("Check All")}</label><input type="checkbox" name="allbox" id="allbox" onchange="CheckAll('page', this, ['original', 'duplicate', 'copy', 'groupexclude', 'hideclosed'])" value="1"><nobr>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="scroller">
		<td width="100%" class="fall" colspan="7">
			{include file="scroller.html" loop=$invoicelist scrollerno=2}
		</td>
	</tr>
	{/if}
</table>
</form>
{include file="footer.html"}
