{include file="clearheader.html" landscape=true}
<!--// $Id$ //-->
{$report_type = get_conf('phpui.report_type')}
{foreach from=$pages item=item}{assign var=previtem value=$item-1}
{if $report_type == 'pdf'}
{if $item > 1}<page>{/if}
{else}
<div{if $item > 1} style="page-break-before: always; border-style: none;"{/if}>
{/if}
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="800" align="left">
			<font class="hdf"><b>{$layout.pagetitle}</b></font><font class="sdr">{if $pagescount} ({t a=$item b=$pagescount}Page $a from $b{/t}){/if}</font>
		</td>
		<td width="200" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="25" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="100" class="HEAD" align="center">
			{trans("Invoice No.")}<br>
			{trans("Draw-up date")}
		</td>
		<td width="100" class="HEAD" align="center">
			{trans("Sale date")}<br>
			{trans("Deadline")}
		</td>
		<td width="520" class="HEAD" align="center">
			{trans("Contractor")}
		</td>
		{foreach item=tax from=$taxes}
		<td width="50" class="HEAD" align="center">
			{trans("Net value")} {$tax.label}
		</td>
		{if $tax.value}
		<td width="50" class="HEAD" align="center">
			{trans("Tax value")} {$tax.label}
		</td>
		{/if}
		{/foreach}
		<td width="50" class="HEAD" align="center">
			{trans("Gross value")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Total Tax")}
		</td>
	</tr>
	{cycle values="grey,white" print=false}
	{math assign=start equation="(x-1)*y" x=$item y=$rows}
	{section name=invoicelist loop=$invoicelist start=$start max=$rows}
	<tr class="{cycle} lista">
		<td align="center">
			{counter}.
		</td>
		<td align="right">
			<b>{$invoicelist[invoicelist].number}</b><br>
			{$invoicelist[invoicelist].cdate|date_format:"%d.%m.%Y"}
		</td>
		<td align="right">
			{if $invoicelist[invoicelist].sdate}{$invoicelist[invoicelist].sdate|date_format:"%d.%m.%Y"}{else}{$invoicelist[invoicelist].cdate|date_format:"%d.%m.%Y"}{/if}<br>
			{$invoicelist[invoicelist].pdate|date_format:"%d.%m.%Y"}
		</td>
		<td>
			<b>{$invoicelist[invoicelist].custname}</b> ({$invoicelist[invoicelist].customerid|string_format:"%04d"}){if $invoicelist[invoicelist].ten}, {$invoicelist[invoicelist].ten}{/if}<br>
			{$invoicelist[invoicelist].custaddress}
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td align="right">
			{$invoicelist[invoicelist].$taxid.val|string_format:"%01.2f"}
		</td>
		{if $tax.value}
		<td align="right">
			{$invoicelist[invoicelist].$taxid.tax|string_format:"%01.2f"}
		</td>
		{/if}
		{/foreach}
		<td align="right">
			{$invoicelist[invoicelist].brutto|string_format:"%01.2f"}
		</td>
		<td align="right">
			{$invoicelist[invoicelist].tax|string_format:"%01.2f"}
		</td>
	</tr>
	{/section}
	<tr>
		<td colspan="4" align="right" class="headgrey">
			<b>{trans("Page total:")}</b>
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td align="right" class="headgrey">
			<b>{$totals.$item.val.$taxid|string_format:"%01.2f"}</b>
		</td>
		{if $tax.value}
		<td align="right" class="headgrey">
			<b>{$totals.$item.tax.$taxid|string_format:"%01.2f"}</b>
		</td>
		{/if}
		{/foreach}
		<td align="right" class="headgrey">
			<b>{$totals.$item.total|string_format:"%01.2f"}</b>
		</td>
		<td align="right" class="headgrey">
			<b>{$totals.$item.sumtax|string_format:"%01.2f"}</b>
		</td>
	</tr>
	<tr>
		<td colspan="4" align="right" class="headgrey">
			<b>{trans("Transfered from previous page:")}</b>
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td align="right" class="headgrey">
			<b>{$totals.$previtem.allval.$taxid|string_format:"%01.2f"}</b>
		</td>
		{if $tax.value}
		<td align="right" class="headgrey">
			<b>{$totals.$previtem.alltax.$taxid|string_format:"%01.2f"}</b>
		</td>
		{/if}
		{/foreach}
		<td align="right" class="headgrey">
			<b>{$totals.$previtem.alltotal|string_format:"%01.2f"}</b>
		</td>
		<td align="right" class="headgrey">
			<b>{$totals.$previtem.allsumtax|string_format:"%01.2f"}</b>
		</td>
	</tr>
	<tr>
		<td colspan="4" align="right" class="headgrey">
			<b>{trans("Total from start of period:")}</b>
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td align="right" class="headgrey">
			<b>{$totals.$item.allval.$taxid|string_format:"%01.2f"}</b>
		</td>
		{if $tax.value}
		<td align="right" class="headgrey">
			<b>{$totals.$item.alltax.$taxid|string_format:"%01.2f"}</b>
		</td>
		{/if}
		{/foreach}
		<td align="right" class="headgrey">
			<b>{$totals.$item.alltotal|string_format:"%01.2f"}</b>
		</td>
		<td align="right" class="headgrey">
			<b>{$totals.$item.allsumtax|string_format:"%01.2f"}</b>
		</td>
	</tr>
</table>
{if $report_type == 'pdf'}
{if $item > 1}</page>{/if}
{else}
</div>
{/if}
{foreachelse}
<table width="100%" cellpadding="3" align="center">
	<tr style="border-style: none;">
		<td width="800" align="left">
			<b><font class="sdr">{$layout.pagetitle}</font></b>
		</td>
		<td width="200" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="25" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="125" class="HEAD" align="center">
			{trans("Invoice No.")}<br>
			{trans("Draw-up date")}
		</td>
		<td width="125" class="HEAD" align="center">
			{trans("Sale date")}<br>
			{trans("Deadline")}
		</td>
		<td width="520" class="HEAD" align="center">
			{trans("Contractor")}
		</td>
		{foreach item=tax from=$taxes}
		<td width="50" class="HEAD" align="center">
			{trans("Net value")}
		</td>
		{if $tax.value}
		<td width="50" class="HEAD" align="center">
			{trans("Tax value")} {$tax.label}
		</td>
		{/if}
		{/foreach}
		<td width="100" class="HEAD" align="center">
			{trans("Gross value")}
		</td>
		<td width="100" class="HEAD" align="center">
			{trans("Total Tax")}
		</td>
	</tr>
	<tr>
		<td align="center" colspan="{math equation="6+x" x=$taxescount}">
			<p>&nbsp;</p>
			<p><b>{trans("No such invoices in selected time period.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
</table>
{/foreach}
{include file="clearfooter.html"}
