{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%">
			<img src="img/{if $message.type == $smarty.const.MSG_SMS}sms{elseif $message.type == $smarty.const.MSG_MAIL}email{elseif $message.type == $smarty.const.MSG_GADUGADU}gg{elseif $message.type == $smarty.const.MSG_USERPANEL}cms{/if}.gif" alt=""> 
		</td>
		<td class="FBT" width="1%" nowrap>
			<b>{trans("Subject:")}</b>
		</td>
		<td class="frightu" width="98%">
			<b>{$message.subject}</b>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%">
			<img src="img/users.gif" alt=""> 
		</td>
		<td width="1%">
			<b>{trans("User:")}</b>
		</td>
		<td class="fright" width="98%">
			{if $message.userid}
			<a href="?m=userinfo&id={$message.userid}">{$message.name}</a>
			{else}LMS{/if}
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%">
			<img src="img/time.gif" alt=""> 
		</td>
		<td width="1%">
			<b>{trans("Creation date:")}</b>
		</td>
		<td class="fright" width="98%">
			{$message.cdate|date_format:"%Y/%m/%d %H:%m"}
		</td>
	</tr>
{if $message.sender}
	<tr class="light">
		<td class="fleft" width="1%">
			<img src="img/mail.gif" alt=""> 
		</td>
		<td width="1%">
			<b>{trans("Sender:")}</b>
		</td>
		<td class="fright" width="98%">
			{$message.sender|escape:"html"}
		</td>
	</tr>
{/if}
	<tr class="light">
		<td class="fleft" width="1%">
			<img src="img/edit.gif" alt=""> 
		</td>
		<td width="1%" nowrap>
			<b>{trans("Message body:")}</b>
		</td>
		<td class="fright" width="98%">
			<table width="100%" cellpadding="5">
		                <tr>
			                <td class="fall superlight">
						{$message.body|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="light">
		<td class="FBOTTOMU" colspan="3" align="right">
			 <a href="?m=messagelist">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu" nowrap>
			<a href="?m=messageinfo&id={$message.id}&o=customer{if $listdata.direction eq "asc" && $listdata.order eq "customer"},desc{/if}">{trans("Customer:")}</a> {if $listdata.order eq "customer"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=messageinfo&id={$message.id}&o=destination{if $listdata.direction eq "asc" && $listdata.order eq "destination"},desc{/if}">{trans("Destination:")}</a> {if $listdata.order eq "destination"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="97%" class="fbt" align="right" nowrap>
			<a href="?m=messageinfo&id={$message.id}&o=status{if $listdata.direction eq "asc" && $listdata.order eq "status"},desc{/if}">{trans("Status:")} ({trans("Error message")})</a> {if $listdata.order eq "status"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="frightu" nowrap>
			<b>{t a=$listdata.total}Total: $a{/t}</b>&nbsp;
		</td>
	</tr>
	<tr class="dark">
		<td class="fall" colspan="4" nowrap>
			<form method="POST" name="page" action="?m=messageinfo&id={$message.id}">
			<b>{trans("Filter:")} </b> 
			<input type="text" name="search" value="{$listdata.search}" {tip text="Enter value of searching data and select category"}>&nbsp;
			<select size="1" name="cat">
				<option value=""{if $listdata.cat eq ""} selected{/if}>{trans("- select filter category -")}</option>
				<option value="name"{if $listdata.cat eq "name"} selected{/if}>{trans("customer name")}</option>
				<option value="customerid"{if $listdata.cat eq "customerid"} selected{/if}>{trans("customer ID")}</option>
				<option value="destination"{if $listdata.cat eq "destination"} selected{/if}>{trans("destination number/email")}</option>
			</select>&nbsp;
			{trans("Status:")}
			<select size="1" name="status">
				<option value=""{if !$listdata.status} selected{/if}>{trans("- all statuses -")}</option>
				<option value="{$smarty.const.MSG_NEW}"{if $listdata.status == $smarty.const.MSG_NEW} selected{/if}>{trans("waiting<!plural>")}</option>
			{*
				<option value="{$smarty.const.MSG_DRAFT}"{if $listdata.status == $smarty.const.MSG_DRAFT} selected{/if}>{trans("drafts")}</option>
			*}
				<option value="{$smarty.const.MSG_SENT}"{if $listdata.status == $smarty.const.MSG_SENT} selected{/if}>{trans("sent<!plural>")}</option>
				<option value="{$smarty.const.MSG_ERROR}"{if $listdata.status == $smarty.const.MSG_ERROR} selected{/if}>{trans("errornous<!plural>")}</option>
			</select>
			&nbsp;<a href="javascript: document.page.submit();">&raquo;&raquo;&raquo;</a>
			</form>
		</td>
	</tr>		
	{if $listdata.total != 0}
	<tr class="dark">
		<td width="100%" class="fall" colspan="4">
			{include file="scroller.html" loop=$itemlist scrollerno=1}
		</td>
	</tr>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=itemlist loop=$itemlist start=$start max=$pagelimit}
	{assign var=item value=$itemlist[itemlist]}
	<tr class="{cycle} lista {if $item.status==$smarty.const.MSG_ERROR} alert{elseif $item.status==$smarty.const.MSG_SENT} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" class="fleft" nowrap>
			{if $item.customerid}
				<a href="?m=customerinfo&id={$item.customerid}">{$item.customer|truncate:45:"...":true} ({$item.customerid|string_format:"%04d"})</a>
			{else}
				{trans("none")}
			{/if}
		</td>
		<td width="1%" nowrap>
			{$item.destination|escape}
		</td>
		<td width="97%" align="right">
			{if $item.status == $smarty.const.MSG_SENT}
				{trans("sent")}
			{elseif $item.status == $smarty.const.MSG_ERROR}
				{trans("errornous")}{if $item.error} ({$item.error|escape}){/if}
			{else}
				{trans("waiting")}
			{/if}
		</td>
		<td width="1%" align="right" class="fright" nowrap>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td width="100%" class="fall" align="center" colspan="4">
			<p>&nbsp;</p>
			<p><b>{trans("No such recipients in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>	
	{/section}
	{if $listdata.total != 0}
	<tr class="dark">
		<td width="100%" class="fall" colspan="4">
			{include file="scroller.html" loop=$itemlist scrollerno=2}
		</td>
	</tr>
	{/if}
	<tr class="dark">
		<td width="2%" class="fleftu" colspan="2" nowrap>
		</td>
		<td class="frightu" colspan="2">
			<b>{t a=$listdata.total}Total: $a{/t}</b>
		</td>
	</tr>
</table>
{include file="footer.html"}
