{include file="header.html"}
{if $chart.img}
	<TABLE width="100%" cellpadding="3" id="table">
	<TR><TD align="center">
	
	<img src="{$chart.filename}" alt="">
	</TD></TR>
	</TABLE>
	<SCRIPT type="text/javascript">
	<!--
	    autoiframe_setsize('autoiframe',476, 238);
	//-->
	</SCRIPT>
{else}
	<TABLE width="170" cellpadding="3" id="table">
	<TR><TD align="center">
	<b>Wykres niedostępny</b>
	</TD></TR>
	</TABLE>
	<SCRIPT type="text/javascript">
	<!--
	    autoiframe_setsize('autoiframe',170, 20);
	//-->
	</SCRIPT>
{/if}