{include file="header.html"}
{if $chart.img}
	<table width="100%" cellpadding="3" id="table">
	<tr><td align="center">
	
	<img src="{$chart.filename}" alt="">
	</td></tr>
	</table>
	<script type="text/javascript">
	<!--
	    autoiframe_setsize('autoiframe',476, 238);
	//-->
	</script>
{else}
	<table width="170" cellpadding="3" id="table">
	<tr><td align="center">
	<b>Wykres niedostępny</b>
	</tr></td>
	</table>
	<script type="text/javascript">
	<!--
	    autoiframe_setsize('autoiframe',170, 20);
	//-->
	</script>
{/if}