{include file="header.html"}
<h1>{$layout.pagetitle}</h1>
{literal}
<script type="text/javascript">
<!--
    function addMonitDev()
    {
	var id = document.getElementById('newnetdev').value;
	if (id!=0) location.href='?{/literal}{$backto}{literal}&action=adddev&nid='+id;
    }
    
    function settesttype(id,typetest)
    {
	sendPOST('?m=monitnodelist','id='+id+'&settesttype='+typetest);
    }

    function setsignaltest(id)
    {
	
	var status = document.getElementById('tmp_signaltest_'+id).value;
	
	if (status == '1') 
	    status = '0'; 
	else 
	    status = '1';
	
	document.getElementById('tmp_signaltest_'+id).value = status;
	sendPOST('?m=monitnodelist','id='+id+'&setsignaltest='+status);
	
	if (status == '1') 
	    document.getElementById('img_signaltest_'+id).src='img/circle_yellow.png'; 
	else 
	    document.getElementById('img_signaltest_'+id).src='img/circle_grey.png';
    }

    function setpingtest(id)
    {
	
	var status = document.getElementById('tmp_pingtest_'+id).value;
	
	if (status == '1') 
	    status = '0'; 
	else 
	    status = '1';
	
	document.getElementById('tmp_pingtest_'+id).value = status;
	sendPOST('?m=monitnodelist','id='+id+'&setpingtest='+status);
	
	if (status == '1') 
	    document.getElementById('img_pingtest_'+id).src='img/circle_green.png'; 
	else 
	    document.getElementById('img_pingtest_'+id).src='img/circle_grey.png';
    }
//-->
</script>
{/literal}

<table width="100%" cellpadding="3">
    <form name="choosefilter" method="GET" action="?{$backto}">
    <input type="submit" class="hiddenbtn">
    <input type="hidden" name="m" value="monitnodelist">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="tmp_pingtest" value="">
    <input type="hidden" name="tmp_signaltest" value="">
    
    <tr class="dark">

	<td width="1%"  nowrap align="left" class="fleftu">
		<a href="?{$backto}&o=name&d={if $listdata.order=='name' && $listdata.direction=='asc'}desc{else}asc{/if}">{if $node.typedev=='netdev'}Nazwa{else}Klient{/if}</a>&nbsp;<img src="img/{if $listdata.order=='name'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
		<a href="?{$backto}&o=location&d={if $listdata.order=='location' && $listdata.direction=='asc'}desc{else}asc{/if}">Lokalizacja</a>&nbsp;<img src="img/{if $listdata.order=='location'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="auto" nowrap align="left" class="fbt" style="padding-left:4px;padding-right:4px;vertical-align:top;">
	    <a href="?{$backto}&o=urzname&d={if $listdata.order=='urzname' && $listdata.direction=='asc'}desc{else}asc{/if}">Urządzenie</a>&nbsp;<img src="img/{if $listdata.order=='urzname'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    <a href="?{$backto}&o=ip&d={if $listdata.order=='ip' && $listdata.direction=='asc'}desc{else}asc{/if}">IP</a>&nbsp;<img src="img/{if $listdata.order=='ip'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap style="padding-left:4px;padding-right:4px;">
	    <a href="?{$backto}&o=testtype&d={if $listdata.order=='testtype' && $listdata.direction=='asc'}desc{else}asc{/if}">Ping<br>usługa</a>&nbsp;<img src="img/{if $listdata.order=='testtype'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap>
	    <a href="?{$backto}&o=lastptime&d={if $listdata.order=='lastptime' && $listdata.direction=='asc'}desc{else}asc{/if}">Ostatni pomiar</a>&nbsp;<img src="img/{if $listdata.order=='lastptime'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    <a href="?{$backto}&o=lastdate&d={if $listdata.order=='lastdate' && $listdata.direction=='desc'}asc{else}desc{/if}">Data</a>&nbsp;<img src="img/{if $listdata.order=='lastdate'}{if $listdata.direction == 'desc'}desc{else}asc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap>
	    <a href="?{$backto}&o=max1d&d={if $listdata.order=='max1d' && $listdata.direction=='asc'}desc{else}asc{/if}">MAX 1 day</a>&nbsp;<img src="img/{if $listdata.order eq 'max1d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    <a href="?{$backto}&o=max7d&d={if $listdata.order=='max7d' && $listdata.direction=='asc'}desc{else}asc{/if}">MAX 7 day</a>&nbsp;<img src="img/{if $listdata.order eq 'max7d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap>
	    <a href="?{$backto}&o=avg1d&d={if $listdata.order=='avg1d' && $listdata.direction=='asc'}desc{else}asc{/if}">AVG 1 day</a>&nbsp;<img src="img/{if $listdata.order eq 'avg1d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    <a href="?{$backto}&o=avg7d&d={if $listdata.order=='avg7d' && $listdata.direction=='asc'}desc{else}asc{/if}">AVG 7 day</a>&nbsp;<img src="img/{if $listdata.order eq 'avg7d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap>
	    <a href="?{$backto}&o=min1d&d={if $listdata.order=='min1d' && $listdata.direction=='asc'}desc{else}asc{/if}">MIN 1 day</a>&nbsp;<img src="img/{if $listdata.order eq 'min1d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    <a href="?{$backto}&o=min7d&d={if $listdata.order=='min7d' && $listdata.direction=='asc'}desc{else}asc{/if}">MIN 7 day</a>&nbsp;<img src="img/{if $listdata.order eq 'min7d'}{if $listdata.direction eq 'desc'}asc{else}desc{/if}_order{else}empty{/if}.gif" width="7">
	</td>

	<td width="1%" align="center" class="fbt" nowrap>
	    <a href="?{$backto}&o=lastwarn&d={if $listdata.order=='lastwarn' && $listdata.direction=='desc'}asc{else}desc{/if}">Ost. usterka</a>&nbsp;<img src="img/{if $listdata.order=='lastwarn'}{if $listdata.direction == 'desc'}desc{else}asc{/if}_order{else}empty{/if}.gif" width="7"><br>
	    trwała do
	</td>

	<td width="1%" nowrap align="center" class="frightu">
	    Link
	</td>
    </tr>
    
    {cycle values="light,lucid" print=false}
    {section name=devlist loop=$monitlist}
	{assign var='indeks' value=$smarty.section.devlist.index}

	<tr class="{cycle} {if !$monitlist[devlist].active}blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');" >

	    <td width="1%" align="left" nowrap class="fleft"style="padding-left:4px;padding-right:4px;">
		<img src="img/radar.png" style="cursor:pointer;" border="0" {if $monitlist[devlist].ptime}{tip a=$monitlist[devlist].nid dynpopup='?m=monitchartshort&chart=ping&type=node&id=$a' sticky=0}{else}{tip text="BRAK POMIARÓW DLA URZĄDZENIA"}{/if}>&nbsp;
		{$monitlist[devlist].dname}&nbsp;<a href="?m={if $node.typedev=='netdev'}netdevinfo{else}customerinfo{/if}&id={$monitlist[devlist].did}" {if $node.typedev=='netdev'}{tip text="Otwórz kartę urządzenia sieciowego"}{else}{tip text="Otwórz kartę klienta"}{/if}>&raquo;&raquo;&raquo;</A><br>
		<img src="img/wireless.gif" {tip a=$monitlist[devlist].nid dynpopup='?m=monitchartshort&chart=signal&type=node&time=-12h&id=$a' sticky=0} style="cursor:pointer;" border="0">
		{$monitlist[devlist].location}
	    </td>

	    <td width="auto" nowrap align="left" style="padding-left:4px;padding-right:4px;vertical-align:top;">
		{if $monitlist[devlist].nname}{$monitlist[devlist].nname} <a href="?m={if $node.typedev=='netdev'}netdevinfo{else}nodeinfo{/if}&id={if $node.typedev=='netdev'}{$monitlist[devlist].did}{else}{$monitlist[devlist].nid}{/if}{if $node.typedev=='netdev'}&ip={$monitlist[devlist].nid}{/if}" {tip text="Otwórz kartę urządzenia sieciowego"}>&raquo;&raquo;&raquo;</A>{else}&nbsp;{/if} <br>
		{if $monitlist[devlist].ipaddr} 
		    <a href="javascript:ping_popup('{$monitlist[devlist].ipaddr}')">{$monitlist[devlist].ipaddr}</a>
		{/if}
	    </td>

	    <td width="1%" nowrap align="center" style="padding-left:4px;padding-right:4px;" >
		<select onchange="settesttype('{$monitlist[devlist].nid}',this.value);" {tip text="wybierz usługę za pomocą której będzie przeprowadzony test"}>
		    <option value="icmp" {if $monitlist[devlist].test_type=='icmp'} SELECTED{/if}>icmp</option>
		    <option value="http" {if $monitlist[devlist].test_type=='http'} SELECTED{/if}>http</option>
		    <option value="https" {if $monitlist[devlist].test_type=='https'} SELECTED{/if}>https</option>
		    <option value="ssh" {if $monitlist[devlist].test_type=='ssh'} SELECTED{/if}>ssh</option>
		    <option value="ftp" {if $monitlist[devlist].test_type=='ftp'} SELECTED{/if}>ftp</option>
		    <option value="telnet" {if $monitlist[devlist].test_type=='telnet'} SELECTED{/if}>telnet</option>
		    <option value="callbook" {if $monitlist[devlist].test_type=='callbook'} SELECTED{/if}>callbook</option>
		    <option value="rpcbind" {if $monitlist[devlist].test_type=='rpcbind'} SELECTED{/if}>rpcbind</option>
		    <option value="pptp" {if $monitlist[devlist].test_type=='pptp'} SELECTED{/if}>pptp</option>
		    <option value="dns" {if $monitlist[devlist].test_type=='dns'} SELECTED{/if}>dns</option>
		    <option value="smtp" {if $monitlist[devlist].test_type=='smtp'} SELECTED{/if}>smtp</option>
		    <option value="nfs" {if $monitlist[devlist].test_type=='nfs'} SELECTED{/if}>nfs</option>
		    <option value="winbox" {if $monitlist[devlist].test_type=='winbox'} SELECTED{/if}>winbox</option>
		</select>
	    </td>

	    <td width="1%" nowrap align="center" style="padding-left:4px;padding-right:4px;">
		{if $monitlist[devlist].ptime}
		    <b>
		    {if $monitlist[devlist].ptime>0}
			<font style="font-weight:normal;">{$monitlist[devlist].ptime} ms</font>
		    {elseif $monitlist[devlist].ptime<0}
			<font color="red">timeout</font>
		    {else}
			<font color="blue">no test</font>
		    {/if}</b><br>
		    {$monitlist[devlist].cdate|date_format:"%y/%m/%d %H:%M"}
		{else}
		    <font color="blue"><b>no test</b></font>
		{/if}
	    </td>

	    <td width="1%" align="center"  style="padding-left:4px;padding-right:4px;" nowrap>
		{if $monitlist[devlist].maxptime}
		    {assign var='czas' value=$monitlist[devlist].maxptime}
		    {if $czas<20}<font style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
		<br>
		{if $monitlist[devlist].maxptime7d}
		    {assign var='czas' value=$monitlist[devlist].maxptime7d}
		    {if $czas<20}<font style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
	    </td>

	    <td width="1%" align="center"  style="padding-left:4px;padding-right:4px;" nowrap>
		{if $monitlist[devlist].avgptime}
		    {assign var='czas' value=$monitlist[devlist].avgptime}
		    {if $czas<20}<font style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
		<br>
		{if $monitlist[devlist].avgptime7d}
		    {assign var='czas' value=$monitlist[devlist].avgptime7d}
		    {if $czas<20}<font  style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
	    </td>

	    <td width="1%" align="center"  style="padding-left:4px;padding-right:4px;" nowrap>
		{if $monitlist[devlist].minptime}
		    {assign var='czas' value=$monitlist[devlist].minptime}
		    {if $czas<20}<font style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
		<br>
		{if $monitlist[devlist].minptime7d}
		    {assign var='czas' value=$monitlist[devlist].minptime7d}
		    {if $czas<20}<font style="font-weight:normal;">{/if}
		    {if $czas>=20 && $czas<50}<font color="green" style="font-weight:bold;">{/if}
		    {if $czas>=50 && $czas<100}<font color="blue" style="font-weight:bold;">{/if}
		    {if $czas>=100 && $czas<200}<font color="brown" style="font-weight:bold;">{/if}
		    {if $czas>=200 }<font color="red" style="font-weight:bold;text-decoration:blink;">{/if}
		    {$czas|string_format:"%.2f"|replace:',':'.'} ms
		    </font>
		{else}
		    ---
		{/if}
	    </td>

	    <td width="auto" align="center" style="padding-left:4px;padding-right:4px;vertical-align:top;" nowrap>
		
		{if $monitlist[devlist].warndate}
		    {$monitlist[devlist].warndate|date_format:"%y/%m/%d %H:%M"}
		    <br>
		    {if $monitlist[devlist].backtime}
			{$monitlist[devlist].backtime|date_format:"%y/%m/%d %H:%M"}
		    {else}
			<font color="red">dead</font>
		    {/if}
		{else}
		---<br>---
		{/if}
		
	    </td>

	    <td width="1%" nowrap align="right" class="fright"style="padding-left:4px;padding-right:4px;">
		<img src="img/radar.png" style="cursor:pointer;" {if $monitlist[devlist].pingtest || $monitlist[devlist].signaltest} {tip text="Kliknij aby otworzyć szczegółowe statystyki"} onclick="monitchart_popup('{$monitlist[devlist].nid}','node');"{else}{tip text="BRAK POMIARÓW DLA URZĄDZENIA"}{/if}>
		{if get_conf('monit.live_ping')}<img src="img/ping.gif" {tip text="Pinguj urzadzenie"} style="cursor:pointer;" onclick="window.open('?m=nodeping&packetsize=64&ip={$monitlist[devlist].ipaddr}{if $node.typedev=='netdev'}&netdev={$monitlist[devlist].nid}{/if}','pingnode{$monitlist[devlist].ipaddr}','width=400,height=450')">{/if}
		<a href="?{$backto}&action=setaccess&nid={$monitlist[devlist].nid}&access={if !$monitlist[devlist].active}1{else}0{/if}" {tip text="włącz/wyłącz monitorowanie hosta"}><img src="img/{if !$monitlist[devlist].active}no{/if}access.gif" alt="access"></a>
		{if $node.typedev == 'netdev'}
			<input type="hidden" id="tmp_signaltest_{$monitlist[devlist].nid}" value="{$monitlist[devlist].signaltest}">
			{assign var='wifi' value=[1,14,15]}
			{if in_array($monitlist[devlist].monit_nastype,$wifi)}
			    <img src="img/circle_{if $monitlist[devlist].signaltest=='1'}yellow{else}grey{/if}.png" id="img_signaltest_{$monitlist[devlist].nid}" onclick="setsignaltest('{$monitlist[devlist].nid}');" style="cursor:pointer;border:0;width:14px;" {tip text="włącz/wyłącz pobieranie informacji o połączeniach Wi-Fi dla tego i z tego urządzenia"}>
			{else}
			    <img src="img/empty.gif" alt="" width="16">
			{/if}
		{/if}
		{if $node.typedev == 'nodes'}
		    {if $monitlist[devlist].active}
			<input type="hidden" id="tmp_pingtest_{$monitlist[devlist].nid}" value="{$monitlist[devlist].pingtest}">
			<img src="img/circle_{if $monitlist[devlist].pingtest=='1'}green{else}grey{/if}.png" id="img_pingtest_{$monitlist[devlist].nid}" onclick="setpingtest('{$monitlist[devlist].nid}');" style="cursor:pointer;border:0;width:14px;" {tip text="włącz/wyłącz test PING dla tego urządzenia"}>
			<input type="hidden" id="tmp_signaltest_{$monitlist[devlist].nid}" value="{$monitlist[devlist].signaltest}">
			<img src="img/circle_{if $monitlist[devlist].signaltest=='1'}yellow{else}grey{/if}.png" id="img_signaltest_{$monitlist[devlist].nid}" onclick="setsignaltest('{$monitlist[devlist].nid}');" style="cursor:pointer;border:0;width:14px;" {tip text="włącz/wyłącz pobieranie informacji o połączeniach Wi-Fi dla tego urządzenia"}>
		    {else}
			<img src="img/circle_grey.png" style="cursor:pointer;border:0;width:14px;" {tip text="test PING wyłączony"}>
			<img src="img/circle_grey.png" style="cursor:pointer;border:0;width:14px;" {tip text="Pobieranie statystyk Wi-Fi wyłączone"}>
		    {/if}
		{/if}
		<a href="?{$backto}&action=deldev&nid={$monitlist[devlist].nid}" onclick="return confirm('Potwierdź usunięcie hosta z monitoringu.\nWszyskie jego pomiary również zostaną usunięte.');"  {tip text="usuń host z monitoringu"}><img src="img/delete.gif" ></a>
		<a href="?{$backto}&action=clearstat&nid={$monitlist[devlist].nid}" {tip text="wyszyść wszystkie staty hosta"} onclick="return confirm('Potwierdź wyczyszczenie statystyk');"><img src="img/cancel.gif" border="0"></a>
	    </td>
	</tr>

    {sectionelse}
	<tr class="light">
	    <td width="100%" colspan="11" class="flr" align="center">
		<br><h1>Brak urządzeń</h1><br>
	    </td>
	</tr>
    {/section}

    <tr class="dark">
	<td class="fall" width="100%"  colspan="11" align="right" style="padding-right:15px;">
	    <select name="newnetdev" id="newnetdev">
		<option value="0">--- dodaj urządzenie do monitoringu ---</option>
		{section name=devlist loop=$devlist}
		    <option value="{$devlist[devlist].id}">{$devlist[devlist].name} ({$devlist[devlist].ipaddr})</option>
		{/section}
	    </select>
	    <a href="javascript:addMonitDev();">Dodaj urządzenie</A>
	</td>
    </tr>

</form>
</table>

{include file="footer.html"}