<!--// $Id$ //-->
<table width="100%" cellpadding="3">
	<tr{if $devicepanel} class="dark hand" onclick="showOrHide('devicepanel');"{else} class="dark"{/if}>
		<td width="1%" class="fleftu">
			<img src="img/netdev.gif" alt="">
		</td>
		<td width="99%" class="frightu">
			<b>{$netdevinfo.name} ({$netdevinfo.id|string_format:"%04d"})</b>
		</td>
	</tr>
	<tr class="light"{if $devicepanel} id="devicepanel" style="display:none;"{/if}>
	    <td width="100%" colspan="2"{if $devicepanel} class="fall container" align="RIGHT"{else}class="flr container"{/if}>
			<table width="100%" cellpadding="0">
				<tr class="light">
					<td width="50%" style="vertical-align:top;">
						<table width="100%" cellpadding="3">
        {if $netdevinfo.producer}
	<tr class="light">
		<td width="1%">
			<img src="img/producer.gif" alt="">
		</td>
		<td width="1%">
		        <b>{trans("Producer:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.producer}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.model}
	<tr class="light">
		<td width="1%">
			<img src="img/netdev_model.gif" alt="">
		</td>
		<td width="1%">
		        <b>{trans("Model:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.model}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.serialnumber}
	<tr class="light">
		<td width="1%">
			<img src="img/serialnumber.gif" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Serial number:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.serialnumber}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td width="1%">
			<img src="img/port.gif" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Number of ports:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.ports}
		</td>
	</tr>
	<tr class="light">
		<td width="1%">
			<img src="img/netdev_takenports.gif" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Ports used:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.takenports}
		</td>
	</tr>
	{if $netdevinfo.location}
	<tr class="light">
		<td width="1%">
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Location:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.location}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.longitude || $netdevinfo.latitude}
	<tr class="light">
		<td width="1%">
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("GPS longitude:")}</b>
		</td>
		<td width="98%">
			<input id="longitude" type="hidden" value="{$netdevinfo.longitude}">
			{$netdevinfo.longitude}
		</td>
	</tr>
	<tr class="light">
		<td width="1%">
			<img src="img/home.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("GPS latitude:")}</b>
		</td>
		<td width="98%">
			<input id="latitude" type="hidden" value="{$netdevinfo.latitude}">
			{$netdevinfo.latitude}
		</td>
	</tr>
	<tr class="light">
		<td width="2%" colspan="2">
		</td>
		<td width="98%">
			<a href="?m=netdevmap&netdevid={$netdevinfo.id}"><img src="img/network.gif" alt=""> {trans("Show on map")} &raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{/if}
{if check_conf('phpui.radius')}
	{if $netdevinfo.shortname}
	<tr class="light">
		<td width="1%">
			<img src="img/radius.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Shortname:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.shortname}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.nastype}
	<tr class="light">
		<td width="1%">
			<img src="img/radius.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Type:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.nastypename}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.clients}
	<tr class="light">
		<td width="1%">
			<img src="img/radius.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Max clients:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.clients}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.secret}
	<tr class="light">
		<td width="1%">
			<img src="img/radius.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Secret:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.secret}
		</td>
	</tr>
	{/if}
	{if $netdevinfo.community}
	<tr class="light">
		<td width="1%">
			<img src="img/radius.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Community:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.community}
		</td>
	</tr>
	{/if}
{/if}
{if $netdevinfo.monit_nastype}
	<tr class="light">
		<td width="1%">
			<img src="img/radar.png" alt="">
		</td>
		<td width="1%" nowrap>
			<b>Typ:</b>
		</td>
		<td width="98%">
		        {$netdevinfo.monit_nastypename}
		</td>
	</tr>
{/if}
{if $netdevinfo.monit_login}
	<tr class="light">
		<td width="1%">
			<img src="img/radar.png" alt="">
		</td>
		<td width="1%" nowrap>
			<b>Login:</b>
		</td>
		<td width="98%">
		        {$netdevinfo.monit_login}
		</td>
	</tr>
	{/if}
	
{if $netdevinfo.monit_passwd}
	<tr class="light">
		<td width="1%">
			<img src="img/radar.png" alt="">
		</td>
		<td width="1%" nowrap>
			<b>Hasło:</b>
		</td>
		<td width="98%">
		        {$netdevinfo.monit_passwd}
		</td>
	</tr>
{/if}
{if $netdevinfo.monit_port}
	<tr class="light">
		<td width="1%">
			<img src="img/radar.png" alt="">
		</td>
		<td width="1%" nowrap>
			<b>Port:</b>
		</td>
		<td width="98%">
		        {$netdevinfo.monit_port}
		</td>
	</tr>
{/if}

	{if $netdevinfo.channelid}
	<tr class="light">
		<td width="1%">
			<img src="img/channel.gif" alt="">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Channel:")}</b>
		</td>
		<td width="98%">
		        <a href="?m=ewxchinfo&id={$netdevinfo.channelid}">{$netdevinfo.channel} ({$netdevinfo.channelid|string_format:"%04d"})</a>
		</td>
	</tr>
	{/if}
	                        	</table>
				</td>
				<td width="50%" style="vertical-align:top;">
				        <table width="100%" cellpadding="3">
	{if $netdevinfo.purchasetime}
	<tr class="light">
		<td width="1%">
			<img src="img/calendar.gif" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Purchase date:")}</b>
		</td>
		<td width="98%">
		        {$netdevinfo.purchasetime|date_format:"%Y/%m/%d"}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td width="1%">
			<img src="img/guarantee.png" alt="">
		</td>
		<td width="1%" nowrap>
		        <b>{trans("Guarantee:")}</b>
		</td>
		<td width="98%">
			{if !$netdevinfo.guaranteeperiod}
				{trans("no guarantee")}
			{elseif $netdevinfo.guaranteeperiod == -1}
				{trans("lifetime")}
			{else}
				{assign var=periodid value=$netdevinfo.guaranteeperiod}
				{$_GUARANTEEPERIODS.$periodid}
		        	({if $netdevinfo.guaranteetime-$smarty.now < 0}{trans("expired<!guarantee>")}{else}{$netdevinfo.guaranteetime|date_format:"%Y/%m/%d"}{/if})
			{/if}
		</td>
	</tr>
        {if $netdevinfo.description}
        <tr class="light">
                <td width="1%">
                        <img src="img/desc.gif" alt="">
                </td>
                <td width="99%" colspan="2">
                        <table width="100%" cellpadding="5">
                                <tr>
                                        <td class="fall super"light">
						{$netdevinfo.description|escape|replace:"\n":"<BR>"}
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
        {/if}
	                                        </table>
					</td>
				</tr>
			</table>
{if !$devicepanel}
    		</td>
	</tr>
	<tr class="light">
	        <td width="100%" colspan="2" class="FBOTTOMU" align="RIGHT">
{/if}
			{if $replacelisttotal>1}
			<form method="GET" action="?m=netdevedit" name="replace">
			<input type="submit" class="hiddenbtn">
			<input type="hidden" name="m" value="netdevedit">
			<input type="hidden" name="id" value="{$netdevinfo.id}">
			<input type="hidden" name="action" value="replace">
			<a href="javascript:document.replace.submit(); ">{trans("Replace with:")}</A>
			<select name="netdev" {tip trigger="replace" text="Select device from list for replacement"}>
				{section name=replacelist loop=$replacelist}
					{if $replacelist[replacelist].id != $netdevinfo.id}
					{assign var=netdevname value=$replacelist[replacelist].name}
					{if $replacelist[replacelist].producer}{assign var=netdevname value=$netdevname|cat:" / "|cat:$replacelist[replacelist].producer}{/if}
					{if $replacelist[replacelist].location}{assign var=netdevname value=$netdevname|cat:" ("|cat:$replacelist[replacelist].location|cat:")"}{/if}
					<option value="{$replacelist[replacelist].id}">{$netdevname|truncate:120:"...":true}</option>
					{/if}
				{/section}
			</select>
			</form>
			{/if}
			<a href="?m=netdevedit&id={$netdevinfo.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt="[ {trans("Edit")} ]"></a>
			<a href="?m=netdevdel&id={$netdevinfo.id}" onclick="return confirmLink(this, '{t a=$netdevinfo.name}Are you sure, you want to remove device \'$a\' from database?{/t}');">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
		</td>
	</tr>
</table>
{if $devicepanel}
<script type="text/javascript">
<!--
if (getCookie('devicepanel') == '1')
{
	document.getElementById('devicepanel').style.display = '';
}
//-->
</script>
{/if}
