{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table cellpadding="3" width="100%">
    <form method="GET" action="?m=netdevlist" name="filter">
    <input type="submit" class="hiddenbtn">
    <input type="hidden" name="m" value="netdevlist">
    <input type="hidden" name="page" value="1">
    
    <tr class="dark nav-header">
	<td colspan="10" class="fall" width="100%" style="vertical-align:top;text-align:left;">
	    <table width="100%" cellpadding="2">
		<tr>
		    <td width="1%" align="left" class="pad5"><img src="img/Filter.png" alt="" width="16" onclick="document.filter.submit();"></td>
		    
		    <td width="1%" align="right" class="pad" nowrap>Status</td>
		    <td width="1%" align="left">
			<select name="status" style="width:160px;" onchange="document.filter.submit();" {if $listdata.status != '-1'}class="active"{/if}>
			<option value="-1"{if $listdata.status == '-1'} selected{/if}>{trans('-- all --')}</option>
			{foreach $_NSTATUS as $item => $key}
			<option value="{$item}" {if $item == $listdata.status} selected{/if}>{$key}</option>
			{/foreach}
			</select>
		    </td>
		    
		    <td width="1%" align="right" class="pad">Projekt</td>
		    <td width="1%" align="left">
			<select name="project" style="width:160px;" onchange="document.filter.submit();" {if $listdata.project != '-1'}class="active"{/if}>
			<option value="-1">{trans('-- all --')}</option>
			<option value="1"{if $listdata.project == '1'} selected{/if}>{trans('From root device')}</option>
			{section name='projectlist' loop=$projectlist}
			    <option value="{$projectlist[projectlist].id}"{if $projectlist[projectlist].id == $listdata.project} selected{/if}>{$projectlist[projectlist].name}</option>
			{/section}
			</select>
		    </td>
		    
		    <td width="1%" align="right" class="pad">Producent</td>
		    <td width="1%" align="left">
			<select name="producer" style="width:160px;" onchange="document.getElementById('id_model').value='-1';document.filter.submit();" {if $listdata.producer != '-1'}class="active"{/if}>
			<option value="-1">{trans('-- all --')}</option>
			{section name=producerlist loop=$producerlist}
			<option value="{$producerlist[producerlist].producer}"{if $listdata.producer == ($producerlist[producerlist].producer)} selected{/if}>{if empty($producerlist[producerlist].producer)}- bez producenta -{else}{$producerlist[producerlist].producer}{/if}</option>
			{/section}
			</select>
		    </td>
		    
		    <td width="1%" align="right" class="pad">Model</td>
		    <td width="1%" align="left">
			<select name="model" id="id_model" style="width:160px;" onchange="document.filter.submit();" {if $listdata.model != '-1'}class="active"{/if}>
			<option value="-1">{trans('-- all --')}</option>
			{section name=modellist loop=$modellist}
			<option value="{$modellist[modellist].model|upper}"{if $listdata.model == ($modellist[modellist].model|upper)} selected{/if}>{if empty($modellist[modellist].model)}- bez modelu -{else}{$modellist[modellist].model}{/if}</option>
			{/section}
			</select>
		    </td>
		    
		    <td width="91%">&nbsp;</td>
		</tr>
		
		<tr>
		    <td width="1%" align="left" class="pad5">&nbsp;</td>
		    
		    <td width="1%" align="right" class="pad">Grupa</td>
		    <td width="1%" align="left">
			<select name="group" style="width:160px;" onchange="document.filter.submit();" {if $listdata.group != '-1'}class="active"{/if} {tip text="Wybierz grupę dla interfejsów sieciowych"}>
			<option value="-1">{trans('-- all --')}</option>
			{section name=grouplist loop=$grouplist}
			<option value="{$grouplist[grouplist].id}"{if $listdata.group == ($grouplist[grouplist].id)} selected{/if}>{$grouplist[grouplist].name}</option>
			{/section}
			</select>
		    </td>
		    
		    <td width="1%" align="right" class="pad">Węzeł</td>
		    <td width="1%" align="left">
			<select name="networknode" style="width:160px;" onchange="document.filter.submit();" {if $listdata.networknode != '-1'}class="active"{/if}>
			<option value="-1">{trans('-- all --')}</option>
			<option value="0"{if !$listdata.networknode} selected{/if}>-- BEZ WĘZŁA --</option>
			{section name=networknodelist loop=$networknodelist}
			<option value="{$networknodelist[networknodelist].id}"{if $listdata.networknode == $networknodelist[networknodelist].id} selected{/if}>{$networknodelist[networknodelist].name}</option>
			{/section}
			</select>
		    </td>
		    
		    <td width="1%" align="right" class="pad" nowrap>Grupa węzła</td>
		    <td width="1%" align="left">
			<select name="groupw" style="width:160px;" onchange="document.filter.submit();" {if $listdata.groupw != '-1'}class="active"{/if} {tip text="Wybierz grupę dla węzłów sieciowych"}>
			<option value="-1">{trans('-- all --')}</option>
			{section name=groupwlist loop=$groupwlist}
			<option value="{$groupwlist[groupwlist].id}"{if $listdata.groupw == ($groupwlist[groupwlist].id)} selected{/if}>{$groupwlist[groupwlist].name}</option>
			{/section}
			</select>
		    </td>
		    
		    
		    <td width="1%" align="right" class="pad"></td>
		    <td width="1%" align="left"></td>
		    
		    <td width="91%">&nbsp;</td>
		</tr>
		
		
	    </table>
	</td>
    </tr>
    </form>
	{if $listdata.total != 0}
	<tr class="scroller">
		<td class="fall" colspan="6" width="100%">
			{include file="scroller.html" loop=$netdevlist}
		</td>
	</tr>
	{/if}
	<tr class="dark" {tip text="Click on column name to change sorting order"}>
		<td class="fleftu pad5" width="1%" align="left" style="vertical-align:bottom;">
			<a href="?m=netdevlist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">ID:</a> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td class="fbt tleft pad5" width="95%">
			<a href="?m=netdevlist&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}"><b>{trans("Name:")}</b></a> {if $listdata.order eq "name"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m=netdevlist&o=location{if $listdata.direction eq "asc" && $listdata.order eq "location"},desc{/if}">{trans("Location:")}</a> {if $listdata.order eq "location"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td class="fbt tleft pad5" width="1%" nowrap>
			<a href="?m=netdevlist&o=producer{if $listdata.direction eq "asc" && $listdata.order eq "producer"},desc{/if}">{trans("Manufacturer:")}</a> {if $listdata.order eq "producer"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m=netdevlist&o=model{if $listdata.direction eq "asc" && $listdata.order eq "model"},desc{/if}">{trans("Model:")}</a> {if $listdata.order eq "model"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td class="fbt pad5 tleft" width="1%" align="left">Węzeł</td>
		
		<td class="fbt pad5 tleft" width="1%" nowrap>
			<a href="?m=netdevlist&o=ports{if $listdata.direction eq "asc" && $listdata.order eq "ports"},desc{/if}">{trans("Number of ports:")}</a> {if $listdata.order eq "ports"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m=netdevlist&o=takenports{if $listdata.direction eq "asc" && $listdata.order eq "takenports"},desc{/if}">{trans("Ports used:")}</a>{if $listdata.order eq "takenports"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td class="frightu tleft pad5" width="1%" align="right" nowrap>
			<b>{trans("Total:")} {$listdata.total|default:"0"}</b>
		</td>
	</tr>
	
	{cycle values="lucid,light" print=false}
	{section name=netdevlist loop=$netdevlist start=$start max=$pagelimit}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" onclick="return self.location.href='?m=netdevinfo&id={$netdevlist[netdevlist].id}';" align="center" class="fleft pad5">
			{$netdevlist[netdevlist].id|string_format:"%04d"}
		</td>
		<td width="95%" class="pad5 tleft" onclick="return self.location.href='?m=netdevinfo&id={$netdevlist[netdevlist].id}';" style="vertical-align:top;">
			<a name="{$netdevlist[netdevlist].id}"><b>{$netdevlist[netdevlist].name}</b></a>
			{if $netdevlist[netdevlist].location}<br>{$netdevlist[netdevlist].location}{/if}
		</td>
		<td width="1%" class="pad5 tleft" onclick="return self.location.href='?m=netdevinfo&id={$netdevlist[netdevlist].id}';" style="vertical-align:top;" nowrap>
			{$netdevlist[netdevlist].producer}{if $netdevlist[netdevlist].model}<br>{$netdevlist[netdevlist].model}{/if}
		</td>
		<td width="1%" onclick="return self.location.href='?m=netdevinfo&id={$netdevlist[netdevlist].id}';" align="left" valign="top" class="pad5 tleft">
		    {if $netdevlist[netdevlist].networknodeid}<a href="?m=networknodeinfo&idn={$netdevlist[netdevlist].networknodeid}">{$netdevlist[netdevlist].networknodename}</a>{/if}
		</td>
		
		<td width="1%" onclick="return self.location.href='?m=netdevinfo&id={$netdevlist[netdevlist].id}';" nowrap class="pad5 tleft" align="right">
			{$netdevlist[netdevlist].ports}<br>{$netdevlist[netdevlist].takenports}
		</td>
		<td width="1%" class="fright tleft pad5" align="right">
			<nobr>
			{if !$netdevlist[netdevlist].networknodeid}
			    <a href="?m=networknodeadd&create&int={$netdevlist[netdevlist].id}"><img src="img/netdev.png" title="[ Utwórz węzeł ]" style="cursor:pointer;"></a>
			{else}
			    <img src="img/empty.gif" width="16">
			{/if}
			<a href="?m=netdevinfo&id={$netdevlist[netdevlist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			<a href="?m=netdevedit&id={$netdevlist[netdevlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=netdevdel&id={$netdevlist[netdevlist].id}" onclick="return confirmLink(this, '{t a=$netdevlist[netdevlist].name}Are you sure, you want to remove device \'$a\' from database?{/t}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			
			</nobr>
		</td>
	</tr>
	{if $netdevlist[netdevlist.index_next].ownerid eq $netdevlist[netdevlist].ownerid && $listdata.order eq "owner"}{cycle print=false}{/if}
	{sectionelse}
	<tr>
		<td colspan="6" class="fall" align="center">
			<p>&nbsp;</p>
			<p><b>{trans("There are no devices in your database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="scroller">
		<td class="fall" colspan="6" width="100%">
			{include file="scroller.html" loop=$netdevlist}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td width="99%" colspan="5" class="fleftu" align="right">
			<b>
				{trans("Total:")} {$listdata.total|default:"0"}
			</b>
		</td>
		<td width="1%" colspan="1" class="frightu"></td>
	</tr>
</table>
{include file="footer.html"}
