{include file="header.html"}
<!-- $Id$ -->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="netdevipeditbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevinfobox.html" devicepanel=1}
		</td>
	</tr>
	<tr>
		<td style="width: 100%;">
			{include file="netdevgroupsbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevipbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="managementurls.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevconnbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevnodes.html"}
		</td>
	</tr>
	<tr>
		<td style="width:100%;">
			{include file="netdevannex.html"}
		</td>
	</tr>
</table>
{include file="footer.html"}
