{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="netdeveditbox.html"}
		</td>
	</tr>
	{if $netdevinfo.id}
	<tr>
		<td style="width: 100%;">
			{include file="netdevgroupsbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevipbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="managementurls.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevconnbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="netdevnodes.html"}
		</td>
	</tr>
	<tr>
		<td style="width:100%;">
			{include file="netdevannex.html"}
		</td>
	</tr>
	{/if}
</table>
{include file="footer.html"}
