{include file="header.html"}
<!--// $Id$ //-->
{if $unlockedit}
<script type="text/javascript">
<!--
	function getText(index)
	{
		{section name=networks loop=$networks}
		if (index == {$networks[networks].id})
			return '{$networks[networks].name} ({$networks[networks].address}/{$networks[networks].prefix})';
		{/section}
	}
//-->
</script>
{/if}
{title value=$layout.pagetitle link="<a href='?m=netlist'>Lista sieci <img src='img/list.png'></a>"}
<table cellpadding="3" width="100%">
	{if $unlockedit}<form method="POST" action="?m=netedit&id={$network.id}" name="netedit"><input type="submit" class="hiddenbtn">{/if}
	<tr class="dark">
		{if !$unlockedit}
		<td width="100%" class="fall" colspan="4">
			<img src="img/network.gif" alt=""> <b>{$network.name} ({$network.id|string_format:"%04d"})</b>
		</td>
		{else}
		<td width="1%" class="fleftu" nowarp>
			<img src="img/network.gif" alt=""> <b>{trans("Name:")}</b>
		</td>
		<td width="99%" class="frightu" colspan="3">
			 <input type="text" name="networkdata[name]" value="{$network.name}" {tip trigger="name" bold=1}> <b>({$network.id|string_format:"%04d"})</b>
		</td>
		{/if}
	</tr>
	<tr class="light">
		<td width="1%" class="fleft">
			<nobr><img src="img/ip.gif" alt=""> <b>{trans("Address/prefix:")}</b></nobr>
		</td>
		<td width="48%">
			<nobr>{if $unlockedit}<input type="text" name="networkdata[address]" value="{$network.address}" {tip text="Write down network address and select mask" trigger="address"}> / <select size="1" title="Prefixlen" name="networkdata[prefix]">{section name=prefixlist loop=$prefixlist.id}<option value="{$prefixlist.id[prefixlist]}"{if $prefixlist.id[prefixlist] eq $network.prefix} selected{/if}>{$prefixlist.value[prefixlist]}</option>{/section}</select>{else}{$network.address}/{$network.prefix}{/if}<nobr>
		</td>
		<td width="2%" rowspan="2">
			<nobr><img src="img/dhcp.gif" alt=""> <b>{trans("DHCP range:")}</b><nobr>	
		</td>
		<td width="48%" class="fright" rowspan="2">
			{if $unlockedit}<input type="text" name="networkdata[dhcpstart]" value="{$network.dhcpstart}" {tip text="Enter first address of DHCP range (optional)" trigger="dhcpstart"}><br>
			<input type="text" name="networkdata[dhcpend]" value="{$network.dhcpend}" {tip text="Enter last address of DHCP range (optional)" trigger="dhcpend"}>{else}
			{$network.dhcpstart}<br>
			{$network.dhcpend}
			{/if}
		</td>
	</tr>
	{if !$unlockedit}
	<tr class="light">
		<td width="1%" class="fleft">
			<nobr><img src="img/cmp.gif" alt=""> <b>{trans("Network size:")}</b>
		</td>
		<td width="49%">
			{t a=$network.size}$a addresses{/t}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td width="1%" class="fleft">
			<img src="img/mac.gif" alt=""> <b>{trans("Interface:")}</b>
		</td>
		<td colspan="3" class="fright" width="99%">
			{if $unlockedit}
			<input type="text" name="networkdata[interface]" value="{$network.interface}" {tip text="Enter interface where network is connected to (optional)" trigger="interface"}>
			{else}
			{$network.interface}
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="2%" class="fleft">
			<nobr><img src="img/gateway.gif" alt=""> <b>{trans("Gateway:")}</b></nobr>
		</td>		
		<td width="48%">
			{if $unlockedit}
			<input type="text" name="networkdata[gateway]" value="{$network.gateway}" {tip text="Enter gateway address (optional)" trigger="gateway"}> 
			{else}
			{$network.gateway}
			{/if}
		</td>
		<td width="2%">
			<nobr><img src="img/dns.gif" alt=""> <b>{trans("DNS servers:")}</b><nobr>
		</td>
		<td width="48%" class="fright">
			{if $unlockedit}
			<input type="text" name="networkdata[dns]" value="{$network.dns}" {tip text="Enter primary DNS address (optional)" trigger="dns"}><br>
			<input type="text" name="networkdata[dns2]" value="{$network.dns2}" {tip text="Enter secondary DNS address (optional)" trigger="dns2"}>
			{else}
			{$network.dns}<br>
			{$network.dns2}
			{/if}
		</td>
	</tr>
	<tr class="light">
		<td width="2%" class="fleft">
			<nobr><img src="img/wins.gif" alt=""> <b>{trans("WINS server:")}</b></nobr>
		</td>
		<td width="48%">
			{if $unlockedit}
			<input type="text" name="networkdata[wins]" value="{$network.wins}" {tip text="Enter WINS server address (optional)" trigger="wins"}>
			{else}
			{$network.wins}
			{/if}
		</td>
		<td width="2%">
			<nobr><img src="img/node.gif" alt=""> <b>{trans("Domain:")}</b></nobr>
		</td>
		<td width="48%" class="fright">
			{if $unlockedit}
			<input type="text" name="networkdata[domain]" value="{$network.domain}" {tip text="Enter network domain (optional)" trigger="domain"}>
			{else}
			{$network.domain}
			{/if}
		</td>
	</tr>
	{if $network.hostid || $unlockedit}
	<tr class="light"> 
		<td width="2%" class="fleft bold nobr">
			<img src="img/host.gif" alt=""> {trans("Host:")}
		</td>
		<td width="48%">
			{if $unlockedit}
			<select size="1" name="networkdata[hostid]" {tip text="Wybierz host" trigger="hostid"} style="min-width:125px;">
				<option value="0">{trans("- none -")}</option>
				{foreach $hostlist as $host}
				<option value="{$host.id}"{if $host.id eq $network.hostid} selected{/if}>{$host.name}</option>
				{/foreach}
			</select>
			{else}
			{$network.hostname}
			{/if}
		</td>
		<td width="2%">
			<nobr><img src="img/ip.gif" alt=""><b> IP Nat</b></nobr>
		</td>
		<td width="48%" class="fright">
			{if $unlockedit}
			    <input type="text" name="networkdata[ipnat]" value="{$network.ipnat}" {tip text="IP na który jest natowana klasa (opcja)" trigger="ipnat"}>
			{else}
			    {$network.ipnat}
			{/if}
		</td>
	</tr>
	{/if}
	{if $network.notes || $unlockedit}
	<tr class="light">
		<td width="50%" class="fleft" colspan="2">
			<table width="100%" cellpadding="5">
				<tr>
					<td width="1%">
						<nobr><img src="img/info1.gif" alt=""><nobr>
					</td>
					<td width="99%">
					  {if $unlockedit}
					    <textarea name="networkdata[notes]" cols="50" rows="5" {tip text="Enter notes (optional)"}>{$network.notes}</textarea>
					  {else}
					    <table width="100%" cellpadding="5">
					      <tr>
						<td class="fall superlight">
						  {$network.notes|replace:"\n":"<br>"}
						</td>
					      </tr>
					    </table>
					  {/if}
					</td>
				</tr>
			  </table>
		</td>
		<td width="50%" class="fright" colspan="2">
		</td>
	</tr>
	{/if}
{if $unlockedit}</form>{/if}
	<tr class="light">
		<td width="100%" class="fbottomu" colspan="4" align="right">
			{if $unlockedit}
			<form name="remap" action="" method="get">
				<input type="submit" class="hiddenbtn">
				<a href="?m=netcmp&id={$network.id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to assign new addresses for all computers? Remember, it can make problems for your network!")}');">{trans("Put in order")} <img src="img/cmp.gif" alt="[ {trans("Put in order")} ]"></a>
				<input type="hidden" name="is_sure" value="1">
				<input type="hidden" name="m" value="netremap">
				<input type="hidden" name="id" value="{$network.id}">
				{if $netlistsize > 1}
				<a href="javascript:document.remap.submit()" onclick="return confirm('{t a=$network.name}Are you sure, you want to change network $a to network '+getText(document.remap.mapto.value)+'?{/t}');">{trans("Reassign to network:")}</a> 
					<select size="1" name="mapto" {tip text="Select network to which you want to move computers"}>
						{section name=networks loop=$networks}
						{if $networks[networks].id neq $network.id}
						<option value="{$networks[networks].id}">{$networks[networks].name} ({$networks[networks].address}/{$networks[networks].prefix})</option>
						{/if}
						{/section}
					</select>
				{/if}
				<a href="javascript:document.netedit.submit()" accesskey="S">{trans("Submit")} <img src="img/save.gif" alt="[ {trans("Submit")} ]"></a>
				<a href="?m=netdel&id={$network.id}" onclick="return confirmLink(this,'{t a=$network.name}Are you sure, you want to remove network \'$a\'?{/t}')">{trans("Remove")} <img src="img/delete.gif" alt="[ {trans("Remove")} ]"></a>
				<a href="?m=netinfo&id={$network.id}">{trans("Cancel")} <img src="img/cancel.gif" alt="[ {trans("Cancel")} ]"></a></td> 
				</form>
			{else}
			<a href="?m=netedit&id={$network.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt="[ {trans("Edit")} ]"></a>
			<a href="?m=netdel&id={$network.id}" onclick="return confirmLink(this,'{t a=$network.name}Are you sure, you want to remove network \'$a\'?{/t}')">{trans("Remove")} <img src="img/delete.gif" alt="[ {trans("Remove")} ]"></a>
		</td>
			{/if}
	</tr>
	{if $network.page}
	<tr class="dark">
		<td width="50%" class="fleftu" colspan="2">
			<img src="img/ip.gif" alt=""> <b>{trans("IP addresses status:")}</b>
		</td>
		<td width="50%" class="frightu" colspan="2" align="right">
			<b>{if $network.page > 1}<a href="?m=net{if $unlockedit}edit{else}info{/if}&id={$network.id}&page={math equation="x - 1" x=$network.page}">&laquo;&laquo;&laquo;</a>{else}<font class="BLEND">&laquo;&laquo;&laquo;</font>{/if}
			 {t a=$network.page b=$network.pages}Page $a of $b{/t} {if $network.page < $network.pages}<a href="?m=net{if $unlockedit}edit{else}info{/if}&id={$network.id}&page={math equation="x + 1" x=$network.page}">&raquo;&raquo;&raquo;</a>{else}<font class="BLEND">&raquo;&raquo;&raquo;</font>{/if}</b>
		</td>		
	</tr>
	<tr>
		<td width="100%" class="fall" colspan="4">
			<table width="100%" cellpadding="3">
				{cycle values="light,lucid" print=false}
				{section name=network loop=$network.nodes.id max=$network.rows}
				<tr class="{cycle} lista">
					{section name=subnetwork loop=$network.nodes.address start=$smarty.section.network.index step=$network.rows}
					<td align="center" width="25%" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')" {if !$network.nodes.ownerid[subnetwork] && $network.nodes.netdev[subnetwork]} onclick="return self.location.href='?m=netdevinfo&id={$network.nodes.netdev[subnetwork]}'"}{else}{if $network.nodes.id[subnetwork]} onclick="return self.location.href='?m=nodeinfo&id={$network.nodes.id[subnetwork]}'"{else}{if !$network.nodes.name[subnetwork]} onclick="return self.location.href='?m=nodeadd&preip={$network.nodes.address[subnetwork]}'"{/if}{/if}{/if}>
					<img src="img/{if !$network.nodes.ownerid[subnetwork] && $network.nodes.name[subnetwork]}netdev{else}node{/if}.gif" align="left" alt="">
					{if !$network.nodes.ownerid[subnetwork] && $network.nodes.netdev[subnetwork]}
						<a href="?m=netdevinfo&id={$network.nodes.netdev[subnetwork]}" {tip text=$network.nodes.address[subnetwork]}><font class="blend">{$network.nodes.name[subnetwork]}</font></a>
					{else}
						{if $network.nodes.id[subnetwork]}
							<a href="?m=nodeinfo&id={$network.nodes.id[subnetwork]}"{if $network.nodes.name[subnetwork]} {tip text=$network.nodes.address[subnetwork]}{/if}><font class="blend">{$network.nodes.name[subnetwork]}</font></a>
						{else}
							{if $network.nodes.name[subnetwork]}
								<font class="blend" {tip text=$network.nodes.address[subnetwork]}>{$network.nodes.name[subnetwork]}</font>
							{else}
								<a href="?m=nodeadd&preip={$network.nodes.address[subnetwork]}">{$network.nodes.address[subnetwork]}</a>
							{/if}
						{/if}
					{/if}
					</td>
					{/section}
				</tr>
				{/section}
				<tr class="light">
					<td class="fleftu" colspan="2">
						<b>{if $network.page > 1}<a href="?m=net{if $unlockedit}edit{else}info{/if}&id={$network.id}&page={math equation="x - 1" x=$network.page}">&laquo;&laquo;&laquo;</a>{else}<font class="BLEND">&laquo;&laquo;&laquo;</font>{/if} 
						{t a=$network.page b=$network.pages}Page $a of $b{/t} {if $network.page < $network.pages}<a href="?m=net{if $unlockedit}edit{else}info{/if}&id={$network.id}&page={math equation="x + 1" x=$network.page}">&raquo;&raquo;&raquo;</a>{else}<font class="BLEND">&raquo;&raquo;&raquo;</font>{/if}</b>
					</td>
					<td align="right" class="frightu" colspan="2">
						<b>{t a=$network.assigned}Total: $a{/t} ({trans("this page:")} {$network.pageassigned|default:"0"}, {trans("free:")} {$network.free})</b>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{/if}
</table>
{include file="footer.html"}
