{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle link="<a href='?m=netadd'>Nowa sieć <img src='img/add.gif'></a>"}
<table cellpadding="3" width="100%">
	<form method="GET" action="?m=netlist" name="choosefilter">
				<input type="submit" class="hiddenbtn">
				<input type="hidden" name="m" value="netlist">
				<input type="hidden" name="page" value="1">
				<input type="hidden" name="fletter" value="{$listdata.fletter}">
	<tr class="dark">
	    <td width="100%" colspan="7" class="fall">
		<img src="img/Filter.png">&nbsp;&nbsp;
		Status:&nbsp;
		    <select name="s" onchange="document.choosefilter.submit();" {if $listdata.state != ''} class="active"{/if}>
			<option value="">-- {trans('all')} --</option>
			<option value="0" {if $listdata.state == '0'} selected{/if}>włączone</option>
			<option value="1" {if $listdata.state == '1'} selected{/if}>wyłączone</option>
		    </select>&nbsp;&nbsp;&nbsp;
		    Host:&nbsp;
		    <select name="h" onchange="document.choosefilter.submit();" {if $listdata.hostid} class="active"{/if}>
			<option value="">-- {trans('all')} --</option>
			{section name='hostlist' loop=$hostlist}
			<option value="{$hostlist[hostlist].id}" {if $listdata.hostid == $hostlist[hostlist].id} selected{/if}>{$hostlist[hostlist].name}</option>
			{/section}
		    </select>
	    </td>
	</tr>
	</form>
	<tr class="dark">
		<td class="fleftu" width="94%">
			<nobr><img src="img/network.gif" alt=""> <b>{trans("Name:")}</b><br><img src="img/ip.gif" alt=""> {trans("Network/prefix (interface):")}<nobr>
		</td>
		<td class="fbt pad10" align="left" width="1%" style="vertical-align:top;min-width:80px;">
		    <b>Host:</b>
		</td>
		<td class="fbt" valign="top" align="right" width="1%">
			<nobr><img src="img/empty.gif" width="1" height="16" alt="">{trans("ID:")}<nobr><br>
			<nobr><img src="img/empty.gif" width="1" height="16" alt="">{trans("Addresses (total/busy/online):")}<nobr>
		</td>
		<td class="fbt" width="1%">
			<nobr><img src="img/dns.gif" alt=""> {trans("DNS servers:")}<br>
			<img src="img/domain.gif" alt=""> {trans("Domain:")}<nobr>
		</td>
		<td class="fbt" width="1%">
			<nobr><img src="img/gateway.gif" alt=""> {trans("Gateway:")}<br>
			<img src="img/wins.gif" alt=""> {trans("WINS server:")}<nobr>
		</td>
		<td class="fbt" valign="top" width="1%">
			<nobr><img src="img/dhcp.gif" alt=""> {trans("DHCP range:")}<nobr>
		</td>
		<td class="frightu" width="1%" align="right">
			<nobr><b>{t a=$listdata.total}Total: $a{/t} </b><nobr>
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{section name=netlist loop=$netlist}
	<tr class="{cycle} lista{if $netlist[netlist].disabled == 1} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" width="94%" onclick="return self.location.href='?m=netinfo&id={$netlist[netlist].id}';">
		<a name="{$netlist[netlist].id}">
			<nobr><img src="img/network.gif" alt=""> <b>{$netlist[netlist].name|truncate:40:"...":true}</b><br><img src="img/ip.gif" alt=""> {$netlist[netlist].address} / {$netlist[netlist].prefix} {if $netlist[netlist].interface}({$netlist[netlist].interface}){/if}</nobr>
		</td>
		<td width="1%" align="left" class="pad10">
		    {if $netlist[netlist].hostname}{$netlist[netlist].hostname}{else}<span style="color:red;">nie przypisano</span>{/if}
		</td>
		<td valign="top" align="right" onclick="return self.location.href='?m=netinfo&id={$netlist[netlist].id}';" width="1%">
			<nobr><img src="img/empty.gif" width="1" height="16" alt="">({$netlist[netlist].id|string_format:"%04d"})<br><img src="img/empty.gif" width="1" height="16" alt="">{$netlist[netlist].size}/{$netlist[netlist].assigned|string_format:"%01d"}/{$netlist[netlist].online|string_format:"%01d"}</nobr>
		</td>
		<td width="1%" onclick="return self.location.href='?m=netinfo&id={$netlist[netlist].id}';">
			<nobr>{if $netlist[netlist].dns neq ""}<img src="img/dns.gif" alt=""> {$netlist[netlist].dns}{if $netlist[netlist].dns2 neq ""}, {$netlist[netlist].dns2}{/if}{/if}<br>
			{if $netlist[netlist].domain neq ""}<img src="img/domain.gif" alt=""> {$netlist[netlist].domain}{/if}&nbsp;</nobr>
		</td>
		<td width="1%" onclick="return self.location.href='?m=netinfo&id={$netlist[netlist].id}';">
			<nobr>{if $netlist[netlist].gateway neq ""}<img src="img/gateway.gif" alt=""> {$netlist[netlist].gateway}{/if}<br>
			{if $netlist[netlist].wins neq ""}<img src="img/wins.gif" alt=""> {$netlist[netlist].wins}{/if}&nbsp;</nobr>
		</td>
		<td width="1%" onclick="return self.location.href='?m=netinfo&id={$netlist[netlist].id}';">
			<nobr>{if $netlist[netlist].dhcpstart}<img src="img/dhcpstart.gif" alt=""> {$netlist[netlist].dhcpstart}<br><img src="img/dhcpend.gif" alt=""> {$netlist[netlist].dhcpend}{/if}</nobr>
		</td>
		<td class="fright">
			<nobr>
			<a href="?m=netedit&networkset&id={$netlist[netlist].id}">{if $netlist[netlist].disabled}<img src="img/noaccess.gif" alt="[ {trans("Enable")} ]" title="[ {trans("Enable")} ]">{else}<img src="img/access.gif" alt="[ {trans("Disable")} ]" title="[ {trans("Disable")} ]">{/if}</a>
			<a href="?m=netdel&id={$netlist[netlist].id}" onclick="return confirmLink(this,'{t a=$netlist[netlist].name}Are you sure, you want to remove network \'$a\'?{/t}')"><img src="img/delete.gif" alt="[ {trans("Remove")} ]" title="[ {trans("Remove")} ]"></a>
			<a href="?m=netedit&id={$netlist[netlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=netinfo&id={$netlist[netlist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			</nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="7" class="flr" align="center" width="1%">
			<p>&nbsp;</p>
			<p><b>{trans("You have no address pools. Use menu to add new networks.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="dark">
		<td width="99%" colspan="3" class="fleftu" align="right"> 
			<b>{trans("Total:")} {$listdata.size|default:"0"}/{$listdata.assigned|default:"0"}/{$listdata.online|default:"0"}</b>
		</td>
		<td width="1%" colspan="4" class="frightu"></td>
	</tr>
</table>
{include file="footer.html"}
