{include file="header.html"}
<!--// networknodeedit.html //-->
{$xajax}

{title value=$layout.pagetitle}

<form name="networknode" id="networknode" method="POST" action="?m=networknode{$actions}">
<input type="hidden" name="networknodeid" value="{$networknodeid}">
<input type="hidden" name="networknode[location_city]" id="id_location_city" value="{$networknodeinfo.location_city}"> <!--// 8 //-->
<input type="hidden" name="networknode[location_street]" id="id_location_street" value="{$networknodeinfo.location_street}"> <!--// 9 //-->
<input type="hidden" name="target" value="{$target}">
<input type="hidden" name="networknode[int]" id="id_networknode_int" value="{$networknodeinfo.int}">
<input type="hidden" name="networknode[validate]" id="validate" value="0">
<input type="hidden" name="networknode[actions]" id="actions" value="{$actions}">

{if $actions == 'edit'}
    <input type="hidden" name="networknode[old_location_city]" id="id_old_location_city" value="{$networknodeinfo.location_city}">
    <input type="hidden" name="networknode[old_location_street]" id="id_old_location_street" value="{$networknodeinfo.location_street}">
    <input type="hidden" name="networknode[old_location_house]" id="id_old_location_house" value="{$networknodeinfo.location_house}">
    <input type="hidden" name="networknode[old_location_flat]" id="id_old_location_flat" value="{$networknodeinfo.location_flat}">
    <input type="hidden" name="networknode[old_longitude]" id="id_old_longitude" value="{$networknodeinfo.longitude}">
    <input type="hidden" name="networknode[old_latitude]" id="id_old_latitude" value="{$networknodeinfo.latitude}">
    <input type="hidden" name="networknode[old_states]" id="id_old_states" value="{$networknodeinfo.states}">
    <input type="hidden" name="networknode[old_districts]" id="id_old_districts" value="{$networknodeinfo.districts}">
    <input type="hidden" name="networknode[old_boroughs]" id="id_old_boroughs" value="{$networknodeinfo.boroughs}">
    <input type="hidden" name="networknode[old_city]" id="id_old_city" value="{$networknodeinfo.city}">
    <input type="hidden" name="networknode[old_street]" id="id_old_street" value="{$networknodeinfo.street}">
    <input type="hidden" name="networknode[old_zip]" id="id_old_zip" value="{$networknodeinfo.zip}">
    <input type="hidden" name="networknode[old_cadastral_parcel]" id="id_old_cadastral_parcel" value="{$networknodeinfo.cadastral_parcel}">
    <input type="hidden" name="networknode[change_location]" id="id_change_location" value="">
    <input type="hidden" name="old_teryt" id="id_old_teryt" value="{$networknodeinfo.teryt}">
{/if}


<table width="100%" cellpadding="3" cellspacing="0" class="table">
<tr class="pgdark nav-header">
	<td width="100%" colspan="2" class="fall" align="left"><strong>{if $actions == 'edit'}Edycja danych węzła : {$networknodeinfo.name}{else}Dodaj nowy węzeł{/if}</strong></td>
</tr>

<tr class="pglight">
<td width="50%" align="left" class="fleft pad" style="vertical-align:top;">
<table width="100%" cellpadding="2">

	<tr class="pglight">
		<td width="1%" nowrap align="left"><strong>Nazwa węzła</strong></td>
		<td width="1%" class="pad">:</td>
		<td width="98%"  nowrap>
		    <input type="text" name="name" id="id_name" style="width:200px;" value="{$networknodeinfo.name}" autocomplete="off">
		    <div id="id_name_alerts" style="color:red;"></div>
		</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Własność węzła</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <select name="networknode[type]">
		    {foreach $_TNODE as $item => $key}
		    <option value="{$item}"{if $networknodeinfo.type == $item} selected{/if}>{$key}</option>
		    {/foreach}
		    </select>
		</td>
	</tr>

	<tr class="pglight" id="id_view_used_teryt">
		<td width="1%" nowrap align="left">
		    <label for="teryt">Użyj bazy TERYT</label>
		    <input type="checkbox" name="teryt" value="1" id="teryt" onchange="check_use_teryt();" {if $networknodeinfo.teryt} checked {/if}>
		</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" align="left">
		    <a href="javascript: void(0);" id="used_teryt" style="display:none;" onclick="if (check_teryt()) return locationchoosewin('networknode', 'networknode', document.forms['networknode'].elements['networknode[location_city]'].value,  document.forms['networknode'].elements['networknode[location_street]'].value)">&raquo;&raquo;&raquo;<strong> WYBIERZ LOKALIZACJĘ </strong>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	
	<tr class="pglight" id="id_view_location" style="display:none;">
		<td width="1%" nowrap align="left">Loklalizacja</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[location]" id="location" readonly style="width:200px;" value="{$networknodeinfo.location}">
		    <div id="id_location_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight" id="id_view_states">
		<td width="1%" nowrap align="left">Województwo</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[states]" id="id_states" style="width:200px;" value="{$networknodeinfo.states}">
		    <div id="id_states_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight" id="id_view_districts">
		<td width="1%" nowrap align="left">Powiat</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[districts]" id="id_districts" style="width:200px;" value="{$networknodeinfo.districts}">
		    <div id="id_districts_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight" id="id_view_boroughs">
		<td width="1%" nowrap align="left">Gmina</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[boroughs]" id="id_boroughs" style="width:200px;" value="{$networknodeinfo.boroughs}">
		    <div id="id_boroughs_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight" id="id_view_city">
		<td width="1%" nowrap align="left">Miejscowość</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[city]" id="id_city" style="width:200px;" value="{$networknodeinfo.city}">
		    <div id="id_city_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight" id="id_view_street">
		<td width="1%" nowrap align="left">Ulica</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[street]" id="id_street" style="width:200px;" value="{$networknodeinfo.street}">
		</td>
	</tr>
	
	

	<tr class="pglight">
		<td width="1%" nowrap align="left">Numer porządkowy budynku</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[location_house]" id="id_location_house" style="width:110px;" value="{$networknodeinfo.location_house}">
		    <div id="id_location_house_alerts" style="color:red;"></div>
		</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Numer mieszkania</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[location_flat]" id="id_location_flat" style="width:110px;" value="{$networknodeinfo.location_flat}">
		</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left">Kod Pocztowy</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[zip]" id="id_zip" style="width:110px;" value="{$networknodeinfo.zip}">
		    <div id="id_zip_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Proszę podać numer działki jeżeli nie ma podanego adresu"}>Numer działki ewidencyjnej</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[cadastral_parcel]" id="id_cadastral_parcel" style="width:110px;" value="{$networknodeinfo.cadastral_parcel}">
		    <div id="id_cadastral_parcel_alerts" style="color:blue;"></div>
		</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left">Szerokość geografczna</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[latitude]" id="id_latitude" style="width:110px;" value="{$networknodeinfo.latitude}"><a href="javascript: void(0);" id="id_latitude_map" onclick="return gpscoordschoosewin(document.forms['networknode'].elements['networknode[longitude]'], document.forms['networknode'].elements['networknode[latitude]']);" {tip text="Click to select gps coordinates from map"}>&nbsp;&raquo;&raquo;&raquo;</a>
		    <div id="id_latitude_alerts" style="color:red;"></div>
		</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left">Długość geograficzna</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <input type="text" name="networknode[longitude]" id="id_longitude" style="width:110px;" value="{$networknodeinfo.longitude}"><a href="javascript: void(0);" id="id_longitude_map" onclick="return gpscoordschoosewin(document.forms['networknode'].elements['networknode[longitude]'], document.forms['networknode'].elements['networknode[latitude]']);" {tip text="Click to select gps coordinates from map"}>&nbsp;&raquo;&raquo;&raquo;</a>
		    <div id="id_longitude_alerts" style="color:red;"></div>
		</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Typ budynku/obiektu w którym znajduje się węzeł.<br>Wymagane dla węzła własnego"}>Typ obiektu</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		    <select name="networknode[buildingtype]" id="id_buildingtype"><option value="" {if !$networknodeinfo.buildingtype} selected {/if}></option>{foreach $_BUILDINGS as $item => $key}<option value="{$item}" {if $networknodeinfo.buildingtype == $item} selected {/if}>{$key}</option>{/foreach}</select>
		    <div id="id_buildingtype_alerts" style="color:red;"></div>
		</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Powierzchnia całkowita pomieszczeń udostępnionych dla węzła"}>Powierzchnia całkowita</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
			<input type="number" style="width:110px;" name="networknode[room_area]" id="id_room_area" value="{$networknodeinfo.room_area}">
			&nbsp;m2
		</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Powierzchnia wolna pomieszczeń udostępnionych dla węzła"}>Powierzchnia wolna</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" nowrap >
		<input type="number" style="width:110px;" name="networknode[room_area_empty]" id="id_room_area_empty" value="{$networknodeinfo.room_area_empty}">
		&nbsp;m2
	    </td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Węzeł współfinansowany ze środków unijnych"}>Współfinansowany z EU</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		{foreach $_TN as $item => $key}<input type="radio" name="networknode[eu]" id="id_eu_{$item}" value="{$item}" {if $networknodeinfo.eu == $item}checked{/if}><label for="id_eu_{$item}">&nbsp;{$key}</label>{/foreach}
		</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap>{trans("Investment project:")}</td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" align="left">
		<select name="networknode[invprojectid]" id="id_invprojectid" style="min-width:150px;">
		    <option value="" {if !$networknodeinfo.invprojectid} selected {/if}>{trans('none')}</option>
		    {section name=projectlist loop=$projectlist}
		    <option value="{$projectlist[projectlist].id}" {if $networknodeinfo.invprojectid == $projectlist[projectlist].id} selected {/if}>{$projectlist[projectlist].name}</option>
		    {/section}
		</select>
		<div id="id_invprojectid_alerts" style="color:red;"></div>
	    </td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap>Status węzła</td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" align="left">
		<select name="networknode[status]" id="id_status" style="min-width:150px;">
		{foreach $_NSTATUS as $item => $key}
		<option value="{$item}" {if $networknodeinfo.status == $item} selected {/if}>{$key}</option>
		{/foreach}
		</select>
	    </td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Możliwość udostępnienia innym podmiotom powierzchni w obiekcie, w którym znajduje się węzeł"}>Udostępnienie obcym podmiotom</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >
		{foreach $_TN as $item => $key}<input type="radio" name="networknode[available_surface]" id="id_available_surface_{$item}" value="{$item}" {if $networknodeinfo.available_surface == $item}checked{/if}><label for="id_available_surface_{$item}">&nbsp;{$key}</label>{/foreach}
		</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Liczba podmiotów obcych w obiekcie"}>Podmioty obce</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" align="left" >
		<input type="number" name="networknode[foreign_entity]" id="id_foreign_entity" value="{$networknodeinfo.foreign_entity}" style="width:110px;">
	    </td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Liczba podmiotów posiadających zakończenia światłowodowe w obiekcie"}>Podmioty ze światłem</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" align="left" >
		<input type="number" name="networknode[entity_fiber_end]" id="id_entity_fiber_end" value="{$networknodeinfo.entity_fiber_end}" style="width:110px;">
	    </td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Możliwość instalacji anten dla radiowej sieci dostępowej lub anten dla radiolinii"}>Możliwość intalacji anten</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%"  nowrap>{foreach $_TN as $item => $key}<input type="radio" name="networknode[instofanten]" id="id_instofanten{$item}" value="{$item}" {if $networknodeinfo.instofanten == $item} checked{/if}><label for="id_instofanten{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left">Możliwość intalacji masztu</td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%"  nowrap>{foreach $_TN as $item => $key}<input type="radio" name="networknode[instmast]" id="id_instmast{$item}" value="{$item}" {if $networknodeinfo.instmast == $item}checked{/if}><label for="id_instmast{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
    </table>
</td>



<!--// prawa strona //-->
<td width="50%" align="left" class="fright pad" style="vertical-align:top;">
    <table width="100%" cellpadding="2">
	
	<tr class="pglight">
	    <td width="1%" nowrap><span class="tiphelp" {tip text="Przepustowość całkowita węzła w Mb/s"}>Przepustowość całkowita</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%"  align="left">
		<input type="number" name="networknode[total_bandwidth]" id="id_total_bandwidth" value="{$networknodeinfo.total_bandwidth}" style="width:100px;"> Mb/s
		<div id="id_total_bandwidth_alerts" style="color:blue;"></div>
	    </td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap><span class="tiphelp" {tip text="Przepustowość na potrzeby usług szerokopasmowego dostępu do Internetu w Mb/s, uwzględniona w przepustowości całkowitej"}>Przepustowość dla Internetu</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%"  align="left">
		<input type="number" name="networknode[bandwidth_broadband]" id="id_bandwidth_broadband" value="{$networknodeinfo.bandwidth_broadband}" style="width:100px;"> Mb/s
		<div id="id_bandwidth_broadband_alerts" style="color:blue;"></div>
	    </td>
	</tr>
	
	</tr>
	<tr class="pglight">
	    <td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Maksymalna możliwa wysokość zawieszenia anten nad poziomem gruntu"}>Wysokość zawieszenia anten</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%"  nowrap><input type="number" name="networknode[height_anten]" id="id_height_anten" value="{$networknodeinfo.height_anten}" style="width:100px;"></td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Warstwa szkieletowa</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >{foreach $_TN as $item => $key}<input type="radio" name="networknode[backbone_layer]" id="id_backbone_{$item}" value="{$item}" {if $networknodeinfo.backbone_layer == $item}checked{/if}><label for="id_backbone_{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left">Warstwa dystrybucyjna</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >{foreach $_TN as $item => $key}<input type="radio" name="networknode[distribution_layer]" id="id_distribution_{$item}" value="{$item}" {if $networknodeinfo.distribution_layer == $item}checked{/if}><label for="id_distribution_{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>

	<tr class="pglight">
		<td width="1%" nowrap align="left">Warstwa dostępowa</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap >{foreach $_TN as $item => $key}<input type="radio" name="networknode[access_layer]" id="id_access_{$item}" value="{$item}" {if $networknodeinfo.access_layer == $item}checked{/if}><label for="id_access_{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left">Udostępnianie portów</td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" nowrap >{foreach $_TN as $item => $key}<input type="radio" name="networknode[sharing]" id="id_sharing_{$item}" value="{$item}" {if $networknodeinfo.sharing == $item}checked{/if}><label for="id_sharing_{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap align="left">Podłoga techniczna</td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%">{foreach $_TNC as $item => $key}<input type="radio" name="networknode[technical_floor]" id="id_technical_floor{$item}" value="{$item}" {if $networknodeinfo.technical_floor == $item} checked {/if}><label for="id_technical_floor{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	<tr class="pglight">
		<td width="1%" nowrap align="left">Sufit techniczny</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap>{foreach $_TNC as $item => $key}<input type="radio" name="networknode[technical_ceiling]" id="id_technical_ceiling{$item}" value="{$item}" {if $networknodeinfo.technical_ceiling == $item} checked {/if}><label for="id_technical_ceiling{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Klimatyzacja</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" nowrap>{foreach $_TNC as $item => $key}<input type="radio" name="networknode[air_conditioning]" id="id_air_conditioning{$item}" value="{$item}" {if $networknodeinfo.air_conditioning == $item} checked {/if}><label for="id_air_conditioning{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Przyłacze telekomunikacyjne</td>
		<td width="1%" class="pad">:</td>
		<td width="98%">{foreach $_TN as $item => $key}<input type="radio" name="networknode[telecommunication]" id="id_telecommunication{$item}" value="{$item}" {if $networknodeinfo.telecommunication == $item} checked {/if}><label for="id_telecommunication{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left"><span class="tiphelp" {tip text="Możliwość udostępnienia przyłącza światłowodowego"}>Udostępnianie światłowodu</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%">{foreach $_TN as $item => $key}<input type="radio" name="networknode[sharing_fiber]" id="id_sharing_fiber{$item}" value="{$item}" {if $networknodeinfo.sharing_fiber == $item} checked {/if}><label for="id_sharing_fiber{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left">Gwarantowane zasilanie</td>
		<td width="1%" class="pad">:</td>
		<td width="98%" align="left">
		    <input type="checkbox" name="networknode[dc12]" id="id_dc12" value="1" {if $networknodeinfo.dc12} checked {/if}><label for="id_dc12">DC 12V</label>&nbsp;&nbsp;&nbsp;
		    <input type="checkbox" name="networknode[dc24]" id="id_dc24" value="1" {if $networknodeinfo.dc24} checked {/if}><label for="id_dc24">DC 24V</label>&nbsp;&nbsp;&nbsp;
		    <input type="checkbox" name="networknode[dc48]" id="id_dc48" value="1" {if $networknodeinfo.dc48} checked {/if}><label for="id_dc48">DC 48V</label>&nbsp;&nbsp;&nbsp;
		    <input type="checkbox" name="networknode[ac230]" id="id_ac230" value="1" {if $networknodeinfo.ac230} checked {/if}><label for="id_ac230">AC 230V</label>
		</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap><span class="tiphelp" {tip text="Wykorzystanie na potrzeby usług szerokopasmowych"}>Usługi szerokopasmowe</span></td>
		<td width="1%" class="pad">:</td>
		<td width="98%" align="left">{foreach $_TN as $item => $key}<input type="radio" name="networknode[service_broadband]" id="id_service_broadband{$item}" value="{$item}" {if $networknodeinfo.service_broadband == $item} checked{/if}><label for="id_service_broadband{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
	    <td width="1%" nowrap><span class="tiphelp" {tip text="Wykorzystanie na potrzeby usług głosowych"}>Usługi głosowe</span></td>
	    <td width="1%" class="pad">:</td>
	    <td width="98%" align="left">{foreach $_TN as $item => $key}<input type="radio" value="{$item}" name="networknode[service_voice]" id="id_service_voice{$item}" {if $networknodeinfo.service_voice == $item} checked {/if}><label for="id_service_voice{$item}">&nbsp;{$key}</label>{/foreach}</td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left" style="vertical-align:top;">Inne przeznaczenie</td>
		<td width="1%" class="pad" style="vertical-align:top;">:</td>
		<td width="98%" nowrap style="vertical-align:top;"><textarea style="width:200px;" rows="4" name="networknode[service_other]" id="id_service_other">{$networknodeinfo.service_other}</textarea></td>
	</tr>
	
	<tr class="pglight">
		<td width="1%" nowrap align="left" style="vertical-align:top;">Notatka</td>
		<td width="1%" class="pad" style="vertical-align:top;">:</td>
		<td width="98%" nowrap style="vertical-align:top;">
		    <textarea style="width:200px;" rows="4" name="networknode[description]" id="id_description">{$networknodeinfo.description}</textarea>
		</td>
	</tr>

	
    </table>
</td>
</tr>

<tr class="pgdark nav-footer">
    <td width="1%" class="fleftu pad" align="left">
	<div id="id_warn_view"></div>
    </td>
    <td width="99%" nowrap class="frightu pad" align="right">
	<a href="javascript:void(0);" class="button" onclick="xajax_validate_networknode(xajax.getFormValues('networknode'));">Zapisz <img src="img/save.gif" alt=""></a>
	<a href="?m={if $target && $target !='add'}{$target}{else}networknodelist{/if}" class="button">Anuluj <img src="img/cancel.gif"></a>
    </td>
</tr>
</table>

</form>


{literal}
<script type="text/javascript">
<!--
    function save_networknode()
    {
	xajax_validate_networknode(xajax.getFormValues('networknode'));
	var validate = document.getElementById('validate').value;
	
	alert('Validacja : '+validate);
    }

    
    function check_use_teryt()
    {
	if (document.getElementById('teryt').checked == true)
	{
	    document.getElementById('used_teryt').style.display = '';
	    document.getElementById('id_view_location').style.display = '';
	    document.getElementById('id_view_states').style.display = 'none';
	    document.getElementById('id_view_districts').style.display = 'none';
	    document.getElementById('id_view_boroughs').style.display = 'none';
	    document.getElementById('id_view_city').style.display = 'none';
	    document.getElementById('id_view_street').style.display = 'none';
	}
	else
	{
	    document.getElementById('used_teryt').style.display = 'none';
	    document.getElementById('id_view_location').style.display = 'none';
	    document.getElementById('id_view_states').style.display = '';
	    document.getElementById('id_view_districts').style.display = '';
	    document.getElementById('id_view_boroughs').style.display = '';
	    document.getElementById('id_view_city').style.display = '';
	    document.getElementById('id_view_street').style.display = '';
	}
    }
    


//    $(function() {
//	$("#id_name").keyup(function(){this.value=this.value.toUpperCase();});
//	$("#id_name").keyup(function(){this.value=this.value.replace(' ','_');});
//    });
    
    
    check_use_teryt();
    document.getElementById('id_name').focus();
//-->
</script>
{/literal}
{include file="load_gif.html"}
{include file="footer.html"}