{include file="header.html"}

<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="3" cellspacing="0" class="table">
    <tr class="dark nav-header">
	
	<td class="fleftu pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>ID</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:left;vertical-align:bottom;">
	    <strong>Nazwa</strong>
	</td>
	
	<td class="fbt pad" width="auto"  style="text-align:left;vertical-align:bottom;">
	    <strong>Adres</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>Rodzaj<br>Węzła</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>Warstwa<br>szkieletowa</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>Warstwa<br>dystrybucyjna</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>Warstwa<br>dostępowa</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>Urządzeń<br>sieciowych</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>---</strong>
	</td>
	
	<td class="fbt pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;">
	    <strong>---</strong>
	</td>
	
	<td class="frightu pad" width="1%" nowrap>
	    &nbsp;
	</td>
    </tr>
    
    
    
    {cycle values="light,lucid" print=false}
    {section name=list loop=$netlist}
    <tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	
	<td class="fleft pad" width="1%" nowrap style="text-align:left;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {$netlist[list].id|string_format:"%03d"}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:left;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {$netlist[list].name}
	</td>
	
	<td class="pad" width="auto"  style="text-align:left;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {$netlist[list].zip} {$netlist[list].city} {if $netlist[list].street}, {$netlist[list].street} {/if}{$netlist[list].location_house}{if $netlist[list].location_flat}/{$netlist[list].location_flat}{/if}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {assign var='tmp' value=$netlist[list].type}
	    {$_TNODE.$tmp}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {assign var='tmp' value=$netlist[list].backbone_layer}
	    {if $tmp}{$_TNC.$tmp}{else}---{/if}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {assign var='tmp' value=$netlist[list].distribution_layer}
	    {if $tmp}{$_TNC.$tmp}{else}---{/if}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {assign var='tmp' value=$netlist[list].access_layer}
	    {if $tmp}{$_TNC.$tmp}{else}---{/if}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	    {$netlist[list].count_netdev}
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	</td>
	
	<td class="pad" width="1%" nowrap style="text-align:center;vertical-align:bottom;cursor:pointer;" onclick="self.location.href='?m=networknodeinfo&idn={$netlist[list].id}'">
	</td>
	
	<td class="fright pad" width="1%" nowrap>
	    <a href="?m=networknodeinfo&idn={$netlist[list].id}"><img src="img/info.gif"></a>
	    <a href="?m=networknodeedit&id={$netlist[list].id}"><img src="img/edit.gif"></a>
	    {if !$netlist[list].count_netdev}
		<a href="?m=networknodedel&id={$netlist[list].id}" onclick="return confirmLink(this,' Potwierdź usunięcie węzła');"><img src="img/delete.gif"></a>
	    {else}
		<img src="img/deleteoff.gif">
	    {/if}
	</td>
    </tr>
    {sectionelse}
	<tr class="error">
		<td colspan="11" align="center" class="fall">
			<p>&nbsp;</p>
			<p><strong>Brak węzłów</strong></p>
			<p>&nbsp;</p>
		</td>
	</tr>
    {/section}
    <tr class="dark nav-footer">
		<td colspan="11" align="right" class="fall">
		    <a href="?m=networknodeadd">Nowy węzeł <img src="img/save.gif"></a>
		</td>
    </tr>
    
</table>

{include file="footer.html"}