{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
{if $customerinfo}
{include file="calendar_js.html"}
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="100%">
			{include file="nodescanbox.html"}
		</TD>
	</TR>
	
	{if check_modules(40)}
	<TR>
		<TD WIDTH="100%">
			{include file="customerinfobox.html" customerpanel=1}
		</TD>
	</TR>
	{if !get_conf('privileges.hide_callcenter')}
	<TR>
		<TD WIDTH="100%">
			{include file="customerinfocenterbox.html"}
		</TD>
	</TR>
	{/if}
	<TR>
		<TD WIDTH="100%">
			{include file="customernodesbox.html"}
		</TD>
	</TR>
	{if check_modules(110)}
	<tr>
		<td width="100%">
			{include file="customermonit.html"}
		</td>
	</tr>
	{/if}
	{if check_modules(80)}
	<TR>
		<TD WIDTH="100%">
			{include file="customervoipaccountsbox.html"}
		</TD>
	</TR>
	{if}
	{if check_modules(81)}
	<TR>
		<TD WIDTH="100%">
			{include file="hv_accountinfobox2.html"}
		</TD>
	</TR>
	{if}
	{if check_modules(180)}
	<TR>
		<TD WIDTH="100%">
			{include file="customerdocuments.html" limit=10}
		</TD>
	</TR>
	{if}
	{if check_modules(220)}
	<TR>
		<TD WIDTH="100%">
			{include file="customermessages.html" limit=10}
		</TD>
	</TR>
	{if}
	{if check_modules(300)}
	<TR>
		<TD WIDTH="100%">
			{include file="customerevents.html" limit=10}
		</TD>
	</TR>
	{if}
	{if check_modules(40)}
	<TR>
		<TD WIDTH="100%">
			{include file="customergroups.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="customerassignments.html"}
		</TD>
	</TR>
	{/if}
	{if check_modules(160)}
	{if !check_conf('privileges.hide_finances')}
	<TR>
		<TD WIDTH="100%">
			{include file="customerbalancebox.html" limit=-10}
		</TD>
	</TR>
	{/if}
	{/if}
</TABLE>
{else}
{include file="nodescanbox.html"}
{/if}
{include file="footer.html"}
