<!--// $Id$ //-->
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall" colspan="3">
			<img src="img/node.gif" alt=""> <b>{trans("Computers found:")}</b>
		</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{section name=n loop=$nodes}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="99%" class="fleft" onclick="return self.location.href='?m=nodeadd&preip={$nodes[n].ipaddr}&premac={$nodes[n].mac}&prename={$nodes[n].name}{if $customerinfo}&ownerid={$customerinfo.id}{/if}';">
			<img src="img/node.gif" alt=""> <b>{$nodes[n].name}</b>
		</td>
		<td width="1%" onclick="return self.location.href='?m=nodeadd&preip={$nodes[n].ipaddr}&premac={$nodes[n].mac}&prename={$nodes[n].name}{if $customerinfo}&ownerid={$customerinfo.id}{/if}';">
			{$nodes[n].ipaddr}
		</td>
		<td width="1%" class="fright" onclick="return self.location.href='?m=nodeadd&preip={$nodes[n].ipaddr}&premac={$nodes[n].mac}&prename={$nodes[n].name}{if $customerinfo}&ownerid={$customerinfo.id}{/if}';">
			{$nodes[n].mac}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="3" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No computers were found, either exists in the database or nbtscan binary not found.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
{if $nodes}
	<tr>
		<td colspan="3" class="fall">{trans("Click on the Computer name above to get it records")}.</td>
	</tr>
{/if}
</table>
