<!--// $Id$ //-->
{$xajax}
<script type="text/javascript">
<!--
	function change_linktype(linktype) {
		linktype = parseInt(linktype);
		var options = document.getElementById('linktechnology').options;
		while (options.length)
			options.remove(0);
		options.add(new Option('{trans("- unknown -")}', 0));
		switch (linktype) {
			case 0:
				{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
				options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
				{/foreach}
				break;
			case 1:
				{foreach $_LINKTECHNOLOGIES[1] as $linktechnologyidx => $linktechnology}
				options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
				{/foreach}
				break;
			case 2:
				{foreach $_LINKTECHNOLOGIES[2] as $linktechnologyidx => $linktechnology}
				options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
				{/foreach}
				break;
			case 3:
				{foreach $_LINKTECHNOLOGIES[3] as $linktechnologyidx => $linktechnology}
				options.add(new Option('{$linktechnology}', {$linktechnologyidx}));
				{/foreach}
				break;
		}
	}
//-->
</script>
<table style="width: 100%;" cellpadding="3" class="table">
	<tr class="dark info">
		<td style="width: 1%;" class="fleftu">
			<img src="img/node.gif" alt="">
		</td>
		<td style="width: 99%;" class="frightu" colspan="2">
			<span class="bold">{$nodeinfo.name} ({$nodeinfo.id|string_format:"%04d"})</span>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 100%;" colspan="3" class="flr container">
			<table style="width: 100%;" cellpadding="0">
				<tr class="light">
					<td style="width: 50%; vertical-align: top;">
						<table style="width: 100%" cellpadding="3">
	
	<tr class="light">
	    <td width="100%" colspan="2" style="vertial-align:top;text-align:left;">
	    <fieldset style="width:250px;"><legend>| <b>Lokalny Adres IP</b> |</legend>
	    <table width="100%" cellpadding="1" cellspacing="0">
		<tr class="light">
		    <td width="1%"><img src="img/ip.gif" alt="{trans("IP address:")}" title="[ Adres IP ]"></td>
		    <td width="1%" nowrap class="pad"><b>IP</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%"><a href="javascript:ping_popup('{$nodeinfo.ip}')">{$nodeinfo.ip}</a></td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/network.gif" alt="{trans("Network:")}" title="[ SIEĆ ]"></td>
		    <td width="1%" nowrap class="pad"><b>Sieć</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%"><a href="?m=netinfo&id={$nodeinfo.netid}">{$nodeinfo.networkname}</a></td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/host.gif" alt="Host" title="[ HOST ]"></td>
		    <td width="1%" nowrap class="pad"><b>Host</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%">{if $nodeinfo.hostname}{$nodeinfo.hostname}{else}<span style="color:blue;">Sieć bez przypisanego hosta</span>{/if}</td>
		</tr>
		
		
	    </table>
	    </fieldset>
	    </td>
	</tr>
	
	{if get_form('nodes.public_ip') && $nodeinfo.ip_pub != "0.0.0.0"}
	<tr class="light">
	    <td width="100%" colspan="2" style="text-align:left;vertical-align:top;">
	    <fieldset style="width:250px;"><legend>| <b>Publiczny Adres IP</b> |</legend>
	    <table width="100%" cellpadding="1" cellspacing="0">
		<tr class="light">
		    <td width="1%"><img src="img/ip_pub.gif" alt="{trans("Pub. IP address:")}" title="[ Publiczny Adres IP ]"></td>
		    <td width="1%" nowrap class="pad"><b>IP</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%"><a href="javascript:ping_popup('{$nodeinfo.ip_pub}')">{$nodeinfo.ip_pub}</a></td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/network.gif" alt="{trans("Network:")}" title="[ SIEĆ ]"></td>
		    <td width="1%" nowrap class="pad"><b>Sieć</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%"><a href="?m=netinfo&id={$nodeinfo.netid_pub}">{$nodeinfo.networkname_pub}</a></td>
		</tr>
		<tr class="light">
		    <td width="1%;"><img src="img/host.gif" alt="Host" title="[ HOST ]"></td>
		    <td width="1%" nowrap class="pad"><b>Host</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%">{if $nodeinfo.hostname_pub}{$nodeinfo.hostname_pub}{else}<span style="color:blue;">Sieć bez przypisanego hosta</span>{/if}</td>
		</tr>
	    </table>
	    </fieldset>
	    </td>
	</tr>
	{/if}
	
	
	
	{if get_form('nodes.macaddress')}
	{assign var="counter" value=0}
	{foreach from=$nodeinfo.macs item=item}
	<tr class="light">
		<td style="width: 1%;">
			<a href="javascript:changeMacFormat('mac{$counter}')"><img src="img/mac.gif" alt="{trans("MAC address:")}" title="[ Adres MAC ]"></a>
		</td>
		<td style="width: 99%;" colspan="2">
			<span id="mac{$counter}">{$item.mac}</span> {if $item.producer}({$item.producer}){/if}<br>
		</td>
	</tr>
	{math equation="x+1" x=$counter assign="counter"}
	{/foreach}
	{/if}
	
	{if $nodeinfo.pppoelogin && get_form('nodes.pppoe_login')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/name.gif" alt="PPPoE Login" title="[ PPPoE Login ]">
		</td>
		<td style="width: 99%;" colspan="2">
			{$nodeinfo.pppoelogin}
		</td>
	</tr>
	{/if}
	
	{if get_form('nodes.password') && $nodeinfo.passwd}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/passwd.gif" alt="{trans("Password:")}" title="[ PPPoE Hasło ]">
		</td>
		<td style="width: 99%;" colspan="2">
			{$nodeinfo.passwd}
		</td>
	</tr>
	{/if}

	{if get_form('nodes.location') && $nodeinfo.location}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("Location:")}" title="[ {trans('Location:')} ]">
		</td>
		<td style="width: 99%;" colspan="2">
			{$nodeinfo.location}
		</td>
	</tr>
	{/if}
	
	{if get_form('nodes.netlinks')}
	{if $nodeinfo.netdev || $netdevices}
	{if !$nodeinfo.netdev && $netdevices}
	    <form method="GET" action="?m=nodeedit" name="nodelink">
	    <input type="hidden" name="m" value="nodeedit">
	    <input type="hidden" name="id" value="{$nodeinfo.id}">
	    <input type="hidden" name="action" value="link">
	    <input type="submit" class="hiddenbtn">
	{/if}
	    <tr>
		<td style="width: 1%;">
			<img src="img/netdev.gif" alt="{trans("Net device:")}" title="[ {trans('Net device:')} ]">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			{if $nodeinfo.netdev}
				<fieldset style="width:400px;"><legend>| <b>Informacja o połączeniu sieciowym</b> |</legend>
				    <table width="100%" cellpadding="2">
					<tr>
					    <td width="100%" colspan="2" align="left">
					    <span class="bold"><a href="?m=netdevinfo&id={$netdevices.id}">{$netdevices.name} {$netdevices.producer}{if $netdevices.location} / {$netdevices.location}{/if}</a></span>
					    </td>
					</tr>
					<tr>
					    <td width="1%"><b>Medium</b></td>
					    <td width="99%" align="left" class="pad">{$_LINKTYPES[$nodeinfo.linktype]}</td>
					</tr>
					
					{if $nodeinfo.linktechnology}
					<tr>
					    <td width="1%"><b>Technologia</b></td>
					    <td width="99%" align="left" class="pad">{$_LINKTECHNOLOGIES[$nodeinfo.linktype][$nodeinfo.linktechnology]}</td>
					</tr>
					{/if}
					{if $nodeinfo.linkspeed}
					<tr>
					    <td width="1%"><b>Prędkość</b></td>
					    <td width="99%" align="left" class="pad">{$_LINKSPEEDS[$nodeinfo.linkspeed]}</td>
					</tr>
					{/if}
					
					{if $nodeinfo.port}
					<tr>
					    <td width="1%"><b>Port</b></td>
					    <td width="99%" align="left" class="pad">{$nodeinfo.port}</td>
					</tr>
					{/if}
					{if $nodeinfo.layer}
					<tr>
					    <td width="1%"><b>Warstwa</b></td>
					    <td width="99%" align="left" class="pad">{assign 'layer' $nodeinfo.layer}{$_LAYERTYPE.$layer}</td>
					</tr>
					{/if}
					{if $nodeinfo.tracttype}
					<tr>
					    <td width="1%"><b>Przyłącze</b></td>
					    <td width="99%" align="left" class="pad">{assign 'tract' $nodeinfo.tracttype}{$_TRACTNODE.$tract}</td>
					</tr>
					{/if}
				    </table>
				    </fieldset>
			{else}
				{if $netdevices}
				<fieldset style="width:400px;"><legend>| <b>Informacja o połączeniu sieciowym</b> |</legend>
				<select size="1" style="width: 300px;" name="devid" {tip trigger="netdev"}>
				<option value="0" {if !$netdevice}selected{/if}>- {trans("no device")} -</option>
					{section name=netdev loop=$netdevices}
					{assign var=netdevname value=$netdevices[netdev].name}
					{if $netdevices[netdev].producer}{assign var=netdevname value=$netdevname|cat:" / "|cat:$netdevices[netdev].producer}{/if}
					{if $netdevices[netdev].location}{assign var=netdevname value=$netdevname|cat:" ("|cat:$netdevices[netdev].location|cat:")"}{/if}
					<option value="{$netdevices[netdev].id}" {if $netdevices[netdev].id==$netdevice}selected{/if}>{$netdevname|truncate:120:"...":true}</option>
					{/section}
				</select>
				<input type="text" name="port" value="{if $nodeinfo.port}{$nodeinfo.port}{/if}" size="2" {tip text="Enter port number in device (optional)" trigger="port"}>
				
				<p style="margin:3px 0 0 0;">
				<select name="linktype" id="linktype" {tip trigger="linktype" text="Select link type"} onchange="change_linktype(this.options[this.selectedIndex].value)" style="width:300px;">
					{foreach from=$_LINKTYPES item=item key=key}
					<option VAlUE="{$key}">{$item}</option>
					{/foreach}
				</select>
				</p>
				
				<p style="margin:3px 0 0 0;">
				<select name="linktechnology" id="linktechnology" {tip trigger="linktechnology" text="Wybierz technologię łącza"} style="width:300px;">
					<option value="0">- nieznana -</option>
					{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
					<option value="{$linktechnologyidx}">{$linktechnology}</option>
					{/foreach}
				</select>
				
				<select name="linkspeed" id="linkspeed" {tip trigger="linkspeed" text="Select link speed"}>
					{foreach from=$_LINKSPEEDS item=item key=key}
					<option value="{$key}"{if $key==100000} selected{/if}>{$item}</option>
					{/foreach}
				</select>
				</p>
				
				<p style="margin:3px 0 0 0;">
				{assign 'dystrybucja' $smarty.const.LAYER_DISTRIBUTION}
				{assign 'dostep' $smarty.const.LAYER_ACCESS} 
				<select name="layer" id="layer" {tip text="Wybierz warstwę sieci" trigger="layer"} style="width:300px;">
					<option value="{$dostep}"{if $nodeinfo.layer == $dostep} selected{/if}>{$_LAYERTYPE.$dostep}</option>
					<option value="{$dystrybucja}"{if $nodeinfo.layer == $dystrybucja} selected{/if}>{$_LAYERTYPE.$dystrybucja}</option>
				</select>
				</p>
				<p style="margin:3px 0 0 0;">
				<select name="tracttype" id="tracttype" {tip text="Wybierz rodzaj przyłącza" trigger="tracttype"} style="width:300px;">
					<option value="">-- żaden --</option>
					{foreach $_TRACTNODE as $item => $key}
					<option value="{$item}"{if $nodeinfo.tracttype == $item} selected{/if}>{$key}</option>
					{/foreach}
				</select>
				</p>
				<div style="width:390px;text-align:right;">
				<a href="javascript:document.nodelink.submit(); ">{trans("Connect")} <img src="img/save.gif" alt=""></a>
				</div>
				</fieldset>
				{literal}
				    <script type="text/javascript" language="JavaScript">
				    <!--
				    change_linktype(document.getElementById('linktype').value);
				    //-->
				    </script>
				{/literal}
				{/if}
			{/if}
		</td>
	    </tr>
	{if !$nodeinfo.netdev && $netdevices}
	    </form>
	{/if}
	{/if}
	{/if}
	
	{if get_form('nodes.project')}
	<tr class="light">
	    <td width="1%">
		<img src="img/money.gif" alt="[x]" {tip text="Projekt inwestycyjny"}>
	    </td>
	    <td width="99%" align="left" colspan="2">
		{if !$nodeinfo.invprojectid}
		    {trans('none')}
		{else if $nodeinfo.invprojectid == 1}
		    {trans('From root device')}
		{else}
		    <span {tip text="Projekt inwestycyjny"}>{$nodeinfo.projectname}</span>
		{/if} 
	    </td>
	</tr>
	{/if}
	
	{if (get_form('nodes.checkmac') || get_form('nodes.halfduplex') || get_form('nodes.monitoring')) && ($nodeinfo.chkmac || $nodeinfo.halfduplex || ($nodeinfo.monitoring && check_modules(110)))}
	<tr class="light">
		<td style="width: 1%;"><img src="img/options.gif" alt=""></td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			{if get_form('nodes.checkmac') && $nodeinfo.chkmac}{trans("MAC checking")},&nbsp;&nbsp;{/if}
			{if get_form('nodes.halfduplex') && $nodeinfo.halfduplex}{trans("Half duplex")},&nbsp;&nbsp;{/if}
			{if get_form('nodes.monitoring') && $nodeinfo.monitoring && check_modules(110)}Monitorowanie{/if}
		</td>
	</tr>
	{/if}
	
	{if (get_form('nodes.pppoe') || get_form('nodes.dhcp') || get_form('nodes.eap')) && ($nodeauthtype.pppoe || $nodeauthtype.dhcp || $nodeauthtype.eap)}
	<tr>
		<td style="width: 1%;"><img src="img/netdev.gif" alt=""></td>
		<td style="width: 98%; white-space: nowrap;" colspan="2">
			{if get_form('nodes.pppoe') && $nodeauthtype.pppoe}{trans('PPPoE Client')},&nbsp;&nbsp;{/if}
			{if get_form('nodes.dhcp') && $nodeauthtype.dhcp}{trans("DHCP Client")},&nbsp;&nbsp;{/if}
			{if get_form('nodes.eap') && $nodeauthtype.eap}{trans("EAP Client")}{/if}
		</td>
	</tr>
	{/if}
	
	{if get_form('nodes.nas') && $nodeinfo.nasid}
	<tr>
		<td style="width: 1%;"><img src="img/netdev.gif" alt=""></td>
		<td style="width: 98%; white-space: nowrap;" colspan="2">
		NAS:&nbsp;{if $nodeinfo.nasname}{$nodeinfo.nasname}{else}<span style="color:blue;font-weight:bold;">był ale znikł :/</span>{/if}
		</td>
	</tr>
	{/if}

{if get_form('nodes.monitoring')}
{if $node_monit.signal || $node_monit.ping}
	<tr class="light">
	    <td style="width:1%;vertical-align:top;" nowrap>
		<img src="img/radar.png" alt="">
	    </td>
	    <td style="width:99%; white-space: nowrap;" colspan="2">
		<table width="100%" cellpadding="2">
		    {if $node_monit.ping}
			<tr>
			    <td width="1%" nowrap>Ping</td>
			    <td width="1%" class="pad"><b>:</b></td>
			    <td width="98%" align="left" class="pad"><b>{if $node_monit.ping_time!='-1'}{$node_monit.ping_time} ms{else}<font color="red">timeout</font>{/if}</b> ({$node_monit.ping_date|date_format:"Y/m/d H:i"})</td>
			</tr>
		    {/if}
		    {if $node_monit.signal}
			    <tr>
				<td width="1%" nowrap>Ostatni pomiar sygnału</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="99%" align="left" class="pad">{$node_monit.signal_date|date_format:"Y/m/d H:i"}</td>
			    </tr>
			
			{if $node_monit.rx_signal || $node_monit.tx_signal}
			    <tr>
				<td width="1%" nowrap>
				    {if $node_monit.rx_signal}RX{/if}
				    {if $node_monit.rx_signal && $node_monit.tx_signal}&nbsp;/&nbsp;{/if}
				    {if $node_monit.tx_signal}TX{/if}
				     &nbsp;Signal
				</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="99%" align="left" class="pad">
				    {if $node_monit.rx_signal}-{$node_monit.rx_signal} dBm{/if}
				    {if $node_monit.rx_signal && $node_monit.tx_signal}/{/if}
				    {if $node_monit.tx_signal}-{$node_monit.tx_signal} dBm{/if}
				</td>
			    </tr>
			{/if}
			
			{if $node_monit.rx_rate || $node_monit.tx_rate}
			    <tr>
				<td width="1%" nowrap>
				    {if $node_monit.rx_rate}RX{/if}
				    {if $node_monit.rx_rate && $node_monit.tx_rate}/{/if}
				    {if $node_monit.tx_rate}TX{/if}
				     &nbsp;Rate
				</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="99%" align="left" class="pad">
				    {if $node_monit.rx_rate}{$node_monit.rx_rate} Mbps{/if}
				    {if $node_monit.rx_rate && $node_monit.tx_rate}&nbsp;/&nbsp;{/if}
				    {if $node_monit.tx_rate}{$node_monit.tx_rate} Mbps{/if}
				</td>
			    </tr>
			{/if}
			
			{if $node_monit.rx_ccq || $node_monit.tx_ccq}
			    <tr>
				<td width="1%" nowrap>
				    {if $node_monit.rx_ccq}RX{/if}
				    {if $node_monit.rx_ccq && $node_monit.tx_ccq}/{/if}
				    {if $node_monit.tx_ccq}TX{/if}
				     &nbsp;CCQ
				</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="99%" align="left" class="pad">
				    {if $node_monit.rx_ccq}{$node_monit.rx_ccq} %{/if}
				    {if $node_monit.rx_ccq && $node_monit.tx_ccq}&nbsp;/&nbsp;{/if}
				    {if $node_monit.tx_ccq}{$node_monit.tx_ccq} %{/if}
				</td>
			    </tr>
			{/if}
			
			{if $node_monit.signal_noise}
			    <tr>
				<td width="1%" nowrap>Signal Noise</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="98%" align="left" class="pad">
				    {$node_monit.signal_noise} dB
				</td>
			    </tr>
			{/if}
			
			{if $node_monit.ack_timeout}
			    <tr>
				<td width="1%" nowrap>ACK Timeout</td>
				<td width="1%" class="pad"><b>:</b></td>
				<td width="98%" align="left" class="pad">
				    {$node_monit.ack_timeout} us
				</td>
			    </tr>
			{/if}
		    {/if}
		    
		</table>
	    </td>
	</tr>
	
{/if}
{/if}
					</table>
				</td>
				<td style="width: 50%; vertical-align: top;">
					<table style="width: 100%;" cellpadding="3">
{if get_form('nodes.devicestype') && $nodeinfo.typeofdevice}
	<tr class="light">
	    <td style="width:1%;">
		<img src="img/netdev.gif">
	    </td>
	    <td style="width:1%;">
		<b>Rodzaj urządzenia</b>
	    </td>
	    <td style="width:98%;">
		{$nodeinfo.typeofdevicename}
	    </td>
	</tr>
{/if}

{if get_form('nodes.producer')}
{if $nodeinfo.producer}
	    <tr class="light">
		<td style="width:1%">
		    <img src="img/producer.gif">
		</td>
		<td style="width:1%">
		    <b>Producent</b>
		</td>
		<td style="width:98%;">
		    {$nodeinfo.producer}
		</td>
	    </tr>
{/if}

{if $nodeinfo.model}
	    <tr class="light">
		<td style="width:1%">
		    <img src="img/netdev_model.gif">
		</td>
		<td style="width:1%">
		    <b>Model</b>
		</td>
		<td style="width:98%;">
		    {$nodeinfo.model}
		</td>
	    </tr>
{/if}
{/if}

{if get_form('nodes.sn') && $nodeinfo.sn}
	    <tr class="light">
		<td style="width:1%">
		    <img src="img/serialnumber.gif">
		</td>
		<td style="width:1%">
		    <b>Numer seryjny</b>
		</td>
		<td style="width:98%;">
		    {$nodeinfo.sn}
		</td>
	    </tr>
{/if}


{if get_form('nodes.gps') && ($nodeinfo.longitude || $nodeinfo.latitude)}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("GPS coordinates:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS longitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			{if $nodeinfo.longitude}{$nodeinfo.longitude}{else}{/if}
			<input type="hidden" id="longitude" name="longitude" value="{$nodeinfo.longitude}">
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("GPS coordinates:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS latitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			{if $nodeinfo.latitude}{$nodeinfo.latitude}{else}{/if}
			<input type="hidden" id="latitude" name="latitude" value="{$nodeinfo.latitude}">&nbsp;&nbsp;<a href="?m=netdevmap&nodeid={$nodeinfo.id}">{trans("Show on map")} &raquo;&raquo;&raquo;</a>
		</td>
	</tr>
{/if}

	<tr class="light">
		<td style="width: 1%;">
			<a href="?m=nodeset&id={$nodeinfo.id}"><img src="img/{if ! $nodeinfo.access}no{/if}access.gif" alt=""></a>
		</td>
		<td style="width:1%">
		    <b>Status</b>
		</td>
		<td style="width: 98%;">
			{if $nodeinfo.access}{trans("connected<!singular>")}{else}{trans("disconnected<!singular>")}{/if}
		</td>
	</tr>

{if get_form('nodes.auth') && ($nodeinfo.access_from || $nodeinfo.access_to)}
	<tr class="light">
	    <td style="width:1%;">
		<img src="img/calendar.gif" alt="">
	    </td>
	    <td style="width:1%;" nowrap>
		<b>Autoryzacja urządzenia</b>
	    </td>
	    <td style="width:98%;">
		{if $nodeinfo.access_from} od dnia {$nodeinfo.access_from|date_format:"Y/m/d"}{/if}{if $nodeinfo.access_to} do dnia {$nodeinfo.access_to|date_format:"Y/m/d"}{/if}
	    </td>
	</tr>
{/if}
	<tr class="light">
		<td style="width: 1%;">
			<a href="?m=nodeblockade&id={$nodeinfo.id}"><img src="img/padlock{if !$nodeinfo.blockade}off{/if}.png" alt=""></a>
		</td>
		<td style="width:1%">
		    <b>Blokada</b>
		</td>
		<td style="width: 98%;">
			{if $nodeinfo.blockade}włączona{else}wyłączona{/if}
		</td>
	</tr>
	
	<tr class="light">
		<td style="width: 1%;">
			<a href="?m=nodewarn&id={$nodeinfo.id}"><img src="img/warning{if ! $nodeinfo.warning}off{else}on{/if}.gif" alt=""></a>
		</td>
		<td style="width:1%">
		    <b>Powiadomienie</b>
		</td>
		<td style="width:98%;">
			{if $nodeinfo.warning}włączone{else}wyłączone{/if}
		</td>
	</tr>
	
{if get_form('nodes.info') && $nodeinfo.info}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/info1.gif" alt="{trans("Description:")}">
		</td>
		<td style="width:1%;">
		    <b>Dodatkowa informacja</b>
		</td>
		<td style="width: 98%;">
			<table style="width: 100%;" cellpadding="5">
				<tr>
					<td class="fall superlight">
						{$nodeinfo.info|replace:"\n":"<br>"}
					</td>
				</tr>
			</table>
		</td>
	</tr>
{/if}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/time.gif" alt="">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("last online:")}</span>
		</td>
		<td style="width: 98%;">
			{if $nodeinfo.lastonline}{$nodeinfo.lastonlinedate}{else}-{/if}
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/users.gif" alt="">
		</td>
		<td style="width: 1%;">
			<span class="bold">{trans("Created:")}<br>
			{trans("Modified:")}</span>
		</td>
		<td style="width: 98%;">
			{$nodeinfo.createdby}, {$nodeinfo.creationdateh}<br>
			{if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
		</td>
	</tr>

{if ($nodestats.month.download.data || $nodestats.month.upload.data)}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/traffic.gif" alt="">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<span class="bold">{trans("Traffic stats from last (download/upload):")}</span>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;"></td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<table style="width: 100%;" cellpadding="3">
				<tr>
					<td style="width: 1%; white-space: nowrap;">
						<a href="javascript:popup('?m=trafficgraph&nodeid={$nodeinfo.id}&bar=hour',1,1,10,10)"><span class="bold">{trans("hour:")}</span></a>
					</td>
					<td style="width: 99%; white-space: nowrap;">
						{$nodestats.hour.download.data|string_format:"%.2f"} {$nodestats.hour.download.units} ({$nodestats.hour.downavg|string_format:"%d"} kbit/s) / {$nodestats.hour.upload.data|string_format:"%.2f"} {$nodestats.hour.upload.units} ({$nodestats.hour.upavg|string_format:"%d"} kbit/s) 
					</td>
				</tr>
				<tr>
					<td style="width:1%; white-space: nowrap;">
						<a href="javascript:popup('?m=trafficgraph&nodeid={$nodeinfo.id}&bar=day',1,1,10,10)"><span class="bold">{trans("24 hour:")}</span></a>
					</td>
					<td style="width: 99%; white-space: nowrap;">
						{$nodestats.day.download.data|string_format:"%.2f"} {$nodestats.day.download.units} ({$nodestats.day.downavg|string_format:"%d"} kbit/s) / {$nodestats.day.upload.data|string_format:"%.2f"} {$nodestats.day.upload.units} ({$nodestats.day.upavg|string_format:"%d"} kbit/s)
					</td>
				</tr>
				<tr>
					<td style="width: 1%; white-space: nowrap;">
						<a href="javascript:popup('?m=trafficgraph&nodeid={$nodeinfo.id}&bar=month',1,1,10,10)"><span class="bold">{trans("30 days:")}</span></a>
					</td>
					<td style="width: 99%; white-space: nowrap;">
						{$nodestats.month.download.data|string_format:"%.2f"} {$nodestats.month.download.units} ({$nodestats.month.downavg|string_format:"%d"} kbit/s) / {$nodestats.month.upload.data|string_format:"%.2f"} {$nodestats.month.upload.units} ({$nodestats.month.upavg|string_format:"%d"} kbit/s)
					</td>
				</tr>
				{if get_conf('phpui.live_traffic_helper')}
				<tr>
					<td style="width: 1%; white-space: nowrap;">
						<span class="bold">{trans("current:")}</span>
					</td>
					<td style="width: 99%; white-space: nowrap;" id="livetraffic">
					</td>
				</tr>
				<script type="text/javascript">
				<!--
					function live_traffic_start() {
						xajax.config.waitCursor = false;
						xajax_getThroughput('{$nodeinfo.ip}');
					}

					function live_traffic_finished() {
						xahax.config.waitCursor = true;
						setTimeout("live_traffic_start()", 3000);
					}

					live_traffic_start();
				//-->
				</script>
				{/if}
			</table>
		</td>
	</tr>
{/if}
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{if get_conf('monit.display_chart_in_node_box') && ($node_monit.signaltest || $node_monit.pingtest)}
	<tr class="light">
	    <td width="100%" align="left" class="flr pad" colspan="3">
		<table width="100%" cellpadding="2">
		<tr>
		
		    {if $node_monit.signaltest && $node_monit.signal}
		    <td align="left" class="pad" width="{if $node_monit.ping && $node_monit.signal}50{else}100{/if}%">
			<b>&nbsp;Jakość i siła sygnału radiowego, ostatnie 24 godziny od dnia {$node_monit.signal_date|date_format:"Y/m/d H:i"}</b><br><img src="tmp/signal.node.{$nodeinfo.id}.small.png">
		    </td>
		    {/if}
		    
		    {if $node_monit.pingtest && $node_monit.ping}
		    <td align="left" class="pad" width="{if $node_monit.ping && $node_monit.signal}50{else}100{/if}%">
		    <b>&nbsp;Czasy odpowiedzi dla testu Ping, ostatnie 24 godziny od dnia {$node_monit.ping_date|date_format:"Y/m/d H:i"}</b><br><img src="tmp/ping.node.{$nodeinfo.id}.small.png">
		    </td>
		    {/if}
		
		</tr>
		</table>
	    </td>
	<tr>
{/if}
	{if $pluglinks.nodeinfo}
	<tr class="dark nav-footer nav-footer-bordertop">
	    <td style="width: 100%; text-align: right;" class="ftopu" colspan="3">
	    {assign var='linki' value=$pluglinks.nodeinfo}
	    {section name='linki' loop=$linki}
		&nbsp;&nbsp;{$linki[linki]}
	    {/section}
	    </td>
	</tr>
	{/if}
	<tr class="dark nav-footer nav-footer-bordertop">
	    <td style="width: 100%; text-align: right;" class="fall" colspan="3">
		{if get_conf('monit.live_ping')}<a href="javascript:void(0);" onclick="window.open('?m=nodeping&packetsize=64&ip={$nodeinfo.ip}','pingnode{$nodeinfo.ip}','width=400,height=450')" {tip text="Pinguj urzadzenie"}>Live Ping <img src="img/ping.gif" alt=""></a>&nbsp;{/if}
		<a href="?m=nodeedit&id={$nodeinfo.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
		<a href="?m=nodedel&id={$nodeinfo.id}" onclick="return confirmLink(this, '{t a=$nodeinfo.name}Are you sure, you want to remove node \'$a\' from database?{/t}')">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
		
	    </td>
	</tr>
	
</table>
