<!--// $Id$ //-->
{include file="calendar_js.html"}
<form name="nodeadd" id="nodeadd" method="POST" action="?m=nodeadd{if $customerinfo.id}&ownerid={$customerinfo.id}{/if}">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="nodedatanetid" id="nodedatanetid" value="{$nodedata.netid}">
<table style="width: 100%;" cellpadding="3" class="table">
	<tr class="dark nav-header">
		<td style="width: 1%;" class="fleftu">
			<img src="img/node.gif" alt="{trans("Name:")}">
		</td>
		<td style="width: 99%;" class="frightu">
			<input type="text" name="nodedata[name]" value="{$nodedata.name}" maxlength="32" size="30" {tip text="Enter node name" trigger="name" bold=1}>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 100%;" colspan="2" class="flr container">
			<table style="width: 100%;" cellpadding="0">
				<tr class="light">
					<td style="width: 50%; vertical-align: top;">
						<table style="width: 100%;" cellpadding="3">
	<tr>
		<td width="1%"><img src="img/host.gif"></td>
		<td width="99%" align="left"><div id="id_host_name">{$nodedata.hostname}</div></td>
	</tr>
	<tr>
		<td style="width: 1%;">
			<img src="img/network.gif" alt="{trans("Network:")}">
		</td>
		<td style="width: 99%;">
			
			<div id="id_network_name">{$nodedata.networkname}</div>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/ip.gif" alt="{trans("IP address:")}">
		</td>
		<td style="width: 99%;">
			<input type="text" readonly name="nodedataipaddr" value="{$nodedata.ipaddr}" {tip text="Enter IP address" trigger="ipaddr"}>
			<a href="javascript: void(0);" onclick="return ipchoosewin(document.nodeadd.nodedataipaddr, document.nodeadd.nodedatanetid);" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{if check_conf('phpui.public_ip')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/ip_pub.gif" alt="{trans("Pub. IP address:")}">
		</td>
		<td style="width: 99%;">
			<input type="text" name="nodedataipaddr_pub" value="{$nodedata.ipaddr_pub}" {tip text="Enter IP address (optional)" trigger="ipaddr_pub"}> <a href="javascript: void(0);" onclick="return ipchoosewin(document.nodeadd.nodedataipaddr_pub, null);" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/mac.gif" alt="{trans("MAC address:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<table style="width: 100%;" cellpadding="1" cellspacing="0">
				{foreach from=$nodedata.macs item=item key=key}
				<tr id="mac{$key}">
					<td style="width: 100%"><input type="text" name="nodedata[macs][{$key}]" value="{$item}" {tip text="Enter MAC address" trigger="mac`$key`"}> <a href="javascript: void(0);" onclick="return macchoosewin(document.nodeadd.elements['nodedata[macs][{$key}]']);" {tip text="Click to select MAC from the list"}>&raquo;&raquo;&raquo;</a></td>
				</tr>
				{/foreach}
			</table>
			<input type="hidden" id="macscount" value="{$item@total}">
			<a href="javascript: newmac()">{trans("Add MAC address")} &raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/passwd.gif" alt="{trans("Password:")}">
		</td>
		<td style="width: 99%;">
			<input type="text" name="nodedata[passwd]" value="{$nodedata.passwd}" {tip text="Enter password (optional)" trigger="passwd"}> <a href="javascript: GenPasswd();" {tip text="Click to generate random password"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%; vertical-align: top;">
			<img src="img/home.gif" alt="{trans("Location:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<input type="text" size="40" value="{$nodedata.location}" id="location" name="nodedata[location]"  {tip text="Enter location (optional)" trigger="location"}>
			<a href="javascript: void(0);" onclick="if (check_teryt()) return locationchoosewin('nodedata', 'nodeadd', document.forms['nodeadd'].elements['nodedata[location_city]'].value,  document.forms['nodeadd'].elements['nodedata[location_street]'].value)" {tip text="Click to select location"}>&raquo;&raquo;&raquo;</a>
			<br>
			<input type="hidden" name="nodedata[location_city]" value="{$nodedata.location_city}">
			<input type="hidden" name="nodedata[location_street]" value="{$nodedata.location_street}">
			<input type="hidden" name="nodedata[location_house]" value="{$nodedata.location_house}">
			<input type="hidden" name="nodedata[location_flat]" value="{$nodedata.location_flat}">
			<input type="checkbox" name="nodedata[teryt]" id="teryt" onchange="check_teryt('location')"{if $nodedata.teryt} checked{/if}> <label for="teryt">{trans("TERRIT-DB")}</label>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/nodegroup.gif" alt="{trans("Node group:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;">
			<select size="1" name="nodedata[nodegroup]" {tip text="Select group to attribute to node" trigger="nodegroup"} style="max-width:250px;">
				<option value="0">{trans("... select group ...")}</option>
				{foreach from=$allnodegroups item=group}
				<option value="{$group.id}" {if $group.id==$nodedata.nodegroup} selected{/if}>{$group.name} ({$group.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
		</td>
	</tr>
	{if $netdevices}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/netdev.gif" alt="{trans("Net device:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;">
			<select size="1" name="nodedata[netdev]" {tip text="Select network device (optional)" trigger="netdev"} style="max-width:250px;">
				<option value="0"{if !$nodedata.netdev} selected{/if}>{trans("- select device -")}</option>
				{section name=netdevices loop=$netdevices}
				<option value="{$netdevices[netdevices].id}"{if $netdevices[netdevices].id==$nodedata.netdev} selected{/if}>{$netdevices[netdevices].name} {$netdevices[netdevices].producer}{if $netdevices[netdevices].location} / {$netdevices[netdevices].location}{/if}</option>
				{/section}
			</select>
			<input type="text" name="nodedata[port]" value="{if $nodedata.port}{$nodedata.port}{/if}" size="2" {tip text="Enter port number in device (optional)" trigger="port"}>
			<br>
			<select name="nodedata[linktype]" id="linktype" {tip trigger="linktype" text="Select link type"} style="min-width:200px;" onchange="change_linktype(this.options[this.selectedIndex].value)">
				{foreach from=$_LINKTYPES item=item key=key}
				<option value="{$key}">{$item}</option>
				{/foreach}
			</select><br>
			<select name="nodedata[linktechnology]" id="linktechnology" {tip trigger="linktechnology" text="Wybierz technologię łącza"} style="min-width:200px;">>
				<option value="0">- nieznana -</option>
				{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}
				<option value="{$linktechnologyidx}">{$linktechnology}</option>
				{/foreach}
			</select>
			<select name="nodedata[linkspeed]" id="linkspeed" {tip trigger="linkspeed" text="Select link speed"}>
				{foreach from=$_LINKSPEEDS item=item key=key}
				<option value="{$key}"{if $key==100000} selected{/if}>{$item}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	    <input type="hidden" name="nodedata[netdevices]" value="1">
	{else}
	    <input type="hidden" name="nodedata[netdev]" value="">
	    <input type="hidden" name="nodedata[port]" value="">
	    <input type="hidden" name="nodedata[linktype]" value="">
	    <input type="hidden" name="nodedata[linktechnology]" value="">
	    <input type="hidden" name="nodedata[linkspeed]" value="">
	    <input type="hidden" name="nodedata[netdevices]" value="0">
	{/if}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/customer.gif" alt="{trans("Customer:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;">
		{if $customers}
			<select size="1" name="nodedata[customerid]" {tip text="Assign node to customer" trigger="ownerid"} style="max-width:160px;" onchange="document.nodeadd.elements['nodedata[ownerid]'].value=this.value">
				<option value="0">{trans("... select customer ...")}</option>
				{foreach from=$customers item=c}
				<option value="{$c.id}"{if $nodedata.ownerid == $c.id} selected{/if}>{$c.customername|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
			{trans("or Customer ID:")}
		{/if}
		<input type="text" name="nodedata[ownerid]" value="{if $nodedata.ownerid}{$nodedata.ownerid}{/if}" size="5"{if $customers} onchange="reset_customer()" onfocus="reset_customer()"{/if} {tip text="Enter customer ID" trigger="ownerid"}>
		<a href="javascript: void(0);" onclick="return customerchoosewin(document.nodeadd.elements['nodedata[ownerid]']);" {tip text="Click to search customer"}>{trans("Search")}&nbsp;&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/options.gif" alt="">
		</td>
		<td style="width: 99%; white-space: nowrap;">
			<label for="chkmac">{trans("MAC checking")}:</label><input type="checkbox" name="nodedata[chkmac]" value="1" id="chkmac" {tip text="Enable/disable MAC address checking" trigger="chkmac"}{if !isset($nodedata.chkmac) || $nodedata.chkmac} checked{/if}>&nbsp;
			<label for="halfduplex">{trans("Half duplex")}:</label><input type="checkbox" name="nodedata[halfduplex]" value="1" id="halfduplex" {if $nodedata.halfduplex} checked{/if} {tip text="Select transmission mode"}> 
			{if check_modules(110)}
			    <label for="monit">Monitoruj:</label><input type="checkbox" name="nodedata[monitoring]" value="1" id="monit" {if $nodedata.monitoring} checked{/if} {tip text="Monitoruj urządzenie klienta"}>
			{else}
			    <input type="hidden" name="nodedata[monitoring]" value="">
			{/if}
			
		</td>
	</tr>
					</table>
				</td>
				<td class="container" style="width: 50%; vertical-align: top;">
					<table style="width: 100%;" cellpadding="3">
	<tr class="light">
		<td width="1%" nowrap><img src="img/netdev.gif"></td>
		<td width="1%" nowrap><b>Rodzaj urządzenia</b></td>
		<td width="98%">
		    {if $devicestype}
		    <select name="nodedata[typeofdevice]" style="min-width:150px;">
			<option value=""></option>
			{section name='devicestype' loop=$devicestype}
			<option value="{$devicestype[devicestype].id}" {if $devicestype[devicestype].id == $nodedata.typeofdevice}selected{/if}>{$devicestype[devicestype].type}</option>
			{/section}
		    </select>
		    {else}
		    brak pozycji w słowniku
		    <input type="hidden" name="nodedata[typeofdevice]" value="">
		    {/if}
		</td>
	</tr>
	
	<tr class="light">
	    <td style="width:1%;"><img src="img/producer.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Producent</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodedata[producer]" value="{$nodedata.producer}" {tip text="Podaj nazwę producenta sprzętu"}  style="width:150px;">
	    </td>
	</tr>
	
	<tr class="light">
	    <td style="width:1%;"><img src="img/netdev_model.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Model</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodedata[model]" value="{$nodedata.model}" {tip text="Podaj model sprzętu"}  style="width:150px;">
	    </td>
	</tr>
	
	<tr class="light">
	    <td style="width:1%;"><img src="img/serialnumber.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Numer seryjny</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodedata[sn]" value="{$nodedata.sn}" {tip text="Podaj numer seryjny"}  style="width:150px;">
	    </td>
	</tr>
	<tr>
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("Location:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS longitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			<input id="longitude" type="text" name="nodedata[longitude]" value="{if $nodeinfo.longitude}{$nodeinfo.longitude}{else}{/if}" {tip text="Enter device longitude (optional)"} trigger="longitude" style="width:150px;">
			<a href="javascript: void(0);" onclick="return gpscoordschoosewin(document.nodeadd.elements['nodedata[longitude]'], document.nodeadd.elements['nodedata[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr>
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("Location:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS latitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			<input id="latitude" type="text" name="nodedata[latitude]" value="{if $nodeinfo.latitude}{$nodeinfo.latitude}{else}{/if}" {tip text="Enter device latitude (optional)"} trigger="latitude" style="width:150px;">
			<a href="javascript: void(0);" onclick="return gpscoordschoosewin(document.nodeadd.elements['nodedata[longitude]'], document.nodeadd.elements['nodedata[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/{if ! $nodedata.access}no{/if}access.gif" alt="">
		</td>
		<td width="1%">
		    <b>Status</b>
		</td>
		<td style="width: 98%;">
			<select size="1" name="nodedata[access]" {tip text="Select node status" trigger="access"} style="width:150px;">
				<option value="1"{if $nodedata.access} selected{/if}>{trans("connected<!singular>")}</option>
				<option value="0"{if ! $nodedata.access} selected{/if}>{trans("disconnected<!singular>")}</option>
			</select>
		</td>
	</tr>
	<tr class="light">
		<td style="width:1%">
		    <img src="img/calendar.gif" alt="">
		</td>
		<td style="width:1%;">
		    <span class="bold">Autoryzacja urządzenia</span>
		</td>
		<td style="width:98%;">
		    od dnia: <input type="text" style="width:80px;" name="nodedata[access_from]" value="{if $nodedata.access_from}{$nodedata.access_from}{/if}" {tip text="Autoryzacja urządzenia od dnia RRRR/MM/DD (opcja).<br>Kliknij aby otworzyć kalendarz" trigger="access_from"} onclick="javascript:cal1.popup();" readonly>&nbsp;<img src="img/cancel.gif" alt="wyczyść" width="12" onclick="javascript:document.forms['nodeadd'].elements['nodedata[access_from]'].value='';" style="cursor:pointer;" {tip text="Wyczyść datę początkową"}><br>
		    do dnia: <input type="text" style="width:80px;" name="nodedata[access_to]" value="{if $nodedata.access_to}{$nodedata.access_to}{/if}" {tip text="Autoryzacja urządzenia do dnia RRRR/MM/DD (opcja).<br>Kliknij aby otworzyć kalendarz" trigger="access_to"} onclick="javascript:cal2.popup();" readonly>&nbsp;<img src="img/cancel.gif" alt="wyczyść" width="12" onclick="javascript:document.forms['nodeadd'].elements['nodedata[access_to]'].value='';" style="cursor:pointer;" {tip text="Wyczyść datę końcową"}>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/warning{if !$nodedata.warning}off{else}on{/if}.gif" alt="">
		</td>
		<td style="width:1%">
		    <b>Powiadomienie</b>
		</td>
		<td style="width: 98%;">
			<select size="1" name="nodedata[warning]" {tip text="Set notice for node"} style="width:150px;">
				<option value="1"{if $nodedata.warning} selected{/if}>{trans("enabled")}</option>
				<option value="0"{if ! $nodedata.warning} selected{/if}>{trans("disabled")}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width: 1%;">
			<img src="img/info1.gif" alt="{trans("Description:")}">
		</td>
		<td style="width: 99%;" colspan="2">
			<textarea name="nodedata[info]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$nodedata.info}</textarea>
		</td>
	</tr>
	
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="light nav-footer nav-footer-bordertop">
		<td style="width: 100%; text-align: right;" class="FBOTTOMU" colspan="2">
			<a href="?m=nodescan{if $customerinfo.id}&ownerid={$customerinfo.id}{/if}">{trans("Scan")} <img src="img/search.gif" alt=""></a>
			<a href="javascript:document.nodeadd.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m={if $customerinfo.id}customerinfo&id={$customerinfo.id}{else}nodelist{/if}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a><br>
			<input type="checkbox" name="nodedata[reuse]" id="reuse" value="ON" id="reuse" {if $nodedata.reuse}checked{/if}> <label for="reuse">{trans("Display this form again, when this node is saved")}</label>
		</td>
	</tr>
</table></form>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
	var cal1 = new calendar(document.forms['nodeadd'].elements['nodedata[access_from]']);
	cal1.time_comp = false;
	
	var cal2 = new calendar(document.forms['nodeadd'].elements['nodedata[access_to]']);
	cal2.time_comp = false;
//-->
</script>
{/literal}
{literal}
<script type="text/javascript">
<!--
	document.forms['nodeadd'].elements['nodedata[name]'].focus();

	function GenPasswd()
	{
		var passwd = new Array();
		var items = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		var length = {/literal}{get_conf('phpui.nodepassword_length', '16')}{literal};
		if (length > 32) length = 32;

		for (var i=0; i<length; i++)
		{
			n = Math.floor(Math.random() * items.length);
			passwd[i] = items.substring(n, n+1);
		}

		document.forms['nodeadd'].elements['nodedata[passwd]'].value = passwd.join("");
	}

	function newmac()
	{
		var macscountelem = document.getElementById('macscount');
		var nr = macscountelem.value;
		var lastmacelem = document.getElementById('mac' + (nr - 1));
		var newrow = lastmacelem.parentNode.insertRow(lastmacelem.rowIndex + 1);
		newrow.id = 'mac' + nr;
		var newcell = newrow.insertCell(0);
		newcell.style.width = '100%';
		newcell.innerHTML = '<input type="text" name="nodedata[macs][' + nr + ']" value=""'
			+ ' onmouseover="popup(\'{/literal}{trans("Enter MAC address")}{literal}\')" onmouseout="pophide()">'
			+ '<a href="javascript: void(0);" onclick="return macchoosewin(document.nodeadd.elements[\'nodedata[macs][' + nr + ']\']);"'
			+ ' onmouseover="popup(\'{/literal}{trans("Click to select MAC from the list")}{literal}\')" onmouseout="pophide()">&nbsp;&raquo;&raquo;&raquo;</a>';
		macscountelem.value = parseInt(nr) + 1;
	}

	function reset_customer()
	{
		var val;
		if (val = document.forms['nodeadd'].elements['nodedata[ownerid]'].value)
			document.forms['nodeadd'].elements['nodedata[customerid]'].value = val;
	}
	
	

	function change_linktype(linktype) {
		linktype = parseInt(linktype);
		var options = document.getElementById('linktechnology').options;
		while (options.length)
			options.remove(0);
		options.add(new Option('- nieznana -', 0));
		switch (linktype) {
			case 0:
				{/literal}{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 1:
				{/literal}{foreach $_LINKTECHNOLOGIES[1] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 2:
				{/literal}{foreach $_LINKTECHNOLOGIES[2] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 3:
				{/literal}{foreach $_LINKTECHNOLOGIES[3] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
		}
	}



	check_teryt('location', true);
//-->
</script>
{/literal}