<!--// $Id$ //-->
<script type="text/javascript">
<!--
	function removeNodes() {
		document.nodeassignments.oper.value="0";
		document.nodeassignments.submit();
	}

	function changeMembersNetwork() {
		document.nodeassignments.oper.value="2";
		document.nodeassignments.submit();
	}

	function changeOthersNetwork() {
		document.nodeassignments.oper.value="3";
		document.nodeassignments.submit();
	}
//-->
</script>
<p>
<form name="nodeassignments" method="POST" action="?m=nodegroup&id={$nodegroup.id}">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="oper" value="1">
<table width="100%" cellpadding="0">
    <tr><td width="49%" style="vertical-align: top">
	    <table width="100%" cellpadding="3">
		<tr class="dark">
		    <td width="100%" class="fall" nowrap>
			<img src="img/node.gif" alt="">&nbsp;<b>{trans("Group members:")}</b>
		    </td>
		</tr>
		<tr class="dark">
		    <td class="fall" colspan="4" align="center">
			    {trans("Network:")}
			    <select size="1" name="nodeassignments[membersnetid]" onchange="javascript:changeMembersNetwork();">
			    	<option value="0" {if !$membersnetid}selected{/if}>{trans("- all networks -")}</option>
				{section name=networks loop=$networks}
				<option value="{$networks[networks].id}" {if $networks[networks].id eq $membersnetid}selected{/if}>{$networks[networks].name|truncate:30:"...":true}</option>
				{/section}
			    </select>&nbsp;
		    </td>
		</tr>
		<tr class="light">
		    <td width="100%" class="flr" align="center">
		    {if $nodegroup.nodescount}
			<select size="20" name="nodeassignments[gmnodeid][]" multiple>
				{section name=node loop=$nodegroup.nodes}
					<option value="{$nodegroup.nodes[node].id}">
					{$nodegroup.nodes[node].nodename|truncate:40:"...":true} ({$nodegroup.nodes[node].id|string_format:"%04d"})
					</option>
				{/section}
			</select>
		    {else}
			<br>
			<br>
			<b>{trans("This group hasn't got any members.")}</b><br>
			<br>
			<br>
		    {/if}
		    </td>
		</tr>
		<tr class="light">
		    <td width="100%" class="fbottomu" align="right" nowrap>
			<a href="javascript:removeNodes();">{trans("Delete")} <img src="img/cancel.gif" alt=""></a>
		    </td>
		</tr>
	    </table>
    </td>
    <td width="2%">
    </td>
    <td width="49%" style="vertical-align: top;">
	    <table width="100%" cellpadding="3">
		<tr class="dark">
		    <td width="100%" class="fall" nowrap>
			<img src="img/node.gif" alt="">&nbsp;<b>{trans("Add new member(s):")}</b>
		    </td>
		</tr>
		<tr class="dark">
		    <td class="fall" colspan="4" align="center">
			    {trans("Network:")}
			    <select size="1" name="nodeassignments[othersnetid]" onchange="javascript:changeOthersNetwork();">
			    	<option value="0" {if !$othersnetid}selected{/if}>{trans("- all networks -")}</option>
				{section name=networks loop=$networks}
				<option value="{$networks[networks].id}" {if $networks[networks].id eq $othersnetid}selected{/if}>{$networks[networks].name|truncate:30:"...":true}</option>
				{/section}
			    </select>&nbsp;
		    </td>
		</tr>
		<tr class="light">
		    <td width="100%" class="flr" align="center">
			{if $nodescount}
			<select size="20" name="nodeassignments[mnodeid][]" multiple>
				{section name=node loop=$nodes}
					<option value="{$nodes[node].id}">
					{$nodes[node].nodename} ({$nodes[node].id|string_format:"%04d"})
					</option>
				{/section}
			</select>
			{else}
			<br>
			<br>
			<b>{trans("All nodes are members of this group.")}</b><br>
			<br>
			<br>
			{/if}
		    </td>
		</tr>
		<tr class="light">
		    <td width="100%" class="fbottomu" align="right" nowrap>
			<a href="javascript:document.nodeassignments.submit();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
		    </td>
		</tr>
	</table>
    </td></tr>
</table>
</form>
</p>
