<!--// $Id$ //-->
{include file="calendar_js.html"}
<form name="editnode" id="editnode" method="POST" action="?m=nodeedit&id={$nodeinfo.id}">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="nodeedit[id]" value="{$nodeinfo.id}">
<table style="width: 100%;" cellpadding="3" class="table">
	<tr class="dark nav-header">
		<td style="width: 1%;" class="fleftu">
			<img src="img/node.gif" alt="">
		</td>
		<td style="width: 99%;" class="frightu" colspan="2">
			<input type="text" class="required" name="nodeedit[name]" value="{$nodeinfo.name}" maxlength="32" size="30" {tip text="Enter node name" trigger="name" bold=1} {if get_form('nodes.node_autoname')}placeholder="-- AUTONAZWA --"{else}placeholder="-- WYMAGANE --"{/if}>
			<span class="bold">({$nodeinfo.id|string_format:"%04d"})</span>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 100%;" colspan="3" class="flr container">
			<table style="width: 100%;" cellpadding="0">
				<tr class="light">
					<td style="width: 50%; vertical-align: top;">
						<table style="width: 100%;" cellpadding="3">
	
	<input type="hidden" name="nodeeditnetid" id="nodeeditnetid" value="{$nodeinfo.netid}">
	<input type="hidden" name="nodeeditnetidpub" id="nodeeditnetidpub" value="{$nodeinfo.netid_pub}">
	
	<!--// Local Address IP //-->
	<tr class="light">
	    <td width="100%" colspan="2" align="left" style="vertical-align:top;">
	    <fieldset style="width:250px;"><legend>| <b>Lokalny Adres IP</b> |</legend>
	    <table width="100%" cellpadding="1" cellspacing="0">
		<tr class="light">
		    <td width="1%"><img src="img/ip.gif" alt="{trans("IP address:")}"></td>
		    <td width="1%" nowrap class="pad"><b>IP</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%" colspan="2">
			<input type="text" name="nodeeditipaddr" readonly class="required" value="{$nodeinfo.ip}" {tip text="Enter IP address" trigger="ipaddr"} placeholder="-- WYMAGANE --"> 
			<a href="javascript: void(0);" onclick="return ipchoosewin(document.editnode.nodeeditipaddr, document.editnode.nodeeditnetid, document.getElementById('nodeeditnetid').value);" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		    </td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/network.gif"></td>
		    <td width="1%" nowrap class="pad"><b>Sieć</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%" colspan="2"><div id="id_network_name">{$nodeinfo.networkname}</div></td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/host.gif"></td>
		    <td width="1%" nowrap class="pad"><b>Host</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%" colspan="2"><div id="id_host_name">{if $nodeinfo.hostname}{$nodeinfo.hostname}{else}<span style="color:blue;">Sieć bez przypisanego hosta</span>{/if}</div></td>
		</tr>
		
	    </table>
	    </fieldset>
	    </td>
	</tr>
	<!--// End Local Address IP //-->
	{if get_form('nodes.public_ip')}
	<!--// Public Address IP //-->
	<tr class="light">
	    <td width="100%" colspan="2" align="left" style="vertical-align:top;">
	    <fieldset style="width:250px;"><legend>| <b>Publiczny Adres IP</b> |</legend>
	    <table width="100%" cellpadding="1" cellspacing="0">
		<tr class="light">
		    <td width="1%"><img src="img/ip_pub.gif" alt="{trans("Pub. IP address:")}"></td>
		    <td width="1%" nowrap class="pad"><b>IP</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="97%">
			<input type="text" name="nodeeditipaddrpub" {if $nodeinfo.ip_pub != "0.0.0.0"}value="{$nodeinfo.ip_pub}"{/if} {tip text="Enter IP address (optional)" trigger="ipaddr_pub"}>
			<a href="javascript: void(0);" onclick="return ipchoosewinpub(document.editnode.nodeeditipaddrpub, document.editnode.nodeeditnetidpub);" {tip text="Click to select IP from the list"}>&raquo;&raquo;&raquo;</a>
		    </td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/network.gif"></td>
		    <td width="1%" nowrap class="pad"><b>Sieć</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="99%"><div id="id_network_name_pub">{$nodeinfo.networkname_pub}</div></td>
		</tr>
		<tr class="light">
		    <td width="1%"><img src="img/host.gif"></td>
		    <td width="1%" nowrap class="pad"><b>Host</b></td>
		    <td width="1%" nowrap class="pad"><b>:</b></td>
		    <td width="99%"><div id="id_host_name_pub">{if $nodeinfo.hostname_pub}{$nodeinfo.hostname_pub}{else}{if $nodeinfo.netid_pub}<span style="color:blue;">Sieć bez przypisanego hosta</span>{/if}{/if}</div></td>
		</tr>
		
	    </table>
	    </fieldset>
	    </td>
	</tr>
	{else}
	    <input type="hidden" name="nodeeditipaddrpub" value="{if $nodeinfo.ip_pub != "0.0.0.0"}{$nodeinfo.ip_pub}"{/if}">
	{/if}
	<!--// End Public Address IP //-->
	
	
	{if get_form('nodes.macaddress')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/mac.gif" alt="{trans("MAC address:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<table style="width: 100%;" cellpadding="1" cellspacing="0">
				{foreach from=$nodeinfo.macs item=item key=key}
				<tr id="mac{$key}">
					<td style="width: 100%;"><input type="text" name="nodeedit[macs][{$key}]" class="required" value="{$item}" {tip text="Enter MAC address" trigger="mac`$key`"} placeholder="{if get_form('nodes.automac')}00:00:00:00:00:00{else}-- WYMAGANE --{/if}"> <a href="javascript: void(0);" onclick="return macchoosewin(document.editnode.elements['nodeedit[macs][{$key}]']);" {tip text="Click to select MAC from the list"}>&raquo;&raquo;&raquo;</a></td>
				</tr>
				{/foreach}
			</table>
			<input type="hidden" id="macscount" value="{$item@total}">
			<a href="javascript: newmac()">{trans("Add MAC address")} &raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{else}
		{foreach from=$nodeinfo.macs item=item key=key}
			<input type="hidden" name="nodeedit[macs][{$key}]" value="{$item}">
		{/foreach}
		<input type="hidden" id="macscount" value="{$item@total}">
	{/if}
	
	{if get_form('nodes.pppoe_login')}
	    <tr class="light">
		<td width="1%"><img src="img/name.gif" alt="PPPoE Login"></td>
		<td width="99%">
		    <input type="text" name="nodeedit[pppoelogin]" value="{$nodeinfo.pppoelogin}" {tip text="PPPoE Login" trigger="pppoelogin"}>
		</td>
	    </tr>
	{else}
	    <input type="hidden" name="nodeedit[pppoelogin]" value="{$nodeinfo.pppoelogin}">
	{/if}
	
	{if get_form('nodes.password')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/passwd.gif" alt="{trans("Password:")}">
		</td>
		<td style="width: 99%;" colspan="2">
			<input type="text" name="nodeedit[passwd]" value="{$nodeinfo.passwd}" {tip text="Enter password (optional)" trigger="passwd"}> <a href="javascript: GenPasswd();" {tip text="Click to generate random password"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[passwd]" value="{$nodeinfo.passwd}">
	{/if}
	
	{if get_form('nodes.location')}
	<tr class="light">
		<td style="width: 1%; vertical-align: top;">
			<img src="img/home.gif" alt="{trans("Location:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			<input type="text" size="40" value="{$nodeinfo.location}" id="location" name="nodeedit[location]"  {tip text="Enter location (optional)" trigger="location"}>
			<a href="javascript: void(0);" onclick="if (check_teryt()) return locationchoosewin('nodeedit', 'editnode', document.forms['editnode'].elements['nodeedit[location_city]'].value,  document.forms['editnode'].elements['nodeedit[location_street]'].value)" {tip text="Click to select location"}>&raquo;&raquo;&raquo;</a>
			<br>
			<input type="hidden" name="nodeedit[location_city]" value="{$nodeinfo.location_city}">
			<input type="hidden" name="nodeedit[location_street]" value="{$nodeinfo.location_street}">
			<input type="hidden" name="nodeedit[location_house]" value="{$nodeinfo.location_house}">
			<input type="hidden" name="nodeedit[location_flat]" value="{$nodeinfo.location_flat}">
			<input type="checkbox" name="nodeedit[teryt]" id="teryt" onchange="check_teryt('location')"{if $nodeinfo.teryt} checked{/if}><label for="teryt">{trans("TERRIT-DB")}</label>
		</td>
	</tr>
	{else}
	    <input type="hidden" value="{$nodeinfo.location}" name="nodeedit[location]">
	    <input type="hidden" name="nodeedit[location_city]" value="{$nodeinfo.location_city}">
	    <input type="hidden" name="nodeedit[location_street]" value="{$nodeinfo.location_street}">
	    <input type="hidden" name="nodeedit[location_house]" value="{$nodeinfo.location_house}">
	    <input type="hidden" name="nodeedit[location_flat]" value="{$nodeinfo.location_flat}">
	    <input type="hidden" name="nodeedit[teryt]" value="{$nodeinfo.teryt}">
	{/if}

	{if get_form('nodes.netlinks') && $netdevices}
	    <tr class="light">
		<td style="width: 1%;">
			<img src="img/netdev.gif" alt="{trans("Net devices:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
		    <fieldset style="width:400px;"><legend>| <b>Informacja o połączeniu sieciowym</b> |</legend>
			<select size="1" name="nodeedit[netdev]" {tip text="Select net device from list" trigger="netdev"} style="width:300px;">
				<option value="0" {if ! $nodeinfo.netdev}selected{/if}>- {trans("no device")} -</option>
				{section name="netdev" loop=$netdevices}
				<option value="{$netdevices[netdev].id}" {if $nodeinfo.netdev == $netdevices[netdev].id} selected {/if}>{$netdevices[netdev].name} {if $netdevices[netdev].producer}/ {$netdevices[netdev].producer}{/if} {if $netdevices[netdev].location}({$netdevices[netdev].location }){/if}</option>
				{/section}
			</select>
			<input type="text" name="nodeedit[port]" value="{if $nodeinfo.port}{$nodeinfo.port}{/if}" size="2" {tip text="Enter port number in device (optional)" trigger="port"}>
			<p style="margin:3px 0 0 0;">
			<select name="nodeedit[linktype]" id="linktype" {tip trigger="linktype" text="Select link type"} onchange="change_linktype(this.options[this.selectedIndex].value)" style="width:300px;">
				{foreach from=$_LINKTYPES item=item key=key}
				<option value="{$key}"{if $key==$nodeinfo.linktype} selected{/if}>{$item}</option>
				{/foreach}
			</select>
			</p>
			<p style="margin:3px 0 0 0;">
			<select name="nodeedit[linktechnology]" id="linktechnology" {tip trigger="linktechnology" text="Wybierz technologię łącza"} style="width:300px;">
				<option value="0">- nieznana -</option>
				{foreach $_LINKTECHNOLOGIES[$nodeinfo.linktype] as $linktechnologyidx => $linktechnology}
				<option value="{$linktechnologyidx}"{if $linktechnologyidx == $nodeinfo.linktechnology} selected{/if}>{$linktechnology}</option>
				{/foreach}
			</select>
			<select name="nodeedit[linkspeed]" id="linkspeed" {tip trigger="linkspeed" text="Select link speed"}>
				{foreach from=$_LINKSPEEDS item=item key=key}
				<option value="{$key}"{if $key==$nodeinfo.linkspeed} selected{/if}>{$item}</option>
				{/foreach}
			</select>
			</p>
			<p style="margin:3px 0 0 0;">
			{assign 'dystrybucja' $smarty.const.LAYER_DISTRIBUTION}
			{assign 'dostep' $smarty.const.LAYER_ACCESS} 
			<select name="nodeedit[layer]" id="layer" {tip text="Wybierz warstwę sieci" trigger="layer"} style="width:300px;">
				<option value="{$dostep}"{if $nodeinfo.layer == $dostep} selected{/if}>{$_LAYERTYPE.$dostep}</option>
				<option value="{$dystrybucja}"{if $nodeinfo.layer == $dystrybucja} selected{/if}>{$_LAYERTYPE.$dystrybucja}</option>
			</select>
			</p><p style="margin:3px 0 0 0;">
			<select name="nodeedit[tracttype]" id="tracttype" {tip text="Wybierz rodzaj przyłącza" trigger="tracttype"} style="width:300px;">
				<option value="">-- żadne --</option>
				{foreach $_TRACTNODE as $item => $key}
				<option value="{$item}"{if $nodeinfo.tracttype == $item} selected{/if}>{$key}</option>
				{/foreach}
			</select>
			</p>
			</fieldset>
		</td>
	    </tr>
	    <input type="hidden" name="nodeedit[netdevices]" value="1">
	{else}
	    <input type="hidden" name="nodeedit[netdev]" value="{$nodeinfo.netdev}">
	    <input type="hidden" name="nodeedit[port]" value="{$nodeinfo.port}">
	    <input type="hidden" name="nodeedit[linktype]" value="{$nodeinfo.linktype}"">
	    <input type="hidden" name="nodeedit[linktechnology]" value="{$nodeinfo.linktechnology}">
	    <input type="hidden" name="nodeedit[linkspeed]" value="{$nodeinfo.linkspeed}">
	    <input type="hidden" name="nodeedit[netdevices]" value="0">
	    <input type="hidden" name="nodeedit[layer]" value="{$nodeinfo.layer}">
	    <input type="hidden" name="nodeedit[tracttype]" value="{$nodeinfo.tracttype}">
	{/if}

	{if get_form('nodes.project')}
		<tr class="light">
		    <td width="1%">
			<img src="img/money.gif" alt="" {tip text="Investment project:"}>
		    </td>
		    <td width="99%" align="left">
			<select name="nodeedit[invprojectid]" id="invprojectid"  {tip text="Investment project:"} style="width:300px;">
			    <option value="" {if !$nodeinfo.invprojectid} selected {/if}>{trans('none')}</option>
			    <option value="1" {if $nodeinfo.invprojectid ==1} selected {/if}>{trans('From root device')}</option>
			    {section name=projectlist loop=$projectlist}
			    <option value="{$projectlist[projectlist].id}" {if $nodeinfo.invprojectid == $projectlist[projectlist].id} selected {/if}>{$projectlist[projectlist].name}</option>
			    {/section}
			</select>
		    </td>
		</tr>
	{else}
	    <input type="hidden" name="nodeedit[invprojectid]" value="{$nodeinfo.invprojectid}">
	{/if}
	

	<tr class="light">
		<td style="width: 1%;">
			<img src="img/customer.gif" alt="{trans("Customer:")}">
		</td>
		<td style="width: 99%; white-space: nowrap;" colspan="2">
			{if $customers}
			<select size="1" name="nodeedit[customerid]" {tip text="Assign node to customer"} style="max-width:160px;" onchange="document.editnode.elements['nodeedit[ownerid]'].value=this.value">
				{foreach from=$customers item=c}
				<option value="{$c.id}"{if $nodeinfo.ownerid eq $c.id} selected{/if}>{$c.customername|truncate:40:"...":true} ({$c.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
			{trans("or Customer ID:")}
			{/if}
			<input type="text" name="nodeedit[ownerid]" value="{$nodeinfo.ownerid}" size="5"{if $customers} onchange="reset_customer()" onfocus="reset_customer()"{/if} {tip text="Enter customer ID" trigger="ownerid"}>
			<a href="javascript: void(0);" onclick="return customerchoosewin(document.editnode.elements['nodeedit[ownerid]']);" {tip text="Click to search customer"}>{trans("Search")}&nbsp;&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	
	{if get_form('nodes.checkmac') || get_form('nodes.halfduplex') || get_form('nodes.monitoring')}
	<tr class="light">
		<td style="width: 1%;"><img src="img/options.gif" alt=""></td>
		<td style="width: 98%; white-space: nowrap;" colspan="2">
			{if get_form('nodes.checkmac')}
			    <label for="chkmac">{trans("MAC checking")}:</label><input type="checkbox" name="nodeedit[chkmac]" value="1" id="chkmac" {tip text="Enable/disable MAC address checking" trigger="chkmac"}{if !isset($nodeinfo.chkmac) || $nodeinfo.chkmac} checked{/if}>&nbsp;
			{else}
			    <input type="hidden" name="nodeedit[chkmac]" value="{$nodeinfo.chkmac}">
			{/if}
			{if get_form('nodes.halfduplex')}
			    <label for="duplex">{trans("Half duplex")}:</label><input type="checkbox" name="nodeedit[halfduplex]" value="1" id="duplex" {if $nodeinfo.halfduplex} checked{/if} {tip text="Select transmission mode"}> 
			{else}
			    <input type="hidden" name="nodeedit[halfduplex]" value="{$nodeinfo.halfduplex}">
			{/if}
			{if check_modules(110) && get_form('nodes.monitoring')}
			    <label for="monit">Monitoruj:</label><input type="checkbox" name="nodeedit[monitoring]" value="1" id="monit" {if $nodeinfo.monitoring} checked{/if} {tip text="Monitoruj urządzenie klienta"}>
			{else}
			    <input type="hidden" name="nodeedit[monitoring]" value="{$nodeinfo.monitoring}">
			{/if}
		</td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[chkmac]" value="{$nodeinfo.chkmac}">
	    <input type="hidden" name="nodeedit[halfduplex]" value="{$nodeinfo.halfduplex}">
	    <input type="hidden" name="nodeedit[monitoring]" value="{$nodeinfo.monitoring}">
	{/if}
	
	{if get_form('nodes.pppoe') || get_form('nodes.dhcp') || get_form('nodes.eap')}
	<tr>
		<td style="width: 1%;"><img src="img/netdev.gif" alt=""></td>
		<td style="width: 98%; white-space: nowrap;" colspan="2">
			{if get_form('nodes.pppoe')}
			    <label for="pppoe">{trans('PPPoE Client')}</label><input type="checkbox" name="nodeauthtype[pppoe]" value="1" id="pppoe" {if $nodeauthtype.pppoe}checked="checked"{/if}{tip text="Enable/disable PPPoE Server Client" trigger="pppoe"}>&nbsp;
			{else}
			    <input type="hidden" name="nodeauthtype[pppoe]" value="1" {if $nodeauthtype.pppoe}checked="checked"{/if}}>
			{/if}
			
			{if get_form('nodes.dhcp')}
			    <label for="dhcp">{trans("DHCP Client")}</label><input type="checkbox" name="nodeauthtype[dhcp]" value="2" id="dhcp" {if $nodeauthtype.dhcp}checked="checked"{/if}{tip text="Enable/disable DHCP Server Client" trigger="dhcp"}>&nbsp;
			{else}
			    <input type="hidden" name="nodeauthtype[dhcp]" value="2" {if $nodeauthtype.dhcp}checked="checked"{/if}>
			{/if}
			
			{if get_form('nodes.eap')}
			    <label for="eap">{trans("EAP Client")}</label><input type="checkbox" name="nodeauthtype[eap]" value="4" id="eap" {if $nodeauthtype.eap}checked="checked"{/if}{tip text="Enable/disable EAP Server Client" trigger="eap"}>
			{else}
			    <input type="hidden" name="nodeauthtype[eap]" value="4" {if $nodeauthtype.eap}checked="checked"{/if}>
			{/if}
		</td>
	</tr>
	{else}
		<input type="hidden" name="nodeauthtype[pppoe]" value="1" {if $nodeauthtype.pppoe}checked="checked"{/if}}>
		<input type="hidden" name="nodeauthtype[dhcp]" value="2" {if $nodeauthtype.dhcp}checked="checked"{/if}>
		<input type="hidden" name="nodeauthtype[eap]" value="4" {if $nodeauthtype.eap}checked="checked"{/if}>
	{/if}
	
	{if get_form('nodes.nas')}
	<tr>
		<td style="width: 1%;"><img src="img/netdev.gif" alt=""></td>
		<td style="width: 98%; white-space: nowrap;" colspan="2">
			NAS:&nbsp;
			<select name="nodeedit[nasid]" style="width:270px;" {tip text="Wybierz NAS do którego jest przypisany komputer (opcja)"}>
			<option value=""></option>
			{section name='naslist' loop=$naslist}
			<option value="{$naslist[naslist].id}"{if $naslist[naslist].id == $nodeinfo.nasid} selected{/if}>{$naslist[naslist].name}</option>
			{/section}
			</select>
		</td>
	</tr>
	{else}
		<input type="hidden" name="nodeedit[nasid]" value="{$nodeinfo.nasid}">
	{/if}
					</table>
				</td>
				<td style="width: 50%; vertical-align: top;">
					<table style="width: 100%;" cellpadding="3">
	{if get_form('nodes.devicestype')}
	<tr class="light">
		<td width="1%" nowrap><img src="img/netdev.gif"></td>
		<td width="1%" nowrap><b>Rodzaj urządzenia</b></td>
		<td width="98%">
		    {if $devicestype}
		    <select name="nodeedit[typeofdevice]" style="min-width:150px;">
			<option value=""></option>
			{section name='devicestype' loop=$devicestype}
			<option value="{$devicestype[devicestype].id}"{if $nodeinfo.typeofdevice == $devicestype[devicestype].id} selected{/if}>{$devicestype[devicestype].type}</option>
			{/section}
		    </select>
		    {else}
		    brak pozycji w słowniku
		    <input type="hidden" name="nodeedit[typeofdevice]" value="">
		    {/if}
		</td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[typeofdevice]" value="{$nodeinfo.typeofdevice}">
	{/if}
	
	{if get_form('nodes.producer')}
	<tr class="light">
	    <td style="width:1%;"><img src="img/producer.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Producent</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodeedit[producer]" value="{$nodeinfo.producer}" {tip text="Podaj nazwę producenta sprzętu"}  style="width:150px;">
	    </td>
	</tr>
	
	<tr class="light">
	    <td style="width:1%;"><img src="img/netdev_model.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Model</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodeedit[model]" value="{$nodeinfo.model}" {tip text="Podaj model sprzętu"}  style="width:150px;">
		<a href="javascript: void(0);" onclick="return netdevmodelchoosewin('nodeedit', 'editnode', document.forms['editnode'].elements['nodeedit[netdevicemodelid]'].value, document.forms['editnode'].elements['nodeedit[producer]'].value, document.forms['editnode'].elements['nodeedit[model]'].value)" {tip text="Click to select model"}>&raquo;&raquo;&raquo;</a>
		<input type="hidden" name="nodeedit[netdevicemodelid]" value="{$nodeinfo.netdevicemodelid}">
		
	    </td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[producer]" value="{$nodeinfo.producer}">
	    <input type="hidden" name="nodeedit[model]" value="{$nodeinfo.model}">
	    <input type="hidden" name="nodeedit[netdevicemodelid]" value="{$nodeinfo.netdevicemodelid}">
	{/if}
	
	{if get_form('nodes.sn')}
	<tr class="light">
	    <td style="width:1%;"><img src="img/serialnumber.gif"></td>
	    <td style="width:1%; white-space:norap;"><b>Numer seryjny</b></td>
	    <td style="width:98%;">
		<input type="text" name="nodeedit[sn]" value="{$nodeinfo.sn}" {tip text="Podaj numer seryjny"}  style="width:150px;">
	    </td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[sn]" value="{$nodeinfo.sn}">
	{/if}
	
	{if get_form('nodes.gps')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("GPS coordinates:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS longitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			<input id="longitude" type="text" name="nodeedit[longitude]" value="{if $nodeinfo.longitude}{$nodeinfo.longitude}{/if}" {tip text="Enter device longitude (optional)" trigger="longitude"} style="width:150px;">
			<a href="javascript: void(0);" onclick="return gpscoordschoosewin(document.editnode.elements['nodeedit[longitude]'], document.editnode.elements['nodeedit[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/home.gif" alt="{trans("GPS coordinates:")}">
		</td>
		<td style="width: 1%; white-space: nowrap;">
			<span class="bold">{trans("GPS latitude:")}</span>
		</td>
		<td style="width: 98%; white-space: nowrap;">
			<input id="latitude" type="text" name="nodeedit[latitude]" value="{if $nodeinfo.latitude}{$nodeinfo.latitude}{/if}" {tip text="Enter device latitude (optional)" trigger="latitude"}  style="width:150px;">
			<a href="javascript: void(0);" onclick="return gpscoordschoosewin(document.editnode.elements['nodeedit[longitude]'], document.editnode.elements['nodeedit[latitude]']);" {tip text="Click to select gps coordinates from map"}>&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	{else}
	    <input id="longitude" type="hidden" name="nodeedit[longitude]" value="{if $nodeinfo.longitude}{$nodeinfo.longitude}{/if}">
	    <input id="latitude" type="hidden" name="nodeedit[latitude]" value="{if $nodeinfo.latitude}{$nodeinfo.latitude}{/if}">
	{/if}
	
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/{if ! $nodeinfo.access}no{/if}access.gif" alt="">
		</td>
		<td width="1%;">
		    <b>Status</b>
		</td>
		<td style="width: 98%;">
			<select name="nodeedit[access]" {tip text="Select node status" trigger="access"} style="width:150px;">
				<option value="1"{if $nodeinfo.access} selected{/if}>{trans("connected<!singular>")}</option>
				<option value="0"{if ! $nodeinfo.access} selected{/if}>{trans("disconnected<!singular>")}</option>
			</select>
		</td>
	</tr>
	
	{if get_form('nodes.auth')}
	<tr class="light">
		<td style="width:1%">
		    <img src="img/calendar.gif" alt="">
		</td>
		<td style="width:1%;">
		    <span class="bold">Autoryzacja urządzenia</span>
		</td>
		<td style="width:98%;">
		    od dnia: <input type="text" style="width:80px;" name="nodeedit[access_from]" value="{if $nodeinfo.access_from}{$nodeinfo.access_from}{/if}" {tip text="Autoryzacja urządzenia od dnia RRRR/MM/DD (opcja).<br>Kliknij aby otworzyć kalendarz" trigger="access_from"} onclick="javascript:cal1.popup();" readonly>&nbsp;<img src="img/cancel.gif" alt="wyczyść" width="12" onclick="javascript:document.forms['editnode'].elements['nodeedit[access_from]'].value='';" style="cursor:pointer;" {tip text="Wyczyść datę początkową"}><br>
		    do dnia: <input type="text" style="width:80px;" name="nodeedit[access_to]" value="{if $nodeinfo.access_to}{$nodeinfo.access_to}{/if}" {tip text="Autoryzacja urządzenia do dnia RRRR/MM/DD (opcja).<br>Kliknij aby otworzyć kalendarz" trigger="access_to"} onclick="javascript:cal2.popup();" readonly>&nbsp;<img src="img/cancel.gif" alt="wyczyść" width="12" onclick="javascript:document.forms['editnode'].elements['nodeedit[access_to]'].value='';" style="cursor:pointer;" {tip text="Wyczyść datę końcową"}>
		</td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[access_from]" value="{if $nodeinfo.access_from}{$nodeinfo.access_from}{/if}">
	    <input type="hidden" name="nodeedit[access_to]" value="{if $nodeinfo.access_to}{$nodeinfo.access_to}{/if}">
	{/if}
	
	<tr class="light">
	    <td width="1%">
		<img src="img/padlock.png">
	    </td>
	    <td width="1%" nowrap>
		<b>Blokada urządzenia</b>
	    </td>
	    <td width="98%">
		    <select name="nodeedit[blockade]" {tip text="Ustaw blokadę dla urządzenia"} style="width:150px;">
			<option value="1"{if $nodeinfo.blockade} selected{/if}>włączona</option>
			<option value="0"{if !$nodeinfo.blockade} selected{/if}>wyłączona</option>
		    </select>
	    </td>
	</tr>
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/warning{if !$nodeinfo.warning}off{else}on{/if}.gif" alt="">
		</td>
		<td style="width:1%;">
		    <b>Powiadomienia</b>
		</td>
		<td style="width: 98%;">
			<select name="nodeedit[warning]" {tip text="Set notice for node"} style="width:150px;">
				<option value="1"{if $nodeinfo.warning} selected{/if}>{trans("enabled")}</option>
				<option value="0"{if ! $nodeinfo.warning} selected{/if}>{trans("disabled")}</option>
			</select>
		</td>
	</tr>
	
	{if get_form('nodes.info')}
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/info1.gif" alt="{trans("Description:")}">
		</td>
		<td style="width: 99%;" colspan="2">
			<textarea name="nodeedit[info]" cols="50" rows="5" {tip text="Enter additional information (optional)"}>{$nodeinfo.info}</textarea>
		</td>
	</tr>
	{else}
	    <input type="hidden" name="nodeedit[info]" value="{$nodeinfo.info}">
	{/if}
	
	<tr class="light">
		<td style="width: 1%;">
			<img src="img/users.gif" alt="">
		</td>
		<td style="width: 1%;">
			<span class="bold">{trans("Created:")}<br>
			{trans("Modified:")}</span>
		</td>
		<td style="width: 98%;">
			{$nodeinfo.createdby}, {$nodeinfo.creationdateh}<br>
			{if $nodeinfo.moddate}{$nodeinfo.modifiedby}, {$nodeinfo.moddateh}{else}-{/if}
		</td>
	</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{if $pluglinks.nodeedit}
	<tr class="dark nav-footer nav-footer-bordertop">
		<td style="width: 100%; text-align: right;" class="ftopu" colspan="3">
		{assign var='linki' value=$pluglinks.nodeedit}
		{section name='linki' loop=$linki}
		    &nbsp;&nbsp;{$linki[linki]}
		{/section}
		</td>
	</tr>
	{/if}
	<tr class="dark nav-footer nav-footer-bordertop">
		<td style="width: 100%; text-align: right;" class="fall" colspan="3">
			<a href="javascript:document.editnode.submit();">{trans("Submit")} [ F2 ]<img src="img/save.gif" alt=""></a>&nbsp;
			<a href="?m=nodeinfo&id={$nodeinfo.id}">{trans("Cancel")} [ ESC ]<img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript" language="JavaScript">
<!--
	keyPressF2 = function() {
	    document.editnode.submit();
	}
	
	keyPressESC = function() {
	    self.location.href='?m=nodeinfo&id={$nodeinfo.id}';
	}
//-->
</script>

{literal}
<script type="text/javascript" language="JavaScript">
<!--
	var cal1 = new calendar(document.forms['editnode'].elements['nodeedit[access_from]']);
	cal1.time_comp = false;

	var cal2 = new calendar(document.forms['editnode'].elements['nodeedit[access_to]']);
	cal2.time_comp = false;
//-->
</script>
{/literal}

{literal}
<script type="text/javascript" language="JavaScript">
<!--
//	document.forms['editnode'].elements['nodeedit[name]'].focus();
	


	function GenPasswd()
	{
		if(! confirm('{/literal}{trans("Are you sure, you want to generate new password?")}{literal}'))
			return;
		
		var passwd = new Array();
		var items = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
		var length = {/literal}{get_conf('phpui.nodepassword_length', '16')}{literal};
		if (length > 32) length = 32;
		
		for (var i=0; i<length; i++)
		{
			n = Math.floor(Math.random() * items.length);
			passwd[i] = items.substring(n, n+1);
		}
		
		document.forms['editnode'].elements['nodeedit[passwd]'].value = passwd.join("");
	}


	function newmac()
	{
		var macscountelem = document.getElementById('macscount');
		var nr = macscountelem.value;
		var lastmacelem = document.getElementById('mac' + (nr - 1));
		var newrow = lastmacelem.parentNode.insertRow(lastmacelem.rowIndex + 1);
		newrow.id = 'mac' + nr;
		var newcell = newrow.insertCell(0);
		newcell.style.width = '100%';
		newcell.innerHTML = '<input type="text" name="nodeedit[macs][' + nr + ']" value=""'
			+ ' onmouseover="popup(\'{/literal}{trans("Enter MAC address")}{literal}\')" onmouseout="pophide()">'
			+ '<a href="javascript: void(0);" onclick="return macchoosewin(document.editnode.elements[\'nodeedit[macs][' + nr + ']\']);"'
			+ ' onmouseover="popup(\'{/literal}{trans("Click to select MAC from the list")}{literal}\')" onmouseout="pophide()">&nbsp;&raquo;&raquo;&raquo;</a>';
		macscountelem.value = parseInt(nr) + 1;
	}


	function reset_customer()
	{
		var val;
		if (val = document.forms['editnode'].elements['nodeedit[ownerid]'].value)
			document.forms['editnode'].elements['nodeedit[customerid]'].value = val;
	}
	
	
	function change_linktype(linktype) {
		linktype = parseInt(linktype);
		var options = document.getElementById('linktechnology').options;
		while (options.length)
			options.remove(0);
		options.add(new Option('- nieznana -', 0));
		switch (linktype) {
			case 0:
				{/literal}{foreach $_LINKTECHNOLOGIES[0] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 1:
				{/literal}{foreach $_LINKTECHNOLOGIES[1] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 2:
				{/literal}{foreach $_LINKTECHNOLOGIES[2] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
			case 3:
				{/literal}{foreach $_LINKTECHNOLOGIES[3] as $linktechnologyidx => $linktechnology}{literal}
				options.add(new Option('{/literal}{$linktechnology}{literal}', {/literal}{$linktechnologyidx}{literal}));
				{/literal}{/foreach}{literal}
				break;
		}
	}

	check_teryt('location', true);
//-->
</script>
{/literal}
