{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
{include file="calendar_js.html"}
<script type="text/javascript">
<!--
	function saveheader()
	{
		if (document.setcustomer.customer)
			if (document.setcustomer.customer.value != 0)
				document.setcustomer.customerid.value = document.setcustomer.customer.value;

		document.setcustomer.submit();
	}

	function reset_customer()
	{
		if (document.setcustomer.customerid.value)
			document.setcustomer.customer.value = document.setcustomer.customerid.value;
	}

	function printnote()
	{
		document.additem.action = '?m=noteedit&action=save&print=1';
		document.additem.submit();
	}
//-->
</script>
<form name="setcustomer" method="POST" action="?m=noteedit&action=setcustomer">
<input type="submit" class="hiddenbtn">
<input type="hidden" name="note[number]" value="{$note.number}">
<input type="hidden" name="note[template]" value="{$note.template}">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall" width="100%" colspan="2">
			<b>{trans("Main Information:")}</b>
		</td>
	</tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap>
			<b>{trans("Settlement date:")}</b>
		</td>
		<td class="fright" width="99%" nowrap>
			<input type="text" name="note[cdate]" value="{$note.cdate|date_format:"%Y/%m/%d"}" size="10" {tip text="Enter date of settlement in YYYY/MM/DD format (empty field means current date) or click to select it from calendar" trigger="cdate"} onclick="javascript:cal1.popup();" >
			{if $note.cdatewarning}
			<input type="hidden" name="note[cdatewarning]" value="1">
			{/if}
		</td>
	</tr>
	<tr class="light">
                <td class="fleft" width="1%" nowrap>
	                <b>{trans("Deadline:")}</b>
	        </td>
	        <td class="fright" width="99%" nowrap>
	                <input type="text" name="note[paytime]" value="{$note.paytime}" size="10" {tip text="Enter deadline in days (optional)"}>
	                ({$note.cdate+$note.paytime*86400|date_format:"%Y/%m/%d"})
	        </td>																							        </tr>
	<tr class="light">
		<td class="fleft" width="1%" nowrap>
			<b>{trans("Customer:")}</b>
		</td>
		<td class="fright" width="99%" nowrap>
			{if $customers}
			<select size="1" name="customer" onchange="document.setcustomer.customerid.value=document.setcustomer.customer.value">
				<option value="0">{trans("... select customer ...")}</option>
				{foreach from=$customers item=c}
				<option value="{$c.id}"{if $c.id eq $customer.id || $note.customerid eq $c.id} selected{/if}>{$c.customername|truncate:"40":"...":true} ({$c.id|string_format:"%04d"})</option>
				{/foreach}
			</select>
			{trans("or Customer ID:")}
			{/if}
			<input type="text" name="customerid" value="{if $customer.id}{$customer.id}{else}{$note.customerid}{/if}" size="5"{if $customers} onchange="reset_customer()" onfocus="reset_customer()"{/if} {tip text="Enter customer ID"}>
			<a href="javascript: void(0);" onclick="return customerchoosewin(document.setcustomer.customerid);" {tip text="Click to search customer"}>{trans("Search")}&nbsp;&raquo;&raquo;&raquo;</a>
		</td>
	</tr>
	<tr class="light">
		<td class="fbottomu" width="100%" align="right" colspan="2">
			<a href="javascript: saveheader();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table>
</form>
{if $customer}
<p>
<table width="100%" cellpadding="3">
        <tr class="dark">
                <td class="fleftu" width="1%" nowrap>
                        <img src="img/customer.gif" alt=""> <b>{trans("Customer:")}</b>
                </td>
                <td class="frightu" width="99%">
                        <b>{$customer.customername}</b>
                        &nbsp;&raquo;&nbsp; {$customer.address} &nbsp; {$customer.zip} {$customer.city}
                        &nbsp;&raquo;&nbsp; {if $customer.balance < 0}<font class="red">{/if}{$customer.balance|money_format}{if $customer.balance < 0}</font>{/if}
                </td>
        </tr>
</table>
</p>
{/if}
<p>	
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fleftu" width="1%">
			<b>{trans("No.")}</b>
		</td>
		<td class="fbt" width="97%">
			{trans("Title:")}
		</td>
		<td class="fbt" width="1%" nowrap align="right">
			{trans("Value:")}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
	{*{counter print=false}*}
	{cycle values="light,lucid" print=false}
	{foreach from=$contents item=item}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" width="1%">
			<b>{counter}.</b>
		</td>
		<td width="97%">
			{$item.description}
		</td>
		<td width="1%" nowrap align="right">
			{$item.value|string_format:"%.2f"}
		</td>
		<td width="1%" nowrap class="fright">
			<a href="?m=noteedit&action=deletepos&posuid={$item.posuid}"><img src="img/delete.gif" {tip text="Remove this item from list"}></a>
		</td>			
	</tr>
	{foreachelse}
	<tr>
		<td colspan="4" align="center" class="flr">
			<p>&nbsp;</p>
			<p><b>{trans("Debit note have no items. Use form below for items addition.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	{if $contents}
	<tr class="light">
		<td colspan="2" width="98%" align="right" class="fleftu">
			<b>{trans("Total:")}</b>
		</td>
		<td width="1%" nowrap align="right" class="fbt">
			<b>{sum array=$contents column=value string_format="%01.2f"}</b>
		</td>
		<td width="1%" class="frightu">
			&nbsp;
		</td>
	</tr>
	{/if}
	<form method="POST" action="?m=noteedit&action=additem" name="additem">
	<input type="submit" class="hiddenbtn">
	<tr class="light">
		<td class="ftl" width="1%" nowrap>
			<b>{counter}.</b>
		</td>
		<td class="ftop" width="92%" nowrap>
			<input type="text" name="description" size="80" {tip text="Enter description" trigger="description"}>
		</td>
		<td class="ftop" align="right" nowrap>
			<input type="text" name="value" size="8" {tip text="Enter value" trigger="value"}>
		</td>
		<td class="ftr">
			<a href="javascript:document.additem.submit(); "><img src="img/save.gif" alt="" {tip text="Add item"}></a>
		</td>
	</tr>
	<tr class="light">
		<td colspan="9" class="fbottomu" align="right">
			<a href="?m=notelist">{trans("Cancel")} <img src="img/cancel.gif"></a> 
			{if !$customer}
			<a href="javascript:alert('{trans("Customer not selected!")}');">{trans("Save")} <img src="img/save.gif" alt=""></a>
			<a href="javascript:alert('{trans("Customer not selected!")}');">{trans("Save & Print")} <img src="img/print.gif" alt=""></a>
			{elseif !$contents}
			<a href="javascript:alert('{trans("Document has no items!")}');">{trans("Save")} <img src="img/save.gif" alt=""></a>
			<a href="javascript:alert('{trans("Document has no items!")}');">{trans("Save & Print")} <img src="img/print.gif" alt=""></a>
			{else}
			<a href="?m=noteedit&action=save">{trans("Save")} <img src="img/save.gif" alt=""></a>
			<a href="javascript:printnote()">{trans("Save & Print")} <img src="img/print.gif" alt=""></a>
			{/if}
		</td>
	</tr>
	</form>
</table>
<script type="text/javascript">
<!--
var cal1 = new calendar(document.forms['setcustomer'].elements['note[cdate]']);
cal1.time_comp = false;
document.forms['setcustomer'].elements['note[cdate]'].focus();
//-->
</script>
{include file="footer.html"}
