{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
{if $note}
<script type="text/javascript">
<!--
window.open('?m=note&id={$note}');
//-->
</script>
{/if}
<script type="text/javascript">
<!--
	function pays()
	{
		if(! confirm('{trans("Are you sure, you want to check/uncheck selected debit notes as accounted?")}'))
			return;
		document.page.action="?m=notepaid";
		document.page.target="";
		document.page.submit();
	}

	function prints()
	{
		document.page.action="?m=note&print=cached";
		document.page.target="_blank";
		document.page.submit();
	}

	function filter()
	{
		document.page.action="?m=notelist";
		document.page.target="";
		document.page.submit();
	}
	
	function clear_filter()
	{
		document.page.action="?m=notelist";
		document.page.target="";
		document.page.search.value = "";
		document.page.cat.value = "";
		document.page.group.value="";
		document.page.groupexclude.checked = false;
		document.page.hideclosed.checked = false;
		document.page.submit();
	}

{if check_conf('phpui', 'short_pagescroller')}
	function pagechange1()
	{
		document.page.action="?m=notelist&page=" + document.forms['page'].elements['page1'].value;
		document.page.target="";
		document.page.submit();
	}

	function pagechange2()
	{
		document.page.action="?m=notelist&page=" + document.forms['page'].elements['page2'].value;
		document.page.target="";
		document.page.submit();
	}
{/if}
//-->
</script>
<form method="POST" name="page">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	
	<tr class="dark">
		<td class="fall" colspan="7">
				<img src="img/Filter.png">&nbsp;
				<a href="javascript:void(0);" onclick="clear_filter();" {tip text="wyczyść filtr"}><img src="img/cancel.gif"></a>
				<input type="text" name="search" value="{$listdata.search}" size="15" {tip text="Enter value of searching data and select category"} {if $listdata.search != ''}style="background-color:#FFFF99;"{/if}>&nbsp;
				<select size="1" name="cat" {if $listdata.cat}class="active"{/if}>
					<option value=""{if $listdata.cat eq ""} selected{/if}>{trans("- select filter category -")}</option>
					<option value="cdate"{if $listdata.cat eq "cdate"} selected{/if}>{trans("day (YYYY/MM/DD)")}</option>
					<option value="month"{if $listdata.cat eq "month"} selected{/if}>{trans("month (YYYY/MM)")}</option>
					<option value="number"{if $listdata.cat eq "number"} selected{/if}>{trans("number")}</option>
					<option value="value"{if $listdata.cat eq "value"} selected{/if}>{trans("value")}</option>
					<option value="name"{if $listdata.cat eq "name"} selected{/if}>{trans("customer name")}</option>
					<option value="customerid"{if $listdata.cat eq "customerid"} selected{/if}>{trans("customer ID")}</option>
					<option value="ten"{if $listdata.cat eq "ten"} selected{/if}>{trans("TEN")}</option>
					<option value="address"{if $listdata.cat eq "address"} selected{/if}>{trans("address")}</option>
				</select>&nbsp;
				{trans("Group:")}
				<select size="1" name="group" {if $listdata.group}class="active"{/if}>
					<option value="0"{if !$listdata.group} selected{/if}>{trans("- all groups -")}</option>
					{section name="grouplist" loop=$grouplist}
					<option value="{$grouplist[grouplist].id}"{if $listdata.group eq $grouplist[grouplist].id} selected{/if}>{$grouplist[grouplist].name|truncate:30:"...":true}</option>
					{/section}
				</select>
				<nobr>
				<input type="checkbox" name="groupexclude" id="groupexclude"{if $listdata.groupexclude} checked{/if}><label for="groupexclude" {if $listdata.groupexclude}style="font-weight:bold;"{/if}>{trans("exclude group")}</label>
				<nobr>
				<nobr>
				<input type="checkbox" name="hideclosed" id="hideclosed"{if $listdata.hideclosed} checked{/if}><label for="hideclosed" {if $listdata.hideclosed}style="font-weight:bold;"{/if}>{trans("hide accounted<!plural>")}</label>
				&nbsp;<a href="javascript: filter();">&raquo;&raquo;&raquo;</a>
				<nobr>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="scroller">
		<td width="100%" class="fall" colspan="7">
			{include file="scroller.html" loop=$notelist scrollerno=1}
		</td>
	</tr>
	{/if}
	<tr class="dark">
		<td class="fleftu" width="1%" nowrap>
			<a href="?m=notelist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</a> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=notelist&o=cdate{if $listdata.direction eq "asc" && $listdata.order eq "cdate"},desc{/if}">{trans("Date:")}</a> {if $listdata.order eq "cdate"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=notelist&o=number{if $listdata.direction eq "asc" && $listdata.order eq "number"},desc{/if}">{trans("Number:")}</a> {if $listdata.order eq "number"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=notelist&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{trans("Value:")}</a> {if $listdata.order eq "value"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<a href="?m=notelist&o=count{if $listdata.direction eq "asc" && $listdata.order eq "count"},desc{/if}">{trans("Items:")}</a> {if $listdata.order eq "count"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="94%" class="fbt" nowrap>
			<a href="?m=notelist&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}">{trans("For:")}</a> {if $listdata.order eq "name"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="frightu">
			&nbsp;
		</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{section name=notelist loop=$notelist start=$start max=$pagelimit}
	{assign var=note value=$notelist[notelist]}
	{assign var=noteid value=$note.id}
	<tr class="{cycle} lista{if $note.closed} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" class="fleft">
			{$note.id|string_format:"%06d"}
		</td>
		<td width="1%" nowrap>
			{$note.cdate|date_format:"%Y/%m/%d %H:%M"}
		</td>
		<td width="1%" nowrap align="right">
			{number number=$note.number template=$note.template time=$note.cdate assign=number}{$number}
		</td>
		<td width="1%" nowrap align="right">
			{$note.value|money_format} 
		</td>
		<td width="1%" nowrap align="right">
			{$note.count}
		</td>
		<td width="94%">
			<a href="?m=customerinfo&id={$note.customerid}"{if $note.closed} class="blend"{/if}>{$note.name}, {$note.address}, {$note.zip} {$note.city}{if $note.country neq ""}, {t}{$note.country}{/t}{/if}</a>
		</td>
		<td width="1%" align="right" class="fright">
			<nobr>
			{if !$note.closed}
			    <a onclick="return confirmLink(this, '{t a=$number}Are you sure, you want to remove debit note \'$a\' from database?{/t}')" href="?m=notedel&id={$note.id}"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			    <a href="?m=noteedit&id={$note.id}&action=edit"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			{/if}
			<a href="?m=note&id={$note.id}" target="_blank"><img src="img/printd.gif" alt="[ {trans("Print")} ]" title="[ {trans("Print")} ]"></a>
			<input type="checkbox" name="marks[{$note.id}]" value="{$note.id}"{if $marks.$noteid}checked{/if}>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td width="100%" class="fall" align="center"  colspan="7">
			<p>&nbsp;</p>
			<p><b>{trans("No such debit notes in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="scroller">
		<td width="100%" class="fall" colspan="7">
			{include file="scroller.html" loop=$notelist scrollerno=2}
		</td>
	</tr>
	{/if}
	<tr class="dark">
		<td class="fall" colspan="7">
			<table width="100%">
				<tr>
					<td align="left">
						<nobr><a href="javascript:pays();">{trans("Check/Uncheck as accounted")} <img src="img/pay.gif" alt=""></a><nobr>&nbsp;
						<nobr><a href="javascript:prints();">{trans("Print")} <img src="img/printd.gif" alt="" ></a><nobr>&nbsp;
					</td>
					<td align="right">
						<nobr><label for="allbox">{trans("Check All")}</label><input type="checkbox" name="allbox" id="allbox" onchange="CheckAll('page', this, ['groupexclude', 'hideclosed'])" value="1"><nobr>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
{include file="footer.html"}
