{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<p><table cellpadding="3" width="100%">
	<tr class="dark">
		<td width="93%" class="fleftu" nowrap><img src="img/id.gif" alt=""> <b>{trans("Template:")}</b></td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("ID:")}</td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("Example (next) number:")}</td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("No. of issued documents:")}</td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("Document type:")}</td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("Period:")}</td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("Default:")}</td>
		<td width="1%" class="frightu" align="right"  nowrap><a href="?m=numberplanadd">{trans("Add plan")} <img src="img/save.gif" alt=""></a></td>
	</tr>
	{if $listdata.total != 0}
	<tr class="dark">
		<td colspan="8" class="fall">
			{include file="scroller.html" loop=$numberplanlist}
		</td>
	</tr>
	{/if}
	{cycle values="lucid,light" print=false}
	{section name=numberplanlist loop=$numberplanlist}
	<tr class="{cycle} lista{if ($numberplanlist[numberplanlist].validfrom !=0 && $numberplanlist[numberplanlist].validfrom > $smarty.now) || ($numberplanlist[numberplanlist].validto !=0 && $numberplanlist[numberplanlist].validto < $smarty.now)} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			<img src="img/id.gif" alt=""> <b>{$numberplanlist[numberplanlist].template}</b>
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			({$numberplanlist[numberplanlist].id|string_format:"%04d"})
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			{number number=$numberplanlist[numberplanlist].next template=$numberplanlist[numberplanlist].template time=$smarty.now}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			{$numberplanlist[numberplanlist].issued|default:"0"}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			{assign var="doctype" value=$numberplanlist[numberplanlist].doctype}
			{$_DOCTYPES.$doctype}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			{assign var="period" value=$numberplanlist[numberplanlist].period}
			{$_NUM_PERIODS.$period}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=numberplanedit&id={$numberplanlist[numberplanlist].id}';">
			{if $numberplanlist[numberplanlist].isdefault}{trans("yes")}{/if}
		</td>
		<td class="fright" align="right" nowrap>
			<a href="?m=numberplandel&id={$numberplanlist[numberplanlist].id}" onclick="return confirmLink(this, '{t a=$numberplanlist[numberplanlist].template}Are you sure, you want to delete numberplan \'$a\'?{/t}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=numberplanedit&id={$numberplanlist[numberplanlist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="8" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No such numbering plans in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="dark">
		<td colspan="8" class="fall">
			{include file="scroller.html" loop=$numberplanlist}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="8" class="fall" align="right">
			<a href="?m=numberplanadd">{trans("Add plan")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table></p>
{include file="footer.html"}
