{include file="header.html"}
<!-- $Id$ -->
<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/payment.gif" alt=""><br>
			<img src="img/creditor.gif" alt="">
		</td>
		<td width="95%" class="fbt" align="left">
			<b>{trans("Name:")}</b><br>
			{trans("Creditor:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("ID:")}
		</td>
		<td width="1%" class="fbt" align="right">
			{trans("Value:")}
		</td>	
		<td nowrap width="1%" class="fbt" align="right">
			{trans("Payment day:")}
		</td>
		<td nowrap width="1%" class="frightu" align="right">
			<b>{t a=$listdata.total}Total: $a{/t}</b>
		</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{section name=payments loop=$paymentlist}
	<form name="addbalance{$smarty.section.payments.index}" method="POST" action="?m=balanceadd">
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="1%" class="fleft" onclick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';" class="fleft">
			<img src="img/payment.gif" alt=""><br>
			<img src="img/creditor.gif" alt="">
		</td>
		<td width="95%" onclick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<b>{$paymentlist[payments].name}</b><br>
			{$paymentlist[payments].creditor}
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			({$paymentlist[payments].id|string_format:"%04d"})
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<nobr>
			{$paymentlist[payments].value|money_format} 
			<nobr>
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=paymentinfo&id={$paymentlist[payments].id}';">
			<nobr>
			{$paymentlist[payments].payday} 
			<nobr>
		</td>
		<td width="1%" class="fright" align="right" >
			<input type="submit" class="hiddenbtn">
			<input type="hidden" name="m" value="balanceadd">
			<input type="hidden" name="addbalance[value]" value="{math equation="x*-1" x=$paymentlist[payments].value}">
			<input type="hidden" name="addbalance[comment]" value="{$paymentlist[payments].name} / {$paymentlist[payments].creditor}">
			<nobr>
			<a href="javascript:document.addbalance{$smarty.section.payments.index}.submit();"><img src="img/pay.gif" alt="[ {trans("Account payment")} ]" title="[ {trans("Account payment")} ]"></a>
			<a href="?m=paymentdel&id={$paymentlist[payments].id}" onclick="return confirmLink(this,'{trans("Are you sure, you want to delete that payment?")}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=paymentedit&id={$paymentlist[payments].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=paymentinfo&id={$paymentlist[payments].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>&nbsp;
			<nobr>
		</td>
	</tr>
	</form>
	{sectionelse}
	<tr>
		<td colspan="6" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No such standing payments in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="4" width="98%">
			&nbsp;
		</td>
		<td class="fbt" width="1%" align="right">
			<img src="img/info2.gif" alt="">&nbsp;<b>{trans("Total:")}</b>
		</td>
		<td class="frightu" width="1%" align="left">
			<b>{$listdata.total}</b>
		</td>
	</tr>
</table>
{include file="footer.html"}
