{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			{title value=$layout.pagetitle}
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" align="center" class="head">
			{trans("No.")}
		</td>
		<td width="30" align="center" class="head">
			{trans("ID")}
		</td>
		<td width="50" align="center" class="head">
			{trans("Login<!voipaccounts>")}
		</td>
		<td width="50" align="center" class="head">
			{trans("Password")}
		</td>
		<td width="50" align="center" class="head">
			{trans("Phone")}
		</td>
		<td width="250" align="center" class="head">
			{trans("Owner")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=voipaccountlist loop=$voipaccountlist}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center">
			{$voipaccountlist[voipaccountlist].id|string_format:"%04d"}
		</td>
		<td align="right">
			<b>{$voipaccountlist[voipaccountlist].login}</b>
		</td>
		<td align="center">
			{$voipaccountlist[voipaccountlist].passwd}
		</td>
		<td align="center">
			{$voipaccountlist[voipaccountlist].phone}
		</td>
		<td align="left">
			{$voipaccountlist[voipaccountlist].owner}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td align="center" colspan="6">
			<p>&nbsp;</p>
			<p><b>{trans("No such voip accounts in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
</table>
{include file="clearfooter.html"}
