{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			{title value=$layout.pagetitle}
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" align="center" class="head">
			{trans("No.")}
		</td>
		<td width="20" align="center" class="head">
			{trans("ID")}
		</td>
		<td width="80" align="center" class="head">
			<b>{trans("Node name")}</b>
		</td>
		<td width="75" align="center" class="head">
			{trans("IP address")}
		</td>
		<td width="75" align="center" class="head">
			{trans("MAC address")}
		</td>
		<td width="30" align="center" class="head">
			{trans("Balance")}
		</td>
		<td width="200" align="center" class="head">
			{trans("Owner")}
		</td>
		<td width="100" align="center" class="head">
			{trans("Description")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=nodelist loop=$nodelist}{if $nodelist[nodelist].id}
	<tr class="{cycle} lista">
		<td align="center">
			{counter}.
		</td>
		<td align="center">
			{$nodelist[nodelist].id|string_format:"%04d"}
		</td>
		<td align="left">
			<b>{$nodelist[nodelist].name}</b>
		</td>
		<td align="center">
			{$nodelist[nodelist].ip}
		</td>
		<td align="center">
			{$nodelist[nodelist].mac|replace:",":"<br>"}
		</td>
		<td align="center" nowrap>
			{$nodelist[nodelist].balance|money_format}
		</td>
		<td align="left">
			{$nodelist[nodelist].owner}
		</td>
		<td align="left">
			{$nodelist[nodelist].info}
		</td>
	</tr>
	{/if}{/section}
</table>
{include file="clearfooter.html"}
