{include file="clearheader.html" landscape=true}
<!--// $Id$ //-->
{$report_type = get_conf('phpui.report_type')}
{foreach from=$pages item=item}
{assign var=previtem value=$item-1}
{if $report_type == 'pdf'}
{if $item > 1}<page>{/if}
{else}
<div{if $item > 1} style="page-break-before: always; border-style: none;"{/if}>
{/if}
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" align="left">
			<b><font class="hdf">{$layout.pagetitle}</b></font><font class="sdr">{if $pagescount} ({t a=$item b=$pagescount}Page $a from $b{/t}){/if}</font><br>
			{if $layout.username} <b>{$layout.username}</b>{/if}
			{if $layout.registry} <b>{$layout.registry}</b>{/if}
			{if $layout.group} <b>{$layout.group}</b>{/if}
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="45" class="HEAD" align="center">
			{trans("Number")}<br>
			{trans("Date")}
		</td>
		<td width="225" class="HEAD" align="center">
			{trans("Customer")}
		</td>
		<td width="180" class="HEAD" align="center">
			{trans("Title")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Income")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Expense")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("After")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
        {section name=receiptlist loop=$receiptlist start=$totals.$item.rowstart max=$totals.$item.rows}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="right" nowrap>
			{$receiptlist[receiptlist].number}<br>
			{$receiptlist[receiptlist].cdate|date_format:"%d.%m.%Y"}
		</td>
		<td align="left">
			{$receiptlist[receiptlist].name} {if $receiptlist[receiptlist].customerid}({$receiptlist[receiptlist].customerid|string_format:"%04d"}){/if}<br>
			{$receiptlist[receiptlist].zip} {$receiptlist[receiptlist].city} {$receiptlist[receiptlist].address}
		</td>
		<td align="left">
			{foreach from=$receiptlist[receiptlist].title item=title}
				{$title|truncate:"100":"":true}<br>
			{/foreach}
		</td>
		<td align="right" nowrap>
			{if $receiptlist[receiptlist].value > 0}{$receiptlist[receiptlist].value|string_format:"%.2f"}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if $receiptlist[receiptlist].value < 0}{($receiptlist[receiptlist].value*-1)|string_format:"%.2f"}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{$receiptlist[receiptlist].after|string_format:"%.2f"}
		</td>
	</tr>
	{/section}
	<tr>
		<td colspan="4" align="right">
			<b>{trans("Page total:")}</b>
		</td>
		<td align="right">
		        <b>{$totals.$item.income|string_format:"%01.2f"}</b>
		</td>
		<td align="right">
		        <b>{$totals.$item.expense|string_format:"%01.2f"}</b>
		</td>
		<td></td>
	</tr>
	<tr>
		<td colspan="4" align="right">
			<b>{trans("Transfered from previous page:")}</b>
		</td>
		<td align="right">
		        <b>{$totals.$previtem.totalincome|string_format:"%01.2f"}</b>
		</td>
		<td align="right">
		        <b>{$totals.$previtem.totalexpense|string_format:"%01.2f"}</b>
		</td>
		<td></td>
	</tr>
	<tr>
		<td colspan="4" align="right">
			<b>{trans("Total from start of period:")}</b>
		</td>
		<td align="right">
			<b>{$totals.$item.totalincome|string_format:"%01.2f"}</b>
		</td>
		<td align="right">
			<b>{$totals.$item.totalexpense|string_format:"%01.2f"}</b>
		</td>
		<td></td>
	</tr>
</table>
{if $report_type == 'pdf'}
{if $item > 1}</page>{/if}
{else}
</div>
{/if}
{foreachelse}
<table width="100%" cellpadding="3" align="center">
	<tr style="border-style: none;">
		<td width="535" align="left">
			<b><font class="hdf">{$layout.pagetitle}</font></b><br>
			{if $layout.username} <b>{$layout.username}</b>{/if}
			{if $layout.registry} <b>{$layout.registry}</b>{/if}
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="45" class="HEAD" align="center">
			{trans("Number")}<br>
			{trans("Date")}
		</td>
		<td width="225" class="HEAD" align="center">
			{trans("Customer")}
		</td>
		<td width="180" class="HEAD" align="center">
			{trans("Title")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Income")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Expense")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("After")}
		</td>
	</tr>
	<tr>
		<td align="center" colspan="7">
			<p>&nbsp;</p>
			<p><b>{trans("No such cash receipts in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
</table>
{/foreach}
{include file="clearfooter.html"}
