{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<p class="hdf"><b>{$layout.pagetitle}</b>
			{if $source}<br><font class="sdr"><b>{trans("Source:")} {$source}</b></font>{/if}
			</p>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Date")}
		</td>
		<td width="100" class="HEAD" align="center">
			{trans("Value")}
		</td>
		<td width="400" class="HEAD" align="center">
			{trans("Customer")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=importlist loop=$importlist}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center" nowrap>
			{$importlist[importlist].time|date_format:"%d.%m.%Y"}
		</td>
		<td align="right" nowrap>
			{$importlist[importlist].value|money_format}
		</td>
		<td>
			{$importlist[importlist].customername} ({$importlist[importlist].customerid|string_format:"%04d"})
		</td>
	</tr>
	{assign var=total value=$total+$importlist[importlist].value}
	{sectionelse}
	<tr>
		<td align="center" width="100%" colspan="4">
			<p>&nbsp;</p>
			<p><b>{trans("No such cash operations.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr>
		<td class="headgrey" align="right" colspan="2">
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$total|money_format}</b>
		</td>
		<td class="headgrey"></td>
	</tr>
</table>
{include file="clearfooter.html"}
