{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<p class="hdf"><b>{$layout.pagetitle}</b>
			{if $layout.username}<br><font class="sdr"><b>{$layout.username}</b></font>{/if}
			{if $layout.registry}<br><font class="sdr"><b>{$layout.registry}</b></font>{/if}
			{if $layout.group}<br><font class="sdr"><b>{$layout.group}</b></font>{/if}
			</p>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" align="center" class="HEAD">
			{trans("No.")}
		</td>
		<td width="45" class="HEAD" align="center">
			{trans("Date")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Number")}
		</td>
		<td width="225" class="HEAD" align="center">
			{trans("Customer")}
		</td>
		<td width="120" class="HEAD" align="center">
			{trans("Title")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Income")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Expense")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("After")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=receiptlist loop=$receiptlist}
	<tr class="{cycle} lista">
		<td align="center">
			{counter}.
		</td>
		<td align="right" nowrap>
			{$receiptlist[receiptlist].cdate|date_format:"%d.%m.%Y"}
		</td>
		<td align="right" nowrap>
			{$receiptlist[receiptlist].number}
		</td>
		<td align="left">
			{$receiptlist[receiptlist].customer}
		</td>
		<td align="left">
			{foreach from=$receiptlist[receiptlist].title item=title}
				{$title}<br>
			{/foreach}
		</td>
		<td align="right" nowrap>
			{if $receiptlist[receiptlist].value > 0}{$receiptlist[receiptlist].value|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if $receiptlist[receiptlist].value < 0}{($receiptlist[receiptlist].value*-1)|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{$receiptlist[receiptlist].after|money_format}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td align="center" colspan="8">
			<p>&nbsp;</p>
			<p><b>{trans("No such cash receipts in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr>
		<td class="headgrey" colspan="5" align="right">
			<b>{trans("Total:")}</b><hr>
			<b>{trans("Initial balance:")}</b><br>
			<b>{trans("Final balance:")}</b>
			{if $listdata.advances}<br><b>{trans("Not accounted advances:")}</b>{/if}
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.totalincome|money_format}</b><hr>
			<b>{$listdata.startbalance|money_format}</b><br>
			<b>{$listdata.endbalance|money_format}</b>
			{if $listdata.advances}<br><b>{$listdata.advances|money_format}</b>{/if}
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.totalexpense|money_format}</b><hr>
		</td>
		<td class="headgrey"></td>
	</tr>
</table>
{include file="clearfooter.html"}
