{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<p class="hdf"><b>{$layout.pagetitle}</b>
			{if $net}<br><font class="sdr"><b>{trans("Network:")} {$net}</b></font>{/if}
			{if $group}<br><font class="sdr"><b>{trans("Group:")} {$group}</b></font>{/if}
			{if $division}<br><font class="sdr"><b>{trans("Division")}: {$division}</b></font>{/if}
			{if $types}<br><font class="sdr"><b>{trans("Type:")} {$types}</b></font>{/if}
			{if $source}<br><font class="sdr"><b>{trans("Source:")} {$source}</b></font>{/if}
			</p>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="45" class="HEAD" align="center">
			{trans("Date")}
		</td>
		<td width="60" class="HEAD" align="center">
			{trans("Liability")}
		</td>
		<td width="40" class="HEAD" align="center">
			{trans("Income")}
		</td>
		<td width="40" class="HEAD" align="center">
			{trans("Expense")}
		</td>
		<td width="40" class="HEAD" align="center">
			{trans("After")}
		</td>
		<td width="120" class="HEAD" align="center">
			{trans("Customer")}
		</td>
		<td width="200" class="HEAD" align="center">
			{trans("Description")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=balancelist loop=$balancelist}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center" nowrap>
			{$balancelist[balancelist].time|date_format:"%d.%m.%Y"}
		</td>
		<td align="right" nowrap>
			{if $balancelist[balancelist].covenant}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value > 0}{$balancelist[balancelist].value|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if !$balancelist[balancelist].covenant && $balancelist[balancelist].value < 0}{($balancelist[balancelist].value*-1)|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if $balancelist[balancelist].covenant}
			-
			{else}
			{$balancelist[balancelist].after|money_format} 
			{/if}
		</td>
		<td align="left" nowrap>
			{$balancelist[balancelist].customername|truncate:25:"..."}
		</td>
		<td align="left">
			{$balancelist[balancelist].comment|wordwrap:42:"<br />\n"}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td align="center" width="100%" colspan="8">
			<p>&nbsp;</p>
			<p><b>{trans("No such cash operations.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr>
		<td class="headgrey" align="right" colspan="2">
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.liability|money_format}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.income|money_format}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.expense|money_format}</b>
		</td>
		<td class="headgrey" align="center" colspan="3" nowrap>
			<b>{trans("Balance:")} {$listdata.total|money_format}</b>
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
