{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<h1>{$layout.pagetitle}</h1>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Date")}
		</td>
		<td width="150" class="HEAD" align="center">
			{trans("Value")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=incomelist loop=$incomelist}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center" nowrap>
			{$incomelist[incomelist].date|date_format:"%d.%m.%Y"}
		</td>
		<td align="right" nowrap>
			{$incomelist[incomelist].value|money_format}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td align="center" width="100%" colspan="3">
			<p>&nbsp;</p>
			<p><b>{trans("No such cash operations.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr>
		<td class="headgrey" align="center"></td>
		<td class="headgrey" align="center" nowrap>
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{sum column=value array=$incomelist string_format=$LANGDEFS.$_language.money_format}</b>
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
