{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" align="left">
			{title value=$layout.pagetitle}
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="450" class="HEAD" align="center">
			{trans("Customer")}
		</td>
		<td width="35" class="HEAD" align="center">
			{trans("Gross value")}
		</td>
		{foreach item=tax from=$taxes}
		<td width="35" class="HEAD" align="center">
			{trans("Net value")}
		</td>
		<td width="35" class="HEAD" align="center">
			{trans("Tax value")} {$tax.label}
		</td>
		{/foreach}
		<td width="35" class="HEAD" align="center">
			{trans("Total Tax")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{foreach item=report from=$reportlist}
	<tr class="{cycle} lista">
		<td align="center">
			{counter}.
		</td>
		<td>
			<b>{$report.customername}</b> ({$report.id|string_format:"%04d"})<br>
			{$report.address}
			{if $report.ten}<br>{$report.ten}{/if}
		</td>
		<td align="right">
			{$report.value|string_format:"%01.2f"}
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td align="right">
			{$report.$taxid.netto|string_format:"%01.2f"}
		</td>
		<td align="right">
			{$report.$taxid.tax|string_format:"%01.2f"}
		</td>
		{/foreach}
		<td align="right">
			{$report.taxsum|string_format:"%01.2f"}
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td align="center" colspan="{math equation="4+x*2" x=$taxescount}">
			<p>&nbsp;</p>
			<p><b>{trans("No such liabilities in selected date.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr>
		<td class="headgrey" colspan="2" align="right">
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right">
			<b>{sum array=$reportlist column="value" string_format="%01.2f"}</b>
		</td>
		{foreach item=tax from=$taxes}
		{assign var=taxid value=$tax.id}
		<td class="headgrey" align="right">
			<b>{$total.netto.$taxid|string_format:"%01.2f"}</b>
		</td>
		<td class="headgrey" align="right">
			<b>{$total.tax.$taxid|string_format:"%01.2f"}</b>
		</td>
		{/foreach}
		<td class="headgrey" align="right">
			<b>{sum array=$reportlist column="taxsum" string_format="%01.2f"}</b>
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
