{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<h1>{$layout.pagetitle}</h1>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="15" class="HEAD" align="center">
			{trans("No.")}
		</td>
		<td width="45" class="HEAD" align="center">
			{trans("Date")}
		</td>
		<td width="60" class="HEAD" align="center">
			{trans("Liability")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Income")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("Expense")}
		</td>
		<td width="50" class="HEAD" align="center">
			{trans("After")}
		</td>
		<td width="280" class="HEAD" align="center">
			{trans("Description")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=balancelist loop=$balancelist.id}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center" nowrap>
			{$balancelist.date[balancelist]}
		</td>
		<td align="right" nowrap>
			{if !$balancelist.type[balancelist]}{($balancelist.value[balancelist]*-1)|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if $balancelist.type[balancelist] && $balancelist.value[balancelist] > 0}{$balancelist.value[balancelist]|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{if $balancelist.type[balancelist] && $balancelist.value[balancelist] < 0}{($balancelist.value[balancelist]*-1)|money_format}{else}-{/if}
		</td>
		<td align="right" nowrap>
			{$balancelist.after[balancelist]|money_format}
		</td>
		<td align="left">
			{$balancelist.comment[balancelist]|wordwrap:60:"<br />\n"}
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td align="center" width="100%" colspan="7">
			<p>&nbsp;</p>
			<p><b>{trans("No such transactions")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr>
		<td class="headgrey" align="right" colspan="2">
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$balancelist.liability|money_format}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$balancelist.income|money_format}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$balancelist.expense|money_format}</b>
		</td>
		<td class="headgrey" colspan="2" align="right">
			<b>{trans("Balance:")} {$balancelist.summary|money_format}</b>
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
