{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%" cellpadding="3" align="center">
	<tr>
		<td width="535" valign="top">
			<h1>{$layout.pagetitle}</h1>
		</td>
		<td width="180" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td width="100" class="HEAD" align="center" nowrap>
			{trans("Day")}
		</td>
		<td width="80" class="HEAD" align="center" nowrap>
			{trans("Download")}
		</td>
		<td width="150" class="HEAD" align="center" nowrap>
			{trans("Avg. download speed")}
		</td>
		<td width="80" class="HEAD" align="center" nowrap>
			{trans("Upload")}
		</td>
		<td width="150" class="HEAD" align="center" nowrap>
			{trans("Avg. upload speed")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{foreach from=$stats item=stat}
	<tr class="{cycle}">
		<td align="left" nowrap>
			{$stat.date|date_format:"%d.%m.%Y (%A)"}
		</td>
		<td align="right" nowrap>
			{$stat.download|string_format:"%.2f"} {$stat.downloadunit}
		</td>
		<td align="right" nowrap>
			{$stat.downavg|string_format:"%d"} kbit/s
		</td>
		<td align="right" nowrap>
			{$stat.upload|string_format:"%.2f"} {$stat.uploadunit}
		</td>
		<td align="right" nowrap>
			{$stat.upavg|string_format:"%d"} kbit/s
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td align="center" width="100%" colspan="5">
			<p>&nbsp;</p>
			<p><b>{trans("No such stats for selected period.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr>
		<td class="headgrey" align="right">
			<b>{trans("Total:")}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.download|string_format:"%.2f"} {$listdata.downloadunit|default:"KB"}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.downavg|string_format:"%d"} kbit/s</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.upload|string_format:"%.2f"} {$listdata.uploadunit|default:"KB"}</b>
		</td>
		<td class="headgrey" align="right" nowrap>
			<b>{$listdata.upavg|string_format:"%d"} kbit/s</b>
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
