{if $editassurance == 1}
{$xajax}
    
    <form name="assuranceedit" id="assuranceedit" method="POST">
    <input type="hidden" name="assuranceedit[id]" value="{$assuranceinfo.id}">
    <input type="hidden" name="assuranceedit[idc]" value="{$idc}">
    <input type="hidden" name="assuranceedit[idother]" value="{$idother}">
    <input type="hidden" name="assuranceedit[backto]" value="{$layout.backto}">
    <input type="hidden" name="assuranceedit[tuck]" value="{$tuck}">
    <table width="100%" cellpadding="3">
	<tr class="dark pgdark">
	    <td width="100%" class="fall pad5" align="left" colspan="2">
		<b>{if $assuranceinfo.id}Edycja{else}Dodanie nowego{/if} ubezpieczenia</b>
	    </td>
	</tr>
	<tr class="light pglight">
	    
	    <td width="50%" align="left" style="vertical-align:top;" class="fleftu">
		<table width="100%">
		    <tr>
			<td width="1%" nowrap class="pad"><b>Nr. Polisy</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad" align="left">
			    <input type="text" style="width:200px;" name="assuranceedit[nrpolisy]" id="id_nrpolisy" value="{$assuranceinfo.nrpolisy}">
			    <div id="nrpolisy_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><b>Nr. Umowy</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" align="left" class="pad"><input type="text" style="width:200px;" name="assuranceedit[nrumowy]" id="id_nrumowy" value="{$assuranceinfo.nrumowy}"></td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><b>Ubezpieczenie</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" nowrap align="left">
			    <input type="checkbox" name="assuranceedit[oc]" id="id_oc" value="1" {if $assuranceinfo.oc || !$assuranceinfo.id}checked{/if}><label for="id_oc">&nbsp;OC</label>&nbsp;&nbsp;
			    <input type="checkbox" name="assuranceedit[ac]" id="id_ac" value="1" {if $assuranceinfo.ac}checked{/if}><label for="id_ac">&nbsp;AC</label>&nbsp;&nbsp;
			    <input type="checkbox" name="assuranceedit[nw]" id="id_nw" value="1" {if $assuranceinfo.nw}checked{/if}><label for="id_nw">&nbsp;NW</label>&nbsp;&nbsp;
			    <input type="checkbox" name="assuranceedit[assistance]" id="id_assistance" value="1" {if $assuranceinfo.assistance}checked{/if}><label for="id_assistance">&nbsp;Assistance</label>
			    <div id="ubezpieczenie_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><b>Data Zawarcia</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[datazawarcia]" id="id_datazawarcia" class="tcal" style="width:100px;" value="{if $assuranceinfo.datazawarcia}{$assuranceinfo.datazawarcia|date_format:'Y-m-d'}{/if}" readonly >&nbsp;<img src="img/cancel.gif" width="12" {tip text="Wyczyść datę"} onclick="document.getElementById('id_datazawarcia').value='';" style="cursor:pointer;">
			    <div id="datazawarcia_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><b>Ubezpieczenie od dnia</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[dfrom]" id="id_dfrom" class="tcal" style="width:100px;" value="{if $assuranceinfo.dfrom}{$assuranceinfo.dfrom|date_format:'Y-m-d'}{/if}" readonly>&nbsp;<img src="img/cancel.gif" width="12" {tip text="Wyczyść datę"} onclick="document.getElementById('id_dfrom').value='';" style="cursor:pointer;">
			    <div id="dfrom_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><b>Ubezpieczenie do dnia</b></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[dto]" id="id_dto" class="tcal" style="width:100px;" value="{if $assuranceinfo.dto}{$assuranceinfo.dto|date_format:'Y-m-d'}{/if}" readonly>&nbsp;<img src="img/cancel.gif" width="12" {tip text="Wyczyść date"} onclick="document.getElementById('id_dto').value='';" style="cursor:pointer;">
			    <div id="dto_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Podajemy pełną kwotę składki za cały rok lub pierwszej raty"}><b>Składka 1</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[rata1]" id="id_rata1" style="width:100px;" value="{if $assuranceinfo.rata1}{$assuranceinfo.rata1}{/if}">
			    <div id="rata1_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Termin płatności składki lub pierwszej raty"}><b>Termin płatności</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[rata1to]" class="tcal" readonly id="id_rata1to" style="width:100px;" value="{if $assuranceinfo.rata1to}{$assuranceinfo.rata1to|date_format:'Y-m-d'}{/if}">&nbsp;<img src="img/cancel.gif" width="12" style="cursor:pointer;" {tip text="Wyczyść datę"} onclick="document.getElementById('id_rata1to').value='';">
			    <div id="rata1to_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Czy składka lub pierwsza rata została zapłacona"}><b>Zapłacone</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad" nowrap style="height:22px;">
			    <input type="radio" name="assuranceedit[rata1cash]" value="1" id="id_rata1cash1" {if $assuranceinfo.rata1cash}checked{/if} onclick="view_rata1cashdate(1);"><label for="id_rata1cash1" onclick="view_rata1cashdate(1);">TAK</label>
			    <input type="radio" name="assuranceedit[rata1cash]" value="0" id="id_rata1cash0" {if !$assuranceinfo.rata1cash}checked{/if} onclick="view_rata1cashdate(0);"><label for="id_rata1cash0" onclick="view_rata1cashdate(0);">NIE</label>
			    &nbsp;&nbsp;
			    <span id="id_viewrata1cashdate" {if !$assuranceinfo.rata1cash}style="display:none;"{/if}>
				<input type="text" style="width:100px;" name="assuranceedit[rata1cashdate]" value="{if $assuranceinfo.rata1cashdate}{$assuranceinfo.rata1cashdate|date_format:'Y-m-d'}{/if}" id="id_rata1cashdate" class="tcal" {tip text="data zapłacenia składki"} readonly>
				&nbsp;<img src="img/cancel.gif" style="cursor:pointer;" width="12" {tip text="wyczyść datę"} onclick="document.getElementById('id_rata1cashdate').value='';">
			    </span>
			    <div id="rata1cashdate_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Podajemy kwotę drugiej raty (opcja)"}><b>Składka 2</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad">
			    <input type="text" name="assuranceedit[rata2]" id="id_rata2" style="width:100px;" value="{if $assuranceinfo.rata2 && $assuranceinfo.rata2 != '0.00'}{$assuranceinfo.rata2}{/if}">
			<div id="rata2_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Termin płatności drugiej raty (opcja)"}><b>Termin płatności</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad"><input type="text" name="assuranceedit[rata2to]" class="tcal" readonly id="id_rata2to" style="width:100px;" value="{if $assuranceinfo.rata2to}{$assuranceinfo.rata2to|date_format:'Y-m-d'}{/if}">&nbsp;<img src="img/cancel.gif" width="12" style="cursor:pointer;" {tip text="Wyczyść datę"} onclick="document.getElementById('id_rata2to').value='';">
			<div id="rata2to_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad"><span class="tiphelp" {tip text="Czy druga rata została zapłacona (opcja)"}><b>Zapłacone</b></span></td>
			<td width="1%" nowrap class="pad"><b>:</b></td>
			<td width="98%" class="pad" nowrap style="height:22px;">
			    <input type="radio" name="assuranceedit[rata2cash]" value="1" id="id_rata2cash1" {if $assuranceinfo.rata2cash}checked{/if} onclick="view_rata2cashdate(1);"><label for="id_rata2cash1" onclick="view_rata2cashdate(1);">TAK</label>
			    <input type="radio" name="assuranceedit[rata2cash]" value="0" id="id_rata2cash0" {if !$assuranceinfo.rata2cash}checked{/if} onclick="view_rata2cashdate(0);"><label for="id_rata2cash0" onclick="view_rata2cashdate(0);">NIE</label>
			    &nbsp;&nbsp;
			    <span id="id_viewrata2cashdate" {if !$assuranceinfo.rata2cash}style="display:none;"{/if}>
			    <input type="text" style="width:100px;" name="assuranceedit[rata2cashdate]" value="{if $assuranceinfo.rata2cashdate}{$assuranceinfo.rata2cashdate|date_format:'Y-m-d'}{/if}" id="id_rata2cashdate" class="tcal" {tip text="data zapłacenia składki"} readonly>&nbsp;<img src="img/cancel.gif" style="cursor:pointer;" width="12" {tip text="wyczyść datę"} onclick="document.getElementById('id_rata2cashdate').value='';"></span>
			    <div id="rata2cashdate_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		</table>
	    </td>
	    
	    <td width="50%" align="left" style="vertical-align:top;" class="frightu">
		<table width="100%">
		
		    <tr>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>Ubezpieczyciel</b></td>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>:</b></td>
			<td width="98%" class="pad" align="left" style="vertical-align:top;"><textarea name="assuranceedit[ubezpieczyciel]" style="width:200px;" rows="3" id="id_ubezpieczyciel">{if $assuranceinfo.ubezpieczyciel}{$assuranceinfo.ubezpieczyciel}{/if}</textarea>
			<div id="ubezpieczyciel_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>Asekurant</b></td>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>:</b></td>
			<td width="98%" class="pad" align="left" style="vertical-align:top;"><textarea name="assuranceedit[asekurant]" style="width:200px;" rows="3">{if $assuranceinfo.asekurant}{$assuranceinfo.asekurant}{/if}</textarea></td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>Ubezpieczający</b></td>
			<td width="1%" nowrap class="pad" style="vertical-align:top;"><b>:</b></td>
			<td width="98%" class="pad" align="left" style="vertical-align:top;"><textarea name="assuranceedit[ubezpieczajacy]" style="width:200px;" rows="3" id="id_ubezpieczajacy">{if $assuranceinfo.ubezpieczajacy}{$assuranceinfo.ubezpieczajacy}{/if}</textarea>
			<div id="ubezpieczajacy_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		</table>
	    </td>
	</tr>
	
	<tr>
	    <td width="100%" colspan="2" align="right" class="dark pgdark fall pad">
		<a href="javascript:void(0);" onclick="xajax_saveassurance(xajax.getFormValues('assuranceedit'));"><b>{trans('Save')}</b> <img src="img/save.gif"></a>&nbsp;
		<a href="javascript:void(0);" onclick="self.location.href='?m=re_carinfo&idc={$idc}&tuck=assurance';"><b>{trans('Cancel')}</b> <img src="img/cancel.gif"></a>
	    </td>
	</tr>
    </table>
    
    
    <br>
    {literal}
    <script type="text/javascript" language="JavaScript">
    <!--
	    function view_rata1cashdate(stan)
	    {
	    
		if (stan==1) {
		    document.getElementById('id_viewrata1cashdate').style.display='';
		} else {
		    document.getElementById('id_viewrata1cashdate').style.display='none';
		    document.getElementById('rata1cashdate_alerts').innerHTML = '';
		}
	    }
	    
	    function view_rata2cashdate(stan)
	    {
	    
		if (stan==1) {
		    document.getElementById('id_viewrata2cashdate').style.display='';
		} else {
		    document.getElementById('id_viewrata2cashdate').style.display='none';
		    document.getElementById('rata2cashdate_alerts').innerHTML = '';
		}
	    }
    //-->
    </script>
    {/literal}

{else}
<!--// lista //-->
<table width="100%" cellpadding="3" cellspacing="0">	
    <tr class="dark">
	<td width="1%" class="fleftu pad10" nowrap align="center"><b>od dnia</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>do dnia</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>OC</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>AC</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>NW</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>Assistance</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>Składka<br>Składka 2</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>Płatność<br>Płatność 2</b></td>
	<td width="1%" class="fbt pad10" nowrap align="center"><b>Zapłacone<br>Zapłacone 2</b></td>
	<td width="91%" class="fbt pad10" align="left"><b>Ubezpieczyciel</b></td>
	<td width="1%" class="frightu pad10" align="right" nowrap>
	<img src="img/add.gif" title="[ dodaj ubezpieczenie ]" style="cursor:pointer;" onclick="self.location.href='?m=re_carinfo&idc={$idc}&tuck=assurance&add';">
	</td>
    </tr>
    
    {cycle values="lucid,light" print=false}
    {math assign='_termin' equation="x+y" x=$smarty.now y=1209600}
    
    {section name='assurancelist' loop=$assurancelist}
    {assign var='assurance' value=$assurancelist[assurancelist]}
    {assign var='termin' value=0}
    {assign var='poterminie' value=0}
    
    {if !$assurance.rata1cash}
	{if $assurance.rata1to < $_termin}{assign var='termin' value=1}{/if}
	{if $assurance.rata1to <= $smarty.now}{assign var='termin' value=0}{assign var='poterminie' value=1}{/if}
    {/if}
    
    {if $assurance.rata2 !=0 && !$assurance.rata2cash}
	{if $assurance.rata2to < $_termin}{assign var='termin' value=1}{/if}
	{if $assurance.rata2to <= $smarty.now}{assign var='termin' value=0}{assign var='poterminie' value=1}{/if}
    {/if}
    
    {assign var='stare' value=0}
	
    {if !$termin && !$poterminie}
	{if $assurance.dto < $smarty.now && $assurance.rata1cash}
	    {assign var='stare' value=1}
	{/if}
	{if $assurance.rata2 !=0 && $assurance.rata2cash}
	    {assign var='stare' value=1}
	{/if}
    {/if}
    
    <tr class="{cycle} lista{if $stare} blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');" {if $termin}style="color:blue;"{elseif $poterminie}style="color:red;"{/if}>
	
	<td width="1%" class="fleft pad10" nowrap align="center">
		{$assurance.dfrom|date_format:"Y-m-d"}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{$assurance.dto|date_format:"Y-m-d"}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{if $assurance.oc}{trans('Yes')}{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{if $assurance.ac}{trans('Yes')}{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{if $assurance.nw}{trans('Yes')}{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{if $assurance.assistance}{trans('Yes')}{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{$assurance.rata1|money_format}
		<br>
		{if $assurance.rata2 != 0}
			{$assurance.rata2|money_format}
		{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
		{$assurance.rata1to|date_format:"Y-m-d"}
		<br>
		{if $assurance.rata2 != 0}
			{$assurance.rata2to|date_format:"Y-m-d"}
		{else}---{/if}
	</td>
	
	<td width="1%" class="pad10" nowrap align="center">
	    {if $assurance.rata1cash}
		{$assurance.rata1cashdate|date_format:"Y-m-d"}
	    {else}{trans('No')}{/if}
	    <br>
	    {if $assurance.rata2 != 0}
		{if $assurance.rata2cash}
		    {$assurance.rata2cashdate|date_format:"Y-m-d"}
		{else}{trans('No')}{/if}
	    {else}---{/if}
	</td>
	
	<td width="91%" class="pad10" align="left">{$assurance.ubezpieczyciel}</td>
	<td width="1%" class="fright pad10" align="right" nowrap>
	    
	    <a href="?m=re_carinfo&tuck=assurance&idc={$idc}&del={$assurance.id}" onclick="return confirmLink(this,'Potwierdź usunięcie ubezpieczenia');"><img src="img/delete.gif" title="[ Kasuj ]" alt="[ Kasuj ]"></a>
	    <img src="img/edit.gif" title="[ Edytuj ]" alt="[ Edytuj ]" onclick="self.location.href='?m=re_carinfo&idc={$idc}&tuck=assurance&edit={$assurance.id}';">
	</td>
    </tr>
    
    
    {sectionelse}
    
	<tr class="light">
	    <td width="100%" class="fall" colspan="12" align="center">
		<p>
		    <br><b>Brak ubezpieczeń pasujących do reguł filtrowania,<br>lub lista jest pusta</b></br><br>
		</p>
	    </td>
	</tr>
    
    {/section}
    
    <tr class="dark">
	<td width="100%" class="fall pad10" align="right" colspan="12">
	    <a href="javascript:void(0);" onclick="self.location.href='?m=re_carinfo&idc={$idc}&tuck=assurance&add';"><b>Dodaj nowe ubezpieczenie</b> <img src="img/add.gif"></a>
	</td>
    </tr>

</table>
{/if}