<!--// $Id$ //-->
<h1><span class="bold">{$layout.pagetitle}</span></h1>
<p><form name="reload" method="POST" action="?m=reload&setreloads">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall">
		<div style="float:left">
			<span class="bold">{trans("Select hosts for configuration reload:")} </div> </span> <div id="reloadtxt" style="display:none; float:right"><span class="bold">{trans("Reload configuration in:")} </span> <span id="reloadtimer" class="bold"></span> </div>
		</td>
	</tr>
	<tr>
		<td width="100%" class="fall">
			<table cellpadding="5" cellspacing="0" width="100%">
				<tr class="dark">
					<td width="1%" class="fleftu" nowrap><img src="img/host.gif" alt=""> <span class="bold">{trans("Name:")}</span></td>
					<td width="96%" class="fbt" nowrap>{trans("Description:")}</td>
					<td width="1%" class="fbt" align="right" nowrap>{trans("Last Reload:")}</td>
					<td width="1%" class="fbt" nowrap>{trans("Status:")}</td>
					<td width="1%" class="frightu"></td>
				</tr>
				{cycle values="lucid,light" print=false}
				{section name=hosts loop=$hosts}
				<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
					<td nowrap onclick="return checkElement({$hosts[hosts].id});"><img src="img/host.gif" alt=""> <span class="bold">{$hosts[hosts].name}</span></td>
					<td onclick="return checkElement({$hosts[hosts].id});">{$hosts[hosts].description}</td>
					<td align="right" nowrap onclick="return checkElement({$hosts[hosts].id});">{if $hosts[hosts].lastreload}{$hosts[hosts].lastreload|date_format:"%Y/%m/%d %H:%M"}{else}-{/if}</td>
					<td nowrap onclick="return checkElement({$hosts[hosts].id});">{if $hosts[hosts].reload==1}{trans("waiting")}
						    {elseif $hosts[hosts].reload==0}{trans("OK")}
						    {else}{trans("unknown")}{/if}</td>
					<td>
						<input type="checkbox" name="hosts[]" id="{$hosts[hosts].id}" value="{$hosts[hosts].id}"{if $hosts[hosts].reload} checked{/if}>
					</td>
				</tr>
				{sectionelse}
				<tr>
					<td colspan="4" align="center">
						<p>&nbsp;</p>
						<p><span class="bold">{trans("No such hosts in database.")}</span></p>
						<p>&nbsp;</p>
					</td>
				</tr>
				{/section}
				<tr class="light">
					<td class="ftop" colspan="2"nowrap>
						<input type="checkbox" name="allbox" id="allbox" onchange="CheckAll('reload', this)" value="1"><label for="allbox">{trans("Check All")}</label>
					</td>
					<td class="ftop" align="right" colspan="3" nowrap>
						<a href="javascript:document.reload.submit();">{trans("Submit")} <img src="img/save.gif" alt=""></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
</p>
{if $serverTime}
<script type="text/javascript">
        <!--

	var serverTime = new Date("{$serverTime}");
	var timerOn = false;
{section name=hosts loop=$hosts}
	{if $hosts[hosts].reload==1}timerOn=true;{/if}
{/section}
	var timer;
	var userDate = new Date();

	function ShowSeconds()
	{
		var serverTimeMinute = new Date(serverTime.getFullYear(),serverTime.getMonth(),serverTime.getDate(),serverTime.getHours(),serverTime.getMinutes(),Math.floor((serverTime.getSeconds()+59)/60)*60);
		var serverTimeDiff = serverTimeMinute-serverTime;
		serverTimeDiff=Math.round((serverTimeDiff+(userDate-(new Date())))/1000);
		if (serverTimeDiff>=0)
		{
			document.getElementById("reloadtxt").style.display='inline';
			document.getElementById("reloadtimer").innerHTML=" "+serverTimeDiff+" s";
			timer=setTimeout("ShowSeconds()",1000);
		}
		else
			window.location.reload();
	}

	if (timerOn && typeof(serverTime) != 'undefined')
		ShowSeconds();

	//-->
</script>
{/if}
