{include file="header.html"}
<!-- $Id$ -->
{title value=$layout.pagetitle}
<table cellpadding="5" width="100%">
	<tr class="dark">
		<td class="fleftu" width="20%" colspan="2" nowrap>
			<img src="img/queue.gif" alt="">
			<b>{trans("Category")}:</b><br>
			<img src="img/info1.gif" alt="">
			{trans("Description")}:
		</td>
		<td class="fbt" width="76%" nowrap>
			<img src="img/users.gif" alt="">
			<b>{trans("Owners")}:</b>
		</td>
		<td class="fbt" align="right"  width="1%">
			{trans("New:")}
		</td>
		<td class="fbt" align="right" width="1%">
			{trans("Opened:")}
		</td>
		<td class="fbt" align="right" width="1%" align="center">
			{trans("Last:")}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{foreach from=$categories item=category}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" onclick="return self.location.href='?m=rtqueueview&catid={$category.id}';" colspan="2">
			<img src="img/queue.gif" alt="">
			<b>{$category.name}</b><br>
			{if $category.description}
				<img src="img/info1.gif" alt=""> {$category.description}
			{/if}
		</td>
		<td>
			{foreach from=$category.owners item=owner key=key}
				<a href="?m=userinfo&id={$owner.id}">{$owner.name}</a>{if $key+1<sizeof($category.owners)}, {/if}
			{/foreach}
		</td>
		<td align="center" onclick="return self.location.href='?m=rtqueueview&catid={$category.id}';">
			{$category.new|default:0}
		</td>
		<td align="center" onclick="return self.location.href='?m=rtqueueview&catid={$category.id}';">
			{$category.open|default:0}
		</td>
		<td align="center" onclick="return self.location.href='?m=rtqueueview&catid={$category.id}';" nowrap>
			{if $category.lastticket}{$category.lastticket|date_format:"%Y/%m/%d %H:%M:%S"}{else}-{/if}
		</td>
		<td class="fright" nowrap>
			<a href="?m=rtqueueview&catid={$category.id}"><img src="img/view.gif" alt="[ {trans("Browse")} ]" title="[ {trans("Browse")} ]"></a>
			<a href="?m=rtcategorydel&id={$category.id}" onclick="return confirmLink(this, '{t a=$category.name}Are you sure, you want to remove category \'$a\'?{/t}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=rtcategoryedit&id={$category.id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=rtcategoryinfo&id={$category.id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="7" align="center" class="flr">
			<p>&nbsp;</p>
			<p><b>{trans("There are no categories.")}<b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/foreach}
	<tr class="light">
		<td colspan="3" align="right" class="fleftu">
			<img src="img/info2.gif" alt="">
			<b>{trans("Total:")}</b>
		</td>
		<td align="center" class="fbt">
			<b>{sum array=$categories column=new}</b>
		</td>
		<td align="center" class="fbt">
			<b>{sum array=$categories column=open}</b>
		</td>
		<td class="frightu" colspan="2">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
