{include file="header.html"}
<!-- $Id$ -->
<h1><b>{$layout.pagetitle}</b></h1>
<form method="POST" name="note" action="?m=rtnoteadd">
<input type="hidden" name="note[ticketid]" value="{$note.ticketid}">
<input type="submit" class="hiddenbtn">
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fall" colspan="2" nowrap>
			<img src="img/ticket.gif" alt="">
			<b>{t a=$note.ticketid|string_format:"%06d"}Ticket No. $a{/t}</b>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/note.gif" alt="">
			<b>{trans("Note content:")}</b>
		</td>
		<td width="99%" class="fright">
			<textarea name="note[body]" cols="50" rows="5" {tip text="Enter note content" trigger="body"} >{$note.body}</textarea>
		</td>
	</tr>
	<tr class="light">
		<td width="100%" class="fbottomu" colspan="2" align="right">
			<a href="javascript: document.note.submit();" accesskey="s">{trans("Submit")} <img src="img/save.gif" alt=""></a>
			<a href="?m=rtticketview&id={$note.ticketid}">{trans("Cancel")} <img src="img/cancel.gif" alt=""></a>
		</td>
	</tr>
</table>
<br>
<table width="100%" cellpadding="3">
	<tr class="light">
		<td width="1%" class="ftl" nowrap>
			<img src="img/mail.gif" alt="">
		        <label for="notify"><b>{trans("Notify users:")}</b></label>
		</td>
		<td width="99%" class="ftr">
			<input type="checkbox" name="note[notify]" id="notify" value="1"{if $note.notify} checked{/if}>
		</td>
	</tr>
	<tr class="light">
		<td width="1%" class="fleft" nowrap>
			<img src="img/dead.gif" alt="">
		        <b>{trans("Status:")}</b>
		</td>
		<td width="99%" class="fright">
			<select size="1" name="note[state]" {tip text="Select status" trigger="state"}>
				<option value="{$smarty.const.RT_NEW}" {if $note.state == $smarty.const.RT_NEW}selected{/if}>{trans("new")}</option>
				<option value="{$smarty.const.RT_OPEN}" {if $note.state == $smarty.const.RT_OPEN}selected{/if}>{trans("opened")}</option>
				<option value="{$smarty.const.RT_RESOLVED}" {if $note.state == $smarty.const.RT_RESOLVED}selected{/if}>{trans("resolved")}</option>
				<option value="{$smarty.const.RT_DEAD}" {if $note.state == $smarty.const.RT_DEAD}selected{/if}>{trans("dead")}</option>
			</select>
		</td>
	</tr>
	<tr class="light">
                <td width="1%" class="fbl" nowrap>
	                <img src="img/desc.gif" alt="">
	        <b>{trans("Cause:")}</b>
	        </td>
	        <td width="99%" class="fbr">
		        <select size="1" name="note[cause]" {tip text="Select request cause" trigger="cause"}>
		        	<option value="0" {if !$note.cause}selected{/if}>{trans("unknown/other")}</option>
				<option value="1" {if $note.cause == 1}selected{/if}>{trans("customer's side")}</option>
			        <option value="2" {if $note.cause == 2}selected{/if}>{trans("company's side")}</option>
			</select>
		</td>
        </tr>
</table>
</form>
<script type="text/javascript">
<!--
document.forms['note'].elements['note[body]'].focus();
//-->
</script>
{include file="footer.html"}
