{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%">
	<tr>
		<td width="99%" valign="top">
			{title value=$layout.pagetitle}
		</td>
		<td width="1%" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<table width="640" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td class="HEAD" align="center" width="1%">
			<b>{trans("No.")}</b>
		</td>
		<td class="HEAD" align="center" width="1%">
			<b>{trans("Ticket No.")}</b>
		</td>
		<td class="HEAD" align="center" width="1%">
			{trans("Request date")}
		</td>
		<td class="HEAD" align="center" width="96%" nowrap>
			{trans("Subject")}
		</td>
		<td class="HEAD" align="center" width="1%" nowrap>
			{trans("Customer")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=list loop=$list}
	<tr class="{cycle}">
		<td align="center">
			{counter}.
		</td>
		<td align="center">
			<b>{$list[list].id|string_format:"%08d"}</b>
		</td>
		<td align="center">
			{$list[list].createtime|date_format:"%Y/%m/%d"}
		</td>
		<td>
			{$list[list].subject|escape}
		</td>
		<td nowrap>
			{if $list[list].customerid}
			{$list[list].customername|truncate:"50":"...":true} ({$list[list].customerid|string_format:"%04d"})
			{if $list[list].address}<br>{$list[list].address}{/if}
			{if $list[list].phone}<br>{trans("phone:")} {$list[list].phone}{/if}
			{else}
			{$list[list].requestor|truncate:"50":"...":true}
			{/if}
		</td>
	</tr>
	{sectionelse}
	<tr>
	        <td align="center" width="100%" colspan="7">
			<p>&nbsp;</p>
			<p><b>{trans("No such requests in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
</table>
{include file="clearfooter.html"}
