{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="100%">
	<tr>
		<td width="99%" valign="top">
			<h1>{$layout.pagetitle}</h1>
		</td>
		<td width="1%" align="right" nowrap>
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Prepared by: $a{/t}
		</td>
	</tr>
</table>
<table width="640" cellpadding="3" BORDER="1" align="center">
	<tr>
		<td class="HEAD" align="center" width="1%">
			<b>{trans("No.")}</b>
		</td>
		<td class="HEAD" align="center" width="95%">
			{trans("Customer")}
		</td>
		<td class="HEAD" align="center" width="1%" nowrap>
			{trans("Total")}
		</td>
		<td class="HEAD" align="center" width="1%" nowrap>
			{trans("customer's side")}
		</td>
		<td class="HEAD" align="center" width="1%" nowrap>
			{trans("company's side")}
		</td>
		<td class="HEAD" align="center" width="1%">
			{trans("unknown/other<!plural>")}
		</td>
	</tr>
	{cycle values="white,grey" print=false}
	{section name=list loop=$list}
	<tr class="{cycle}">
		<td align="center">
			{counter}
		</td>
		<td>
			<b>{$list[list].customername|truncate:"50":"...":true} ({$list[list].customerid|string_format:"%04d"})</b>
		</td>
		<td align="right">
			{$list[list].total}
		</td>
		<td align="right">
			{$list[list].customer}
		</td>
		<td align="right">
			{$list[list].company}
		</td>
		<td align="right">
			{$list[list].other}
		</td>
	</tr>
	{sectionelse}
	<tr>
	        <td align="center" width="100%" colspan="6">
			<p>&nbsp;</p>
			<p><b>{trans("No such requests in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="grey">
		<td colspan="2" align="right"><b>{trans("Total:")}</b></td>
		<td align="right"><b>{sum array=$list column="total"}</b></td>
		<td align="right"><b>{sum array=$list column="customer"}</b></td>
		<td align="right"><b>{sum array=$list column="company"}</b></td>
		<td align="right"><b>{sum array=$list column="other"}</b></td>
	</tr>
</table>
{include file="clearfooter.html"}
