{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="1%" class="fleftu">
		<img src="img/queue.gif" alt="">
	    </td>
	    <td width="99%" colspan="2" class="frightu"><b>{$queue.name} ({$queue.id|string_format:"%04d"})</b></td>
	</tr>
	{if $queue.email}
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/mail.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("E-mail:")}</b></td>
	    <td width="98%" class="fright">{$queue.email}</td>
	</tr>
	{/if}
	{if $queue.description}
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/info1.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("Description:")}</b></td>
	    <td width="98%" class="fright">
		<table width="100%" cellpadding="5">
		    <tr>
			<td class="fall superlight">
			    {$queue.description|replace:"\n":"<br>"}
			</td>
		    </tr>
		</table>
	    </td>
	</tr>
	{/if}
	<tr class="light">
	    <td width="1%" class="fleft">
		<img src="img/users.gif" alt="">
	    </td>
	    <td width="1%"><b>{trans("Privileges:")}</b></td>
	    <td width="98%" class="fright">
		    <table width="100%" cellpadding="3">
			<tr class="dark">
			    <td width="96%" class="fleftu"><b>{trans("User")}</b>
			    </td>
			    <td width="1%" class="fbt" align="center" nowrap><b>{trans("Read")}</b></td>
			    <td width="1%" class="fbt" align="center" nowrap><b>{trans("Write (+R)")}</b></td>
			    <td width="1%" class="fbt" align="center" nowrap><b>{trans("Delete (+R)")}</b></td>
			    <td width="1%" class="frightu" align="center" nowrap><b>{trans("Notice (+R)")}</b></td>
			</tr>
			{cycle values="lucid,light" print=false}
			{foreach from=$queue.rights item=right}
			{if $right.rights}
			<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
			    <td width="96%" class="fleft">
				<a href="?m=userinfo&id={$right.id}">{$right.name}</a>
				<input type="hidden" name="queue[usernames][{$right.id}]" value="{$right.name}">
			    </td>
			    <td width="1%" align="center">
				{if $right.rights > 0}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
				{if ($right.rights & 2) == 2}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center">
				{if ($right.rights & 4) == 4}<img src="img/pass.gif" alt="">{/if}
			    </td>
			    <td width="1%" align="center" class="fright">
				{if ($right.rights & 8) == 8}<img src="img/pass.gif" alt="">{/if}
			    </td>
			</tr>
			{/if}
			{/foreach}
			<tr class=light">
			    <td width="96%" class="ftop"></td>
			    <td width="1%" class="ftop"></td>
			    <td width="1%" class="ftop"></td>
			    <td width="1%" class="ftop"></td>
			    <td width="1%" class="ftop"></td>
			</tr>
		</table>
	    </td>
	</tr>
	<tr class="light">
	    <td width="100%" colspan="3" class="FBOTTOMU" align="right"> 
	        <a href="?m=rtqueueview&id={$queue.id}">{trans("Browse")} <img src="img/view.gif" alt=""></a>
	    	<a href="?m=rtqueueedit&id={$queue.id}">{trans("Edit")} <img src="img/save.gif" alt=""></a>
		<a href="?m=rtqueuedel&id={$queue.id}" onclick="return confirmLink(this, '{t a=$queue.name}Are you sure, you want to remove queue \'$a\' and all assigned tickets and messages?{/t}');">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
	    </td>
	</tr>
</table></p>
{include file="footer.html"}
