{include file="clearheader.html"}
<!--// $Id$ //-->
<table width="660" align="center">
	<tr>
		<td width="100%" align="right">
			LMS {$layout.lmsv} @ {$layout.hostname}<br>
			{$smarty.now|date_format:"%A, %x"}<br>
			{t a=$layout.logname}Created by: $a{/t}
		</td>
	</tr>
</table>
<p>
<table width="660" cellpadding="3" border="1" align="center">
	<tr>
		<td class="HEAD" colspan="2">
			<h1>{t a=$ticket.ticketid|string_format:"%06d"}Ticket No. $a{/t}</h1>
		</td>
	</tr>
	<tr>
		<td width="1%">
			<b>{trans("Subject:")}</b>
		</td>
		<td width="99%" nowrap>
		        <b>{$ticket.subject|escape|truncate:50:"..."}</b>
		</td>
	</tr>
	<tr>
	        <td width="1%">
			<b>{trans("Submitter:")}</b>
	        </td>
	        <td width="99%" nowrap>
			{if $ticket.customerid}
				{$ticket.customername|escape}
			{else}
				{$ticket.requestor|escape} 
			{/if}
			{if $ticket.requestoremail && !$ticket.customerid}
				{$ticket.requestoremail}
			{/if}
		</td>
	</tr>
	<tr>
		<td width="1%" nowrap>
			<b>{trans("Create time:")}</b>
		</td>
		<td width="99%">
			{$ticket.createtime|date_format:"%Y/%m/%d %H:%M:%S"}
		</td>
	</tr>
	{if $ticket.ownername}
	<tr>
		<td width="1%">
			<b>{trans("Owner:")}</b>
		</td>
		<td width="99%" nowrap>
			{$ticket.ownername}
		</td>
	</tr>
	{/if}
{*
	<tr>
	        <td width="1%">
			<b>{trans("Status:")}</b>
		</td>
		<td width="99%">
			{$ticket.status}
		</td>
	</tr>
	<tr>
	        <td width="1%">
			<b>{trans("Uptime:")}</b>
		</td>
		<td width="99%" nowrap>
			{$ticket.uptime}
		</td>
	</tr>
	<tr>
	        <td width="1%">
			<b>{trans("Queue:")}</b>
		</td>
		<td width="99%" nowrap>
			{$ticket.queuename}
		</td>
	</tr>
*}
	<tr>
	        <td width="1%">
			<b>{trans("Message:")}</b>
		</td>
		<td width="99%">
			{$ticket.messages.0.body|escape|replace:"\n":"<br>"}
		</td>
	</tr>
</table>
{if $stats}
<p>
<table width="660" cellpadding="3" align="center">
        <tr class="dark">
	        <td width="1%" nowrap>
		        <b>{trans("Requests causes (last year):")}</b>
		</td>
		<td width="99%">
		        {trans("company's side")}: <b>{$stats.2.num|default:0}</b>,
			{trans("customer's side")}: <b>{$stats.1.num|default:0}</b>,
		        {trans("unknown/other<!plural>")}: <b>{$stats.0.num|default:0}</b>,
			{trans("all")}: <b>{$stats.0.num+$stats.1.num+$stats.2.num}</b>
		</td>
	</tr>
</table>
</p>
{/if}
<p>
<table width="660" cellpadding="3" align="center">
	<tr>
		<td width="100%" class="HEAD">
		{trans("Notes:")}	
		</td>
	</tr>
	<tr>
		<td width="100%" class="flr">
			<p>&nbsp;
			<p>&nbsp;
			<p>&nbsp;
			<p>&nbsp;
			<p>&nbsp;
			<p>&nbsp;
		</td>
	</tr>
</table>
{include file="clearfooter.html"}
