    <table cellpadding="0" cellspacing="0">
    <tr>
    <td width="99%" align="left">
    <b>
    {math assign=lastpage equation="ceil(x/y)" x=$listdata.total y=$pagelimit}
    {if $page > 1}
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x - 1' x=$page}');" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x - 1" x=$page}" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/back_disabled.png" alt="<">
    {/if}
    {if $page < $lastpage} 
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x + 1' x=$page}');" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x + 1" x=$page}" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/forward_disabled.png">
    {/if}
    {if $page == $lastpage}
	{math assign=scroller_start equation="max(0,x-10)*y" x=$page y=$pagelimit}
    {elseif $page > 1 && $page < $lastpage}
	{math assign=scroller_start equation="max(0,x-9)*y" x=$page y=$pagelimit}
    {/if}
    {if $page != 1}
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page=1');">[01]</a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page=1">[01]</a>
	{/if}
    {else}[01]
    {/if}...
    {section name=pcnt loop=$loop step=$pagelimit start=$scroller_start|default:0 max=10}
	{math assign=cnt equation="ceil(x/y)+z" x=$scroller_start|default:0 y=$pagelimit z=$smarty.section.pcnt.rownum}
    {if $page eq $cnt}[{else}
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={$cnt}');">
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={$cnt}">
	{/if}
    {/if}
    {$cnt|string_format:"%02.d"}
	{if $page eq $cnt}]{else}</a>{/if}
    {/section}
    ... {if $lastpage != $page}
    {if $listdata.ajax}<a href="javascript:void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={$lastpage}');">{else}<a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={$lastpage}">{/if}
    {/if}[{$lastpage|string_format:"%02.d"}]{if $lastpage != $page}</a>{/if}
    {if $page > 1}
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x - 1' x=$page}');" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x - 1" x=$page}" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/back_disabled.png" alt="<">
    {/if}
    {if $page < $lastpage} 
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x + 1' x=$page}');" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x + 1" x=$page}" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/forward_disabled.png">
    {/if}
    </b>
    </td>
    <td width="1%" nowrap align="right" class="pad">
    {math equation="x + 1" x=$start assign=startx}
    {if $start + $pagelimit > $listdata.total}{assign var=endx value=$listdata.total}{else}{math equation="x + y" x=$start y=$pagelimit assign=endx}{/if}
    ({t a=$startx b=$endx c=$listdata.total}records $a - $b of $c{/t})
    {if $lastpage > 10}
    {if !$scrollerno}
    <form method="get" action="?m={$layout.module}" name="scroller">
    <input type="hidden" name="m" value="{$layout.module}">
    {/if}
    {if $listdata.id}<input type="hidden" name="id" value="{$listdata.id}">{/if}
    {if $listdata.type}<input type="hidden" name="t" value="{$listdata.type}">{/if}
    {if $listdata.state}<input type="hidden" name="s" value="{$listdata.state}">{/if}
    {if $listdata.kind}<input type="hidden" name="k" value="{$listdata.kind}">{/if}
    {if $listdata.customer}<input type="hidden" name="c" value="{$listdata.customer}">{/if}
    {if $listdata.order}<input type="hidden" name="o" value="{$listdata.order},{$listdata.direction}">{/if}
    {if $scrollerno}
    {t a="<input class=\"scroller\" type=\"text\" name=\"page`$scrollerno`\" value=\"\" size=\"3\">"}Go to $a page{/t} <a href="javascript: pagechange{$scrollerno}();">&raquo;&raquo;&raquo;</a>
    {else}
    {t a="<input class=\"scroller\" type=\"text\" name=\"page\" value=\"\" size=\"3\">"}Go to $a page{/t} <a href="javascript: void(0);" onclick="{if $submit_function}{$submit_function}(){else}this.parentNode.submit(){/if};">&raquo;&raquo;&raquo;</a>
    </form>
    {/if}
    {/if}
    {if $page > 1}
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x - 1' x=$page}');" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x - 1" x=$page}" {tip text="poprzednia strona"}><img src="img/back_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/back_disabled.png" alt="<">
    {/if}
    {if $page < $lastpage} 
	{if $listdata.ajax}
	    <a href="javascript: void(0);" onclick="loadAjax('{if $listdata.ajax_id}{$listdata.ajax_id}{else}id_data{/if}','?m={if $listdata.ajax_link}{$listdata.ajax_link}{else}{$layout.module}{/if}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation='x + 1' x=$page}');" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{else}
	    <a href="?m={$layout.module}{$adlink}{if $listdata.id}&id={$listdata.id}{/if}{if $listdata.customer}&c={$listdata.customer}{/if}{if $listdata.type}&t={$listdata.type}{/if}{if $listdata.state}&s={$listdata.state}{/if}{if $listdata.kind}&k={$listdata.kind}{/if}{if $listdata.order}&o={$listdata.order},{$listdata.direction}{/if}&page={math equation="x + 1" x=$page}" {tip text="następna strona"}><img src="img/forward_enabled_hover.png"></a>
	{/if}
    {else}
	<img src="img/forward_disabled.png">
    {/if}
    </td></tr>
    </table>