{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<p><table cellpadding="3" width="100%">
	<tr class="dark">
		<td width="1%" class="fleftu" nowrap><img src="img/state.gif" alt=""> <b>{trans("Name:")}</b></td>
		<td width="1%" class="fbt" align="right" nowrap>{trans("ID:")}</td>
		<td width="97%" class="fbt" align="left" nowrap>{trans("Description:")}</td>
		<td width="1%" class="frightu" align="right" nowrap><a href="?m=stateadd">{trans("Add state")} <img src="img/save.gif" alt=""></a></td>
	</tr>
	{if $listdata.total != 0}
	<tr class="dark scroller">
		<td colspan="4" class="fall">
			{include file="scroller.html" loop=$statelist}
		</td>
	</tr>
	{/if}
	{cycle values="lucid,light" print=false}
	{section name=statelist loop=$statelist}
	<tr class="{cycle} lista" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" nowrap onclick="return self.location.href='?m=stateedit&id={$statelist[statelist].id}';">
			<img src="img/state.gif" alt=""> <b>{$statelist[statelist].name}</b>
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=stateedit&id={$statelist[statelist].id}';">
			({$statelist[statelist].id|string_format:"%04d"})
		</td>
		<td align="left" onclick="return self.location.href='?m=stateedit&id={$statelist[statelist].id}';">
			{$statelist[statelist].description|replace:"\n":"<br>"}
		</td>
		<td class="fright" align="right" nowrap>
			<a href="?m=statedel&id={$statelist[statelist].id}" onclick="return confirmLink(this, '{t a=$statelist[statelist].name}Are you sure, you want to delete state \'$a\'?{/t}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=stateedit&id={$statelist[statelist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="4" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No such states in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="dark scroller">
		<td colspan="4" class="fall">
			{include file="scroller.html" loop=$statelist}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="4" class="fall" align="right">
			<a href="?m=stateadd">{trans("Add state")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table></p>
{include file="footer.html"}
