{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td class="fall" colspan="9">
			<form method="GET" action="?m={$layout.module}" name="choosefilter">
				<input type="submit" class="hiddenbtn">
				<input type="hidden" name="m" value="tarifflist">
				{*<input type="hidden" name="page" value="1">*}
				<img src="img/Filter.png">&nbsp;<a href="?m=tarifflist&t=&p=&g=" {tip text="wyczyść filtr"}><img src="img/cancel.gif"></a>
				{trans("Type:")}
				<select size="1" name="t" onchange="document.choosefilter.submit();" {if $listdata.type}class="active"{/if}>
					<option value="0"{if !$listdata.type} selected{/if}>{trans("- all -")}</option>
					{foreach from=$_TARIFFTYPES item=item key=key}
					<option value="{$key}" {if $listdata.type eq $key} selected {/if}>{$item}</option>
					{/foreach}
				</select>
				{trans("Promotion:")}
				<select size="1" name="p" onchange="document.choosefilter.submit();" {if $listdata.promotionid}class="active"{/if}>
					<option value="0"{if !$listdata.promotionid} selected{/if}>{trans("- all -")}</option>
					{section name=promotions loop=$promotions}
					<option value="{$promotions[promotions].id}" {if $listdata.promotionid eq $promotions[promotions].id} selected {/if}>{$promotions[promotions].name|truncate:50:"...":true}</option>
					{/section}
				</select>
				{trans("Group:")}
				<select size="1" name="g" onchange="document.choosefilter.submit();" {if $listdata.customergroupid}class="active"{/if}>
					<option value="0"{if !$listdata.customergroupid} selected{/if}>{trans("- all -")}</option>
					{section name=customergroups loop=$customergroups}
					<option value="{$customergroups[customergroups].id}" {if $listdata.customergroupid eq $customergroups[customergroups].id} selected {/if}>{$customergroups[customergroups].name|truncate:50:"...":true}</option>
					{/section}
				</select>
			</form>
		</td>
	</tr>
	<tr class="dark" {tip text="Click on column name to change sorting order"}>
		<td width="92%" class="fleftu" nowrap>
			<img src="img/money.gif" alt=""> <a href="?m=tarifflist&o=name{if $listdata.direction eq "asc" && $listdata.order eq "name"},desc{/if}"><b>{trans("Name:")}</b></a> {if $listdata.order eq "name"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<img src="img/info1.gif" alt=""> <a href="?m=tarifflist&o=description{if $listdata.direction eq "asc" && $listdata.order eq "description"},desc{/if}">{trans("Description:")}</a> {if $listdata.order eq "description"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap>
			<a href="?m=tarifflist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</a> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap>
			<a href="?m=tarifflist&o=downrate{if $listdata.direction eq "asc" && $listdata.order eq "downrate"},desc{/if}">{trans("Downrate:")}</a> {if $listdata.order eq "downrate"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m=tarifflist&o=uprate{if $listdata.direction eq "asc" && $listdata.order eq "uprate"},desc{/if}">{trans("Uprate")}:</a> {if $listdata.order eq "uprate"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap>
			<a href="?m=tarifflist&o=uprate{if $listdata.direction eq "asc" && $listdata.order eq "downceil"},desc{/if}">{trans("Downceil:")}</a> {if $listdata.order eq "downceil"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			<a href="?m=tarifflist&o=upceil{if $listdata.direction eq "asc" && $listdata.order eq "upceil"},desc{/if}">{trans("Upceil:")}</a> {if $listdata.order eq "upceil"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td nowrap width="1%" class="fbt" align="right" nowrap>
			<a href="?m=tarifflist&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}"><b>{trans("Value:")}</b></a> {if $listdata.order eq "value"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}<br>
			Upust:
		</td>
		<td nowrap width="1%" class="fbt" align="right" nowrap>
			{trans("Tax:")}
		</td>
		<td width="1%" class="fbt" align="right" nowrap>
			<a href="?m=tarifflist&o=count{if $listdata.direction eq "asc" && $listdata.order eq "count"},desc{/if}">{trans("Assigned:")}</a> {if $listdata.order eq "count"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="right" nowrap>
			{if !check_conf('privileges.hide_summaries')}
			<a href="?m=tarifflist&o=income{if $listdata.direction eq "asc" && $listdata.order eq "income"},desc{/if}">{trans("Avg. monthly income:")}</a> {if $listdata.order eq "income"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
			{/if}
		</td>
		<td width="1%" class="frightu" align="right">
			<nobr>
			<b>{t a=$listdata.total}Total: $a{/t}</b>
			<nobr>
		</td>
	</tr>

	{cycle values="light,lucid" print=false}
	{section name=tariffs loop=$tarifflist}
	<tr class="{cycle} lista {if !$tarifflist[tariffs].active}blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="92%" class="fleft" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';" class="fleft">
			<img src="img/money.gif" alt="">&nbsp;<b>{$tarifflist[tariffs].name}</b><br>
			{if $tarifflist[tariffs].description}<img src="img/info1.gif" alt="">&nbsp;{$tarifflist[tariffs].description}{/if}
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			({$tarifflist[tariffs].id|string_format:"%04d"})
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<nobr>
			{if $tarifflist[tariffs].downrate}{$tarifflist[tariffs].downrate}{else}-{/if}
			{if $tarifflist[tariffs].downrate_n}({$tarifflist[tariffs].downrate_n}){/if}<br>
			{if $tarifflist[tariffs].uprate}{$tarifflist[tariffs].uprate}{else}-{/if}
			{if $tarifflist[tariffs].uprate_n}({$tarifflist[tariffs].uprate_n}){/if}
			<nobr>
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<nobr>
			{if $tarifflist[tariffs].downceil}{$tarifflist[tariffs].downceil}{else}-{/if}
			{if $tarifflist[tariffs].downceil_n}({$tarifflist[tariffs].downceil_n}){/if}<br>
			{if $tarifflist[tariffs].upceil}{$tarifflist[tariffs].upceil}{else}-{/if}
			{if $tarifflist[tariffs].upceil_n}({$tarifflist[tariffs].upceil_n}){/if}
			<nobr>
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<nobr>
			<b>{$tarifflist[tariffs].value|money_format}</b><br>
			<span class="blend">{$tarifflist[tariffs].relief|money_format}</span>
			<nobr>
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			<nobr>
			{if $tarifflist[tariffs].tax}{$tarifflist[tariffs].tax}{else}<span style="color:red;">NIE OKREŚLONO</span>{/if}
			<nobr>
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';" nowrap>
			{$tarifflist[tariffs].customerscount|default:0}
			({$tarifflist[tariffs].count|default:0},{$tarifflist[tariffs].activecount|default:0})
		</td>
		<td width="1%" align="right" onclick="return self.location.href='?m=tariffinfo&id={$tarifflist[tariffs].id}';">
			{if !check_conf('privileges.hide_summaries')}
			{$tarifflist[tariffs].income|money_format}
			{/if}
		</td>
		<td width="1%" class="fright" align="right">
			<nobr>
			{if $tarifflist[tariffs].active}
			    <a href="?m=tarifflist&setactive=0&id={$tarifflist[tariffs].id}" {tip text="Wyłącz taryfę"}><img src="img/access.gif"></a>
			{else}
			    <a href="?m=tarifflist&setactive=1&id={$tarifflist[tariffs].id}" {tip text="Włącz taryfę"}><img src="img/noaccess.gif"></a>
			{/if}
			{if $tarifflist[tariffs].customers}<a href="javascript:alert('{trans("Subscription with assigned customers cannot be deleted!")}');">{else}<a href="?m=tariffdel&id={$tarifflist[tariffs].id}" onclick="return confirmLink(this,'{trans("Are you sure, you want to delete that tariff?")}');">{/if}<img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
				<a href="?m=tariffedit&id={$tarifflist[tariffs].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
				<a href="?m=tariffadd&id={$tarifflist[tariffs].id}"><img src="img/clone.gif" alt="[ {trans("Clone")} ]" title="[ {trans("Clone")} ]"></a>
				<a href="?m=tariffinfo&id={$tarifflist[tariffs].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="9" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No such subscriptions in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="6" width="97%" align="right">
			<img src="img/info2.gif" alt="">&nbsp;<b>{trans("Total:")}</b>
		</td>
		<td class="fbt" width="1%" align="right" nowrap>
			<b>{$listdata.totalcustomerscount}({$listdata.totalcount},{$listdata.totalactivecount})</b>
		</td>
		<td class="fbt" width="1%" align="right" nowrap>
			{if !check_conf('privileges.hide_summaries')}
			<b>{$listdata.totalincome|money_format}</b>
			{/if}
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
