{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<p><table cellpadding="3" width="100%">
	<tr class="dark">
		<td width="94%" class="fleftu" nowrap>
			<img src="img/tax.gif" alt=""> <a href="?m=taxratelist&o=label{if $listdata.direction eq "asc" && $listdata.order eq "label"},desc{/if}"><b>{trans("Label:")}</b></a> {if $listdata.order eq "label"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" align="center" nowrap>
			<img src="img/empty.gif" alt="" height="16"><a href="?m=taxratelist&o=id{if $listdata.direction eq "asc" && $listdata.order eq "id"},desc{/if}">{trans("ID:")}</a> {if $listdata.order eq "id"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>
			<img src="img/empty.gif" alt=""> <a href="?m=taxratelist&o=value{if $listdata.direction eq "asc" && $listdata.order eq "value"},desc{/if}">{trans("Value:")}</a> {if $listdata.order eq "value"}<img src="img/{if $listdata.direction eq "desc"}asc{else}desc{/if}_order.gif" alt="">{/if}
		</td>
		<td width="1%" class="fbt" nowrap>{trans("Taxing:")}</td>
		<td width="1%" class="fbt" nowrap>{trans("Binds from date:")}</td>
		<td width="1%" class="fbt" nowrap>{trans("Binds to date:")}</td>
		<td width="1%" class="frightu" nowrap>
			<a href="?m=taxrateadd">{trans("Add tax rate")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
	{if $listdata.total != 0}
	<tr class="dark">
		<td colspan="7" class="fall">
			{include file="scroller.html" loop=$taxratelist}
		</td>
	</tr>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=taxratelist loop=$taxratelist start=$start max=$pagelimit}
	<tr class="{cycle} lista {if ($taxratelist[taxratelist].validfrom !=0 && $taxratelist[taxratelist].validfrom > $smarty.now) || ($taxratelist[taxratelist].validto !=0 && $taxratelist[taxratelist].validto < $smarty.now)} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			<img src="img/tax.gif" alt=""><b> {$taxratelist[taxratelist].label}</b>
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			({$taxratelist[taxratelist].id|string_format:"%04d"})
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			{$taxratelist[taxratelist].value|string_format:"%.2f"} %
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			{if $taxratelist[taxratelist].taxed}+{/if}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			{if $taxratelist[taxratelist].validfrom}{$taxratelist[taxratelist].validfrom|date_format:"%x"}{/if}
		</td>
		<td align="right" nowrap onclick="return self.location.href='?m=taxrateedit&id={$taxratelist[taxratelist].id}';">
			{if $taxratelist[taxratelist].validto}{$taxratelist[taxratelist].validto|date_format:"%x"}{/if}
		</td>
		<td class="fright" align="right" nowrap>
			<a href="?m=taxratedel&id={$taxratelist[taxratelist].id}" onclick="return confirmLink(this, '{t a=$taxratelist[taxratelist].label}Are you sure, you want to delete taxrate \'$a\'?{/t}')"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			<a href="?m=taxrateedit&id={$taxratelist[taxratelist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="7" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{trans("No such tax rates in database.")}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	{if $listdata.total != 0}
	<tr class="dark">
		<td colspan="7" class="fall">
			{include file="scroller.html" loop=$taxratelist}
		</td>
	</tr>
	{/if}
	<tr class="light">
		<td colspan="7" class="fall" align="right">
			<a href="?m=taxrateadd">{trans("Add tax rate")} <img src="img/save.gif" alt=""></a>
		</td>
	</tr>
</table></p>
{include file="footer.html"}
