{if $action == 'add' || $action=='edit'}
{$xajax}
<form name="lineedit" id="lineedit" method="POST">
<input type="hidden" name="lineedit[id]" value="{$lineinfo.id}">
<input type="hidden" name="lineedit[action]" value="{$action}">
<p class="light fall">
    <table width="100%" cellpadding="5">
	<tr class="pgdark">
	    <td width="100%" colspan="3" align="left"><b>{if $action=='add'}Dodaj nową linię{else}Edycja linii : {$lineinfo.name}{/if}</td>
	</tr>
	<tr class="pglight">
	    <td width="1%" class="pad10" nowrap><b>Nazwa</b></td>
	    <td width="1%" class="pad" nowrap><b>:</b></td>
	    <td width="98%" align="left"><input type="text" name="lineedit[name]" id="lineedit_name" value="{$lineinfo.name}" style="width:330px;">
	</tr>
	<tr class="pglight">
	    <td width="1%" class="pad10" nowrap><b>Opis</b></td>
	    <td width="1%" class="pad" nowrap><b>:</b></td>
	    <td width="98%" align="left"><textarea name="lineedit[description]" id="lineedit_description" cols="43">{$lineinfo.description}</textarea>
	</tr>
	<tr class="pgdark">
	    <td colspan="3" class="fall pad" align="right" width="100%">
	    <a href="javascript:void(0);" onclick="xajax_update_teleline(xajax.getFormValues('lineedit'));">Zapisz <img src="img/save.gif" alt=""></a>&nbsp;
	    <a href="javascript:void(0);" onclick="document.getElementById('teleline_edit').innerHTML='';">Anuluj <img src="img/cancel.gif" alt=""></a>
	</tr>
    </table>
</p>
</form>
{else}
{include file="header.html"}
{title value=$layout.pagetitle link="<a href='?m=teleline'>Lista linii telekomunikacyjnych <img src='img/list.png'></a>&nbsp;&nbsp;&nbsp;<a href='javascript: void(0);' onclick=\"loadAjax('teleline_edit','?m=teleline&add');\">Dodaj nową linię <img src='img/add.gif'></a>" help="telelinelist"}
<div id="teleline_edit"></div>
<p class="light fall">

<table width="100%" cellpadding="3" cellspacing="0">
    <tr class="dark">
	<td width="1%" class="pad2" align="center" nowrap><b>#</b></td>
	<td width="1%" class="pad10" align="left" nowrap><b>Nazwa</b></td>
	<td width="auto" class="pad" align="left"><b>Opis</b></td>
	<td width="1%" class="pad10" align="center" nowrap><b>Połączeń<b></td>
	<td width="1%" class="pad" align="right" nowrap>&nbsp;</td>
    </tr>
    {cycle values="lucid,light" print=false}
    {section name='teleline' loop=$teleline}
    {assign var='idek' value=$teleline[teleline].id}
    <tr class="{cycle} lista{if !$teleline[teleline].active} blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
	
	<td width="1%" class="pad2" align="center" nowrap>
	    {$teleline[teleline].id|string_format:"%04d"}
	</td>
	
	<td width="1%" class="pad10" align="left" nowrap>
	    {$teleline[teleline].name}
	</td>
	
	<td width="auto" class="pad" align="left">
	    {$teleline[teleline].description}
	</td>
	
	<td width="1%" class="pad10" align="center" nowrap>
	    {$teleline[teleline].countlink}
	</td>
	
	<td width="1%" class="pad" align="right" nowrap>
	    {if $teleline[teleline].active}
		<img src="img/access.gif" alt="[ access ]" title="[ wyłącz linię ]" id="idaccess_{$idek}" onclick="self.location.href='?m=teleline&setaccess=0&id={$idek}';">
	    {else}
		<img src="img/noaccess.gif" alt="[ access ]" title="[ włącz linię ]" id="idaccess_{$idek}" onclick="self.location.href='?m=teleline&setaccess=1&id={$idek}';">
	    {/if}
	    {if !$teleline[teleline].countlink}
	    <a href="?m=teleline&del&id={$teleline[teleline].id}" onclick="return confirmLink(this,'Potwierdź usunięcie linii');"><img src="img/delete.gif"></a>
	    {else}<img src="img/deleteoff.gif">{/if}
	    <img src="img/edit.gif" onclick="loadAjax('teleline_edit','?m=teleline&edit&id={$teleline[teleline].id}');">
	    <img src="img/info.gif">
	</td>
    </tr>
    {sectionelse}
    <tr>
	<td width="100%" colspan="5" align="center">
	    <center><p><h4>Brak linii telekomunikacyjnych pasujących do reguł filtrowania<br>lub lista jest pusta</h4></p></center>
	</td>
    </tr>
    {/section}
</table>
</p>

{include file="footer.html"}
{/if}