{include file="header.html"}
<!--// tvpackageslist.html,v 1.2 23/08/2011 19:00:00 ITMSOFT $ //-->
<h1>{$layout.pagetitle}</h1>
<table cellpadding="5" cellspacing="0" width="100%">
	<tr class="dark">
		<td>Grupa</td>
		<td>ID</td>
		<td>Nazwa produktu</td>
		<td>Opis produktu</td>
		<!--<td>Alternatywny opis</td>-->
		<td>Aktywny od</td>
		<td>Aktywny do</td>
		<!--<td>Lista produktów wymaganych</td>-->
		<!--<td>Lista produktów nie łączączych się</td>-->
	</tr>
	{foreach from=$list item=type}
	<tr>
		<td colpan="10"><b>{$type.pkgt_name}</b></td>
	</tr>
	{foreach from=$type.packages item=item}
	<tr class="{cycle values="light,lucid"}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">			
		<td></td>
		<td valign="top"><b>{$item.package_id}</b></td>
		<td valign="top">{$item.pkg_name}</td>
		<td valign="top">{$item.pkg_desc}</td>
		<!--<td valign="top">{$item.pkg_tvpanel_desc}</td>-->
		<td valign="top">{$item.pkg_valid_from}</td>
		<td valign="top">{$item.pkg_valid_to}</td>
		<!--<td valign="top">{$item.pkg_autoinclude|replace:',':', '}</td>-->
		<!--<td valign="top">{$item.pkg_denied|replace:',':', '}</td>-->	
	</tr>
	{/foreach}
	{/foreach}

</table>	
	
	
{include file="footer.html"}
