{if $action == 'add' || $action == 'edit'}

    <form name="poedit" id="poedit" method="POST">
    <input type="hidden" name="poedit[location_city]" id="id_location_city" value="{$poinfo.location_city}">
    <input type="hidden" name="poedit[location_street]" id="id_location_street" value="{$poinfo.location_street}">
    <input type="hidden" name="poedit[id]" id="id_id" value="{$poinfo.id}">
    <input type="hidden" name="poedit[idr]" id="id_idr" value="{$idr}">
    <input type="hidden" name="poedit[action]" id="id_action" value="{$action}">
    
    <table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="100%" class="fall pad" colspan="2" align="left">
		<b>{if $action=='add'}Nowy dostawca lub podmiot{else}Edycja danych dostawcy lub podmiotu{/if}</b>
	    </td>
	</tr>
	
	<tr class="light">
	    <td width="50%" align="left" class="fleft pad" style="vertical-align:top;">
		<table width="100%" cellpadding="3">
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;">Nazwa skrócona</td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <input type="text" name="poedit[shortname]" id="id_shortname" value="{$poinfo.shortname|escape}" style="width:200px;">
			    <div id="id_shortname_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;"><span class="tiphelp" {tip text="Pełna nazwa podmiotu obcego"}>Pełna nazwa</span></td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <input type="text" name="poedit[name]" id="id_name" value="{$poinfo.name|escape}" style="width:200px;">
			    <div id="id_name_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;">NIP</td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <input type="text" name="poedit[ten]" id="id_ten" value="{$poinfo.ten}" style="width:200px;">
			    <div id="id_ten_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;">REGON</td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <input type="text" name="poedit[regon]" id="id_regon" value="{$poinfo.regon}" style="width:200px;">
			    <div id="id_regon_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;"><span class="tiphelp" {tip text="Numer w rejestrze przedsiębiorców telekomunikacyjnych"}>RPT</span></td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <input type="text" name="poedit[rpt]" id="id_rpt" value="{$poinfo.rpt}" style="width:200px;">
			    <div id="id_rpt_alerts" style="color:red;"></div>
			</td>
		    </tr>
		    
		    <tr>
			<td width="1%" nowrap align="left" style="font-weight:bold;">Projekt EU</td>
			<td width="1%" nowrap align="left" style="font-weight:bold;">:</td>
			<td width="98%" nowrap align="left">
			    <select name="poedit[projectnumber]" id="id_invprojectid" style="width:200px;">
				<option value="0">-- żaden --</option>
				{section name='projectlist' loop=$projectlist}
				<option value="{$projectlist[projectlist].nrprojektu|escape}"{if $poinfo.projectnumber == $projectlist[projectlist].nrprojektu} selected{/if}>{if $projectlist[projectlist].nazwa}{$projectlist[projectlist].nazwa}{else}{$projectlist[projectlist].tytul}{/if} ({$projectlist[projectlist].nrprojektu})</option>
				{/section}
			    </select>
			</td>
			
		</table>
	    </td>
	    
	    <td width="50%" align="left" class="fright pad" style="vertical-align:top;">
		<table width="100%" cellpadding="3">
		
		    <tr class="light" id="id_view_used_teryt">
			<td width="1%" nowrap class="pad" align="left">
			    <label for="teryt">Użyj bazy TERYT</label>
			    <input type="checkbox" name="poedit[teryt]" value="1" id="teryt" onchange="check_use_teryt();" {if $poinfo.teryt} checked {/if}>
			</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left">
			    <a href="javascript: void(0);" id="used_teryt" style="display:none;" onclick="if (check_teryt()) return locationchoosewin('poedit', 'poedit', document.forms['poedit'].elements['poedit[location_city]'].value, document.forms['poedit'].elements['poedit[location_street]'].value)">&raquo;&raquo;&raquo;<strong> WYBIERZ LOKALIZACJĘ </strong>&raquo;&raquo;&raquo;</a>
			</td>
		    </tr>
		    
		    
		    <tr class="light" id="id_view_location">
			<td width="1%" nowrap class="pad" align="left" style="font-weight:bold;">Lokalizacja</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[location]" id="location" style="width:200px;" value="{$poinfo.location}">
			</td>
		    </tr>
		    
		    <tr class="light" id="id_view_states">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Województwo</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">	
			    <input type="text" name="poedit[states]" id="id_states" value="{$poinfo.states}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light" id="id_view_districts">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Powiat</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[districts]" id="id_districts" value="{$poinfo.districts}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light" id="id_view_boroughs">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Gmina</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[boroughs]" id="id_boroughs" value="{$poinfo.boroughs}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light" id="id_view_city">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Miejscowość</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[city]" id="id_city" value="{$poinfo.city}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light" id="id_view_street">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Ulica</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[street]" id="id_street" value="{$poinfo.street}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Numer budynku</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[location_house]" id="id_location_house" value="{$poinfo.location_house}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Numer mieszkania</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[location_flat]" id="id_location_flat" value="{$poinfo.location_flat}" style="width:200px;">
			</td>
		    </tr>
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">
			    <span class="tiphelp" {tip text="Kod pocztowy - PNA"}>Kod pocztowy</span>
			</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">
			    <input type="text" name="poedit[zip]" id="id_zip" value="{$poinfo.zip}" style="width:80px;">
			    <div id="id_zip_alerts" style="color:red;"></div>
			</td>
		    </tr>
		
		</table>
	    </td>
	    
	</tr>
	
	<tr class="dark">
	    <td width="100%" class="fall pad" colspan="2" align="right">
		<a href="javascript:void(0);" onclick="xajax_add_PO(xajax.getFormValues('poedit'));">Zapisz <img src="img/save.gif"></a>
		<a href="javascript:vod(0);" onclick="document.getElementById('id_data_po').innerHTML='';">Anuluj <img src="img/cancel.gif"></a>
	    </td>
	</tr>
	
    </table>
    </form>
    <br>
{literal}
<script type="text/javascript">
<!--

    function check_use_teryt()
    {
	if (document.getElementById('teryt').checked == true)
	{
	    document.getElementById('used_teryt').style.display = '';
	    document.getElementById('id_view_location').style.display = '';
	    document.getElementById('id_view_states').style.display = 'none';
	    document.getElementById('id_view_districts').style.display = 'none';
	    document.getElementById('id_view_boroughs').style.display = 'none';
	    document.getElementById('id_view_city').style.display = 'none';
	    document.getElementById('id_view_street').style.display = 'none';
	}
	else
	{
	    document.getElementById('used_teryt').style.display = 'none';
	    document.getElementById('id_view_location').style.display = 'none';
	    document.getElementById('id_view_states').style.display = '';
	    document.getElementById('id_view_districts').style.display = '';
	    document.getElementById('id_view_boroughs').style.display = '';
	    document.getElementById('id_view_city').style.display = '';
	    document.getElementById('id_view_street').style.display = '';
	}
    }
    
    check_use_teryt();
//-->
</script>
{/literal}

{else}
    {title value="<font style='font-size:10pt;color:brown;'><b>PODMIOTY OBCE I DOSTAWCY USŁUG</b></font><br><font style='font-size:9pt;color:black;'>Dostawcy usług i podmioty udostępniające lub współdzielące infrastrukturę</font>" link="<a href=\"javascript:void(0);\" onclick=\"loadAjax('id_data_po','?m=uke_siis_info&tuck=PO&action=add&idr={$idr}');\">Dodaj dostawcę <img src='img/add.gif'></a>"}
    <table width="100%"><tr><td width="100%"><div id="id_data_po"></div></td></tr></table>
    
    {if $polist}
    <table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="1%" nowrap class="fleftu pad10" align="left"><b>Identyfikator</b></td>
	    <td width="98%" class="fbt pad10" align="left"><b>Podmiot</b></td>
	    <td width="1%" nowrap class="frightu pad10" align="left">&nbsp;</td>
	</tr>
	
	{cycle values="lucid,light" print=false}
	{section name='polist' loop=$polist}
	    <tr class="{cycle} lista{if !$polist[polist].useraport} blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');">
		<td width="1%" nowrap class="fleft pad10" align="left">{$polist[polist].shortname}</td>
		<td width="98%" class="pad10" align="left">
		    {$polist[polist].name}, {$polist[polist].zip} {$polist[polist].city} {$polist[polist].street} {$polist[polist].location_house}{if $polist[polist].location_flat}/{$polist[polist].location_flat}{/if}<br>
		    <i>NIP: {$polist[polist].ten}, REGON: {$polist[polist].regon}, RPT: {$polist[polist].rpt}</i>
		</td>
		<td width="1%" nowrap class="fright pad10" align="left">
		    {if $polist[polist].useraport}
			<img src="img/access.gif" {tip text="Nie uwzględniaj rekordu w raporcie"} onclick="xajax_set_po_useraport({$idr},{$polist[polist].id},0);" style="cursor:pointer;">
		    {else}
			<img src="img/noaccess.gif" {tip text="Uwzględnij rekord w raporcie"} onclick="xajax_set_po_useraport({$idr},{$polist[polist].id},1);" style="cursor:pointer;">
		    {/if}
		    <img src="img/edit.gif" style="cursor:pointer;" onclick="loadAjax('id_data_po','?m=uke_siis_info&tuck=PO&action=edit&idr={$idr}&id={$polist[polist].id}');">
		    <img src="img/delete.gif" style="cursor:pointer;" onclick="usun_po({$polist[polist].id});">
		</td>
	    </tr>
	{/section}
	
	<tr class="dark">
	    <td width="100%" class="fall" colspan="3">&nbsp;</td>
	</tr>

    </table>
    
    {literal}
    <script type="text/javascript" language="JavaScript">
    <!--
    
	function usun_po(id)
	{
	    if (confirm('Potwierdź usunięcie podmiotu')) 
	    {
		loadAjax('id_data','?m=uke_siis_info&tuck=PO&action=delete&idr={/literal}{$idr}{literal}&id='+id);
	    }
	}
    
    //-->
    </script>
    {/literal}
    
    {/if}
    
{/if}