{$xajax}
{if $action == 'add' || $action == 'edit'}

{else}
    {title value="Charakterystyka własnych lub współdzielonych z innymi podmiotami węzłów sieci telekomunikacyjnej"}
<!--//    
    link="<a href=\"javascript:void(0);\" onclick=\"loadAjax('id_data_po','?m=uke_siis4_info&tuck=PO&action=add&idr={$idr}');\">Dodaj dostawcę <img src='img/add.gif'></a>"
//-->

    <table width="100%" cellpadding="3">
	<tr class="light">
	    <td width="1%" nowrap class="fleftu pad10" align="left">
		{if $networknodelist}

			    <span class="tiphelp" {tip text="Wybierz i dodaj węzeł do raporu"}><b>Węzeł:</b> </span>
			    <select id="id_select_networknode" style="cursor:pointer;" onchange="xajax_view_select_po_to_ww(this.value,{$idr});">
			    <option value=""></option>
			    {section name='networknodelist' loop=$networknodelist}
				<option value="{$networknodelist[networknodelist].id}">{$networknodelist[networknodelist].name}</option>
			    {/section}
			    </select>

		{else}
		<b>Brak dostępnych węzłów</b>
		{/if}
	    </td>
	    <td width="1%" nowrap class="fbt pad10" align="left">
		<div id="id_view_select_po"></div>
	    </td>
	    <td width="97%" class="fbt pad10" align="left">
		<div id="id_view_add_po_to_ww"></div>
	    </td>
	    <td width="1%" nowrap class="frightu pad2" align="right">
	    <!--//
			    <a href="javascript:void(0);"><b>Dodaj wszystkie węzły</b></a>
	    //-->
	    </td>
	</tr>
    </table>
    <table width="100%"><tr><td width="100%"><div id="id_data_ww"></div></td></tr></table>
    
    {if $nnodelist}
    <br>
    <table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="1%" nowrap class="fleftu pad10" align="center"><b>Węzeł</b></td>
	    <td width="1%" nowrap class="fbt pad10" align="left"><b>Typ</b></td>
	    <td width="1%" nowrap class="fbt pad10" align="left"><b>Typ Obiektu</b></td>
	    <td width="94%" class="fbt pad10" align="left"><b>Lokalizacja</b></td>
	    <td width="1%" nowrap class="fbt pad10" align="left"><span class="tiphelp" {tip text="Nazwa dostawcy lub podmiotu z którym jest współdzielony węzeł"}><b>Współdzielony</b></span></td>
	    <td width="1%" nowrap class="frightu pad10" align="right">&nbsp;</td>
	</tr>
	{cycle values="light,lucid" print=false}
	{section name='nnodelist' loop=$nnodelist}
	    <tr class="{cycle} lista{if !$nnodelist[nnodelist].useraport} blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');">
		<td width="1%" nowrap class="fleft pad10" align="left">{$nnodelist[nnodelist].markid}</td>
		<td width="1%" nowrap class="pad10" align="left">{assign var='tmp' value=$nnodelist[nnodelist].type}{$_TNODE.$tmp}</td>
		<td width="1%" nowrap class="pad10" align="left">{assign var='tmp' value=$nnodelist[nnodelist].buildingtype}{$_BUILDINGS.$tmp}</td>
		<td width="94%" class="pad10" align="left">{$nnodelist[nnodelist].zip} {$nnodelist[nnodelist].city} {$nnodelist[nnodelist].street} {$nnodelist[nnodelist].location_house}</td>
		<td width="1%" nowrap class="pad10" align="left">{if $nnodelist[nnodelist].available_surface}{$nnodelist[nnodelist].foreign_entity}{else}---{/if}</td>
	        <td width="1%" nowrap class="fright pad10" align="right">
		    {if $nnodelist[nnodelist].useraport}
			<img src="img/access.gif" {tip text="Nie uwzględniaj rekordu w raporcie"} onclick="xajax_set_ww_useraport({$idr},{$nnodelist[nnodelist].id},0);" style="cursor:pointer;">
		    {else}
			<img src="img/noaccess.gif" {tip text="Uwzględnij rekord w raporcie"} onclick="xajax_set_ww_useraport({$idr},{$nnodelist[nnodelist].id},1);" style="cursor:pointer;">
		    {/if}
		    <img src="img/delete.gif" style="cursor:pointer;" onclick="usun_ww({$nnodelist[nnodelist].id});">
	        </td>
	    </tr>
	{/section}
	<tr class="dark"><td width="100%" colspan="6" class="fall"></td></tr>
    </table>
    
    {literal}
    <script type="text/javascript" language="JavaScript">
    <!--
    
	function usun_ww(id)
	{
	    if (confirm('Potwierdź usunięcie węzła')) 
	    {
		loadAjax('id_data','?m=uke_siis4_info&tuck=WW&action=delete&idr={/literal}{$idr}{literal}&id='+id);
	    }
	}
    
    //-->
    </script>
    {/literal}
    
    {/if}
    
{include file="load_gif.html"}
{/if}