{title small='1' color='brown' value="Opis prawidłowego przeprowadzenia raportu"}

<table width="100%" cellpadding="3">
<tr class="light">
    <td class="pad10 fall">
	<p>
	<ul>
	    <li>zaimportować lub zrobić aktualizację bazy TERY</li>
	    <li>powiązać lokalizacje wpisane ręcznie z kodami z TERYT, (lms-teryt)</li>
	    <li>w osprzęcie sieciowym utworzyć węzły oraz przypisać do nich odpowienio interfejsy (urządzenia sieciowe)</li>
	    <li>sprawdzić połączenia między urządzeniami sieciowymi</li>
	    <li>sprawdzić połączenia między komputerami a urządzeniami sieciowymi, komputery które nie mają zdefiniowanych połączeń nie będą brane pod uwagę</li>
	    <li>sprawdzić przypisanie taryf do komputerów, komputery bez taryf będą pominięte</li>
	    <li><b>DP</b> - wprowadzić dane firmy przekazującej raporcik</li>
	    <li><b>OB</b> - Lista podmiotów obcych</li>
	    <li><b>WW</b> - Lista węzłów własnych, jeżeli zmieniliśmy informacje w węźle poprzez jego edycję należy węzeł usunąć z WW i ponownie go dodać</li>
	    <li><b>WO</b> - Lista węzłów obcych,  jeżeli zmieniliśmy informacje w węźle poprzez jego edycję należy węzeł usunąć z WO i ponownie go dodać</li>
	</ul>
	<br>
	<b>UWAGA !!!</b> - Zmiana danych w WW wymaga aktualizacji danych w INT, LK, LB, POL i ZAS<br>
	Zmiany w  INT, LK, LB, POL lub ZAS wymaga aktualizacji danych w kolejnych sekcjach.
	
	<br><br><br>
	w <b>DP</b> możemy wygenerować raport w jednym pliku który należy zaimportować do generatora poprzez :<br>
	Panel sterowania -> Eksport i Import danych -> Importuj dane z bazy SIIS w formacie pliku CSV<br>
	następnie przechodzimy do Pełnej Walidacji i klikamy na Rozpocznij pełną walidację wszystkich wierszy we wszytkich arkuszach.
	<br><br>
	</p>
    </td>
</tr>
</table>