{$xajax}
{if $action == 'add' || $action == 'edit'}
{else}

    {title value="Charakterystyka połączeń pomiędzy węzłami sieci" link="<a href=\"javascript:void(0);\" onclick=\"xajax_import_pol({$idr})\"><b>Pobierz ponownie informacje</b></a>"}
    
    <table width="100%"><tr><td width="100%"><div id="id_data_pol"></div></td></tr></table>
    
    {if $pollist}
	
	<table width="100%" cellpadding="3">
	    <tr class="dark">
		<td width="1%" class="fleftu pad" align="left"><b><span class="tiphelp" {tip text="Identyfikator lini przewodowej"}><b>Identyfikator</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Identyfikator punktu A"}><b>Punkt A</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Identyfikator punktu B"}><b>Punkt B</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Warstwa Szkieletowa"}><b>Szkielet</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Warstwa Dystrybucyjna"}><b>Dystrybucja</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Warstwa Dostępowa"}><b>Dostęp</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Wykorzystanie na potrzeby usług szerokopasmowych"}><b>Szerokopasmowe</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Wykorzystanie na potrzeby usług głosowych"}><b>Głosowe</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Przepustowość całkowita"}><b>Przepustowość</b></span></td>
		<td width="1%" class="fbt pad" align="left"><span class="tiphelp" {tip text="Przepustowość na potrzeby usług szerokopasmowego dostępu do Internetu"}><b>Przepustowość<br>dla Internetu</b></span></td>
		<td width="90%" class="frightu pad" align="right"></td>
	    </tr>
	    
	    
	    {cycle values="lucid,light" print=false}
	    {section name='pollist' loop=$pollist}
	    <tr class="{cycle} lista {if !$pollist[pollist].useraport} blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');">
		<td width="1%" class="fleft pad" align="left">{$pollist[pollist].identyfikator}</td>
		
		<td width="1%" class="pad" align="left">{$pollist[pollist].identyfikatora}</td>
		<td width="1%" class="pad" align="left">{$pollist[pollist].identyfikatorb}</td>
		<td width="1%" class="pad" align="left" nowrap>{$pollist[pollist].backbone_layer}</td>
		
		<td width="1%" class="pad" align="center">{$pollist[pollist].distribution_layer}</td>
		<td width="1%" class="pad" align="center">{$pollist[pollist].access_layer}</td>
		
		<td width="1%" class="pad" align="center">{$pollist[pollist].szerokopasmowe}</td>
		<td width="1%" class="pad" align="center">{$pollist[pollist].glosowe}</td>
		<td width="1%" class="pad" align="center">{$pollist[pollist].speed}</td>
		<td width="1%" class="pad" align="center">{$pollist[pollist].speednet}</td>
		
		<td width="90%" class="fright pad" align="right">
		    {if $pollist[pollist].useraport}
			<img src="img/access.gif" {tip text="Nie uwzględniaj rekordu w raporcie"} onclick="xajax_set_pol_useraport({$idr},{$pollist[pollist].id},0);" style="cursor:pointer;">
		    {else}
			<img src="img/noaccess.gif" {tip text="Uwzględnij rekord w raporcie"} onclick="xajax_set_pol_useraport({$idr},{$pollist[pollist].id},1);" style="cursor:pointer;">
		    {/if}
		</td>
	    </tr>
	    {/section}
	    <tr>
		<td width="100%" colspan="11" class="ftop"></td>
	    </tr>
	</table>

    {else}
	
	<table width="100%" cellpadding="10">
	    <tr class="dark">
		<td width="100%" class="pad fall" align="center">
		    <br>
		    <a href="javascript:void(0);" onclick="xajax_import_pol({$idr})"><b>Pobierz informacje o połączeniach między węzłami</b></a><br><br>
		</td>
	    </tr>
	</table>
		
    
    {/if}
    
    {include file="load_gif.html"}
{/if}