{title value="<font style='font-size:10pt;color:brown;'><b>DANE PODMIOTU</b></font><br><fotn style='font-size:9pt;color:black;'>Podmiot przekazujący informacje oraz osoba kontaktowa</font>" link="<a href='?m=uke_siis_gencsv&action=gencsv&idr={$idr}'><b>Generuj Raport CSV</b>&nbsp;<img src='img/list.png' alt=''></a>"}
<!--//
link="<a href=\"javascript:void(0);\" onclick=\"loadAjax('id_data_po','?m=uke_siis_info&tuck=DP&action=gencsv&idr={$idr}');\">Generuj Raport CSV</a>"
//-->

<table width="100%" cellpadding="3">
	<tr class="dark">
	    <td width="100%" align="right" colspan="2" class="fall">&nbsp;
	    </td>
	</tr>
	<tr class="light">
	    
	    <!--// lewa strona //-->
	    <td width="50%" align="left" style="vertical-align:top;" class="fleftu pad10">
		<table width="100%" cellpadding="2">
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;vertical-align:top;">Raport za rok</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;vertical-align:top;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.reportyear}</td>
		    </tr>
		
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;vertical-align:top;">Nazwa podmiotu</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;vertical-align:top;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.divname}</td>
		    </tr>
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">NIP</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.ten}</td>
		    </tr>
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">REGON</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.regon}</td>
		    </tr>
		    
		    {if $rapdata.krs}
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">KRS</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.krs}</td>
		    </tr>
		    {/if}
		    
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">RPT</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.rpt}</td>
		    </tr>
		    
		    {if $rapdata.rjst}
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">RJST</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.rjst}</td>
		    </tr>
		    {/if}
		    
		    <tr class="light" id="id_view_states">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Województwo</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.states}</td>
		    </tr>
		    
		    <tr class="light" id="id_view_districts">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Powiat</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.districts}</td>
		    </tr>
		    
		    <tr class="light" id="id_view_boroughs">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Gmina</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.boroughs}</td>
		    </tr>
		    
		    <tr class="light" id="id_view_city">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Miejscowość</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.zip} {$rapdata.city}</td>
		    </tr>
		    
		    {if $rapdata.street}
		    <tr class="light" id="id_view_street">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Ulica</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.street} {$rapdata.location_house}{if $rapdata.location_flat} / {$rapdata.location_flat}{/if}</td>
		    </tr>
		    {/if}
		    
		    {if $rapdata.url}
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">URL</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.url}</td>
		    </tr>
		    {/if}
		    
		    {if $rapdata.email}
		    <tr class="light">
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">E-mail</td>
			<td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
			<td width="98%" align="left" class="pad">{$rapdata.email}</td>
		    </tr>
		    {/if}
		</table>
	    </td>
	    
	    
	    <!--// prawa strona //-->
	    <td width="50%" align="left" style="vertical-align:top;" class="frightu pad10">
		<table width="100%" cellpadding="2">
		    
		    <tr class="light">
			<td width="100%" colspan="3" align="left" style="vertical-align:top;">
			<fieldset><legend> <b>Dane kontaktowe</b> </legend>
			    <table width="100%" cellpadding="3" cellspacing="0">
				<tr class="light">
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Imię</td>
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
				    <td width="98%" align="left" class="pad">{$rapdata.contact_name}</td>
				</tr>
				<tr class="light">
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Nazwisko</td>
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
				    <td width="98%" align="left" class="pad">{$rapdata.contact_lastname}</td>
				</tr>
				<tr class="light">
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">E-mail</td>
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
				    <td width="98%" align="left" class="pad">{$rapdata.contact_email}</td>
				</tr>
				<tr class="light">
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">Telefon</td>
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
				    <td width="98%" align="left" class="pad">{$rapdata.contact_phone|phone_format}</td>
				</tr>
				{if $rapdata.contact_fax}
				<tr class="light">
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">FAX</td>
				    <td width="1%" nowrap align="left" class="pad" style="font-weight:bold;">:</td>
				    <td width="98%" align="left" class="pad">{$rapdata.contact_fax}</td>
				</tr>
				{/if}
				
			    </table>
			</fieldset>
			</td>
		    </tr>
		    
		    
		    {if $rapdata.accept1 || $rapdata.accept2 || $rapdata.accept3 || $rapdata.accept4 || $rapdata.accept5 || $rapdata.accept6}
		    <tr class="light">
			<td width="100%" colspan="3" align="left" style="vertical-align:top;">
			<fieldset><legend> <b>Wyrażone zgody</b> </legend>
			    <table width="100%" cellpadding="5" cellspacing="0">
				{if $rapdata.accept1}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla węzłów własnych
					</td>
				    </tr>
				{/if}
				{if $rapdata.accept2}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla elementów infrastruktury telekomunikacyjnej zapewniających łączenie kabli telekomunikacyjnych
					</td>
				    </tr>
				{/if}
				{if $rapdata.accept3}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla elementów infrastruktury stanowiących punkty styku z innymi sieciami
					</td>
				    </tr>
				{/if}
				{if $rapdata.accept4}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla elementów infrastruktury telekomunikacyjnej stanowiących linie kablowe lub bezprzewodowe
					</td>
				    </tr>
				{/if}
				{if $rapdata.accept5}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla połączeń pomiędzy węzłami
					</td>
				    </tr>
				{/if}
				{if $rapdata.accept6}
				    <tr>
					<td width="1%" class="pad"><b>-</b></td>
					<td width="99%" class="pad" align="left" style="font-weight:normal;">
					    Wyrażenie zgody na upublicznienie nazwy podmiotu dla obszarów i adresów budynków objętych zasięgiem sieci, w których możliwe jest świadczenie usług
					</td>
				    </tr>
				{/if}
			    </table>
			</fieldset>
			</td>
		    </tr>
		    {/if}
		    
		    {if $rapdata.description}
		    <tr class="light">
			<td width="100%" colspan="3" align="left" style="vertical-align:top;">
			<fieldset><legend> <b>Dodatkowa informacja</b> </legend>
			    <table width="100%" cellpadding="5" cellspacing="0">
				<tr>
				    <td width="100%" align="left" style="vertical-align:top;">
				    {$rapdata.description|nl2br}
				    </td>
				</tr>
			    </table>
			</fieldset>
			</td>
		    </tr>
		    {/if}
		    
		</table>
	    </td>
	</tr>
	<tr class="dark">
	    <td width="100%" align="right" colspan="2" class="fall">
		<a href="javascript:void(0);" onclick="loadAjax('id_data','?m=uke_siis_edit&idr={$rapdata.id}&tuck=DP');">Edytuj <img src="img/edit.gif" alt=""></a>
	    </td>
	</tr>
    </table>
</form>
