{if $action == 'add' || $action == 'edit'}

{else}
    {if $networknodelist}
	{title value="<font style='font-size:10pt;color:brown;'><b>WĘZŁY WŁASNE I WSPÓŁDZIELONE</b></font><br><font style='font-size:9pt;color:black;'>Charakterystyka własnych lub współdzielonych z innymi podmiotami węzłów sieci telekomunikacyjnej</font>" link="<a href='javascript:void(0);' onclick='xajax_add_all_ww({$idr});'><b>Dodaj wszystkie węzły własne</b> <img src='img/add.gif' alt=''></a>"}
    {else}
	{title value="<font style='font-size:10pt;color:brown;'><b>WĘZŁY WŁASNE I WSPÓŁDZIELONE</b></font><br><font style='font-size:9pt;color:black;'>Charakterystyka własnych lub współdzielonych z innymi podmiotami węzłów sieci telekomunikacyjnej</font>" link="<a href='javascript:void(0);' onclick='xajax_refresh_ww({$idr});'><b>Odswież dane</b></a>"}
    {/if}
<!--//    
    link="<a href=\"javascript:void(0);\" onclick=\"loadAjax('id_data_po','?m=uke_siis_info&tuck=PO&action=add&idr={$idr}');\">Dodaj dostawcę <img src='img/add.gif'></a>"
//-->

    <table width="100%" cellpadding="3">
	<tr class="light">
	    <td width="1%" nowrap class="fleftu pad10" align="left">
		{if $networknodelist}

			    <span class="tiphelp" {tip text="Wybierz i dodaj węzeł do raporu"}><b>Węzeł:</b> </span>
			    <select id="id_select_networknode" style="cursor:pointer;width:250px;" onchange="xajax_view_select_po_to_ww(this.value,{$idr});">
			    <option value=""></option>
			    {section name='networknodelist' loop=$networknodelist}
				<option value="{$networknodelist[networknodelist].id}">{$networknodelist[networknodelist].name}</option>
			    {/section}
			    </select>

		{else}
		<b>Brak dostępnych węzłów</b>
		{/if}
	    </td>
	    <td width="1%" nowrap class="fbt pad10" align="left"><div id="id_view_select_po"></div></td>
	    <td width="97%" class="fbt pad10" align="left"><div id="id_view_add_po_to_ww"></div></td>
	    <td width="1%" nowrap class="frightu pad2" align="right"></td>
	</tr>
    </table>
    <table width="100%"><tr><td width="100%"><div id="id_data_ww"></div></td></tr></table>
    
    {if $nnodelist}
    <br>
    <table width="100%" cellpadding="3">
	<tr class="dark ">
	    <td width="1%" nowrap class="fleftu pad" align="center"><b>LP</b></td>
	    <td width="1%" nowrap class="fbt pad tleft" align="center"><b>ID</b></td>
	    <td width="1%" nowrap class="fbt pad tleft" align="center"><b>Węzeł</b></td>
	    <td width="1%" nowrap class="fbt pad tleft" align="left"><b>Typ</b></td>
	    <td width="1%" nowrap class="fbt pad tleft" align="left"><b>Typ Obiektu</b></td>
	    <td width="91%" class="fbt pad tleft" align="left"><b>Lokalizacja</b></td>
	    <td width="1%" nowrap class="fbt pad tleft" align="left"><span class="tiphelp" {tip text="Nazwa dostawcy lub podmiotu z którym jest współdzielony węzeł"}><b>Współdzielony</b></span></td>
	    <td width="1%" class="fbt pad tleft" align="left"><span class="tiphelp" {tip text="Ilość interfejsów w węźle"}><b>INT</b></span></td>
	    <td width="1%" nowrap class="frightu pad tleft" align="right">&nbsp;</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{section name='nnodelist' loop=$nnodelist}
	    <tr class="{cycle} lista{if !$nnodelist[nnodelist].useraport} blend{/if}" onmouseover="addClass(this,'highlight');" onmouseout="removeClass(this,'highlight');"{if $nnodelist[nnodelist].type == $smarty.const.NODE_FOREIGN} style="color:green;"{/if}>
		<td width="1%" nowrap class="fleft pad" align="center">{$smarty.section.nnodelist.index+1}</td>
		<td width="1%" nowrap class="pad tleft" align="center">{$nnodelist[nnodelist].idw|string_format:"%04.d"}</td>
		<td width="1%" nowrap class="pad tleft" align="left"><a href="javascript:void(0);" onclick="self.location.href='?m=networknodeinfo&idn={$nnodelist[nnodelist].idw}';" {tip text="przejdź do węzła"}>{$nnodelist[nnodelist].markid}</a></td>
		<td width="1%" nowrap class="pad tleft" align="left">{assign var='tmp' value=$nnodelist[nnodelist].type}{$_TNODE.$tmp|truncate:"19":""}</td>
		<td width="1%" nowrap class="pad tleft" align="left">{assign var='tmp' value=$nnodelist[nnodelist].buildingtype}{$_BUILDINGS.$tmp}</td>
		<td width="91%" class="pad tleft" align="left">{$nnodelist[nnodelist].zip} {$nnodelist[nnodelist].city} {$nnodelist[nnodelist].street} {$nnodelist[nnodelist].location_house}</td>
		<td width="1%" nowrap class="pad tleft" align="left">{if $nnodelist[nnodelist].podmiot_obcy}{$nnodelist[nnodelist].podmiot_obcy}{/if}</td>
		<td width="1%" nowrap class="pad tleft" align="center">{$nnodelist[nnodelist].intcount}</td>
	        <td width="1%" nowrap class="fright pad tleft" align="right">
		    {if $nnodelist[nnodelist].useraport}
			<img src="img/access.gif" {tip text="Nie uwzględniaj rekordu w raporcie"} onclick="xajax_set_ww_useraport({$idr},{$nnodelist[nnodelist].id},0);" style="cursor:pointer;">
		    {else}
			<img src="img/noaccess.gif" {tip text="Uwzględnij rekord w raporcie"} onclick="xajax_set_ww_useraport({$idr},{$nnodelist[nnodelist].id},1);" style="cursor:pointer;">
		    {/if}
		    <img src="img/delete.gif" style="cursor:pointer;" onclick="usun_ww({$nnodelist[nnodelist].id});">
	        </td>
	    </tr>
	{/section}
	<tr class="dark"><td width="100%" colspan="9" class="fall"></td></tr>
    </table>
    
    {literal}
    <script type="text/javascript" language="JavaScript">
    <!--
    
	function usun_ww(id)
	{
	    if (confirm('Potwierdź usunięcie węzła')) 
	    {
		loadAjax('id_data','?m=uke_siis_info&tuck=WW&action=delete&idr={/literal}{$idr}{literal}&id='+id);
	    }
	}
    
    //-->
    </script>
    {/literal}
    
    {/if}
    
{include file="load_gif.html"}
{/if}