{include file="header.html"}
<!--// $Id$ //-->
{title value=$layout.pagetitle}
<table width="100%" cellpadding="3" class="listradiuscorners">
	<tr class="dark">
		<td class="fleftu" width="1%" align="left">
			<nobr><img src="img/users.gif" alt=""> <b>{trans("Login:")}</b><nobr>
		</td>
		<td class="fbt pad5 tleft" width="92%" align="left">
			<nobr><img src="img/info2.gif" alt=""> <b>{trans("First/last name:")}</b><nobr>
		</td>
		<td class="fbt pad10 tleft" width="2%" align="left">
		    <nobr><img src="img/calendar.gif" alt=""> <b>{trans("Active from:")} </b> </nobr>
		</td>
		<td class="fbt pad10 tleft" width="2%" align="left">
		    <nobr><img src="img/calendar.gif" alt=""> <b>{trans("Active to:")} </b> </nobr>
		</td>
		<td class="fbt pad10 tleft" width="2%" nowrap align="left">
			<img src="img/time.gif" alt=""> <b>{trans("Last login:")}</b>
		</td>
		<td class="frightu pad5 tleft" width="1%" align="right">
			<nobr><b>{trans("Total:")} {$userslist.total}</b><nobr>
		</td>
	</tr>
	{cycle values="lucid,light" print=false}
	{section name=userslist loop=$userslist}{if $userslist[userslist].id}
	<tr class="{cycle} lista {if !$userslist[userslist].access}blend{/if}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td class="fleft" width="1%" onclick="return self.location.href='?m=userinfo&id={$userslist[userslist].id}';">
			<nobr><img src="img/users.gif" alt=""> <b>{$userslist[userslist].login}</b><nobr>
		</td>
		<td width="92%" onclick="return self.location.href='?m=userinfo&id={$userslist[userslist].id}';" class="pad5 tleft" align="left">
			<nobr><img src="img/info2.gif" alt=""> {$userslist[userslist].name}<nobr>
		</td>
		<td width="2%"  onclick="return self.location.href='?m=userinfo&id={$userslist[userslist].id}';" class="pad10 tleft" align="left">
			<nobr><img src="img/calendar.gif" alt=""> {$userslist[userslist].accessfrom}</nobr>
		</td>
		<td width="2%"  onclick="return self.location.href='?m=userinfo&id={$userslist[userslist].id}';" class="pad10 tleft" align="left">
			<nobr><img src="img/calendar.gif" alt=""> {$userslist[userslist].accessto}</nobr>
		</td>
		<td width="1%" onclick="return self.location.href='?m=userinfo&id={$userslist[userslist].id}';" class="pad10 tleft" align="left">
			<nobr><img src="img/time.gif" alt=""> {$userslist[userslist].lastlogin}
			{$userslist[userslist].lastloginip} {if $userslist[userslist].lastloginip neq $userslist[userslist].lastloginhost}({$userslist[userslist].lastloginhost}){/if}<nobr>
		</td>
		<td width="1%" class="fright pad5 tleft" style="text-align:right;" align="right">
			<nobr>
			{if $layout.logid ne $userslist[userslist].id}
			    {if !$userslist[userslist].access}
				<a href="?m=useraccess&id={$userslist[userslist].id}&access=1"><img src="img/noaccess.gif" alt="[ {trans('Connect')} ]" title="[ {trans('Connect')} ]" border="0"></a>
			    {else}
				<a href="?m=useraccess&id={$userslist[userslist].id}&access=0"><img src="img/access.gif" alt="[ {trans('Disonnect')} ]" title="[ {trans('Disconnect')} ]" border="0"></a>
			    {/if}
			{/if}
			
			<a href="?m=userpasswd&id={$userslist[userslist].id}"><img src="img/keys.gif" alt="[ {trans("Change password")} ]" title="[ {trans("Change password")} ]"></a>
			{if $exrights}<a href="?m=userrights&id={$userslist[userslist].id}" title="[ Edycja dodatkowych uprawnień ]"><img src="img/options.gif"></a>{/if}
			{if $userslist[userslist].id neq $layout.logid}
			    <a href="?m=userdel&id={$userslist[userslist].id}" onclick="return confirmLink(this, '{trans("Are you sure, you want to irreversibly delete that user account?")}');"><img src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></a>
			{else}
			    <img src="img/empty.gif" width="16">
			{/if}
			<a href="?m=useredit&id={$userslist[userslist].id}"><img src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></a>
			<a href="?m=userinfo&id={$userslist[userslist].id}"><img src="img/info.gif" alt="[ {trans("Info")} ]" title="[ {trans("Info")} ]"></a>
		</td>
	</tr>
	{/if}{/section}
	<tr class="light">
		<td class="fall" colspan="6">
			&nbsp;
		</td>
	</tr>
</table>
{include file="footer.html"}
