{include file="header.html"}
<!--// $Id: //-->
{title value=$layout.pagetitle}
{include file="calendar_js.html"}
<table width="100%" cellpadding="3">
	<tr>
		<td width="100%">
			{include file="v_nodeeditbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerinfobox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customernodesbox.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customersipbox.html"}
		</td>
	</tr>
	{if get_conf('jambox.enabled') && check_modules(360)}
	<tr>
	    <td width="100%">
		{include file="customertvjamboxaccountsbox.html"}
	    </td>
	</tr>
	<tr>
	    <td width="100%">
		{include file="customertvmessages.html"}
	    </td>
	</tr>
	{/if}
	<tr>
		<td width="100%">
			{include file="customerdocuments.html" limit=10}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customergroups.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerassignments.html"}
		</td>
	</tr>
	<tr>
		<td width="100%">
			{include file="customerbalancebox.html" limit=-10}
		</td>
	</tr>
	
	{if $_pluginc.customer}
	    {assign var='inclist' value=$_pluginc.customer}
	    {section name='inclist' loop=$inclist}
		{assign var='plik' value=$inclist[inclist].htmlfile}
		<tr>
		    <td width="100%">
			{include file=$plik}
		    </td>
		</tr>
	    {/section}
	{/if}
</table>
{include file="footer.html"}
