{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
{title value=$layout.pagetitle}
<table class="lmsbox">
<thead>
	<tr>
		<td width="93%" class="fleftu">
			<form action="?m=v_numbers&id_tariff={$smarty.get.id_tariff}&trunk={$smarty.get.trunk}" method="post">
Część nazwy lub numeru: <input type="text" name="numer" value="{$numer}"> <input type="submit" value="szukaj">
			</form>
		</td>
		<td width="1%" class="frightu" align="right">
		</td>
	</tr>
</thead>
</table>
<br>
<table class="lmsbox">
<thead>
	<tr>
		<td width="93%" class="fleftu">
			<img src="img/money.gif" alt="">&nbsp;<b>{t}Name:{/t}</b>
		</td>
		<td width="1%" valign="top" class="fbt" align="right">
			{t}ID:{/t}
		</td>
		<td width="1%" valign="top" class="fbt" align="right">
		{if $smarty.get.id_tariff}
		Średnio za min.
		{/if}
		</td>
		<td nowrap width="1%" valign="top" class="fbt" align="right">
			Darmowe minuty:
		</td>	
		<td width="1%" class="frightu" align="right">
			<a href="?m=v_numbersadd">Nowy</a>
		</td>
	</tr>
</thead>
</tbody>
	{cycle values="lucid,light" print=false}
	{section name=n loop=$n}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="93%" class="fleft" class="fleft">
			<img src="img/money.gif" alt="">&nbsp;<b>{$n[n].desc}</b>
		</td>
		<td width="1%" valign="top" align="right">
			({$n[n].id})
		</td>
		<td width="1%" valign="top" align="right">
		{if $smarty.get.id_tariff}
		{$n[n].price|default:'0'}
		{/if}
		</td>
		<td width="1%" valign="top" align="right">
			{if $n[n].allowfree}TAK{else}NIE{/if}
		</td>
		<td width="1%" class="fright" align="right"><nobr>
{if $smarty.get.id_tariff}
{if $smarty.get.trunk}
<a href="?m=v_trunkhours&id={$smarty.get.id_tariff}&id_rates={$n[n].id}">godziny</a> {else}
<a href="?m=v_hours&id={$smarty.get.id_tariff}&id_rates={$n[n].id}">godziny</a> {/if}{/if}
<a href="?m=v_numbersdet&id={$n[n].id}">numery</a>
<a href="?m=v_numbersadd&id={$n[n].id}"><img src="img/edit.gif" border="0" alt="Edytuj"></a>
<a href="?m=v_numbersdel&id={$n[n].id}" onclick="return confirmLink(this,'Jesteś pewien ?')"><img src="img/delete.gif" border="0" alt="Usuń"></a>
</nobr></td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="5" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>Brak wzorców.</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="4" width="99%" align="right">
			&nbsp;
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
</tbody>
</table>
{include file="footer.html"}
