{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
{title value=$layout.pagetitle}
<table class="lmsbox">
<thead>
	<tr>
		<td width="93%" class="fleftu">
			<img src="img/money.gif" alt="">&nbsp;<b>{t}Name:{/t}</b><br>
			<img src="img/info1.gif" alt="">&nbsp;Darmowych minut:
		</td>
		<td width="1%" valign="top" class="fbt" align="right">
			{t}ID:{/t}
		</td>
		<td nowrap width="1%" valign="top" class="fbt" align="right">
			{t}Value:{/t}<br>
			{t}Tax:{/t}
		</td>	
		<td width="1%" valign="top" class="fbt" align="right">
			{t}Assigned:{/t}
		</td>
		<td width="1%" valign="top" class="fbt" align="right">
			<nobr>{t}Avg. monthly income:{/t}<nobr>
		</td>
		<td width="1%" class="frightu" align="right">
			<nobr>
			<b>{t a=$listdata.total}Total: $a{/t}</b>
			<nobr>
		</td>
	</tr>
</thead>
</tbody>
	{cycle values="lucid,light" print=false}
	{section name=tariffs loop=$tarifflist}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="93%" class="fleft" onclick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';" class="fleft">
			<img src="img/money.gif" alt="">&nbsp;<b>{$tarifflist[tariffs].name}</b><br>
			<img src="img/info1.gif" alt="">&nbsp;{$tarifflist[tariffs].free}
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			({$tarifflist[tariffs].id|string_format:"%04d"})
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			<nobr>
			{$tarifflist[tariffs].amount|money_format} <br>
			{$tarifflist[tariffs].tax}
			<nobr>
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].customerscount} 
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_tariffinfo&id={$tarifflist[tariffs].id}';">
			{$tarifflist[tariffs].income|money_format} 
		</td>
		<td width="1%" class="fright" align="right">
			<nobr>
{if $tarifflist[tariffs].customerscount}<a href="javascript:alert('{t}Subscription with assigned customers cannot be deleted!{/t}');">{else}<a href="?m=v_tariffdelete&id={$tarifflist[tariffs].id}" onclick="return confirmLink(this,'{t}Are you sure, you want to delete that tariff?{/t}');">{/if}<img src="img/delete.gif" alt="[ {t}Delete{/t} ]"></a>
				<a href="?m=v_tariffedit&id={$tarifflist[tariffs].id}"><img src="img/edit.gif" alt="[ {t}Edit{/t} ]"></a>
				<a href="?m=v_tariffinfo&id={$tarifflist[tariffs].id}"><img src="img/info.gif" alt="[ {t}Info{/t} ]"></a>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="6" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{t}No such subscriptions in database.{/t}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="3" width="97%" align="right">
			<img src="img/info2.gif" alt="">&nbsp;<b>{t}Total:{/t}</b>
		</td>
		<td class="fbt" width="1%" align="right" nowrap>
			<b>{$listdata.totalcount}</b>
		</td>
		<td class="fbt" width="1%" align="right" nowrap>
			<b>{$listdata.totalincome|money_format}</b>
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
</tbody>
</table>
{include file="footer.html"}
