{include file="header.html"}
<!--// $Id: tarifflist.html,v 1.59 2005/06/12 11:27:22 alec Exp $ //-->
{title value=$layout.pagetitle}
<table class="lmsbox">
<thead>
	<tr>
		<td width="93%" class="fleftu">
			<img src="img/money.gif" alt="">&nbsp;<b>{t}Name:{/t}</b>
		</td>
		<td width="1%" valign="top" class="fbt" align="right">
			{t}ID:{/t}
		</td>
		<td nowrap width="1%" valign="top" class="fbt" align="right">
			Średnio za minutę:
		</td>	
		<td width="1%" valign="top" class="fbt" align="right">
			{t}Assigned:{/t}
		</td>
		<td width="1%" class="frightu" align="right">
			<nobr>
			&nbsp;
			<nobr>
		</td>
	</tr>
</thead>
</tbody>
	{cycle values="light,lucid" print=false}
	{section name=tariffs loop=$trunkgrplist}
	<tr class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<td width="93%" class="fleft" onclick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';" class="fleft">
			<img src="img/money.gif" alt="">&nbsp;<b>{$trunkgrplist[tariffs].name}</b>
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			({$trunkgrplist[tariffs].id|string_format:"%04d"})
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			<nobr>
			{$trunkgrplist[tariffs].amount|money_format} 
			<nobr>
		</td>
		<td width="1%" valign="top" align="right" onclick="return self.location.href='?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}';">
			{$trunkgrplist[tariffs].customerscount|default:0} 
		</td>
		<td width="1%" class="fright" align="right">
			<nobr>
{if $trunkgrplist[tariffs].customerscount}<a href="javascript:alert('{t}Subscription with assigned customers cannot be deleted!{/t}');">{else}<a href="?m=v_trunkgrpdelete&id={$trunkgrplist[tariffs].id}" onclick="return confirmLink(this,'{t}Are you sure, you want to delete that tariff?{/t}');">{/if}<img src="img/delete.gif" alt="[ {t}Delete{/t} ]"></a>
				<a href="?m=v_trunkgrpedit&id={$trunkgrplist[tariffs].id}"><img src="img/edit.gif" alt="[ {t}Edit{/t} ]"></a>
				<a href="?m=v_trunkgrpinfo&id={$trunkgrplist[tariffs].id}"><img src="img/info.gif" alt="[ {t}Info{/t} ]"></a>
			<nobr>
		</td>
	</tr>
	{sectionelse}
	<tr>
		<td colspan="6" align="center" class="fall">
			<p>&nbsp;</p>
			<p><b>{t}No such subscriptions in database.{/t}</b></p>
			<p>&nbsp;</p>
		</td>
	</tr>
	{/section}
	<tr class="light">
		<td class="fleftu" colspan="4" width="99%" align="right">
			&nbsp;
		</td>
		<td class="frightu" width="1%">
			&nbsp;
		</td>
	</tr>
</tbody>
</table>
{include file="footer.html"}
