<!--// $Id$ //-->
<table width="100%" cellpadding="3">
	<tr class="dark">
		<td width="1%" class="fleftu">
			<img src="img/voip.gif" alt="">
		</td>
		<td width="99%" class="frightu" colspan="2">
			<b>{$voipaccountinfo.login} ({$voipaccountinfo.id|string_format:"%04d"})</b>
		</td>
	</tr>
	<tr class="light">
		<td width="100%" colspan="3" class="FLR" align="right">
			<table width="100%" cellpadding="0">
				<tr class="light">
					<td width="50%" style="vertical-align:top;">
						<table width="100%" cellpadding="3">
	<tr class="light">
		<td width="1%">
			<img src="img/passwd.gif" alt="{trans("Password:")}">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Password:")}</b>
		</td>
		<td width="98%" nowrap>
			{$voipaccountinfo.passwd}
		</td>
	</tr>
	<tr class="light">
		<td width="1%">
			<img src="img/phone.gif" alt="{trans("Phone number:")}">
		</td>
		<td width="1%" nowrap>
			<b>{trans("Phone number:")}</b>
		</td>
		<td width="98%" nowrap>
			{$voipaccountinfo.phone}
		</td>
	</tr>
        <tr class="light">
                <td width="1%">
                        <a href="?m=voipaccountset&id={$voipaccountinfo.id}"><img src="img/{if ! $voipaccountinfo.access}no{/if}access.gif" alt=""></a>
                </td>
		<td width="1%" nowrap>
			<b>{trans("Status:")}</b>
		</td>
                <td width="1%" colspan="1">
                        <b>{if $voipaccountinfo.access}{trans("connected<!singular>")}{else}{trans("disconnected<!singular>")}{/if}</b>
                </td>
        </tr>
	<tr class="light">
		<td width="1%">
			<img src="img/users.gif" alt="">
		</td>
		<td width="1%">
			<b>{trans("Created:")}<br>
			{trans("Modified:")}</b>
		</td>
		<td width="98%">
			{$voipaccountinfo.createdby}, {$voipaccountinfo.creationdateh}<br>
			{if $voipaccountinfo.moddate}{$voipaccountinfo.modifiedby}, {$voipaccountinfo.moddateh}{else}-{/if}
		</td>
	</tr>
				</table>
	</table>
	<tr class="light">
		<td width="100%" class="FBOTTOMU" colspan="3" align="right">
			<a href="?m=voipaccountedit&id={$voipaccountinfo.id}" accesskey="E">{trans("Edit")} <img src="img/edit.gif" alt=""></a>
			<a href="?m=voipaccountdel&id={$voipaccountinfo.id}" onclick="return confirmLink(this, '{t a=$voipaccountinfo.login}Are you sure, you want to remove voip account \'$a\' from database?{/t}')">{trans("Delete")} <img src="img/delete.gif" alt=""></a>
		</td>
	</tr>	
</table>
