<table width="100%" cellpadding="3" class="table table-success">
	<tr class="boxtitlemess">
		<td colspan="2" align="center" class="boxtitlemesstd">
			<b>CALL center</b>
		</td>
	</tr>
	<tr class="light">
		<td width="50%" align="right" class="fleft">
			<a href="?m=infocenterlist&page=1&cid=&s=&st=1&datefrom=&dateto="><b>Otwarte</b></a>
		</td>
		<td width="50%" class="fright">
			{$callcenter_stats.otwarte}
		</td>
	</tr>
	<tr class="light">
		<td width="50%" align="right" class="fleft">
			<a href="?m=infocenterlist&page=1&cid=&s=&st=2&datefrom=&dateto="><b>Zamknięte</b></a>
		</td>
		<td width="50%" class="fright">
			{$callcenter_stats.zamkniete}
		</td>
	</tr>
	<tr class="light">
		<td width="50%" align="right" class="fleftu">
			<b><a href="?m=infocenterlist&page=1&cid=&s=&st=&datefrom=&dateto=">{trans("Total:")}</a></b>
		</td>
		<td width="50%" class="frightu">
			{$callcenter_stats.total}
	</td>
</tr>
</table>