<table width="100%" cellpadding="3" class="table">
    
    <tr class="boxtitleinfo">
	<td align="center" class="boxtitleinfotd">
	    <b>UŻYTECZNE LINKI</b>
	</td>
    </tr>
    
    <tr class="light">
	<td class="fall" align="center">
	    <b>
	    <a href="http://www.inetlms.pl" target="_blank">Strona domowa iNET LMS</a><br>
	    <a href="http://www.inetlms.pl/forum" target="_blank">Forum iNET LMS</a><br>
	    <a href="http://www.inetlms.pl/dokuwiki/doku.php?id=start" target="_blank">WIKI iNET LMS</a><br>
	    <a href="https://github.com/inetlms" target="_blank">{trans("GIT Repository")}</a><br>
	    <a href="mailto:kontakt@inetlms.pl">Komercyjne wsparcie</a><br>
	    <hr>
	    <a href="http://www.lms.org.pl" target="_blank">Strona domowa projektu LMS 1.11-git</a><br>
	    </b>
	</td>
    </tr>
</table>