{include file="header.html"}
{$xajax}
{title value=$layout.pagetitle}

<table width="100%" cellpadding="4" cellspacing="0">
    <tr>
	<td width="50%" align="left"><div id="id_box_0a" style="width:100%;"></div></td>
	<td width="50%" align="left"><div id="id_box_0b" style="width:100%;"></div></td>
    </tr>
    <tr>
	<td width="50%" style="vertical-align:top;align:left;">
	    <div id="id_box_0"></div>
	    <div id="id_box_2" style="margin-top:10px;"></div>
	    <div id="id_box_4" style="margin-top:10px;"></div>
	    <div id="id_box_6" style="margin-top:10px;"></div>
	    <div id="id_box_8" style="margin-top:10px;"></div>
	    <div id="id_box_10" style="margin-top:10px;"></div>
	    <div id="id_box_12" style="margin-top:10px;"></div>
	    <div id="id_box_14" style="margin-top:10px;"></div>
	    <div id="id_box_16" style="margin-top:10px;"></div>
	    <div id="id_box_18" style="margin-top:10px;"></div>
	</td>
	<td width="50%" style="vertical-align:top;align:left;">
	    <div id="id_box_1"></div>
	    <div id="id_box_3" style="margin-top:10px;"></div>
	    <div id="id_box_5" style="margin-top:10px;"></div>
	    <div id="id_box_7" style="margin-top:10px;"></div>
	    <div id="id_box_9" style="margin-top:10px;"></div>
	    <div id="id_box_11" style="margin-top:10px;"></div>
	    <div id="id_box_13" style="margin-top:10px;"></div>
	    <div id="id_box_15" style="margin-top:10px;"></div>
	    <div id="id_box_17" style="margin-top:10px;"></div>
	    <div id="id_box_19" style="margin-top:10px;"></div>
	</td>
    </tr>
    <tr>
	<td width="100%" colspan="2"><div id="id_box_20" style="margin-top:10px;"></div></td>
    </tr>
</table>
{literal}
    <script type="text/javascript" language="JavaScript">
    <!--
	xajax_homepage_start();
    //-->
    </script>
{/literal}
{include file="load_gif.html"}
{include file="footer.html"}
