{include file="header.html"}
<!--// $Id$ //-->
<h1>{$layout.pagetitle}</h1>
<p>
<table width="100%" cellpadding="3" cols="12">
	<tr>
		{if !check_conf('privileges.hide_sysinfo')}
		<td width="50%" style="vertical-align: top;" colspan="5">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td align="center" colspan="2" class="fall">
						<img src="img/logo-ico.gif" alt=""> <b>{trans("About LMS:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="http://www.lms.org.pl" target="_blank">{trans("LMS version:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$layout.lmsv}{if $layout.lmsvr} ({$layout.lmsvr}){/if}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="http://www.lms.org.pl" target="_blank">{trans("LMSDB version:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$layout.lmsdbv}
					</td>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b>
						{if $layout.dbtype == "mysql" || $layout.dbtype == "mysqli"}
						<a href="http://www.mysql.com" target="_blank">{trans("MySQL version:")}</a>
						{elseif $layout.dbtype == "postgres"}
						<a href="http://www.postgresql.org" target="_blank">{trans("PostgreSQL version:")}</a>
						{/if}
						</b>
					</td>
					<td width="50%" class="fright">
						{$layout.dbversion}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="http://www.php.net/" target="_blank">{trans("PHP version:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$sysinfo.phpversion}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fbl">
						<b><a href="http://www.smarty.net" target="_blank">{trans("Smarty version:")}</a></b>
					</td>
					<td width="50%" class="fbr">
						{$layout.smarty_version}
					</td>
				</tr>
			</table>
		</td>
		<td width="50%" style="vertical-align: top;" colspan="6">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td height="24" align="center" colspan="2" class="fall" nowrap>
						<img src="img/info1.gif" alt=""> <b>{trans("About system:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b>{trans("Hostname:")}</b>
					</td>
					<td width="50%" class="fright">
						{$sysinfo.hostname}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b>{trans("System version:")}</b>
					</td>
					<td width="50%" class="fright">
						{$sysinfo.kernel}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b>{trans("Uptime:")}</b>
					</td>
					<td width="50%" class="fright">
						{$sysinfo.uptime}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b>{trans("Users logged in:")}</b>
					</td>
					<td width="50%" class="fright">
						{$sysinfo.users}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fbl">
						<b>{trans("Load:")}</b>
					</td>
					<td width="50%" class="fbr">
						{$sysinfo.loadavg.0} {$sysinfo.loadavg.1} {$sysinfo.loadavg.2}
					</td>
				</tr>
			</table>
		</td>
		{/if}
	</tr>
	<tr>
		{if !check_conf('privileges.hide_summaries')}
		<td width="50%" style="vertical-align: top;" colspan="5">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td colspan="2" align="center" class="fall">
						<img src="img/customer.gif"> <b>{trans("Customers:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=customerlist&s=3">{trans("Connected:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$customerstats.connected}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=customerlist&s=2">{trans("Waiting:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$customerstats.awaiting}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=customerlist&s=1">{trans("Interested:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$customerstats.interested}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleftu">
						<b><a href="?m=customerlist&s=0">{trans("Total:")}</a><br>
						{if !check_conf('privileges.hide_finances')}
							<a href="?m=customerlist&s=6">{trans("Total Dues:")}</a></b>
						{/if}
					</td>
					<td width="50%" class="frightu">
						{$customerstats.total}<br>
						{if !check_conf('privileges.hide_finances')}
							<nobr>{$customerstats.debt} ({trans("amount")} {$customerstats.debtvalue|money_format})<nobr>
						{/if}
					</td>
				</tr>
			</table>
		</td>
		<td width="50%" style="vertical-align: top;" colspan="6">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td colspan="2" align="center" class="fall">
						<img src="img/node.gif"> <b>{trans("Nodes:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleftu">
						<a href="?m=nodelist&s=3"><b>{trans("Online:")}</b></a>
					</td>
					<td width="50%" class="frightu">
						{$nodestats.online}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<a href="?m=nodelist&s=1"><b>{trans("Connected<!nodes>:")}</b></a>
					</td>
					<td width="50%" class="fright">
						{$nodestats.connected}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<a href="?m=nodelist&s=2"><b>{trans("Disconnected:")}</b></a>
					</td>
					<td width="50%" class="fright">
						{$nodestats.disconnected}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleftu">
						<b><a href="?m=nodelist">{trans("Total:")}</a></b>
					</td>
					<td width="50%" class="frightu">
						{$nodestats.total}
					</td>
				</tr>
			</table>
		</td>
		{/if}
	</tr>
	<tr>
		<td width="50%" style="vertical-align: top;" colspan="5">
			<table width="100%" cellpadding="3">
			{counter start=0 skip=1 assign=rtstatscounter print=false}
			{foreach from=$rtstats item=rtcategorystats}
				{if $rtstatscounter is div by 5}
				<tr>
				{/if}
					<td width="20%">

			<table cellpadding="2">
				<tr class="dark">
					<td colspan="2" align="center" class="fall" nowrap>
						<b><a href="?m=rtticketadd&catid={$rtcategorystats.id}" {tip text="Add new ticket" trigger="newticket"}><img src="img/ticket.gif"></a>&nbsp;{trans("Helpdesk:")}&nbsp;<a href="?m=rtqueueview&catid={$rtcategorystats.id}">{$rtcategorystats.name}</a></b>
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=rtqueueview&catid={$rtcategorystats.id}&s=0&o=lastmodified,desc">{trans("New:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$rtcategorystats.new|default:"0"}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=rtqueueview&catid={$rtcategorystats.id}&s=1&o=lastmodified,desc">{trans("Opened:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$rtcategorystats.opened|default:"0"}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=rtqueueview&catid={$rtcategorystats.id}&s=3&o=lastmodified,desc">{trans("Dead:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$rtcategorystats.dead|default:"0"}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft" nowrap>
						<b><a href="?m=rtqueueview&catid={$rtcategorystats.id}&s=-1&o=lastmodified,desc">{trans("Unresolved:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$rtcategorystats.unresolved|default:"0"}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleft">
						<b><a href="?m=rtqueueview&catid={$rtcategorystats.id}&s=2&o=lastmodified,desc">{trans("Resolved:")}</a></b>
					</td>
					<td width="50%" class="fright">
						{$rtcategorystats.resolved|default:"0"}
					</td>
				</tr>
				<tr class="light">
					<td width="50%" align="right" class="fleftu">
						<b><a href="?m=rtqueuelist">{trans("Total:")}</a></b>
					</td>
					<td width="50%" class="frightu">
						{math equation="a+b+c+d" a=$rtcategorystats.opened b=$rtcategorystats.new c=$rtcategorystats.dead d=$rtcategorystats.resolved}
					</td>
				</tr>
			</table>

					</td>
				{if $rtstatscounter mod 5 == 4}
				</tr>
				{/if}
				{counter}
			{/foreach}
			{if $rtstatscounter is not div by 5}
				{assign var=loop value=$rtstatscounter%5*-1+5}
				{section name=filler loop=$loop}
				<td width="20%">
				</td>
				{/section}
			</tr>
			</tr>
			{/if}
			</table>
		</td>
		{if !check_conf('privileges.hide_links')}
		<td width="50%" style="vertical-align: top;" colspan="6">
		    <table width="100%" cellpadding="3">
				<tr class="dark">
					<td align="center" class="fall">
						<img src="img/tip.gif"> <b>{trans("Useful Links:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td class="fall" align="center">
						<b>
							
							<a href="https://github.com/inetlms" target="_blank">{trans("GIT Repository")}</a><br>
							
							<hr>
							<a href="http://www.lms.org.pl" target="_blank">{trans("LMS Project Homepage")}</a><br>
							<!--
							<a href="{$_dochref}" target="_blank">{trans("Online Documentation")}</a><br>
							//-->
							<a href="doc/ChangeLog" target="_blank">{trans("ChangeLog")}</a><br>
							<!--
							<a href="http://lists.lms.org.pl" target="_blank">{trans("Mailing Lists Archive")}</a><br>
							-->
							<!--
							<a href="http://bts.lms.org.pl" target="_blank">{trans("Bug Tracking System")}</a>
							-->
						</b>
					</td>
				</tr>
			</table>
		</td>
		{/if}
	</tr>
	<tr>
		{if check_conf('privileges.superuser')}
		<td width="50%" style="vertical-align: top;" colspan="6">
		</td>
		<td width="50%" style="vertical-align: top;">
			<table width="100%" cellpadding="3">
				<tr class="dark">
					<td align="center" class="fall">
						<img src="img/logo-ico.gif" alt=""> <b>{trans("Registration info:")}</b>
					</td>
				</tr>
				<tr class="light">
					<td class="fall" align="center">
						{if $regdata}
						{trans("Registration ID:")} {$regdata.id|string_format:"%04d"}<br>
						{trans("Registered for:")} {$regdata.name}<br>
						{trans("URL:")} {$regdata.url}<br>
						<a href="?m=register">{trans("Change registration info")}</a>
						{else}
						{trans("Your installation is unregistered!")}<br>
						<a href="?m=register">{trans("Click here, to register your installation and learn more why you should - IT'S FREE!")}</a>
						{/if}
					</td>
				</tr>
			</table>
		</td>
		{/if}
	</tr>
</table>
</p>
{if $layout.fortune}
<p>
<table width="100%" cellpadding="10">
	<tr class="superlight">
		<td class="fleftu" width="1%">
			<img src="img/totd.gif" alt="">
		</td>
		<td class="frightu" width="99%">
			<p class="txt">{$layout.fortune|replace:"\n":"<br>"}</p>
		</td>
	</tr>
</table>
</p>
{/if}
{if $newer_version}
<script type="text/javascript">
alert('{t a=$newer_version b="http://lms.org.pl/download"}There is newer version of LMS ($a) available for download from $b.{/t}');
</script>
{/if}
{include file="footer.html"}
